﻿@model SIL.AARTO.BLL.CameraLocationManagement.Model.CameraLocationModel
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.CameraLocationManagement;

@{
    ViewBag.Title = "Camera Location";
}

<html>
<head>
    <title>Camera Location</title>
    
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/AutoCompleteWidget.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" />
    <link href='@Url.Content("~/Content/Css/Admin/Admin.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Css/Global.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Css/ST_Odyssey.css")' rel="stylesheet"  type="text/css" />

	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery.ui.position.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery.ui.menu.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery.ui.autocomplete.js")"></script>
    <script src='@Url.Content("~/Scripts/jquery-1.4.4.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")' type="text/javascript"></script>

    <style type="text/css">
        td
        {
            line-height:12px;
            font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-size:11px;
            }
    </style>

    <script type="text/javascript">
        $(function () {
            $("#addDialog").dialog({
                autoOpen:false,
                position:[120,60],
                resizable:false,
                width:790,
                height:450,
                modal:true
            });
            $("#AutSearchSelected").change(function () {
                var selectedAutIntNo=$("#AutSearchSelected").val();
                var localtionDrp=$("#LocSearchSelected");
                AutChange(selectedAutIntNo,localtionDrp,"");
            });
            $("#AutSelected").change(function(){
                var selectedAutIntNo=$("#AutSelected").val();
                var localtionDrp=$("#LocSelected");
                AutChange(selectedAutIntNo,localtionDrp,"");
            }
            );
            $("#CameraSearch").keyup(function(){
                var camera=$("#CameraSearch").val();
                 $.ajax({
                    url:"@Url.Action("GetCameraSerialNos", "CameraLocationManagement")",
                    data:{key:camera,pageLength:10},
                    type:"POST",
                    success:function(message){
                        if(message.Status){
                            $("#CameraSearch").autocomplete({source:eval('('+message.Data+')')});
                        }
                    }
                   });
            });
            $("#btnAdd").click(function(){
                OpenEditDialog();
             }
            );
            $("#btnShowCamera").click(function(){
                window.location="@Url.Action("CameraLocation", "CameraLocationManagement",new { LocationShowModel="Camera"})";
            });
             $("#btnShowLocationSite").click(function(){
                window.location="@Url.Action("CameraLocation", "CameraLocationManagement",new { LocationShowModel="LocationSite"})";
            });
            $("#btnSearch").click(function(){
                var getModel=$("#LocationShowModel").val();
                var AutId=$("#AutSearchSelected").val();
                var LocId=$("#LocSearchSelected").val();
                var CameraNo=$("#CameraSearch").val();
                var SiteCode=$("#SearchSiteCode").val();
                var paramters="LocationShowModel="+getModel+"&AutSearchSelected="+AutId+"&LocSearchSelected="+LocId;
                paramters+="&CameraSearch="+CameraNo+"&SearchSiteCode="+SiteCode;
                window.location="@Url.Action("CameraLocation", "CameraLocationManagement")?"+paramters;
            });
            //
            var showModel=$("#LocationShowModel").val();
            if(showModel=="Camera"){
                hideControl(true);
            }else{
                hideControl(false);
            }
        });
        function AutChange(selectedAutIntNo,localtionDrp,data){
            $.ajax({
                url:"@Url.Action("GetLocation", "CameraLocationManagement")",
                data:{autIntNo:selectedAutIntNo},
                type:"POST",
                success:function(message){
                    if(message.Status){
                        CreateLocationData(message.Data,localtionDrp);
                        if(data!=""){
                            SetControlValue(data);
                            OpenEditDialog();
                        }
                    }
                }
                });
        }
        function CreateLocationData(data,locationObj){
            if(data!="" && data!="undefind"){
                locationObj.empty();
                var itemArray=data.split("$");
                for(var i=0;i<itemArray.length;i++){
                    var item=itemArray[i].split("|");
                    locationObj.append("<option value='"+item[0]+"'>"+item[1]+"</option>");
                }
            }
        }
        function SaveCameraLocation(){
            var localIntNo=$("#LocSelected").val();
            var cameraIntNo=$("#CameraSelected").val();
             $("#errorMsg").html("");
            $.ajax({
                url:"@Url.Action("SaveLocationCamera", "CameraLocationManagement")",
                data:{locIntNo:localIntNo,camIntNo:cameraIntNo},
                type:"POST",
                success:function(message){
                    if(message.Status){
                        $("#addDialog").dialog("close");
                        window.location="@Url.Action("CameraLocation", "CameraLocationManagement",new { LocationShowModel="Camera"})";
                    }else{
                        $("#errorMsg").html(message.Data);
                    }
                }
            });
        }
        function DeleteCL(intNo){
            if(window.confirm("Are you sure?")){
                $("#GridErrorMsg").html("");
                $.ajax({
                    url:"@Url.Action("DeleteCameraLocation", "CameraLocationManagement")",
                    data:{intNo:intNo},
                    type:"POST",
                    success:function(message){
                        if(message.Status){
                            window.location="@Url.Action("CameraLocation", "CameraLocationManagement",new { LocationShowModel="Camera"})";
                        }else{
                            $("#GridErrorMsg").html(message.Data);
                        }
                    }
                });
            }
        }
        function OpenEditDialog(){
            var showModel=$("#LocationShowModel").val();
            var buttons={};
            buttons["@CameraLocation.btnSave_Text"]=function(){
                if(showModel=="Camera"){
                    SaveCameraLocation();
                    $("#addDialog").dialog({"title":"@CameraLocation.Title_Text"});
                }
                else{
                    SaveLocationSite();
                    $("#addDialog").dialog({"title":"@CameraLocation.SiteTitle_Text"});
                }
            };
            buttons["@CameraLocation.btnCancel_Text"]=function(){
                ClearControls();
                $("#addDialog").dialog("close");
            };

            $("#addDialog").dialog("option","buttons",buttons);
            $("#addDialog").dialog("open");
        }
        function ClearControls(){
            $("#AutSelected").val("-1");
            $("#LocSelected").val("-1");
            $("#CameraSelected").val("-1");
            $("#LSSiteCode").val("");
            $("#LSSiteDescription").val("");
            $("#LSIntNo").val("");
        }
        //********************************Location Site**********************
        function SaveLocationSite(){
            var localIntNo=$("#LocSelected").val();
            var siteCode=$("#LSSiteCode").val();
            var siteDesc=$("#LSSiteDescription").val();
            var LSIntNo=$("#LSIntNo").val();
             $("#errorMsg").html("");
            $.ajax({
                url:"@Url.Action("SaveLocationSite", "CameraLocationManagement")",
                data:{LSIntNo:LSIntNo,locIntNo:localIntNo,siteCode:siteCode,siteDesc:siteDesc},
                type:"POST",
                success:function(message){
                    if(message.Status){
                        $("#addDialog").dialog("close");
                        window.location="@Url.Action("CameraLocation", "CameraLocationManagement",new { LocationShowModel="LocationSite"})";
                    }else{
                        $("#errorMsg").html(message.Data);
                    }
                }
            });
        }
        function EditSite(lsIntNo){
            $("#LSIntNo").val(lsIntNo);
            $.ajax({
                url:"@Url.Action("GetLocationSite", "CameraLocationManagement")",
                data:{intNo:lsIntNo},
                type:"POST",
                success:function(message){
                    if(message.Status){
                        var jsonObj=eval("("+message.Data+")");
                        var localtionDrp=$("#LocSelected");
                        AutChange(jsonObj[1].value,localtionDrp,message.Data);
                    }else{
                        $("#errorMsg").html(message.Data);
                    }
                }
            });
        }
        function SetControlValue(data){
            var jsonObj=eval("("+data+")");
             $.each(jsonObj, function (index, item) {
                var name = item.name;
                var getValue = item.value;
                if ($("#" + name)) {
                    $("#" + name).val(getValue);
                }
            });
        }
        function DeleteSite(lsIntNo){
            if(window.confirm("Are you sure?")){
                $("#GridErrorMsg").html("");
                $.ajax({
                    url:"@Url.Action("DeleteLocationSite", "CameraLocationManagement")",
                    data:{intNo:lsIntNo},
                    type:"POST",
                    success:function(message){
                        if(message.Status){
                            window.location="@Url.Action("CameraLocation", "CameraLocationManagement",new { LocationShowModel="LocationSite"})";
                        }else{
                            $("#GridErrorMsg").html(message.Data);
                        }
                    }
                });
            }
        }
        function hideControl(isCamera){
            if(isCamera == true){
                $("#CameraSearch").show();
                $("#cameraRowId").show();
                $("#cameraGrid").show();
                $("#searchCameraCodeSP").show();

                $("#siteCodeId").hide();
                $("#siteDescId").hide();
                $("#SearchSiteCode").hide();
                $("#searchSiteCodeSP").hide();
                $("#siteGrid").hide();
                $("#pageTitle").text("@CameraLocation.Title_Text");
                $("#LocationShowModel").val("Camera");
                
            }else{
                $("#CameraSearch").hide();
                $("#cameraRowId").hide();
                $("#cameraGrid").hide();
                $("#searchCameraCodeSP").hide();

                $("#siteCodeId").show();
                $("#siteDescId").show();
                $("#SearchSiteCode").show();
                $("#siteGrid").show();
                $("#searchSiteCodeSP").show();
                $("#pageTitle").text("@CameraLocation.SiteTitle_Text");
                $("#LocationShowModel").val("LocationSite");

            }
        }
    </script>
</head>
<body>
    
    @using (Html.BeginForm("CameraLocation", "CameraLocationManagement"))
    {
        <table style="width:100%">
            <tr>
                <td>
                <div style="margin-left:50px; margin-top:10px; border-width:1px; border-style:solid; width:140px;">
                <div style="margin-left:5px;"><span class="ProductListHead">@CameraLocation.Option_Text</span></div>
                    <div style="margin-top:5px; margin-left:5px;"><span id="camareSP">
                    <input type="button" style="width:120px;" class="NormalButton" id="btnShowCamera"  value="@CameraLocation.Title_Text" name="btnShowCamera" /></span></div>
                    <div style="margin-top:5px; margin-bottom:5px;margin-left:5px;"><span id="siteSP">
                    <input type="button" style="width:120px;" class="NormalButton" id="btnShowLocationSite"  value="@CameraLocation.SiteTitle_Text" name="btnShowLocationSite" /></span></div>
                </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                   <div id="pageTitle" class="ContentHead width_100pct text-align">@CameraLocation.Title_Text</div>
                    <table cellspacing="0" cellpadding="4" border="0" style="border-color:Black;border-collapse: collapse; width:90%; margin-top:15px;">
                        <tr>
                            <td>@CameraLocation.Authority_Text</td>
                            <td>@Html.DropDownListFor(m => m.AutSearchSelected, Model.AutList)</td>
                        </tr>
                        <tr>
                            <td>@CameraLocation.Location_Text</td>
                            <td>@Html.DropDownListFor(m => m.LocSearchSelected, Model.LocList)</td>
                        </tr>
                        <tr>
                            <td><span id="searchCameraCodeSP">@CameraLocation.Camera_Text</span><span id="searchSiteCodeSP">@CameraLocation.LSSiteCode_Text</span></td>
                            <td>@Html.TextBoxFor(m => m.CameraSearch, new { style = "width:220px;" })
                                @Html.TextBoxFor(m => m.SearchSiteCode, new { style = "width:220px;" })
                                <input type="button" style="width:80px;" class="NormalButton" id="btnSearch"  value="@Global.btnSearch_Value" name="btnSearch" />
                                <input type="button" style="width:80px;" class="NormalButton" id="btnAdd"  value="@CameraLocation.btnAdd_Text" name="btnAdd" />
                            </td>
                        </tr>
                    </table>
                    <table id="cameraGrid" cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_90pct margin-top_15">
                        <thead>
                            <tr class="CartListHead">
                                <td style="width:20%">@CameraLocation.Authority_Text</td>
                                <td style="width:35%">@CameraLocation.Location_Text</td>
                                <td style="width:35%">@CameraLocation.Camera_Text</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
        int count = (Model.Grid != null ? Model.Grid.Count : 0);
        string css = string.Empty;
        if (count > 0)
        {
            for (int i = 0; i < count; i++)
            {
                if (i % 2 == 0)
                { css = "CartListItem"; }
                else
                { css = "CartListItemAlt"; }
                                                                <tr class="@css">
                                                                    <td>@Model.Grid[i].AutName</td>
                                                                    <td>@Model.Grid[i].LocDescr</td>
                                                                    <td>@Model.Grid[i].CamSerialNo</td>
                                                                    <td class="text-align"><a href="#" onclick='DeleteCL(@Model.Grid[i].ClIntNo);'>@Global.btnDelete_Value</a></td>
                                                                </tr>
            }
        }
                            }
                             <tr class="CartListHead">
                                <td colspan="4" align="right">
                                    @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount }); }
                                    @Html.Raw(strPage)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="siteGrid" cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_90pct margin-top_15">
                        <thead>
                            <tr class="CartListHead">
                                <td style="width:15%">@CameraLocation.Authority_Text</td>
                                <td style="width:25%">@CameraLocation.Location_Text</td>
                                <td style="width:20%">@CameraLocation.LSSiteCode_Text</td>
                                <td style="width:30%">@CameraLocation.LSSiteDescription_Text</td>
                                <td></td>
                            </tr>
                        </thead>
                        @{
                                       int countSite = (Model.SiteList != null ? Model.SiteList.Count : 0);
                                       string cssSite = string.Empty;
                                       if (countSite > 0)
                                       {
                                           for (int i = 0; i < countSite; i++)
                                           {
                                               if (i % 2 == 0)
                                               { cssSite = "CartListItem"; }
                                               else
                                               { cssSite = "CartListItemAlt"; }
                                                                <tr class="@cssSite">
                                                                    <td>@Model.SiteList[i].AutName</td>
                                                                    <td>@Model.SiteList[i].LocDesc</td>
                                                                    <td>@Model.SiteList[i].LsSiteCode</td>
                                                                    <td>@Model.SiteList[i].LsSiteDescription</td>
                                                                    <td class="text-align">
                                                                        <a href="#" onclick='EditSite(@Model.SiteList[i].LsIntNo);'>@CameraLocation.Edit_Text</a>
                                                                        <a href="#" onclick='DeleteSite(@Model.SiteList[i].LsIntNo);'>@Global.btnDelete_Value</a>
                                                                    </td>
                                                                </tr>
                                           }
                                       }
                            }
                            <tr class="CartListHead">
                                <td colspan="5" align="right">
                                    @{ string strPageSite = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount }); }
                                    @Html.Raw(strPage)
                                </td>
                            </tr>
                    </table>
                    <div id="addDialog" style="display:none">
                        <table cellspacing="0" cellpadding="4" border="0" style="border-color:Black;border-collapse: collapse;" class="width_90pct margin-top_15">
                            <tr>
                                <td>@CameraLocation.Authority_Text</td>
                                <td>@Html.DropDownListFor(m => m.AutSelected, Model.AutList)</td>
                            </tr>
                            <tr>
                                <td>@CameraLocation.Location_Text</td>
                                <td>@Html.DropDownListFor(m => m.LocSelected, Model.LocList)</td>
                            </tr>
                            <tr id="cameraRowId">
                                <td>@CameraLocation.Camera_Text</td>
                                <td>@Html.DropDownListFor(m => m.CameraSelected, Model.CameraList)</td>
                            </tr>
                            <tr id="siteCodeId">
                                <td>@CameraLocation.LSSiteCode_Text</td>
                                <td>@Html.TextBoxFor(m => m.LSSiteCode, new { style = "width:220px;" })</td>
                            </tr>
                            <tr id="siteDescId">
                                <td>@CameraLocation.LSSiteDescription_Text</td>
                                <td>@Html.TextAreaFor(m => m.LSSiteDescription, new { style = "width:220px;height:40px;" })</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center"><span id="errorMsg" style="color:Red; height:15px;"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div style="width:100%">
                        <span id="GridErrorMsg" style="color:Red; height:15px;"></span>
                    </div>
                    <div style="display:none">
                        @Html.TextBoxFor(m => m.LocationShowModel)
                        @Html.TextBoxFor(m => m.LSIntNo)
                    </div> 
                </td>
            </tr>
        </table>
        
    }
</body>
</html>
