﻿@model SIL.AARTO.BLL.GeneralLetters.GeneralLetterEntity
@using SIL.AARTO.Web.Resource.GeneralLetters;
@using SIL.AARTO.Web.Helpers.TicketNumberSearch;
@using SIL.AARTO.Web.Helpers.Paginator;

@{
    ViewBag.Title = "PrintGeneralLetters";
    Layout = "~/Views/Shared/Admin.cshtml";
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);    
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function IsNullOrEmpty(obj) {
        return typeof obj == "undefined"
            || obj == null
            || (typeof obj == "string" && obj == "")
            || obj.length <= 0;
    }
</script>

<script>

    var vChgIntoNo = 0;
    var vNotIntNo = 0;

    $(function () {
        $("#txtTicketNo").hide();

        SetAutIntNo(@Model.AutIntNo); 

        $('#ddlLetterTemplate').change(function () {
            //var selected = $('#ddlLetterTemplate option:selected')[0];
            //if (IsNullOrEmpty(selected)) return;
            var letterTemplateValue = $('#ddlLetterTemplate').find("option:selected").val();
            if (IsNullOrEmpty(letterTemplateValue)) return;

            var hidLetterTemplate = $('#hidLetterTemplate').val();

            if (letterTemplateValue == "TrafficOffenceOtherLA") { //the template of TrafficOffenceOtherLA
                $("#txtTicketNo").show();
                $("#TNS_divTicketNumberSearch").hide();
                $("#trSearch").hide();
                $('#OffenderName').val("");
                $('#OffenderAddress').val("");
            } else {
                $("#txtTicketNo").hide();
                $("#TNS_divTicketNumberSearch").show();
                $("#trSearch").show();
                if (hidLetterTemplate == "TrafficOffenceOtherLA") {
                    $("[data-tns-name=Number]").val("");
                    $("[data-tns-name=CDV]").val("");
                    $("#txtNotTicketNo").val("");
                    $('#OffenderName').val("");
                    $('#OffenderAddress').val("");
                }
            }
            $('#hidLetterTemplate').val(letterTemplateValue);
            
        });

        $('#btnPrint').click(function () {
            ClickPrint();
        });
    });

    function ClickPrint(hideWarning) {
        var selected = $('#ddlLetterTemplate').val();
        if (IsNullOrEmpty(selected)) {
            alert("please select LetterTemplate");
            return;
        } else if (selected == "TrafficOffenceOtherLA") {  //the template of TrafficOffenceOtherLA
            //$('#hidTicketSequenceNo').val($("#txtTicketNo").val());
            $('#txtNotTicketNo').val($("#txtTicketNo").val());
        }        

        var letterTemplate = $('#hidLetterTemplate').val();

        //letterTemplate =letterTemplate.substr(0,letterTemplate.indexOf(' - '));

        if (IsNullOrEmpty(letterTemplate)) return;        
        var ticketSequenceNo = $('#txtNotTicketNo').val();
        if (IsNullOrEmpty(ticketSequenceNo)) {
            alert("Please enter a notice number (or a partial notice number)");
            return;
        }
        var OffenderName = $('#OffenderName').val();
        var OffenderAddress = $('#OffenderAddress').val();
        LoadTemplate(letterTemplate, ticketSequenceNo, OffenderName, OffenderAddress, hideWarning);
    }

    function LoadTemplate(letterTemplate, ticketSequenceNo, OffenderName, OffenderAddress,hideWarning) {
        if (typeof hideWarning != "boolean") hideWarning = false;
        var searcher = $('#divSearcher');
        if (!searcher.is(":visible")) searcher.css("display", "");
        var container = $('#divContent');
        container.empty();

        var params = $.param({
            autIntNo: '@Model.AutIntNo',
            letterTemplate: letterTemplate,
            ticketSequenceNo: ticketSequenceNo,
            OffenderName: OffenderName,
            offenderAddress: OffenderAddress,
            chgIntNo: vChgIntoNo,
            notIntNo: vNotIntNo,
            hideWarning:hideWarning
        });
        window.open("@Url.Action("Print")?" + params);
    }

    function GetTicketNo(ticketNo) {
        $('#txtNotTicketNo').val(ticketNo);
        if (!IsNullOrEmpty(ticketNo)) {
            $('#btnSearch').click();
            var para = 'ticketSequenceNo=' + ticketNo;
            $.post('@Url.Action("GetOffender","GeneralLetters")', para, function (rsp) {
                if (typeof rsp == 'undefined') return;
                $('#OffenderName').val(rsp.OffenderName);
                $('#OffenderAddress').val(rsp.OffenderAddress);
                vChgIntoNo = rsp.ChgIntNo;
                vNotIntNo = rsp.NotIntNo;
            });
        } else {
            $('#OffenderName').val("");
            $('#OffenderAddress').val("");
        }
    }

</script>
<div id="divGeneralLetter" style="margin-left: 167px;">
   <div style="display: none; height: 0">
        @Html.HiddenFor(m => m.LetterTemplate, new { id = "hidLetterTemplate" })
@*       @Html.HiddenFor(m => m.TicketSequenceNo, new { id = "hidTicketSequenceNo" })*@
   </div>
    <div id="divSearcher" align="center">
        <td width="100%" valign="top" align="left" colspan="1">
            <table width="900" border="0" id="Table7">
                <tbody>
                    <tr>
                        <td valign="top" height="47" width="500">
                            <p align="center">
                                <span class="ContentHead" id="lblPageName" style="font-weight:bold;">@PrintGeneralLetters.lblPageName</span>
                            </p>
                            <p align="center">
                                <span class="NormalRed" id="lblError">@Model.ErrorMsg</span>
                            </p>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>                            
                            <table cellspacing="0" cellpadding="4" border="0" class="width_100pct margin-top_10 text-align_left">
                                <tr>
                                    <td class="NormalBold Wrap_No" style="text-align: left">
                                        @PrintGeneralLetters.lblLetterTemplate:
                                    </td>
                                    <td class="NormalBold" style="width: 100%">                                        
                                        @Html.DropDownListFor(m => m.LetterTemplate, Model.LetterTemplates, PrintGeneralLetters.PleaseSelect, new { id = "ddlLetterTemplate", style = "width: 280px;" })
                                        @Html.ValidationMessage("LetterTemplate")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="NormalBold Wrap_No" style="text-align: left">
                                        @PrintGeneralLetters.lblTicketSequenceNo:
                                    </td>
                                    <td class="NormalBold" style="width: 100%">
                                       <div id="divTicketNo1">@Html.TicketNumberSearch(Url, "SetAutIntNo", "GetTicketNo")</div> 
                                       @Html.TextBox("txtTicketNo", null, new {@class = "inputWidthOne", style = "width: 278px;"  })                   
                                    </td>
                                </tr>
                                <tr id="trSearch">
                                    <td class="NormalBold Wrap_No" style="text-align: left">
                                        @PrintGeneralLetters.EnterFullTicketNumber:
                                    </td>
                                    <td class="NormalBold" style="width: 100%">
                                        @Html.TextBoxFor(m => m.TicketSequenceNo, new { id = "txtNotTicketNo", style = "width: 278px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="NormalBold Wrap_No" style="text-align: left">
                                        @PrintGeneralLetters.lblOffenderName:
                                    </td>
                                    <td class="NormalBold" style="width: 100%">
                                        @Html.TextBox("OffenderName", null, new {@class = "inputWidthOne",style = "width:278px;"})
                                    </td>
                                </tr>
                                <tr id="trSearch">
                                    <td class="NormalBold Wrap_No" style="text-align: left">
                                        @PrintGeneralLetters.lblOffenderAddress:
                                    </td>
                                    <td class="NormalBold" style="width: 100%">
                                        @Html.TextArea("OffenderAddress", null, new {@class = "Normal", TextMode="MultiLine",Rows="6",style = "width:274px;"})
                                        <input id="btnPrint" type="button" value="@PrintGeneralLetters.lblPrint" class="NormalButton" style="width: 80px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
            </table>
    </div>
</div>

<script>
    $("#trSearch").keypress(function (e) {
        switch (e.which) {
            case 13:
                var ticketSequenceNo = $('#txtNotTicketNo').val();
                if (IsNullOrEmpty(ticketSequenceNo)) return;
                GetTicketNo(ticketSequenceNo);
                break;
        }
    })
</script>

