﻿#divImgOuter
{
    width:400px;
    height:340px;
    border:1px solid #d6d6d6;
    margin-left:3px;
    overflow:hidden;
}
#divImg
{
	width:400px;
	height:300px; 
	line-height:300px; 
	overflow:hidden; 
	position:relative;

}
/*
#imgDoc
{
    width:400px;
    height:300px;
}*/
#divImgButtons
{
    width:400px;
    height:38px;
    border-top:1px solid #d6d6d6;
    text-align:center;
    vertical-align:middle;
}