﻿@using SIL.AARTO.Web.Helpers
@using SIL.AARTO.Web.Helpers.Paginator
@model SIL.AARTO.Web.ViewModels.Report.ReportAdditionalRequestModel
@{
    ViewBag.Title = "AdditionalRequest";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="width_90pct margin_auto text-align">
    <h2  class="ContentHead width_100pct text-align">@Html.Resource("AdditionalRequest")</h2>

    @using (Html.BeginForm("AdditionalRequest", "Report", FormMethod.Post, new { id = "arForm" }))
    {
        <div>
            @Html.HiddenFor(m => m.Action, new { id = "currentAction" })
            @Html.HiddenFor(m => m.CurrentId, new { id = "currentId" })
            @Html.HiddenFor(m => m.CurrentRowVersion, new { id = "currentRowVersion" })
            @Html.HiddenFor(m => m.PageIndex)
        </div>

        <p style="text-align: left">
            <input id="btnCreate" type="button" value="@Html.Resource("CreateNew")" class="NormalButton" />
        </p>

        <table class="width_100pct text-align_left listTable" cellspacing="0" cellpadding="3" border="0">
            <tr class="CartListHead" style="text-align: left">
                <th style="width: 50px">
                    @Html.Resource("No.")
                </th>
                <th>
                    @Html.Resource("RequestedUser")
                </th>
                <th>
                    @Html.Resource("DateFrom")
                </th>
                <th>
                    @Html.Resource("DateTo")
                </th>
                <th>
                    @Html.Resource("ActionDate")
                </th>
                <th style="width: 140px">
                    @Html.Resource("RequestedDate")
                </th>
                <th style="width: 140px">
                    @Html.Resource("PrintedDate")
                </th>
                <th style="width: 160px">
                    @Html.Resource("LastUser")
                </th>
                <th style="width: 85px"></th>
            </tr>
            <tbody id="tbdGrid" class="text-align_left">
                @foreach (var item in Model.RarList)
                {
                    <tr>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.Order)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.RequestedUser)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.DateFrom)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.DateTo)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.RarActionDate)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.RequestedDate)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.PrintedDate)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.LastUser)
                        </td>
                        <td class="CartListItem" style="text-align: center">
                            @if (!item.PrintedDate.HasValue)
                            {
                                <a href="javascript:void(0)" onclick=" AREdit('@item.RarIntNo') ">@Html.Resource("Edit")</a>
                                <text>|</text>
                                <a href="javascript:void(0)" onclick=" ARDelete('@item.RarIntNo', '@Convert.ToBase64String(item.RowVersion)') ">@Html.Resource("Delete")</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="CartListHead" colspan="9" style="border-top: 0; text-align: right">
                        @{
                            var strPage = Html.GridPager(new GridPagerProperties
                            {
                                PageKey = "page",
                                PageSize = Model.PageSize,
                                RecordCount = Model.TotalCount
                            });
                        }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tfoot>
        </table>

        <div style="text-align: center" class="margin-top_15">
            @{
                var error = ViewBag.Error;
                var message = ViewBag.Message;
                if (!string.IsNullOrWhiteSpace(error))
                {
                    <span class="error_fontsize12">@Html.Raw(error)</span>
                }
                else if (!string.IsNullOrWhiteSpace(message))
                {
                    <span class="error_fontsize12" style="color: green;">@message</span>
                }
                else
                {
                    <br />
                }
            }
        </div>

        var visible = Model.RarEntity.Visible ? "block" : "none";
        <table id="tbRarEdit" cellspacing="0" cellpadding="4" border="0" class="width_100pct margin-top_10 text-align_left" style="display: @visible">
            <tr>
                <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                    @Html.Resource("Report"):
                </td>
                <td class="NormalBold" style="width: 100%">
                    @Html.DropDownListFor(m => m.RarEntity.RcIntNo, Model.ReportList)
                    @Html.ValidationMessageFor(m => m.RarEntity.RcIntNo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                    @Html.Resource("DateRange"):
                </td>
                <td class="NormalBold">
                    @Html.TextBoxFor(m => m.RarEntity.DateFrom, new { id = "txtDateFrom", Value = Model.RarEntity.DateFrom.HasValue ? Model.RarEntity.DateFrom.Value.ToString("yyyy/MM/dd") : "" })
                    ~
                    @Html.TextBoxFor(m => m.RarEntity.DateTo, new { id = "txtDateTo", Value = Model.RarEntity.DateTo.HasValue ? Model.RarEntity.DateTo.Value.ToString("yyyy/MM/dd") : "" })
                    @Html.ValidationMessageFor(m => m.RarEntity.DateFrom)
                    @Html.ValidationMessageFor(m => m.RarEntity.DateTo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                    @Html.Resource("ActionDate"):
                </td>
                <td class="NormalBold">
                    @Html.TextBoxFor(m => m.RarEntity.RarActionDate, new { id = "txtActionDate", Value = Model.RarEntity.RarActionDate.HasValue ? Model.RarEntity.RarActionDate.Value.ToString("yyyy/MM/dd") : "" })
                    @Html.ValidationMessageFor(m => m.RarEntity.RarActionDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.HiddenFor(m => m.RarEntity.RarIntNo)
                    @Html.HiddenFor(m => m.RarEntity.RowVersion)
                </td>
                <td>
                    <input id="btnSave" type="button" value="@Html.Resource("Save")" class="NormalButton" />&nbsp;&nbsp;
                    <input id="btnCancel" type="reset" value="@Html.Resource("Cancel")" class="NormalButton cancel" />
                </td>
            </tr>
        </table>
    }
</div>

<script type="text/javascript">
    $(function() {
        $("#tbdGrid tr:nth-child(2n-1)").addClass("CartListItem");
        $("#tbdGrid tr:nth-child(2n)").addClass("CartListItemAlt");

        $("#txtDateFrom").datepicker({
            dateFormat: "yy/mm/dd",
            onSelect: onDatePickerSelect,
            autoSize: true
        });
        $("#txtDateTo").datepicker({
            dateFormat: "yy/mm/dd",
            onSelect: onDatePickerSelect,
            autoSize: true
        });
        $("#txtActionDate").datepicker({
            dateFormat: "yy/mm/dd",
            autoSize: true
        });

        $("#btnCreate").click(function() {
            ARCreate();
        });

        $("#btnSave").click(function() {
            ARSave();
        });

    });

    function onDatePickerSelect(date, inst) {
        switch (inst.id) {
        case "txtDateFrom":
            $("#txtDateTo").datepicker("option", "minDate", date);
            break;
        case "txtDateTo":
            $("#txtActionDate").datepicker("option", "minDate", date);
            break;
        }
    }

    function SetAction(action, id, rowVersion, validate) {
        if (!validate)
            $("#btnCancel").click();
        $("#currentAction").val(action);
        $("#currentId").val(id);
        $("#currentRowVersion").val(rowVersion);
        $("#arForm").submit();
    }

    function ARDelete(id, rowVersion) {
        if (!confirm('@Html.Resource("ConfirmDelete")'))
            return;
        SetAction("delete", id, rowVersion);
    }

    function ARCreate() {
        SetAction("create");
    }

    function AREdit(id) {
        SetAction("edit", id);
    }

    function ARSave() {
        SetAction("save", null, null, true);
    }
</script>