<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>
<%@ Import Namespace="SIL.AARTO.Web.Helpers" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head >
    <title>Main</title>
</head>
<style type="text/css">
body{ background-color:#000;
       scrollbar-face-color: #444F7B; 
	scrollbar-shadow-color: #444F7B; 
	scrollbar-highlight-color: #444F7B; 
	scrollbar-3dlight-color: #6977B0; 
	scrollbar-darkshadow-color: #000; 
	scrollbar-track-color: #444F7B; 
	scrollbar-arrow-color: #6977B0;}
</style>
<body>
    <div>
        <img src='<%=Url.Content("~/Content/Image/road.JPG")%>' />
    </div>
</body>
</html>
