<%@ Control Language="c#" AutoEventWireup="false" Inherits="Stalberg.TMS.C_Tags" Codebehind="_Tags.ascx.cs" %>
<TITLE><%= title %></TITLE>
<META NAME="Description" content="<%= description %>">
<META NAME="Keywords" content="<%= keywords %>">		
