<%@ Page Language="C#" AutoEventWireup="true" Inherits="Stalberg.TMS.AGListViewer" Codebehind="AGListViewer.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>
        <%=title %>
    </title>
    <link href="<%= styleSheet %>" type="text/css" rel="stylesheet" />
    <meta content="<%= description %>" name="Description" />
    <meta content="<%= keywords %>" name="Keywords" />
</head>
<body onload="self.focus();" style="margin: 0px" background="<%=backgroundImage %>" >    <form id="form1" runat="server">
    </form>
</body>
</html>
