<%@ Page Language="C#" Inherits="Stalberg.TMS.CourtRollLabelsViewer"
    AutoEventWireup="true" Codebehind="CourtRollLabelsViewer.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <%= title %>
    </title>
    <link href="<%= styleSheet %>" type="text/css" rel="stylesheet" />
<body onload="javascript:self.focus()" background="<%=backgroundImage %>" style="margin: 0px" />
    <form id="Form1" method="post" runat="server">
    </form>
</body>
</html>
