<%@ Page Language="C#" Inherits="Stalberg.TMS.DeferredPaymentsReportViewer"
    AutoEventWireup="true" Codebehind="DeferredPaymentsReportViewer.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN" >
<head>
    <title>
        <%=title%>
    </title>
    <link href="<%= styleSheet %>" type="text/css" rel="stylesheet" /></head>
<body onload="self.focus();" style="margin: 0px" background="<%=backgroundImage %>" >
<form id="Form1" method="post" runat="server">
    </form>
</body>
</html>
