<%@ Page language="C#" Inherits="Stalberg.TMS.ExpiredNoticeListViewer" AutoEventWireup="true" Codebehind="ExpiredNoticeListViewer.aspx.cs" %>
<%--<%@ Register TagPrefix="barcode1" Namespace="BarcodeNETWorkShop" Assembly="BarcodeNETImage" %>--%>
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><%= title %></title>
	</head>
	<body onload="self.focus();" style="margin: 0px" background="<%=backgroundImage %>" >
		<form id="Form1" method="post" runat="server">
			<%--&nbsp;<Barcode1:BarcodeNETImage id="BarcodeNETImage1" style="Z-INDEX: 102; LEFT: 16px; POSITION: absolute; TOP: 8px"
				runat="server" SilentMode="True" BarcodeType="CODE128A" Direction="LeftToRight" FileFormat="JPG" BarcodeText=""></Barcode1:BarcodeNETImage>--%>
				</form>
	</body>
</html>
