<%@ Page Language="c#" AutoEventWireup="false"
    Inherits="Stalberg.TMS.Reports.LoadViolErrorViewer" Codebehind="LoadViolErrorViewer.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <%= title %>
    </title>
    <link href="<%= styleSheet %>" type="text/css" rel="stylesheet"/>
</head>
<body  background="<%=backgroundImage %>" style="margin: 0px" >
    <form id="Form1" method="post" runat="server">
        &nbsp;
    </form>
</body>
</html>
