<%@ Page Language="c#" Inherits="Stalberg.TMS.MainViewer" Codebehind="MainViewer.aspx.cs" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
<head>
    <title>MainViewer</title>
</head>
<body>
    <form id="Form1" method="post" runat="server">
        <div id="imageDiv" style="width:626px; line-height:442px; overflow:hidden; position:relative; text-align:center;">
            <asp:Image ID="mainImage" runat="server" ImageUrl="~/Image.aspx" style="vertical-align:middle;" />
        </div>
       
    </form>
</body>
</html>
