<%@ Page Language="c#" AutoEventWireup="false"
    Inherits="Stalberg.TMS.OutstandingFinesReport_ReportViewer" Codebehind="OutstandingFinesReport_ReportViewer.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <%= title %>
    </title>
    <link href="<%= styleSheet %>" type="text/css" rel="stylesheet">
</head>
<body onload="javascript:self.focus()"  background="<%=backgroundImage %>" style="margin: 0px" />
    <form id="form1" runat="server">
    </form>
</body>
</html>
