<%@ Page Language="c#" AutoEventWireup="false"
    Inherits="Stalberg.TMS.PossibleAddressChange_ReportViewer" Codebehind="PossibleAddressChange_ReportViewer.aspx.cs" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <%=title%>
    </title>
</head>
<body onload="self.focus();" style="margin: 0px" background="<%=backgroundImage %>" >
    <form id="Form1" runat="server">
    </form>
</body>
</html>
