<%@ Page Language="c#"  Inherits="Stalberg.TMS.Reports.ReceiptNoteViewer" AutoEventWireup="false"  Codebehind="ReceiptNoteViewer.aspx.cs" %>
<%--<%@ Register TagPrefix="barcode1" Namespace="BarcodeNETWorkShop" Assembly="BarcodeNETImage" %>--%>
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        <%= title %>
    </title>
</head>
<body onload="self.focus();" style="margin: 0px" background="<%=backgroundImage %>" >
    <form id="Form1" method="post" runat="server">
        &nbsp;>
       <%-- <barcode1:BarcodeNETImage ID="BarcodeNETImage1" Style="z-index: 102; left: 16px;
            position: absolute; top: 8px" runat="server" SilentMode="True" BarcodeType="CODE128A"
            Direction="LeftToRight" FileFormat="JPG">
        </barcode1:BarcodeNETImage>--%>
    </form>
</body>
</html>
