﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewOffenceDetail_EnquiryReport.aspx.cs" Inherits="SIL.AARTO.TMS.ViewOffenceDetail_EnquiryReport" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>
        <%Response.Write(title);%>
    </title>
</head>
<body onload="self.focus();">
    <form id="form1" runat="server">
    </form>
</body>
</html>
