<%@ Page Language="c#" AutoEventWireup="false"
    Inherits="Stalberg.TMS.Reports.WOAPaymentsViewer" Codebehind="WOAPaymentsViewer.aspx.cs" %>
<%@ Register Src="_Tags.ascx" TagName="Tag" TagPrefix="tg1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= title %></title>
</head>
<body onload="self.focus();" style="margin: 0px" background="<%=backgroundImage %>" >
    <form id="Form1" method="post" runat="server">
       
    </form>
</body>
</html>
