﻿@using System.Configuration
@using SIL.AARTO.Web.Helpers.Paginator
@using SIL.AARTO.Web.Resource.QuoteManagement
@model SIL.AARTO.Web.ViewModels.QuoteManagement.QuoteEnquiryManagementModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.blockUI.2.66.0.js")" type="text/javascript"></script>
<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: gray;
        font-size: 8pt;
        width: 895px;
        border: 1px solid Black;
        text-align: left;
    }

    .headerWhite
    {
        color: White;
        background-color: #6977B0;
    }

    .tdNowrap
    {
        white-space: nowrap;
    }

    .thLineHeight
    {
        height: 18px;
        line-height: 18px;
    }

    .trLineHeight
    {
        height: 22px;
        line-height: 22px;
    }
    /*Black*/
    .searchSpanTxtWidth
    {
        width: 90px;
    }

    .Detail_CartListItem
    {
        /*background-color:transparent;
        border-bottom:medium none dimgray;*/
        border-left: 1px solid dimgray;
        color: Black;
        font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
        font-size: 11px;
        height: 11px;
        padding-left: 5px;
    }

    .itemRight
    {
        text-align: right;
    }

    .itemLeft
    {
        text-align: left;
    }

    .lblFontBold
    {
        font-weight: bold;
    }

    .highlight
    {
        background-color: #a7a5a5;
    }

    .aDetails
    {
    }

    fieldset
    {
        border: 1px solid #808080;
        margin-top: 16px;
        padding: 10px;
        width: 98%;
    }

    legend
    {
        font: bold 1.2em sans-serif;
        color: black;
        background-color: #FFFFFF;
    }
     .headLink
    {
        font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-size: 12px !important;
        color: red !important;
        text-decoration: underline !important;
    }

        .headLink a:hover
        {
            color: blue !important;
        }
</style>
<script type="text/javascript">
    $(function () {

        $("#BeginDate").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });

        String.prototype.getQuery = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("/?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var strHref = location.href;
        var QuoteReferenceNumber = strHref.getQuery("QuoteReferenceNumber");
        var UserName = strHref.getQuery("UserName");
        var PaymentReceiptNumber = strHref.getQuery("PaymentReceiptNumber");
        var ChargeCode = strHref.getQuery("ChargeCode");
        var beginDate = strHref.getQuery("BeginDate");
        var endDate = strHref.getQuery("EndDate");

        QuoteReferenceNumber = QuoteReferenceNumber == null ? "" : unescape(QuoteReferenceNumber);
        UserName = UserName == null ? "" : unescape(UserName);
        PaymentReceiptNumber = PaymentReceiptNumber == null ? "" : unescape(PaymentReceiptNumber);
        ChargeCode = ChargeCode == null ? "" : unescape(ChargeCode);

        $("#txtQuoteReferenceNumber").val(QuoteReferenceNumber);
        $("#txtUserName").val(UserName);
        $("#txtPaymentReceiptNumber").val(PaymentReceiptNumber);
        $("#txtChargeCode").val(ChargeCode);

        if (beginDate != "") {
            $("#BeginDate").val(beginDate);
        }
        if (beginDate == undefined) {
            $("#BeginDate").datepicker('setDate', new Date(new Date() - (86400000 * 30)));
        }
        if (endDate != "") {
            $("#EndDate").val(endDate);
        }
        if (endDate == undefined) {
            $("#EndDate").datepicker('setDate', new Date());
        }



    });

    function blockUI(message) {
        $.blockUI({
            message: '<h1><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")" />' + message + '</h1>'
        });
    }

    function OpenDetail(obj) {

        $(obj).removeClass("aDetails");

        $(".aDetails").each(function () {

            if ($(this).html() == "@AdminReversalForNTC.btnCloseDetail") {
                $(this).parent().parent().next().children().hide();
                $(this).html("@AdminReversalForNTC.btnViewDetail");
                $(this).parent().parent().removeClass("highlight");
            }

        });

        if ($(obj).html() == "@AdminReversalForNTC.btnViewDetail") {
            $(obj).parent().parent().next().children().show();
            $(obj).html("@AdminReversalForNTC.btnCloseDetail");
            $(obj).parent().parent().addClass("highlight");
        }
        else {
            $(obj).html("@AdminReversalForNTC.btnCloseDetail");
            $(obj).html("@AdminReversalForNTC.btnViewDetail");
            $(obj).parent().parent().next().children().hide();
            $(obj).parent().parent().removeClass("highlight");
        }

        $(obj).addClass("aDetails");

    }


    function OpenSearch() {
        var quoteReferenceNumber = $("#txtQuoteReferenceNumber").val();
        var userName = $("#txtUserName").val();
        var paymentReceiptNumber = $("#txtPaymentReceiptNumber").val();


        var sBeginDate = $("#BeginDate").val();
        var sEndDate = $("#EndDate").val();

        if (sBeginDate != "" && sEndDate != "") {
            var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
            var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
            if (beginDate > endDate) {
                alert("@AdminReversalForNTC.lblErrorText1");
                return false;
            }
        }
        var params = $.param({
            page: 0,
            QuoteReferenceNumber: escape($("#txtQuoteReferenceNumber").val()),
            UserName: escape($("#txtUserName").val()),
            PaymentReceiptNumber: escape($("#txtPaymentReceiptNumber").val()),
            ChargeCode: escape($("#txtChargeCode").val()),
            BeginDate: $("#BeginDate").val(),
            EndDate: $("#EndDate").val()
        });
        window.location = "@Url.Action("AdminReversalForNTC", "QuoteManagement")?" + params;
        //window.location = "@Url.Action("AdminReversalForNTC")?" + params;
    }

    function reverseNTC(rctIntNo, refNumber) {
        var ctl = $("#" + refNumber);
        if (ctl != undefined) {
            var reason = '';

            $(ctl).find(".errorMsg").html('');

            $(ctl).dialog(
            {
                position: "center",
                resizable: false,
                width: 500,
                height: 360,
                modal: true,
                title: "",
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                },
                buttons: [
                {
                    text: "Proceed",
                    id: "btnSubmit_J",
                    click: function () {
                      //  $(ctl).find(".errorMsg").html('');
                        reason = $(ctl).find('textarea').val();
                        if (reason == "") {
                            $(ctl).find(".errorMsg").html("@QuoteEnquiryListResx.msg_Reason_IsRequired");
                            //alert("Reason is required");
                            return;
                        }

                        processReverseNTC(refNumber.split('_')[0], rctIntNo, reason, ctl);

                    }
                },
                {
                    text: "Cancel",
                    click: function () {
                        $(ctl).find(".errorMsg").html('');
                        $(ctl).dialog('close');
                    }
                }]
            });
        }
    }


    function processReverseNTC(refNumber, rctIntNo,reason,ctl) {
        blockUI("@QuoteEnquiryListResx.msg_Processing");
        $.post("@Url.Action("AdminReverseNTC", "NTCReceipt")", {
            refNumber: refNumber,
            rctIntNo: rctIntNo,
            reason: reason
        }, function (result) {
            $.unblockUI();
            if (result.IsSuccessful) {
                //$("#errorMsg").html('Reverse NTC receipt succeed');
                alert("@QuoteEnquiryListResx.msg_NTCReversalSuccess");
                var params = $.param({
                    page: 0,
                    QuoteReferenceNumber: escape($("#txtQuoteReferenceNumber").val()),
                    UserName: escape($("#txtUserName").val()),
                    PaymentReceiptNumber: escape($("#txtPaymentReceiptNumber").val()),
                    ChargeCode: escape($("#txtChargeCode").val()),
                    BeginDate: $("#BeginDate").val(),
                    EndDate: $("#EndDate").val()
                });
                window.location = "@Url.Action("AdminReversalForNTC", "QuoteManagement")?" + params;
            } else {
                if (result.HasError) {
                    $(ctl).find(".errorMsg").html(result.ErrorMessage);
                    //alert(result.ErrorMessage);
                }
            }
        }, 'json');

    }

</script>

<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 409px;" class="ContentHead" id="lblPageName">@AdminReversalForNTC.lblPageName</span>
                <span style="margin-left: 50px;">@Html.ActionLink(AdminReversalForNTC.link_ReceiptPayment, "TMSReceiptReversal", "NTCReceipt",new {},  new { @class = "headLink" })</span>
            </p>
        </td>
    </tr>

    <tr>
        <td align="center">

            <table width="940" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td>
                        <p align="left">
                            <span class="NormalRed" id="lblError" name="lblError">@Model.ErrorMsg</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <table>
                            <tr>
                                <td style="width: 85px;">
                                    <span class="lblFontBold">@AdminReversalForNTC.lblQuoteReferenceNumber</span>
                                </td>
                                <td style="width: 160px;">@Html.TextBox("txtQuoteReferenceNumber", null, new { @class = "Normal", style = "width:150px;" })</td>
                                <td style="width: 88px;">
                                    <span class="lblFontBold">@AdminReversalForNTC.lblInitialsORSurname</span>
                                </td>
                                <td style="width: 160px;">@Html.TextBox("txtUserName", null, new { @class = "Normal", style = "width:150px;" })</td>
                                <td style="width: 75px;">
                                    <span class="lblFontBold">@AdminReversalForNTC.lblPaymentReceiptNumber</span>
                                </td>
                                <td style="width: 160px;">@Html.TextBox("txtPaymentReceiptNumber", null, new { @class = "Normal", style = "width:150px;" })</td>
                            </tr>
                            @* <tr><td style=" line-height:1px; height:1px;">&nbsp;</td></tr>*@
                            <tr>
                                <td style="width: 85px;">
                                    <span class="lblFontBold">@AdminReversalForNTC.lblChargeCode</span>
                                </td>
                                <td style="width: 160px;">@Html.TextBox("txtChargeCode", null, new { @class = "Normal", style = "width:150px;" })</td>
                                <td style="width: 88px;">
                                    <span class="lblFontBold">@AdminReversalForNTC.lblQuoteCreationDate</span>
                                </td>
                                <td colspan="3">
                                    <span class="lblFontBold">From</span>
                                    &nbsp; @Html.TextBox("BeginDate", null, new { @class = "Normal", style = "width:120px;height:16px;", Readonly = "readonly" })
                                    &nbsp;<span class="lblFontBold">To</span>&nbsp; @Html.TextBox("EndDate", null, new { @class = "Normal", style = "width:120px;height:16px;", Readonly = "readonly" })
                                    &nbsp;<input style="width: 80px; cursor: pointer" type="button" class="NormalButton" id="btnSearch" onclick="OpenSearch()" value="@AdminReversalForNTC.lblSearch" name="btnSearch" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height: 15px">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        @{
                            if (Model.QuoteEnquiryList != null && Model.QuoteEnquiryList.Count > 0)
                            {
                            <table class="listTable" style="width: 940px">
                                <thead>
                                    <tr class="CartListHead thLineHeight">
                                        <th class="CartListItem headerWhite itemLeft" scope="col">@AdminReversalForNTC.lblItemReferenceNumber</th>
                                        <th class="CartListItem headerWhite itemLeft" scope="col">@AdminReversalForNTC.lblItemInitialsAndSurname</th>
                                        <th class="CartListItem headerWhite itemLeft" scope="col">@AdminReversalForNTC.lblItemIDNumber</th>
                                        <th class="CartListItem headerWhite itemLeft" scope="col">@AdminReversalForNTC.lblItemAddress</th>
                                        <th class="CartListItem headerWhite itemLeft" scope="col">@AdminReversalForNTC.lblItemReceiptNo</th>
                                        <th class="CartListItem headerWhite itemRight" scope="col">@AdminReversalForNTC.lblItemReceiptAmount</th>
                                        <th class="CartListItem headerWhite itemLeft" scope="col">@AdminReversalForNTC.lblItemCreationDate</th>
                                        <th class="CartListItem headerWhite" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.QuoteEnquiryList.Count; i++)
                                    {
                                        var quoteEntity = Model.QuoteEnquiryList[i];
                                        <tr class="CartListItem trLineHeight" style="border-bottom: 1px solid gray; border-top: 1px solid gray">
                                            <td class="CartListItem tdNowrap">@quoteEntity.QuHeReferenceNumber&nbsp;</td>
                                            <td class="CartListItem tdNowrap">
                                                @quoteEntity.QuHeInitials &nbsp; @quoteEntity.QuHeSurName&nbsp;</td>
                                            <td class="CartListItem tdNowrap">@quoteEntity.QuHeIDNumber&nbsp;</td>
                                            <td class="CartListItem tdNowrap">
                                                @quoteEntity.QuHeAddress1 &nbsp;@quoteEntity.QuHeAddress2 &nbsp;@quoteEntity.QuHeAddress3&nbsp;@quoteEntity.QuHeAddress4 &nbsp;@quoteEntity.QuHeAddress5&nbsp;</td>
                                            <td class="CartListItem tdNowrap">@quoteEntity.ReceiptNo&nbsp;</td>
                                            <td class="CartListItem tdNowrap itemRight">
                                                @quoteEntity.ReceiptAmount
                                            </td>
                                            <td class="CartListItem tdNowrap">
                                                @quoteEntity.QuHeDate
                                            </td>
                                            <td class="CartListItem tdNowrap" style="width: 92px; text-align: center">&nbsp;@Html.Raw("<a class='aSet aDetails'  style='color:#6977B0;width:100px;' href='javascript:void(0)' onclick='OpenDetail(this);'>" + QuoteEnquiryListResx.btnViewDetail + "</a>")
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="display: none">
                                                @if (quoteEntity.QuoteDetailList != null && quoteEntity.QuoteDetailList.Count > 0)
                                                {
                                                    <table class="listTable" style="width: 850px; margin-top: 20px; margin-bottom: 20px; margin-left: 8px; float: left">
                                                        <thead>
                                                            <tr class="Detail_CartListItem" style="border-bottom: 1px solid gray; border-top: 1px solid gray">
                                                                <td colspan="6" style="font-weight: bold; padding-left: 5px;">@AdminReversalForNTC.lblQuoteDetail &nbsp;</td>
                                                            </tr>
                                                            <tr class="Detail_CartListItem" style="border-bottom: 1px solid gray; border-top: 1px solid gray">
                                                                <td class="Detail_CartListItem">@AdminReversalForNTC.lblItemChargeCode</td>
                                                                <td class="Detail_CartListItem itemRight">@AdminReversalForNTC.lblItemChargeQuantity</td>
                                                                <td class="Detail_CartListItem">@AdminReversalForNTC.lblItemMeasureUnit</td>
                                                                <td class="Detail_CartListItem itemRight">@AdminReversalForNTC.lblItemStandardAmount</td>
                                                                <td class="Detail_CartListItem itemRight">@AdminReversalForNTC.lblItemActualAmount</td>
                                                                <td class="Detail_CartListItem itemRight">@AdminReversalForNTC.lblItemGrossAmount</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int j = 0; j < quoteEntity.QuoteDetailList.Count; j++)
                                                            {
                                                                var quoteDetailEntity = quoteEntity.QuoteDetailList[j];
                                                                <tr class="Detail_CartListItem" style="border-bottom: 1px solid gray; border-top: 1px solid gray">
                                                                    <td class="Detail_CartListItem">
                                                                        @quoteDetailEntity.NTCCode
                                                                    </td>
                                                                    <td class="Detail_CartListItem itemRight">
                                                                        @quoteDetailEntity.QuDeChargeQuantity
                                                                    </td>
                                                                    <td class="Detail_CartListItem">
                                                                        @quoteDetailEntity.MeasureUnit
                                                                    </td>
                                                                    <td class="Detail_CartListItem itemRight">
                                                                        @quoteDetailEntity.NTCStandardAmount
                                                                    </td>
                                                                    <td class="Detail_CartListItem itemRight">
                                                                        @quoteDetailEntity.QuDeActualAmount
                                                                    </td>
                                                                    <td class="Detail_CartListItem itemRight">
                                                                        @quoteDetailEntity.QuDeGrossAmount
                                                                    </td>
                                                                </tr> 
                                                            }
                                                        </tbody>
                                                    </table>
                                                }

                                                @if (quoteEntity.ReceiptDetailList != null && quoteEntity.ReceiptDetailList.Count > 0)
                                                {
                                                    <table class="listTable" style="width: 850px; margin-bottom: 20px; margin-left: 8px; float: left">
                                                        <thead>
                                                            <tr class="Detail_CartListItem" style="border-bottom: 1px solid gray; border-top: 1px solid gray">
                                                                <td colspan="3" style="font-weight: bold; padding-left: 5px">@AdminReversalForNTC.lblReceiptDetail</td>
                                                            </tr>
                                                            <tr class="Detail_CartListItem" style="border-bottom: 1px solid gray; border-top: 1px solid gray">
                                                                <td class="Detail_CartListItem">@AdminReversalForNTC.lblReceiptItemCashType</td>
                                                                <td class="Detail_CartListItem itemRight">@AdminReversalForNTC.lblReceiptItemReceiptAmount</td>
                                                                @*<td class="Detail_CartListItem ">@AdminReversalForNTC.lblReceiptItemReceiptFineAmount</td>*@
                                                                @* <td class="Detail_CartListItem">@AdminReversalForNTC.lblReceiptItemReceiptNo</td>*@
                                                                <td class="Detail_CartListItem">@AdminReversalForNTC.lblReceiptItemReceiptTranDetails</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int x = 0; x < quoteEntity.ReceiptDetailList.Count; x++)
                                                            {
                                                                var receiptDetailEntity = quoteEntity.ReceiptDetailList[x];
                                                                <tr class="Detail_CartListItem" style="border-bottom: 1px solid gray; border-top: 1px solid gray">
                                                                    <td class="Detail_CartListItem">
                                                                        @receiptDetailEntity.RTCashType
                                                                    </td>
                                                                    <td class="Detail_CartListItem itemRight">
                                                                        @receiptDetailEntity.RTAmount
                                                                    </td>
                                                                    @* <td class="Detail_CartListItem itemRight">
                                                                 @receiptDetailEntity.RTFineAmount
                                                             </td>*@
                                                                    @* <td class="Detail_CartListItem">
                                                                 @receiptDetailEntity.RctNumber
                                                             </td>*@

                                                                    <td class="Detail_CartListItem" style="padding-left: 5px; line-height: 20px;">
                                                                        @Html.Raw(receiptDetailEntity.RTDetails)
                                                                    </td>

                                                                </tr> 
                                                        
                                                            }
                                                            @if (quoteEntity.Reversed==false)
                                                            {
                                                                <tr>
                                                                    <td colspan="3" style="text-align: right; padding-right: 4px;">
                                                                        <a href="javascript:void(0);" class="NormalBold" onclick="reverseNTC('@quoteEntity.RctIntNo','@String.Format("{0}_{1}",quoteEntity.QuHeReferenceNumber,quoteEntity.ReceiptNo)');">@AdminReversalForNTC.btnReversalOfNTC</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <div id="@String.Format("{0}_{1}",quoteEntity.QuHeReferenceNumber,quoteEntity.ReceiptNo)" style="display: none;">
                                                        <p style="text-align: center; font-size: 12px; color: red; font-weight: bold;" class="errorMsg"></p>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <span class="NormalBold">@Html.Raw(String.Format(QuoteEnquiryListResx.lblError_Text3, quoteEntity.ReceiptNo))?
                                                                    </span>
                                                                    <ul>
                                                                        @QuoteEnquiryListResx.msg_Message1 
                                                                        <ul>
                                                                            @for (int x = 0; x < quoteEntity.ReceiptDetailList.Count; x++)
                                                                            {
                                                                                var receiptDetailEntity = quoteEntity.ReceiptDetailList[x];
                                                                                <li>@quoteEntity.QuHeReferenceNumber&nbsp;&nbsp;[@receiptDetailEntity.RTCashType]&nbsp;&nbsp;@receiptDetailEntity.RTAmount</li>
                                                                            }

                                                                        </ul>
                                                                    </ul>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="NormalBold">@QuoteEnquiryListResx.lblAmount_Text&nbsp;@quoteEntity.ReceiptDetailList.Sum(r => r.RTGrossAmount).ToString("0.00")</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <fieldset style="width: 80%;">
                                                                        <legend>@QuoteEnquiryListResx.lblReason_Text</legend>
                                                                        <textarea  rows="2" style="width: 280px;"></textarea>
                                                                    </fieldset>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div> 
                                                }
                                            </td>

                                        </tr>
                                          
                                    }

                                </tbody>
                                <tfoot>
                                    <tr class="CartListHead footerStyle">
                                        <td colspan="19" align="left">
                                            @{
                                    var htmlPager = Html.GridPager(new GridPagerProperties { PageKey = "page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });
                                            }
                                            @Html.Raw(htmlPager)
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                            }
                        }
                    </td>
                </tr>
            </table>

        </td>
    </tr>

</table>
