﻿@model SIL.AARTO.Web.ViewModels.QuoteManagement.CashBoxSelectModel
@using SIL.AARTO.Web.ViewModels.QuoteManagement;
@using SIL.AARTO.Web.Resource.QuoteManagement;
@using SIL.AARTO.Web.Helpers.Paginator
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<style>
    .listTable
    {
        border-collapse: collapse;
        border-color: gray;
        font-size: 8pt;
        width: 895px;
        border: 1px solid Black;
        text-align: left;
    }

    .headerWhite
    {
        color: White;
        background-color: #6977B0;
    }

</style>

<script type="text/javascript">

    function selectCashBox(cbIntNo,cbName) {
        $("#hidCBIntNo").val(cbIntNo);
        $("#hidCBName").val(cbName);
        
    }

</script>

@using (Html.BeginForm("CashBox", "QuoteManagement"))
{
    <table style="width:300px;" cellspacing="0" cellpadding="4" align="center"  class="listTable">
        <tr class="CartListHead">
            <th class="CartListItem headerWhite" style="text-align:left">@AdminReversalForNTC.lbl_CashboxName</th>
            <th class="CartListItem headerWhite" style="text-align:right">@AdminReversalForNTC.lbl_Float</th>
            <th class="CartListItem headerWhite" style="text-align:center; width:40px;">@AdminReversalForNTC.lbl_Select</th>
        </tr>
        @foreach (CashBoxEntity c in Model.CashBox)
        { 
            <tr class="CartListItem">
                <td class="CartListItem" style="text-align:left">@c.CBName</td>
                <td class="CartListItem" style="text-align:right">@c.CBStartAmount.ToString("0.00")</td>
                <td class="CartListItem" style="text-align:center">@Html.RadioButton("cbxButton", false, new { onclick = "selectCashBox(" + @c.CBIntNo + ",'" + @c.CBName + "');" })
                </td>

            </tr>
        }
        <tr class="CartListHead">
            <td colspan="3" style="text-align: right; padding-right: 4px;">
                @{  var htmlPager = Html.GridPager(new GridPagerProperties { PageKey = "page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = Model.URLPara }); }
                @Html.Raw(htmlPager)
            </td>
        </tr>
    </table>
    
    <input type="hidden" id="hidCBIntNo" name="hidCBIntNo" />
    <input type="hidden" id="hidCBName"  name="hidCBName"/>
}

