﻿@using SIL.AARTO.Web.Resource.QuoteManagement
@{
    ViewBag.Title = "Report_PaidDifferentToQuote";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
  

    .lblFontBold
    {
      font-weight:bold;
    }
</style>


<script type="text/javascript">
    $(function () {
        $("#BeginDate").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#BeginDate").datepicker('setDate', new Date(new Date() - (86400000 * 30)));
        $("#EndDate").datepicker('setDate', new Date());
    });


function OperSearch() {
  
    var sBeginDate = $("#BeginDate").val();
    var sEndDate = $("#EndDate").val();
    var ReferenceNumber = $.trim($("#txtQuoteReferenceNumber").val());

    if (sBeginDate != "" && sEndDate != "") {
        var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
        var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
        if (beginDate > endDate) {
            alert("@Report_PaidDifferentToQuoteResx.lblErrorText1");
            return false;
        }
    }
    var url = "@Url.Action("ViewReport_PaidDifferentToQuote", "QuoteManagement")";
    window.open(url + "?BeginDate=" + sBeginDate + "&EndDate=" + sEndDate + "&ReferenceNumber=" + escape(ReferenceNumber), "_blank");
    //window.open("ViewReport_PaidDifferentToQuote?BeginDate=" + sBeginDate + "&EndDate=" + sEndDate + "&ReferenceNumber=" + escape(ReferenceNumber), "_blank");
 }

</script>

<div style="width: 900px;margin-left:auto;margin-right:auto;">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@Report_PaidDifferentToQuoteResx.lblPageName</span>
        </p>
        <table align="center">
            <tr>
                <td>
                   <span class="lblFontBold">@Report_PaidDifferentToQuoteResx.lblReferenceNo</span>
                    &nbsp; @Html.TextBox("txtQuoteReferenceNumber", null, new { @class = "Normal", style = "width:150px;" })
                    &nbsp;&nbsp; <span class="lblFontBold">@Report_PaidDifferentToQuoteResx.lblQuoteCreationDate</span>
                    &nbsp;<span class="lblFontBold">From</span> &nbsp;  @Html.TextBox("BeginDate", null, new { @class = "Normal", style = "width:100px;",Readonly="readonly" })
                    &nbsp;<span class="lblFontBold">To</span>&nbsp; @Html.TextBox("EndDate", null, new { @class = "Normal", style = "width:100px;",Readonly="readonly" })
                    &nbsp;&nbsp;<input style="width: 80px; cursor: pointer" type="button" class="NormalButton" id="btnSearch" onclick="OperSearch()" value="@Report_PaidDifferentToQuoteResx.lblSearch" name="btnSearch" />
                </td>
            </tr>
        </table>
      </div>
</div>
