﻿@model SIL.AARTO.Web.ViewModels.PrintManagement.PrintMobileS56ControlDocumentModel
@using SIL.AARTO.Web.Resource.PrintManagement;
@using SIL.AARTO.Web.Helpers.Paginator;

@{
    ViewBag.Title = "PrintMobileS56ControlDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Scripts/Datepicker/css/ui.all.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/Scripts/Datepicker/css/demos.css")' rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/Datepicker/js/ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Datepicker/js/ui.datepicker.js")" type="text/javascript"></script>

<script type="text/javascript">

    var openURL;
    var linkObj;

    function OpenControlDocument(mobileControlDocumentName, obj) {
        openURL = "ViewMobileS56ControlDocument?MobileControlDocumentName=" + mobileControlDocumentName;
        //var hasConfirmed = $("#hidHasConfirmed").val();
        //if (hasConfirmed == "1") {
        //    window.open(openURL, "_blank");
        //    $(obj).attr("onclick", "");
        //    $(obj).attr("href", "#");
        //    $(obj).attr("style", "color:gray");
        //}
        //else {
        //    linkObj = obj;
        //    $("#faceboxInfo").dialog("open");
        //}
        window.open(openURL, "_blank");
    }

    function setDateTextBox(txtId) {
        $('#' + txtId).datepicker({ showHms: false, changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd', defaultDate: ' ' });
    }

    $(document).ready(function () {

        setDateTextBox('DateStart');
        setDateTextBox('DateEnd');

        //$('#faceboxInfo').dialog({
        //    autoOpen: false, 
        //    //bgiframe: true,   
        //    width: 600,
        //    height: 200,
        //    position: "center",
        //    resizable: false,
        //    modal: true, 
        //    buttons: {
        //        "Ok": function () {
        //            $(this).dialog("close");
        //            window.open(openURL, "_blank");
        //            $("#hidHasConfirmed").val("1");
        //            $(linkObj).attr("onclick", "");
        //            $(linkObj).attr("href", "#");
        //            $(linkObj).attr("style", "color:gray");
        //        },
        //        "Cancel": function () {
        //            $(this).dialog("close");
        //        }
        //    }
        //});

        if ($("#CheckedCompletedFiles").attr("Checked")) {
            $("#divDateSearch").show();
        }
        else {
            $("#divDateSearch").hide();
        }

        $("#CheckedCompletedFiles").click(function () {
            if ($("#CheckedCompletedFiles").attr("Checked")) {
                $("#divDateSearch").show();
            }
            else {
                $("#divDateSearch").hide();
                window.location = "@Url.Action("PrintMobileS56ControlDocument", "PrintManagement")";
            }
        });

    })
</script>

<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 1050px;
        border: 1px solid black;
    }
    .footerStyle
    {
        text-align: right;
        height: 18px;
    }
</style>

<div>
    <table width="100%" height="10%" cellspacing="0" cellpadding="0" border="0" id="Table5">
        <tbody>
            <tr>
                <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color: #fff">
                </td>
            </tr>
        </tbody>
    </table>
    <table height="85%" cellspacing="0" cellpadding="0" border="0" id="Table6">
        <tbody>
            <tr>
                <td valign="top" align="center" style="width: 100px">
                    <div id="pnlMainMenu">
                    </div>
                    <div style="width: 100px;
                        margin: 20px;" id="pnlSubMenu">
                        <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="21" align="center">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td width="100%" valign="top" align="left" colspan="1">
                    <table width="568" border="0" id="Table7" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" height="47">
                                    <p align="center">
                                        <span style="display: inline-block; width: 450px;" class="ContentHead" id="lblPageName">@PrintMobileS56ControlDocument.PageName</span></p>
                                    <p>
                                        </p>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    
                                        @using (Html.BeginForm("PrintMobileS56ControlDocument", "PrintManagement", FormMethod.Post, new { id = "MobileS56ControlDocument" }))
                                        {
                                            <table>
                                                <tr>
                                                    <td>
                                                        @Html.CheckBox("CheckedCompletedFiles", Model.CheckedCompletedFiles, new { id = "CheckedCompletedFiles", name = "CheckedCompletedFiles" })
                                                        @PrintMobileS56ControlDocument.ShowCompletedPrintFiles
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div id="divDateSearch" style="display:none">
                                                                <table>
                                                                     <tr>
                                                                        <td>
                                                                            <span style="display: inline-block; width: 259px;" class="NormalBold">@PrintMobileS56ControlDocument.DateStart</span>
                                                                        </td>
                                                                        <td>
                                                                            @Html.TextBox("DateStart", Model.DateStart, new { id = "DateStart", name="DateStart" })
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="display: inline-block; width: 259px;" class="NormalBold">@PrintMobileS56ControlDocument.DateEnd</span>
                                                                        </td>
                                                                        <td>
                                                                            @Html.TextBox("DateEnd", Model.DateEnd, new { id = "DateEnd", name="DateEnd" })
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                                            <input type ="submit" value="@PrintMobileS56ControlDocument.Search" id ="btnSubmit" class="NormalButton"  style="width:135px;"/> 
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                    </td>
                                                </tr>
                                               
                                            </table>
                                        }
                                   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <span class="NormalRed" id="lblError">@Model.Msg</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <div id="pnlMobileReportList">
                                        @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "pageIndex", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "" });}
                                        @{WebGrid grid = new WebGrid(Model.PagePrintFileList, canPage: false);}
                                        @(Model.PagePrintFileList.Count > 0 ? grid.Table(
                                            headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                                            footerStyle: "CartListHead footerStyle",
                                            footer: footer => Html.Raw(strPage),
                                            columns: grid.Columns(
                                                        grid.Column("MobileControlDocumentName", PrintMobileS56ControlDocument.PrintFileName, canSort: false, style: "CartListItem"),
                                                        grid.Column("MobileControlDocumentGeneratedDate", PrintMobileS56ControlDocument.GenerateDate, canSort: false, style: "CartListItem"),
                                                        grid.Column("MobileControlDocumentPrintedDate", PrintMobileS56ControlDocument.PrintDate, canSort: false, style: "CartListItem"),
                                                        grid.Column(format: item => Html.ActionLink(PrintMobileS56ControlDocument.PrintCaption, "", null, new { onclick = string.Format("OpenControlDocument('{0}', this)", item.MobileControlDocumentName), href = "JavaScript:void(0)" }),
                                                                style: "CartListItem")
                                                        )
                                                , htmlAttributes: new { cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
                                            : null)
                                    </div>
                               </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
    <!--Block begin-->
       @* <div id="faceboxInfo">
            <span style="font-weight:bold; ">
                @PrintMobileS56ControlDocument.Tip
            </span>
        </div>
        <input id="hidHasConfirmed" type="hidden" value="@Model.HasConfirmed" />*@
    <!--Block end-->
</div>