﻿@model SIL.AARTO.Web.ViewModels.PrintManagement.PrintScheduleModel
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource.PrintManagement;
@{
    ViewBag.Title = "PrintScheduleList";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.idTabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 100%;
        border: 1px solid black;
    }

    .footer {
        text-align: right;
    }

    .header {
        text-align: left;
    }

    .usual {
        padding: 15px 1px;
        width: 100%;
        margin: 15px auto;
    }

        .usual li {
            list-style: none;
            float: left;
            background: none repeat scroll 0 0 #000;
        }

        .usual ul a {
            background: none repeat scroll 0 0 #808080;
            color: #FFFFFF;
            display: block;
            font: 10px Verdana;
            margin: 1px 1px 1px 0;
            padding: 6px 10px;
            text-decoration: none !important;
        }

            .usual ul a:hover {
                background: none repeat scroll 0 0 #444444;
                color: White;
            }

            .usual ul a.selected {
                background: none repeat scroll 0 0 #6977B0;
                border-bottom: 1px solid snow;
                color: White;
                cursor: default;
                margin-bottom: 0;
            }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        if (getQueryString("IsPrint") == "1" || getQueryString("IsPrint") == "") {
            $("#idTab").idTabs("PrintTab");
        }
        else {
            $("#idTab").idTabs("PostTab");
        }

        var page = getQueryString("Page");
        if (page == "") {
            page = 0;
        }
        page = parseInt(page) + 1;

        var sortExpr = getQueryString("SortExpr");
        if (sortExpr == "") {
            sortExpr = 0;
        }
        sortExpr = parseInt(sortExpr) + 1;        

        $("#tdPrint").children().children().each(function () {
            if ($(this).html() == page) {
                $(this).addClass("selected");
            }
        });

        $("#tdPost").children().children().each(function () {
            if ($(this).html() == sortExpr) {
                $(this).addClass("selected");
            }
        });

        $("#chkPrint").click(function () {
            if ($("#chkPrint").attr("checked")) {
                $("input[name='checkboxPrint']").attr("checked", true);
            }
            else {
                $("input[name='checkboxPrint']").attr("checked", false);
            }
        });

        $("#chkPost").click(function () {
            if ($("#chkPost").attr("checked")) {
                $("input[name='checkboxPost']").attr("checked", true);
            }
            else {
                $("input[name='checkboxPost']").attr("checked", false);
            }
        });

        $("#btnPrintSubmit").click(function () {
            if ($("#chkPost").attr("checked")) {
                $("input[name='checkboxPost']").attr("checked", true);
            }
            else {
                $("input[name='checkboxPost']").attr("checked", false);
            }
        });

        $("#btnPrintSubmit").click(function () {
            $("#lblError").html("");
            var str = "";
            $("input[name='checkboxPrint']").each(function () {
                if ($(this).attr("checked")) {
                    str += $(this).val() + ",";
                }
            });

            if (str != "") {
                str = str.substring(0, str.length - 1);
            }
            else {
                $("#lblError").html("@PrintSchedule_cshtml.ErrorMsg1");
                return;
            }

            $.post(_ROOTPATH + "/PrintManagement/Print",
            {
                PFNIntNo: str
            },
            function (message) {
                if (message.Status) {
                    location.href = _ROOTPATH + "/PrintManagement/PrintScheduleList?Page=" + getQueryString("Page") + "&SortExpr=" + getQueryString("SortExpr") + "&IsPrint=1&rdoType=" + $("input[name='rdoType']:checked").val();
                } else {
                    $("#lblError").html(message.Text);
                }
            }, "json");
        });        

        $("#btnPostSubmit").click(function () {
            $("#lblError").html("");
            var str = "";
            $("input[name='checkboxPost']").each(function () {
                if ($(this).attr("checked")) {
                    str += $(this).val() + ",";
                }
            });

            if (str != "") {
                str = str.substring(0, str.length - 1);
            }
            else {
                $("#lblError").html("@PrintSchedule_cshtml.ErrorMsg1");
                return;
            }

            $.post(_ROOTPATH + "/PrintManagement/Post",
            {
                PFNIntNo: str
            },
            function (message) {
                if (message.Status) {
                    location.href = _ROOTPATH + "/PrintManagement/PrintScheduleList?Page=" + getQueryString("Page") + "&SortExpr=0&IsPrint=0";
                } else {
                    $("#lblError").html(message.Text);
                }
            }, "json");
        });

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return "";
        }

        //2014-01-10 added by Nancy for switch reprot type start
        $("input[name='rdoType']").change(
        function () {
            location.href = _ROOTPATH + "/PrintManagement/PrintScheduleList?Page=0&SortExpr=0&IsPrint=1&rdoType=" + $("input[name='rdoType']:checked").val();            
        }
        );

        $("#aPostTab").click(function ()
        {
            location.href = _ROOTPATH + "/PrintManagement/PrintScheduleList?Page=0&SortExpr=0&IsPrint=0";
        });
        //2014-01-10 added by Nancy for switch reprot type end
    });    

</script>
<div style="width: 1000px; margin-left: 50px;">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@PrintSchedule_cshtml.lblPageName</span>
        </p>
        <p>
            <span class="NormalRed" id="lblError" name="lblError"></span>
        </p>
    </div>

    @*@if (Model.IsShow)2014-01-13 removed by Nancy 
    {*@
        <div class="usual">
            <ul id="idTab">
                <li><a href="#PrintTab">@PrintSchedule_cshtml.PrintTab</a></li>
                <li><a id="aPostTab" href="#PostTab" onclick="">@PrintSchedule_cshtml.PostTab</a></li>@*2014-01-10 updated by Nancy for getting initial data of the posted schedule*@
            </ul>
        </div>
        <div id="PrintTab">
            <form id="fmType" method="post">
            @*2014-01-10 added by Nancy for report type start*@
            <table width="500" cellspacing="0" cellpadding="4" border="0" style="margin-left: 40px;" >
                <tr>
                    <td>
                        @Html.RadioButton("rdoType","1ST",true, new { id = "rdoFirstNotice" })@PrintSchedule_cshtml.lblFirstNotice
                        @Html.RadioButton("rdoType","CPA5",false, new { id = "rdoSummonsCPA5" })@PrintSchedule_cshtml.lblSummonsCPA5
                        @Html.RadioButton("rdoType","CPA6",false, new { id = "rdoSummonsCPA6" })@PrintSchedule_cshtml.lblSummonsCPA6
                    </td>
                </tr>
                <tr>
                    <td class="NormalRed">@Model.ErrorMsg</td>
                </tr>
            </table>@*2014-01-10 added by Nancy for report type end*@
            
            </form>

        @if (Model.IsShow)
        {
            <table width="500" cellspacing="0" cellpadding="4" border="0" style="border-collapse: collapse; margin-left: 40px;"
                class="listTable">
                <thead>
                    <tr class="CartListHead">
                        <td align="left">
                            @PrintSchedule_cshtml.PrintFileName
                        </td>
                        <td align="left">
                            @PrintSchedule_cshtml.DocumentCount
                        </td>
                        <td align="left">
                            @PrintSchedule_cshtml.BatchGeneratedDate
                        </td>
                        @if (@Model.rdoType == "1ST")
                        {
                        <td align="left">
                            @PrintSchedule_cshtml.BatDocOldestOffDate
                        </td>
                        }
                        <td align="center">
                            <input id="chkPrint" type="checkbox" />
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @{string cssClass;
                      for (int i = 0; i < Model.PrintList.Count; i++)
                      {
                          var item = Model.PrintList[i];
                          if (i % 2 == 0)
                          { cssClass = "CartListItem"; }
                          else
                          { cssClass = "CartListItemAlt"; }
                        <tr class="@cssClass">
                            <td align="left">@item.PrintFileName
                            </td>
                            <td align="left">@item.DocumentCount
                            </td>
                            <td align="left">@item.BatchGeneratedDate
                            </td>
                            @if (@Model.rdoType == "1ST")
                            {
                            <td align="left">@item.BatDocOldestOffDate
                            </td>
                            }
                            <td align="center">
                                <input type="checkbox" name="checkboxPrint" value="@item.PFNIntNo"/>
                            </td>
                        </tr>
                      }
                    }
                    <tr class="CartListHead">
                        <td colspan="5" align="right" id="tdPrint">
                            @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "IsPrint=1&rdoType=" + Model.rdoType }); }@*2014-01-10 updated by Nancy for parameter of report type*@
                            @Html.Raw(strPage)
                        </td>
                    </tr>
                </tbody>
            </table>
            if (Model.PrintList.Count > 0)
            {
                <table width="1000" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; margin-left: 40px;">
                    <tr>
                        <td align="right">
                            <input type="button" class="NormalButton" id="btnPrintSubmit" value="@PrintSchedule_cshtml.Sumbit" onclick="" />
                        </td>
                    </tr>
                </table>
            }
        }
        </div>

        <div id="PostTab">                
        @if (Model.IsShow)
        {
            <table width="500" cellspacing="0" cellpadding="4" border="0" style="border-collapse: collapse; margin-left: 40px;"
                class="listTable">
                <thead>
                    <tr class="CartListHead">
                        <td align="left">
                            @PrintSchedule_cshtml.PrintFileName
                        </td>
                        <td align="left">
                            @PrintSchedule_cshtml.DocumentCount
                        </td>
                        <td align="left">
                            @PrintSchedule_cshtml.BatchGeneratedDate
                        </td>
                        <td align="left">
                            @PrintSchedule_cshtml.BatDocOldestOffDate
                        </td>
                        <td align="left">
                            @PrintSchedule_cshtml.ProdSchePriCapDate
                        </td>
                        <td align="center">
                            <input id="chkPost" type="checkbox" />
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @{string cssClass1;
                      for (int i = 0; i < Model.PostList.Count; i++)
                      {
                          var item = Model.PostList[i];
                          if (i % 2 == 0)
                          { cssClass1 = "CartListItem"; }
                          else
                          { cssClass1 = "CartListItemAlt"; }
                        <tr class="@cssClass1">
                            <td align="left">@item.PrintFileName
                            </td>
                            <td align="left">@item.DocumentCount
                            </td>
                            <td align="left">@item.BatchGeneratedDate
                            </td>
                            <td align="left">@item.BatDocOldestOffDate
                            </td>
                            <td align="left">@item.ProdSchePriCapDate
                            </td>
                            <td align="center">
                                <input type="checkbox" name="checkboxPost" value="@item.PFNIntNo"/>
                            </td>
                        </tr>
                      }
                    }
                    <tr class="CartListHead">
                        <td colspan="6" align="right" id="tdPost">
                            @{ string strPage1 = Html.GridPager(new GridPagerProperties { PageKey = "SortExpr", PageSize = Model.PageSize, RecordCount = Model.PostTotalCount, parameters = "IsPrint=0" }); }
                            @Html.Raw(strPage1)
                        </td>
                    </tr>
                </tbody>
            </table>
            if (Model.PostList.Count > 0)
            {
                <table width="1000" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse; margin-left: 40px;">
                    <tr>
                        <td align="right">
                            <input type="button" class="NormalButton" id="btnPostSubmit" value="@PrintSchedule_cshtml.Sumbit" onclick="" />
                        </td>
                    </tr>
                </table>
            }
        }
            <table width="500" cellspacing="0" cellpadding="4" border="0" style="margin-left: 40px;" >
                <tr>
                    <td class="NormalRed">@Model.ErrorMsgPost</td>
                </tr>
            </table>
        </div>
    @*}*@

</div>
