﻿@model IList<SIL.AARTO.Web.ViewModels.PrintManagement.SAPOPrintingControlModel>
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.PrintManagement;
@using SIL.AARTO.Web.ViewModels.PrintManagement;
@{
    ViewBag.Title = "NoticePrintControl";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.idTabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/ST_Odyssey.css")" rel="stylesheet"   type="text/css"/>
<script type="text/javascript">
    function save(sPPCIntNo, obj)
    {
        var printMethod= $(obj).val();
        $.ajax({
            url: "@Url.Action("SAPOPrintingControl","PrintManagement")",
            type: "post",
            data: {
                "SPPCIntNo": sPPCIntNo,
                "printMethod":printMethod
                },
            success: function (result)
            {
                alert(result);
            }
        });
    }
</script>
<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 695px;
        text-align:left;
        border: 1px solid black;
    }

    body
{
   text-align:center;
}
table
{
   margin:0px auto;
}
</style>
<div >
@*    @using (Html.BeginForm("SAPOPrintingControl", "PrintManagement", FormMethod.Post))
{
        *@<div style="width:300px; margin:0px auto"><p align="center">
<span id="lblPageName" class="ContentHead">@SAPOPrintingControl.SAPOPrintingControlTitle</span>
</p></div>

    <div style="width:70%;margin:0px auto">
    <table class="listTable">
        <thead>
            <tr class="CartListHead">
                <th>@SAPOPrintingControl.SPPCReportType</th>
                <th>@SAPOPrintingControl.SPPCOption</th>
                <th>@SAPOPrintingControl.SPPCTemplate</th>
                <th>@SAPOPrintingControl.SPPCPrintMethod</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                string cssName=string.Empty;
                for(int i=0;i<Model.Count;i++) 
            {
                cssName = i % 2 == 0 ? "CartListItem" : "CartListItemAlt";
                <tr class="@cssName" >
                    <td> @Html.DisplayFor(c=>c[i].SPRTReportName)</td>
                    <td>@Html.DisplayFor(c=>c[i].SPPCOption)</td>
                     <td>@Html.DisplayFor(c=>c[i].SPPCTemplate)</td>
                     <td>@Html.DropDownListFor(m => m[i].SPPCPrintMethod, Model[i].SPPCPrintMethodList, new { onchange="save("+Model[i].SPPCIntNo+",this)" })</td>
                </tr>
            }
            
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="CartListHead listTable" style="text-align:right" >@{string pageHtml = Html.GridPager(new GridPagerProperties { RecordCount = (int)ViewData["RecordCount"], PageKey = "page", PageSize = (int)ViewData["PageSize"] }); }
                    @Html.Raw(pageHtml)
                   @* @Html.DropDownList("dpd_pageSize",new SelectListItem[]{new SelectListItem{ Text="2",Value="2"},new SelectListItem{ Text="5",Value="5"}, new SelectListItem{ Text="10",Value="10",Selected=true}})*@
                </td>
            </tr>
        </tfoot>
    </table>
   </div>
@*}*@
</div>




