﻿@model IList<SIL.AARTO.Web.ViewModels.PrintManagement.SAPOEquivalenceModel>
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.PrintManagement;
@using SIL.AARTO.Web.ViewModels.PrintManagement;
@{
    ViewBag.Title = "NoticePrintControl";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.idTabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/ST_Odyssey.css")" rel="stylesheet"   type="text/css"/>
<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 90%;
        border: 1px solid black;
        text-align:left
    }

    body
{
   text-align:center;
}
table
{
   margin:0px auto;
}
</style>
<div >
  @*  @using (Html.BeginForm("NoticePrintContract", "PrintManagement", FormMethod.Post))
{
      *@@*<div style="border-color:Black;border-width:1px;border-style:Solid;width:146px;margin:20px; margin-top:50px" id="pnlSubMenu">*@
	
  @*  <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
		<tbody>
            <tr>
			<td align="center">
                <span style="display:inline-block;width:118px;" class="ProductListHead" id="Label1">Options</span></td>
		    </tr>
		    <tr>
			    <td align="center">
                    <input type="submit" style="width:135px;" class="NormalButton" id="btnOptAdd" value="Save" name="btnOptAdd" />
                </td>
		    </tr>
		    <tr>
			    <td align="center">
                </td>
		    </tr>
		    <tr>
			    <td height="21" align="center"></td>
		    </tr>
	    </tbody>
    </table>*@

</div>
        <div style="width:300px; margin:0px auto">
            <p align="center">
                <span id="lblPageName" class="ContentHead">@SAPOEquivalence.SAPOEquivalenceTitle</span>
            </p>

        </div>
<div>
    
            @using (Html.BeginForm("SAPOEquivalence", "PrintManagement",FormMethod.Get))
        {
         <table>
            <tr>
                <td >
                    <span style="display:inline-block;width:290px;height:25px;" class="NormalBold" id="lblSelection">@SAPOEquivalence.SearchLabel</span>
                </td>
                <td >
                    @Html.TextBox("SearchStr", null, new { style="width:307px;", @class="Normal" })
                    @Html.ValidationMessage("SearchStr")
                </td>
                <td >
                    <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@SAPOEquivalence.SearchButtonText" name="btnSearch" />
                </td>
            </tr>
        </table>   
        }    

</div>

    <div style="width:80%;margin:0px auto">
    <table class="listTable">
        <thead>
            <tr class="CartListHead">
                <th>@SAPOEquivalence.SPEqOPUSLabel</th>
                <th>@SAPOEquivalence.SPEqOPUSDataType</th>
                <th style="width:50px;padding-right:20px;text-align:right">@SAPOEquivalence.SPEqOPUSDataLength</th>
                 <th>@SAPOEquivalence.SPEqSAPOLabel</th>
                 <th>@SAPOEquivalence.SPEqSAPODataType</th>
                 <th style="width:50px;text-align:right">@SAPOEquivalence.SPEqSAPODataLength</th>
              @*  <th>@SAPOEquivalence.NPCNotice</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                string cssName=string.Empty;
                for(int i=0;i<Model.Count;i++) 
            {
                cssName = i % 2 == 0 ? "CartListItem" : "CartListItemAlt";
                <tr class="@cssName" >
                    <td>@*@Html.HiddenFor(c=>c[i].NPCIntNo)*@
                         @Html.DisplayTextFor(c=>Model[i].OPUSLable)</td>
                     <td>@Html.DisplayTextFor(m=>m[i].OPUSDataType)</td>
                     <td style="width:50px;padding-right:20px;text-align:right">@Html.DisplayTextFor(c=>c[i].OPUSDataLength)</td>
                     <td>@Html.DisplayTextFor(c=>c[i].SAPOLable)</td>
                    <td>@Html.DisplayTextFor(m=>m[i].SAPODataType)</td>
                    <td style="width:50px;text-align:right">@Html.DisplayTextFor(c=>c[i].SAPODataLength)</td>
                   @* <td>@Html.DisplayTextFor(c=>c[i].NPCNotices)</td>*@

                </tr>
            }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="CartListHead listTable" style="text-align:right" >@{string pageHtml = Html.GridPager(new GridPagerProperties { RecordCount = (int)TempData["RecordCount"], PageKey = "page", PageSize = (int)TempData["PageSize"] }); }
                  <div class="pager">
                       @Html.Raw(pageHtml)

                  </div>
                     
                   @* @Html.DropDownList("dpd_pageSize",new SelectListItem[]{new SelectListItem{ Text="2",Value="2"},new SelectListItem{ Text="5",Value="5"}, new SelectListItem{ Text="10",Value="10",Selected=true}})*@
                </td>
            </tr>
        </tfoot>
    </table>
   </div>
@*}*@





