﻿@using SIL.AARTO.BLL.Extensions
@using SIL.AARTO.Web.Helpers.DuplicateWOASelection
@model SIL.AARTO.Web.Helpers.DuplicateWOASelection.DuplicateWOASelectionModel
@{
    var id_Table = Model.ControlId + "_Table";
}

<div id="@id_Table">
    @if (Model.WOAs != null && Model.WOAs.Count > 0)
    {
        <table id="@(id_Table + 2)" cellspacing="0" cellpadding="4" border="1" style="border-collapse: collapse; border-color: Black; font-size: 11pt;">
            <tr class="CartListHead" style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">
                <td>@DuplicateWOASelection.WOANumber</td>
                <td>@DuplicateWOASelection.NotTicketNo</td>
                <td>@DuplicateWOASelection.SummonsNo</td>
                <td>@DuplicateWOASelection.AccFullName</td>
                <td></td>
            </tr>
            @foreach (var dw in Model.WOAs)
            {
                <tr class="CartListItem">
                    <td>@dw.WOANumber.Raw()</td>
                    <td>@dw.NotTicketNo.Raw()</td>
                    <td>@dw.SummonsNo.Raw()</td>
                    <td>@dw.AccFullName.Raw()</td>
                    <td><a href="javascript:void(0);" style="color: #6977b0;" onclick=" @(Model.ControlId)_onSelected(@dw.WOAIntNo) ">@DuplicateWOASelection.Select</a></td>
                </tr>
            }
        </table>
    }
</div>

<script>
    function @(Model.ControlId)_onSelected(woaIntNo) {
        @if (Model.AutoHideOnSelected)
        {
            @:@(Model.ControlId)_hide();
        }
        @(Model.JsName_Response)(woaIntNo);
    }

    function @(Model.ControlId)_hide() {
        $("#" + '@(id_Table)').empty();
    }

    @if (Model.WOAs != null && Model.WOAs.Count == 1 && Model.AutoRedirectSingleResult)
    {
        @:@(Model.ControlId)_onSelected(@Model.WOAs.First().WOAIntNo);
    }
</script>