﻿@using SIL.AES.Web.Resource.Enquiry;
@model SIL.AES.Web.ViewModels.Enquiry.FrameImageModel
@{
    ViewBag.Title = Model.Title;
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}
<table border="0" width="100%">
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td valign="top" width="100%" align="center">
            <div id="pnlNavigation" style="width: 100%">
                <table border="0" style="width: 100%; border: solid 1px black;" class="Normal">
                    <tr>
                        <td style="width: 10%; text-align: left">
                            @if (Model.Count > 1)
                            { @Html.ActionLink(FrameImageView.linkPre_Text, "FrameImage", new { searchField = Model.searchField, searchValue = Model.searchValue, Since = Model.Since, isPre = true }, new { @class = "MenuItem", id = "lnkPrevious" });
                            }
                            else
                            { @Html.ActionLink(FrameImageView.linkPre_Text, null, null, new { @class = "MenuItem", id = "lnkPrevious", onclick = "return false;" });
                            }
                        </td>
                        <td style="width: 80%; text-align: center;">
                            <span id="lblNavigation" style="font-weight: bold">
                                @Model.Navigation
                            </span>
                        </td>
                        <td style="width: 10%; text-align: right">
                            @if (Model.Count > 1)
                            { @Html.ActionLink(FrameImageView.linkNext_Text, "FrameImage", new { searchField = Model.searchField, searchValue = Model.searchValue, Since = Model.Since, isPre = false }, new { @class = "MenuItem", id = "lnkNext" }); }
                            else
                            { @Html.ActionLink(FrameImageView.linkNext_Text, null, null, new { @class = "MenuItem", id = "lnkNext", onclick = "return false;" });
                            }
                        </td>
                    </tr>
                </table>
            </div>
            <table width="100%">
                <tr>
                    <td align="center" colspan="6">
                        <span class="ContentHead">@Model.Title</span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span class="NormalBold" style="display: inline-block;">@FrameImageView.SumNo</span>
                    </td>
                    <td align="left">
                        <span class="Normal">@Model.SummonNo</span>
                    </td>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.FilmFrameNo</span>
                    </td>
                    <td align="left">
                        <span class="Normal">
                            @Model.FilmNo ~ @Model.FrameNo
                        </span>
                    </td>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.RegNo</span>
                    </td>
                    <td align="left">
                        <span class="Normal">@Model.RegNo</span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.OffenceDate</span>
                    </td>
                    <td align="left">
                        <span class="Normal">@Model.OffenceDate</span>
                    </td>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.Speed</span>
                    </td>
                    <td colspan="3" align="left">
                        <span class="Normal">
                            @Model.OffenceSpeed
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.Description</span>
                    </td>
                    <td align="left">
                        <span class="Normal" colspan="5">@Model.Description</span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.Name</span>
                    </td>
                    <td align="left">
                        <span class="Normal">@Model.OffenceName</span>
                    </td>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.Identity</span>
                    </td>
                    <td align="left">
                        <span class="Normal">
                            @Model.IdentityNo
                        </span>
                    </td>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.FineAmount</span>
                    </td>
                    <td align="left">
                        <span class="Normal">@Model.FineAmount</span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.PostalAddress</span>
                    </td>
                    <td colspan="5" align="left">
                        <span class="Normal">@Model.PostalAddress</span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span class="NormalBold">@FrameImageView.StreetAddress</span>
                    </td>
                    <td colspan="5" align="left">
                        <span class="Normal">@Model.StreetAddress</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@{Html.RenderAction("ImagePartialView", new { showPreView = true, frameIntNo = Model.FrameIntNo });}
