﻿@using SIL.AARTO.Web.Resource.Enquiry
@model SIL.AARTO.Web.ViewModels.Enquiry.NonCameraImageModel
@{
    ViewBag.Title =NonCameraRes.lblPageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 700px; margin-left: auto; margin-right: auto; border:solid 1px #ccc">
        <table width="100%">
            <tr style="">
                <td style="width: 700px; border-bottom: solid 1px #ccc; padding-bottom: 4px;">
                     <p style="text-align: center">
                   <span class="ContentHead" style="width:552px">document
                    <input class="NormalButtonRed" style="float:right" type="button" value="@EnquiryManage.btnClose"
                     onclick="javascript:window.close();" />
                   </span>
                    </p>
                </td>
            </tr>
        </table>
     @{Html.RenderAction("NonCameraImagePartialView", new { notIntNo = Model.NotIntNo, source = Model.Source });}
  </div>

