﻿@using System.Configuration
@using System.Globalization
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.Enquiry;
@model SIL.AARTO.Web.ViewModels.Enquiry.NoticeCommentModel
@{
    ViewBag.Title = NoticeCommentViewer_cshtml.Title;
    Layout = "~/Views/Shared/Admin.cshtml";
}
@section HeaderContent{
    <script type="text/javascript">
        var msgAddComment = '@NoticeCommentViewer_cshtml.AddComment';
        var msgUpdateComment = '@NoticeCommentViewer_cshtml.UpdateComment';
        var msgSaveSuccessful = '@Global.StatusSave_1';
    </script>
    <script src='@Url.Content("~/Scripts/Enquiry/NoticeCommentViewer.js")' type="text/javascript"></script>
}
<div class="width_90pct margin_auto text-align">
    @using (Html.BeginForm())
    {
        <div class="ContentHead width_100pct text-align">@NoticeCommentViewer_cshtml.Title
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="NormalButtonRed" type="button" value="@EnquiryManage.btnClose"
                     onclick="javascript: Close();" /> @*Add button close*@
        </div>
        
        <table class="width_100pct text-align_left" cellspacing="0" cellpadding="3" border="0">
            <tr>
                <td style="width: 160px" class="NormalBold">@NoticeCommentViewer_cshtml.TicketNo
                </td>
                <td style="width: 230px" class="text-align_left">@Html.Encode(Model.NotTicketNo)
                </td>
                <td style="width: 160px" class="NormalBold">@NoticeCommentViewer_cshtml.OffenceDate
                </td>
                <td style="width: 230px" class="text-align_left">@Html.Encode(Model.NotOffenceDate.HasValue ? Model.NotOffenceDate.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")
                </td>
                <td class="text-align_right">
                    <input type="button" id="btnPrint" value="@NoticeCommentViewer_cshtml.Print" class="NormalButton" />
                </td>
            </tr>
        </table>
        
        <table cellspacing="0" cellpadding="4" border="1" style="border-color: Black; border-collapse: collapse;
            table-layout: fixed;" class="width_100pct margin-top_15">
            <thead>
                <tr class="CartListHead">
                    <td width="5%">
                        @NoticeCommentViewer_cshtml.Number
                    </td>
                    <td width="75%">
                        @NoticeCommentViewer_cshtml.Comment
                    </td>
                    @*<td width="130px">
                        @NoticeCommentViewer_cshtml.LastUpdate
                    </td>*@
                    <td width="10%">
                        @NoticeCommentViewer_cshtml.AddedBy
                    </td>
                    <td width="10%">
                        @NoticeCommentViewer_cshtml.DateAdded
                    </td>
                </tr>
            </thead>
            <tbody id="tbdGrid" class="text-align_left">
                @{
                   var rows = Model.NoticeCommentList.Count;
                   for (var i = 0; i < rows; i++)
                   {
                       var ncEntity = Model.NoticeCommentList[i];
                    <tr>
                        <td>
                            @ncEntity.OrderNo
                        </td>
                        <td style="word-break: break-all; word-wrap: break-word;">
                            @Html.Raw(ncEntity.NcComment.Replace(Environment.NewLine, "<br/>"))
                        </td>
                        <!--Jerry 2014-05-28 change it-->
                        @*<td>
                            @Html.Encode(ncEntity.NcUpdateDate.ToString("yyyy-MM-dd HH:mm:ss"))
                        </td>
                        <td class="text-align">
                            <a href="#" onclick='NCGet("@ncEntity.OrderNo", "@ncEntity.NcIntNo")' >@NoticeCommentViewer_cshtml.Edit</a>
                        </td>
                        <td class="text-align">
                            <a href="#" onclick='javascript: if(confirm("@NoticeCommentViewer_cshtml.DeleteConfirm")) NCDelete("@ncEntity.NcIntNo", "@ncEntity.RowVersionString")' >@NoticeCommentViewer_cshtml.Delete</a>
                        </td>*@
                        <td style="word-break: break-all; word-wrap: break-word;">
                            @Html.Encode(ncEntity.LastUser)
                        </td>
                        <td>
                            @Html.Encode(ncEntity.NcCreateDate.ToString("yyyy-MM-dd HH:mm"))
                        </td>
                    </tr>
                   }
                }
            </tbody>
            <tfoot>
                <tr class="CartListHead">
                    <td colspan="5" align="right">
                        @{
                   var pageSize = Convert.ToInt32(ConfigurationManager.AppSettings["PageSize"]);
                   var htmlPager = Html.GridPager(new GridPagerProperties { PageKey = "page", PageSize = pageSize, RecordCount = Model.TotalCount });
                        }
                        @Html.Raw(htmlPager)
                    </td>
                </tr>
            </tfoot>
        </table>
        
        <div id="errorMsg" class="error_fontsize12  margin-top_15">
        </div>
        
        <table cellspacing="0" cellpadding="4" border="0" class="width_100pct margin-top_10 text-align_left">
            <tr>
                <td>
                </td>
                <td>
                    <label id="lblEditTitle" />
                </td>
                <td align="right">
                    &nbsp;
                    <input type="button" id="btnNew" value="@NoticeCommentViewer_cshtml.New" class="NormalButton" />
                </td>
            </tr>
            <tbody id="tbdEdit">
                <tr>
                    <td class="NormalBold Wrap_No width_240 valign_top">
                        @NoticeCommentViewer_cshtml.Comment
                    </td>
                    <td colspan="2" class="NormalBold Wrap_No">
                        @Html.TextArea("txtComment", Model.NoticeComment.NcComment, new { id = "txtComment", style = "width:99%;height:90px" })
                        @Html.ValidationMessageFor(p => p.NoticeComment.NcComment)
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right">
                        &nbsp;
                        @{ var gotoPage = Convert.ToInt32(Math.Max(Math.Ceiling((Convert.ToDouble(Model.TotalCount) + 1) / Convert.ToDouble(pageSize)) - 1, 0));}
                        <input type="button" id="btnAdd" value="@NoticeCommentViewer_cshtml.Add" class="NormalButton" onclick='NCSave("0", "0", "@gotoPage")' />
                        <input type="button" id="btnUpdate" value="@NoticeCommentViewer_cshtml.Update" class="NormalButton"  />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" id="hidOldComment" />
    }
</div>
