﻿@model SIL.AARTO.Web.ViewModels.Enquiry.MobileSignatureModel
@using SIL.AARTO.Web.Resource.Enquiry;

@{
    ViewBag.Title = "ViewSignature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table width="100%" height="10%" cellspacing="0" cellpadding="0" border="0" id="Table5">
        <tbody>
            <tr>
                <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color: #fff"></td>
            </tr>
        </tbody>
    </table>

    <table height="100%" width="100%" cellspacing="0" cellpadding="0" border="0" id="Table6">
        <tbody>
            <tr>
                <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead">
                    <table border="0" id="Table7" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" height="47">
                                    <p align="center">
                                        <span  id="lblPageName">@ViewSignature.PageName</span>
                                    </p>
                                    <p>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table height="100%" width="100%" cellspacing="0" cellpadding="0" border="0" id="Table6">
        <tbody>
            <tr>
                <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color: #fff">
                    <table cellpadding="0" cellspacing="0" border="1" width="80%">
                        <tr>
                            <td align="center">
                                <span  style="color:black;">@ViewSignature.TrafficSignature</span>
                            </td>
                            <td align="center">
                                <span  class="ContentHead">@ViewSignature.OffenderSignature</span>
                            </td>
                        </tr>
                        <tr>
                            @if (@Model.OffenderSignatureImageURL != null)
                            {
                                <td align="center" width="50%">
                                    <img id="imageTrafficeSignature" src="@Url.Content(@Model.OffenderSignatureImageURL)" width="80" height="100" style="padding: 5px" />
                                </td>
                                <td align="center" width="50%">
                                    <img id="imageTrafficerOffernder" src="@Model.OffenderSignatureImageURL" width="80" height="100" style="padding: 5px" />
                                </td>
                            }
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
