﻿@model  SIL.AARTO.Web.ViewModels.Enquiry.OffenceDetailModel
@using SIL.AARTO.Web.Resource.Enquiry
@{
    ViewBag.Title = ViewOffence_PrintRes.lblPageNameText;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function Print() {
        window.print();
    }
    function Close() {
        window.close();
    }
</script>

<table border="0" width="700">
    <tr>
        <td valign="top" width="100%" align="center">
            <table width="100%">
                <tr>
                    <td width="33%">
                        @Html.ActionLink(ViewOffence_PrintRes.hlPrintText, ViewOffence_PrintRes.hlPrintText, null, new { @class = "NormalBold", href = "javascript:Print()" })
                    </td>
                    <td width="33%" align="center">
                        <span class="ContentHead" style="width: 345px">@ViewOffence_PrintRes.lblPageNameText</span>
                    </td>
                    <td width="34%" align="right">
                        @Html.DropDownList("ddlScan", Model.ScanImageList, new { id = "ddlScan", style = "width:91px;display:none" })
                        @Html.ActionLink(ViewOffence_PrintRes.hlBackText, ViewOffence_PrintRes.hlBackText, null, new { @class = "NormalBold", href = "javascript:Close()" })
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span id="lblError" style="color: Red; font-weight: bold">@Model.Error </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" width="100%">
            <table width="100%">
                <tr>
                    <td width="100%" align="center">
                        <table width="100%">
                            <tr>
                                <td align="left" valign="top">
                                    <table width="100%">
                                        <tr>
                                            <td valign="top">
                                                <table width="100%">
                                                    <tr>
                                                        <td valign="top" width="40%">
                                                            <span class="NormalBold" style="width: 107px">@ViewOffence_PrintRes.lblTicketNoText</span>
                                                        </td>
                                                        <td valign="top">
                                                            <span class="Normal">@Model.TicketNo</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <span class="NormalBold" style="width: 137px">@ViewOffence_PrintRes.lblRegistrationnoText</span>
                                                        </td>
                                                        <td valign="top">
                                                            <span class="Normal">@Model.RegistrationNo</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <span class="NormalBold" style="width: 244px">@ViewOffence_PrintRes.lblFilmFrameNOText</span>
                                                        </td>
                                                        <td valign="top">
                                                          <span class="Normal">@Model.FilmFrameNo</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <span class="NormalBold" style="width: 245px">@ViewOffence_PrintRes.lblOffenceDateText</span>
                                                        </td>
                                                        <td valign="top">
                                                            <span class="Normal">@Model.OffenceDate</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <span class="NormalBold" style="width: 164px">@ViewOffence_PrintRes.lblSpeedText</span>
                                                        </td>
                                                        <td valign="top">
                                                            <span class="Normal">@Model.Speed</span> <span class="Normal">@Model.Speed2</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <span class="NormalBold" style="width: 245px">@ViewOffence_PrintRes.lblOffencedescrText</span>
                                                        </td>
                                                        <td valign="top">
                                                            <span class="Normal">@Model.Offencedesc</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <span class="NormalBold" style="width: 173px; height: 19px">@ViewOffence_PrintRes.lblLocationText</span>
                                                        </td>
                                                        <td valign="top">
                                                            <span class="Normal">@Model.Location</span> 
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table id="tblOwnerDetails" runat="server" width="100%">
                                                    <tr>
                                                        <td width="40%">
                                                            <span class="NormalBold" style="width: 94px;">@ViewOffence_PrintRes.lblOwnerdetailsText</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                            <span class="NormalBold" style="width: 46px;">@ViewOffence_PrintRes.lblNameText</span>
                                                            <span class="Normal">@Model.OwnerName</span>
                                                        </td>
                                                        <td>
                                                            <span class="NormalBold" style="width: 31px;">@ViewOffence_PrintRes.lblIDText</span>
                                                            <span class="Normal">@Model.OwnerID</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                            <span class="NormalBold" style="width: 122px;">@ViewOffence_PrintRes.lblPostaladdressText</span>&nbsp;
                                                        </td>
                                                        <td>
                                                            <span class="Normal">@Model.OwnerPostAddr</span> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                            <span class="NormalBold" style="width: 122px;">@ViewOffence_PrintRes.lblStreetaddressText</span>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            <span class="Normal">@Model.OwnerStrAddr</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                            <span class="NormalBold" style="width: 94px;">@ViewOffence_PrintRes.lblDriverdetailsText</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                            <span class="NormalBold" style="width: 45px;">@ViewOffence_PrintRes.lblNameText</span>
                                                            <span class="Normal">@Model.DriverName</span>
                                                        </td>
                                                        <td>
                                                            <span class="NormalBold" style="width: 26px;">@ViewOffence_PrintRes.lblIDText</span>
                                                            <span class="Normal">@Model.DriverID</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                            <span class="NormalBold" style="width: 126px;">@ViewOffence_PrintRes.lblPostaladdressText</span>
                                                        </td>
                                                        <td>
                                                            <span class="Normal">@Model.DriverPostAddr</span> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                            <span class="NormalBold" style="width: 124px;">@ViewOffence_PrintRes.lblStreetaddressText</span>
                                                        </td>
                                                        <td>
                                                            <span class="Normal">@Model.DriverStrAddr</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                         @if (Model.NotProxyFlag == "Y")
                                                         {
                                                            <span class="NormalBold" style="width: 202px;">@ViewOffence_PrintRes.lblProxydetailsText</span>
                                                         }
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 205px">
                                                         @if (Model.NotProxyFlag == "Y")
                                                         {
                                                            <span class="NormalBold" style="width: 56px;">@ViewOffence_PrintRes.lblNameText</span>
                                                        
                                                            <span class="Normal">@Model.ProxyName</span>
                                                         }
                                                        </td>
                                                        <td>
                                                         @if (Model.NotProxyFlag == "Y")
                                                         {
                                                            <span class="NormalBold" style="width: 31px;">@ViewOffence_PrintRes.lblIDText</span>
                                                           
                                                            <span class="Normal">@Model.ProxyID</span>
                                                         }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="NormalBold" style="width: 205px">
                                                            <span class="NormalBold">@ViewOffence_PrintRes.lblFineAmountText</span> @*  <asp:Label ID="Label17" runat="server" Text="<%$Resources:lblFineAmount.Text %>"></asp:Label>*@
                                                        </td>
                                                        <td>
                                                            <span class="Normal">@Model.FineAmount</span> @*  <asp:Label ID="lblFineAmount" runat="server" CssClass="Normal"></asp:Label>*@
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width: 153px">
                                             @if (Model.isShowRegArea)
                                             {
                                                <div id="regArea">
                                                    <table cellpadding="0" cellspacing="0" style="font-family: Tahoma; font-size: xx-small;">
                                                        <tr>
                                                            <td style="border: solid 1px black;">
                                                              <span>Enlarged Registration</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black;
                                                                border-left: solid 1px black;">
                                                                <div id="regImageDiv" style="width: 146px; line-height: 34px; height: 34px; overflow: hidden;
                                                                    position: relative; text-align: center;">
                                                                    <img id="regImage" alt="" src="@Model.imageRegUrl" style="vertical-align: middle;" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                             }
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" id="tblImageA" runat="server">
                                        <tr>
                                            <td style="width: 50%;" align="center" id="tdImageA">
                                           
                                                <div id="imgAreaA">
                                                    <table cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: x-small;">
                                                        <tr>
                                                            <td style="border: solid 1px black;">
                                                                <span id="imageATitle">@ViewOffence_PrintRes.imageATitleText</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black;
                                                                border-left: solid 1px black;">
                                                                <div id="imageADiv" style="width: 385px; line-height: 244px; height: 244px; overflow: hidden;
                                                                    position: relative; text-align: center;">
                                                                    <img id="imageA" src="@Model.imageAUrl" style="vertical-align: middle;" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                           
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" id="tblImageB" runat="server">
                                        <tr>
                                            <td align="center" style="width: 50%;" id="tdImageB" runat="server">
                                            @if (Model.isShowImgAreaB)
                                            {
                                                <div id="imgAreaB" >
                                                    <table cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: x-small;">
                                                        <tr>
                                                            <td style="border: solid 1px black;">
                                                                <span id="imageBTitle">@ViewOffence_PrintRes.imageBTitleText</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black;
                                                                border-left: solid 1px black;">
                                                                <div id="imageBDiv" style="width: 385px; line-height: 244px; height: 244px; overflow: hidden;
                                                                    position: relative; text-align: center;">
                                                                    <img id="imageB" alt="" src="@Model.imageBUrl" style="vertical-align: middle;" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@Html.HiddenFor(model => model.imageAW)
@Html.HiddenFor(model => model.imageAH)
@Html.HiddenFor(model => model.imageBW)
@Html.HiddenFor(model => model.imageBH)
@Html.HiddenFor(model => model.imageRW)
@Html.HiddenFor(model => model.imageRH)
<script type="text/javascript">
    var imageAW = $("#imageAW").val();
    var imageAH = $("#imageAH").val();
    var imageBW = $("#imageBW").val();
    var imageBH = $("#imageBH").val();
    var imageRW = $("#imageRW").val();
    var imageRH = $("#imageRH").val();



    BestFit("imageA", imageAW, imageAH);
    BestFit("imageB", imageBW, imageBH);
    BestFit("regImage", imageRW, imageRH);

    function BestFit(imageID, imageW, imageH) {
        var image = document.getElementById(imageID);
        if (!image)
            return;

        //var XYRatio = image.width / image.height;
        var XYRatio = imageW / imageH;
        var div = image.parentNode;

        var DIV_WIDTH = div.clientWidth;
        var DIV_HEIGHT = div.clientHeight;

        if (DIV_HEIGHT * XYRatio > DIV_WIDTH) {
            image.width = DIV_WIDTH;
            image.height = DIV_WIDTH / XYRatio;
        }
        else {
            image.width = DIV_HEIGHT * XYRatio;
            image.height = DIV_HEIGHT;
        }

        image.style.left = Math.round((DIV_WIDTH - image.width) / 2);
        image.style.top = Math.round((DIV_HEIGHT - image.height) / 2);
    }
</script>
