﻿@model SIL.AARTO.Web.ViewModels.Enquiry.OffenceDetailModel
@using SIL.AARTO.Web.Resource.Enquiry;
@{
    ViewBag.Title = ViewOffenceDetailRes.lblPageNameText;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function Print() {
        window.print();
    }
    function Close() {
        window.close();
    } 
</script>
<table border="0" width="100%">
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td valign="top" width="100%" align="center">
            <div id="pnlNavigation" style="width: 100%">
                <table border="0" style="width: 100%; border: solid 1px black;" class="Normal">
                    <tr>
                        <td style="width: 10%; text-align: left">
                            @if (Model.Count > 1)
                            { @Html.ActionLink(ViewOffenceDetailRes.lnkPreviousText, "ViewOffenceDetail", new { searchField = Model.searchField, searchValue = Model.searchValue, Since = Model.Since, isPre = true }, new { @class = "MenuItem", id = "lnkPrevious" });
                            }
                            else
                            { @Html.ActionLink(ViewOffenceDetailRes.lnkPreviousText, null, null, new { @class = "MenuItem", id = "lnkPrevious", onclick = "return false;" });
                            }
                        </td>
                        <td style="width: 80%; text-align: center;">
                     <span id="lblNavigation" style="font-weight: bold">
                                @Model.Navigation
                            </span>
                            
                        </td>
                        <td style="width: 10%; text-align: right">
                            @if (Model.Count > 1)
                            { @Html.ActionLink(ViewOffenceDetailRes.lnkNextText, "ViewOffenceDetail", new { searchField = Model.searchField, searchValue = Model.searchValue, Since = Model.Since, isPre = false }, new { @class = "MenuItem", id = "lnkNext" });
                            }
                            else
                            { @Html.ActionLink(ViewOffenceDetailRes.lnkNextText, null, null, new { @class = "MenuItem", id = "lnkNext", onclick = "return false;" });
                            }
                        </td>
                    </tr>
                </table>

                    <table width="100%">
                        <tr>
                            <td width="10%">
                                &nbsp;
                                @Html.ActionLink(ViewOffenceDetailRes.hlPrintVersionText, "ViewOffence_Print", new { notice = Model.noticePara, autintno = Model.autintnoPara }, new { @class = "NormalButton", style = " color:White", id = "hlPrintVersion", target = "_blank" })
                              
                                </td>
                            <td width="80%" align="center">
                               <span class="ContentHead">@ViewOffenceDetailRes.lblPageNameText</span>
                                </td>
                            <td width="10%" align="right">
                             @*  @Html.ActionLink(ViewOffenceDetailRes.hlCloseText, ViewOffenceDetailRes.hlCloseText, new { href = "javascript:window.close();" }, new { @class = "NormalButton",style=" color:White", id = "hlClose" })*@
                               @Html.ActionLink(ViewOffenceDetailRes.hlCloseText, ViewOffenceDetailRes.hlCloseText, null, new { @class = "NormalButton", href = "javascript:Close()", style = " color:White", id = "hlClose" })
                            </td>
                        </tr>
                    </table>
            </div>
            <table width="100%">
                <tr>
                    <td width="100%" align="center">
                        <table width="100%" >
                            @*<tr>
                                <td align="center" colspan="6">
                                   
                                </td>
                            </tr>*@
                            <tr>
                                <td align="left" valign="top" style="width: 933px; height: 69px;">
                                    <table width="100%">
                                        <tr>
                                            <td style="width: 144px" valign="top">
                                                <span class="NormalBold" style="width: 107px">@ViewOffenceDetailRes.lblTicketNoText</span>
                                            </td>
                                            <td style="width: 146px" valign="top">
                                                <span class="Normal">@Model.TicketNo</span>
                                            </td>
                                            <td style="width: 180px" valign="top">
                                                <span class="NormalBold" style="width: 160px">@ViewOffenceDetailRes.lblFilmFrameNoText</span>
                                            </td>
                                            <td style="width: 154px" valign="top">
                                                <span class="Normal">@Model.FilmFrameNo</span>
                                            </td>
                                            <td valign="top" style="width: 154px">
                                                <span class="NormalBold" style="width: 137px; height: 19px;">@ViewOffenceDetailRes.lblRegistrationnoText</span>
                                            </td>
                                            <td valign="top">
                                                <span class="Normal">@Model.RegistrationNo</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="width: 144px; height: 21px;">
                                                <span class="NormalBold" style="width: 173px; width: 19px">@ViewOffenceDetailRes.lblOffenceDateText</span>
                                            </td>
                                            <td valign="top" style="width: 146px; height: 21px;">
                                                <span class="Normal">@Model.OffenceDate</span>
                                            </td>
                                            <td style="width: 180px; height: 21px;" valign="top">
                                                <span class="NormalBold" style="width: 131px">@ViewOffenceDetailRes.lblSpeedText</span>
                                            </td>
                                            <td style="width: 250px; height: 21px;" valign="top">
                                                <span class="Normal">@Model.Speed</span> <span class="Normal">@Model.Speed2</span>
                                            </td>
                                            <td valign="top" style="height: 21px">
                                            </td>
                                            <td valign="top" style="height: 21px">
                                            </td>
                                        </tr>
                                    </table>
                                    <span class="NormalBold" style="width: 173px; height: 19px;">@ViewOffenceDetailRes.lblOffencedescText</span>
                                    <span class="Normal">@Model.Offencedesc</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 933px" valign="top">
                                    <span class="NormalBold" style="width: 173px; height: 19px;">@ViewOffenceDetailRes.lblLocationText</span>
                                    <span class="Normal">@Model.Location</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    <table id="tblOwnerDetails" runat="server" width="100%">
                                        <tr>
                                            <td>
                                                <span class="NormalBold" style="width: 94px;">@ViewOffenceDetailRes.lblOwnerdetailsText</span>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <span class="NormalBold" style="width: 94px;">@ViewOffenceDetailRes.lblDriverdetailsText</span>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                             @if (Model.NotProxyFlag == "Y")
                                             {
                                                <span class="NormalBold" style="width: 202px;">@ViewOffenceDetailRes.lblProxyText</span>
                                             }
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="NormalBold" style="width: 46px;">@ViewOffenceDetailRes.lblNameText</span>
                                                <span class="Normal">@Model.OwnerName</span>
                                            </td>
                                            <td>
                                                <span class="NormalBold" style="width: 31px;">@ViewOffenceDetailRes.lblIDText</span>
                                                <span class="Normal">@Model.OwnerID</span>
                                            </td>
                                            <td>
                                                <span class="NormalBold" style="width: 45px;">@ViewOffenceDetailRes.lblNameText</span>
                                                <span class="Normal">@Model.DriverName</span>
                                            </td>
                                            <td>
                                                <span class="NormalBold" style="width: 26px;">@ViewOffenceDetailRes.lblIDText</span>
                                                <span class="Normal">@Model.DriverID</span>
                                            </td>
                                            <td>
                                             @if (Model.NotProxyFlag == "Y")
                                             {
                                                <span class="NormalBold" style="width: 56px;">@ViewOffenceDetailRes.lblNameText</span>
                                                <span class="Normal">@Model.ProxyName</span>
                                             }
                                            </td>
                                            <td>
                                            @if (Model.NotProxyFlag == "Y")
                                            {
                                                <span class="NormalBold" style="width: 31px;">@ViewOffenceDetailRes.lblIDText</span>
                                                <span class="Normal">@Model.ProxyID</span>
                                            }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="NormalBold" style="width: 122px">@ViewOffenceDetailRes.lblPostaladdressText</span>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <span class="Normal">@Model.OwnerPostAddr</span>
                                            </td>
                                            <td>
                                                <span class="NormalBold" style="width: 126px">@ViewOffenceDetailRes.lblPostaladdressText</span>
                                            </td>
                                            <td>
                                                <span class="Normal">@Model.DriverPostAddr</span>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="NormalBold" style="width: 122px;">@ViewOffenceDetailRes.lblStreetaddressText</span>&nbsp;
                                            </td>
                                            <td>
                                                <span class="Normal">@Model.OwnerStrAddr</span>
                                            </td>
                                            <td>
                                                <span class="NormalBold" style="width: 124px;">@ViewOffenceDetailRes.lblStreetaddressText</span>
                                            </td>
                                            <td>
                                                <span class="Normal">@Model.DriverStrAddr</span>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="NormalBold">
                                                <span>@ViewOffenceDetailRes.lblFineAmountText</span>
                                            </td>
                                            <td>
                                                <span class="Normal">@Model.FineAmount</span>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@{Html.RenderAction("ImagePartialView", new { showPreView = true, frameIntNo = Model.FrameIntNo, filmIntNo=Model.FilmIntNo });}
