﻿@model SIL.AARTO.Web.ViewModels.Enquiry.EnquiryModel
@using System.Configuration
@using SIL.AARTO.Web.Resource.Enquiry;
@using SIL.AARTO.Web.Helpers.Paginator;
@{
    ViewBag.Title = ViewHistoricalSummons_SearchRes.lblPageNameText;
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Enquiry/ViewHistoricalSummons_Search.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        border: 1px solid black;
    }
 .DisableTextBox2
{
    color: #C0C0C0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	height: 16px;
	cursor: default;
	
	border-style: solid;
	padding: 0px;
	/*padding-left: 0px;
	padding-right: 15px; */
	border: 1px;
	border-color: #C0C0C0;
	border-style: solid;
}
   
 .Panel1{}
</style>

<script type="text/javascript">
    $(function () {
        $("#btnClear").click(function () {
            document.location.href = "@Url.Action("ViewHistoricalSummons_Search", "Enquiry")?IsRedirect=1";
    });
    })

    $(document).ready(function () {
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $("#btnSearch").click();
            }
            //if (event.keyCode == 116) {
            var strcode = String.fromCharCode(event.keyCode);//2013-10-21 modify by Heido for fixed input 't' page refresh
            if (strcode == "t") {
                $("#btnClear").click();
                event.keyCode = 0;
                event.cancelBubble = true;
                return false;
            }

        });

    })

</script>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top" style="height: 49px">
            <p style="text-align: center">
                <span style="display: inline-block; width:400px; margin-left:150px;" class="ContentHead">@ViewHistoricalSummons_SearchRes.lblPageNameText</span>
                @Html.ActionLink(ViewHistoricalSummons_SearchRes.lblSwitchEnquiriesText,"EnquiryList", null, new { @class = "SubContentHead", style = "color:#6977B0;text-decoration:none;font-size:20px;" })
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="NormalButtonRed" type="button" value="@EnquiryManage.btnClose"
                    onclick="javascript:Close();" /></p>
        </td>
    </tr>
    <tr>
        <td valign="top" style="text-align: center; width: 100%">
            &nbsp;<br />
            <table width="100%">
                <tr align="center">
                    <td>
                        @using (Html.BeginForm("ViewHistoricalSummons_Search", "Enquiry", FormMethod.Get, new { id = "mainform" }))
                        {
                            <table style="width: 640px;">
                                <tr align="center">
                                    <td width="320px">
                                        <span class="NormalBold">@EnquiryManage.Tips</span>
                                    </td>
                                    <td align="right" width="320px">
                                        <input id="btnSearch" style="cursor: pointer;float:left"  name="btnSearch" onclick="submitAction(this,'Enquiry','ViewHistoricalSummons_Search')"  class="NormalButton" type="submit" value="@EnquiryManage.btnSearch"/>
                                         <input id="btnClear" name="btnClear" type="button" value="@EnquiryManage.btnClear" class="NormalButton" style="cursor: pointer; " />
                                        @Html.HiddenFor(model => model.searchField)
                                        <input type="hidden" id="searchValue" value="@Model.searchValue"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; width: 495px;">
                                        <span class="NormalRed">@Model.ErrorMsg</span>
                                    </td>
                                    <td align="right">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td style="height: 217px" colspan="2">
                                        <table style="vertical-align: top;">
                                            <tr style="height: 24px;">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.RegNo</span>
                                                </td>
                                                <td style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;float: left">
                                                        @Html.TextBoxFor(model => model.RegNo, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.IDNo</span>
                                                </td>
                                                <td style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;float: left">
                                                        @Html.TextBoxFor(model => model.IDNo, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.NoticeNo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.TicketNo, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.SumNo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.SummonsNO, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.CaseNo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.CaseNO, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.WOANo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.WOANO, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.Initials</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 230px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.Initials, new { @class = "Panel1 DisableTextBox2", style = "width:43px;", maxlength = "10" })
                                                        &nbsp;
                                                        @Html.TextBoxFor(model => model.Name, new { @class = "Panel1 DisableTextBox2", style = "width:158px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="width: 250px; text-align: left;">
                                                    <span class="NormalBold">@EnquiryManage.Since</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.Since, new { @class = "Normal", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td colspan="2" align="center">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @{ Html.RenderPartial("NoticeNoLookup", Model);
                                        }
                                    </td>
                                </tr>
                            </table>
                              @Html.HiddenFor(model => model.isShowResult)
                        @Html.HiddenFor(model => model.isShowBook)
                       @Html.HiddenFor(model => model.SelectSubmit)
                       @Html.HiddenFor(model => model.setControlFocus)
                       @Html.HiddenFor(model => model.SinceText) 
                        }
                        <table width="100%" id="table_result">
                            <tr align="center">
                                <td>
                                    @{
                                                  
                                        if (Model.NoticeList != null && Model.NoticeList.Count > 0)
                                        {

                                        <table class="listTable">
                                            <thead>
                                                <tr class="CartListHead">
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.NotTicketNo
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.NotOffenceDate
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.Registration
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.AutName
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.ChgOffenceCode
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.CSCode
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.CSDescr
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.ChgRevFineAmount
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.Offender
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@EnquiryManage.LetterTo
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.NoticeList.Count; i++)
                                                {
                                                    var noticeEntity = Model.NoticeList[i];
                                                    <tr class="CartListItem">
                                                        <td class="CartListItem">
                                                            @noticeEntity.NotTicketNo
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.NotOffenceDate
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.NotRegNo
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.AutName
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.ChgOffenceCode
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.CSCode
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.CSDescr
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.ChgRevFineAmount
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.Offender
                                                        </td>
                                                        <td class="CartListItem">
                                                            @noticeEntity.LetterTo
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr class="CartListHead footerStyle">
                                                    <td colspan="10" align="left">
                                                                  @{
                                                var htmlPager = Html.GridPager(new GridPagerProperties { PageKey = "page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });
                                                        }
                                                        @Html.Raw(htmlPager)
                                                     
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        }
                                    }
                                </td>
                            </tr>
                            @if (Model.NoticeList != null && Model.NoticeList.Count > 0)
                            {
                            <tr align="center">
                                <td>
                                    <input type="button" class="NormalButton" value="@ViewHistoricalSummons_SearchRes.btnReportText"  onclick="@string.Format("OpenViewHistoricalSummons_Report('{0}','{1}','{2}')", Model.searchField, Model.searchValue, Model.Since)"/>
                                </td>
                            </tr>
                            }
                        </table>
                       
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
