﻿@model SIL.AARTO.Web.ViewModels.AppConfig.AppConfigViewModel
                
@{
    ViewBag.Title = "Edit App Configurations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">Violation Loader Configuration Management</span>
            </p>
            <p align="center">
               
            </p>
        </td>
    </tr>
    <tr>
  <td align="center">
 @using (Html.BeginForm("Edit", "AppConfig"))
 {
    <table>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Copy Destination Path:</span>
            </td>
            <td colspan="2">
             
                @Html.EditorFor(model => model.CopyDestinationPath )
                @Html.ValidationMessageFor( model => model.CopyDestinationPath )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Make Back-up:</span>
            </td>
            <td id="makeBackupCheckbox">
                @Html.EditorFor( model => model.MakeBackup )
                @Html.ValidationMessageFor( model => model.MakeBackup )
            </td>
        </tr>
        <tr align="left" id="makeBackupPath">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Back-up Destination Path:</span>
            </td>
            <td>
                @Html.EditorFor(model => model.BackupDestinationPath)
                @Html.ValidationMessageFor(model => model.BackupDestinationPath)
            </td>
        </tr>




        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Log File Destination Path:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.LogFileDestination )
                @Html.ValidationMessageFor(model => model.LogFileDestination)
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Add E-mail Notification:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.SendEmailNotifications )
                @Html.ValidationMessageFor( model => model.SendEmailNotifications )
            </td>
        </tr>

        <tr align="left">
            <td></td>
            <td>
                <p></p>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Log File Level</span>
                <p></p>
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Info:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.Info )
                @Html.ValidationMessageFor( model => model.Info )
            </td>
        </tr>

        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Error:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.Error )
                @Html.ValidationMessageFor( model => model.Error )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Debug:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.Debug )
                @Html.ValidationMessageFor( model => model.Debug )
            </td>
        </tr>
        <tr align="left">
            <td>
            
            </td>
            <td>
                <P></P>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Settings </span>
                <p></p>
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Export Path:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpExportPath )
                @Html.ValidationMessageFor( model => model.ftpExportPath )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Export Server:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpExportServer )
                @Html.ValidationMessageFor( model => model.ftpExportServer )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Host Pass:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpHostPass )
                @Html.ValidationMessageFor( model => model.ftpHostPass )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Host Path:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpHostPath )
                @Html.ValidationMessageFor( model => model.ftpHostPath )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Host Server:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpHostServer )
                @Html.ValidationMessageFor( model => model.ftpHostServer )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Host User:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpHostUser )
                @Html.ValidationMessageFor( model => model.ftpHostUser )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Process:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpProcess )
                @Html.ValidationMessageFor( model => model.ftpProcess )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Ftp Received Path:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.ftpReceivedPath )
                @Html.ValidationMessageFor( model => model.ftpReceivedPath )
            </td>
        </tr>


        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Image Folder:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.imageFolder )
                @Html.ValidationMessageFor( model => model.imageFolder )
            </td>
        </tr>

        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Mode:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.mode )
                @Html.ValidationMessageFor( model => model.mode )
            </td>
        </tr>

        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Port:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.Port )
                @Html.ValidationMessageFor( model => model.Port )
            </td>
        </tr>
        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">From:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.From )
                @Html.ValidationMessageFor( model => model.From )
            </td>
        </tr>

        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">SMTP:</span>
            </td>
            <td>
                @Html.EditorFor( model => model.smtp )
                @Html.ValidationMessageFor( model => model.smtp )
            </td>
        </tr>

        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">SMTP User:</span>
            </td>
            <td>
                @Html.EditorFor(model => model.SmtpUser)
                @Html.ValidationMessageFor(model => model.SmtpUser)
            </td>
        </tr>



        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">SMTP Password:</span>
            </td>
            <td>
                @Html.EditorFor(model => model.SmtpPassword)
                @Html.ValidationMessageFor(model => model.SmtpPassword)
            </td>
        </tr>


        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">Log Recipeint:</span>
            </td>
            <td>
                @Html.EditorFor(model => model.NotificationRecipient)
                @Html.ValidationMessageFor(model => model.NotificationRecipient)
            </td>
        </tr>



        <tr>
            <td>

            </td>
            <td>
                <p>
                    <input type="submit" value="Apply" />
                </p>
            </td>
            <td>

           

            </td>
        <td></td>
        </tr>
    </table>
  
        }
 
</table>

<script type="text/javascript">


    function onBackupOptionChanged() {
        if ($("#makeBackupCheckbox input:checkbox").get(0).checked) {
            $("#makeBackupPath input:text").removeAttr("disabled", "disabled");
        }
        else {
            $("#makeBackupPath input:text").attr("disabled", "disabled"); 
        }
    }

    $(document).ready(function () {
        onBackupOptionChanged();
        $("#makeBackupCheckbox input:checkbox").on("click", onBackupOptionChanged);
    });

   
</script>
    
    
    
    
    
    
    
  