﻿@model SIL.AARTO.Web.ViewModels.PostalManagement.NoticePostModelList
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource.PostalManagement;
@{
    ViewBag.Title = "NoticePost";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    $(function () {

        $("#BeginDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $(".input_ActualPostDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, maxDate: new Date() });

        $(".input_ActualPostDate").datepicker('setDate', new Date());//getMonth()+


        $("#rdoFirstNotice").click(function () {
            if ($(this).is(":checked")) {
                $("#ddlPrintNamePrefix1").show();
                $("#ddlPrintNamePrefix2").hide();
            }
        });

        $("#rdoSecondNotice").click(function () {
            if ($(this).is(":checked")) {
                $("#ddlPrintNamePrefix1").hide();
                $("#ddlPrintNamePrefix2").show();
            }
        });


        String.prototype.getQuery = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("/?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var strHref = location.href;
        var NoticeType = strHref.getQuery("NoticeType");
        var PrintNamePrefix = strHref.getQuery("PrintNamePrefix");
        var beginDate = strHref.getQuery("BeginDate");
        var endDate = strHref.getQuery("EndDate");
        var printFileName = strHref.getQuery("PrintFileName");
        printFileName = printFileName == null ? "" : unescape(printFileName);

        if (beginDate != "") {
            $("#BeginDate").val(beginDate);
        }
        if (beginDate == undefined) {
            $("#BeginDate").datepicker('setDate', new Date(new Date() - (86400000 * 30)));
        }
        if (endDate != "") {
            $("#EndDate").val(endDate);
        }
        if (endDate == undefined) {
            $("#EndDate").datepicker('setDate', new Date());
        }

        if (NoticeType == "1ST") {
            $("#rdoFirstNotice").attr("checked", true);
            $("#ddlPrintNamePrefix1").show();
            $("#ddlPrintNamePrefix2").hide();
            $("#ddlPrintNamePrefix1").val(PrintNamePrefix);

        }
        if (NoticeType == "2ND") {
            $("#rdoSecondNotice").attr("checked", true);
            $("#ddlPrintNamePrefix1").hide();
            $("#ddlPrintNamePrefix2").show();
            $("#ddlPrintNamePrefix2").val(PrintNamePrefix);
        }

        $("#txtPrintFileName").val(printFileName);
    });

    function SetPostageStatus(obj) {

        var printname = $(obj).parent().prev().prev().prev().prev().prev().text();
        var isFirst = $.trim($(obj).parent().prev().prev().prev().prev().prev().prev().text());

        var sActualDate = $(obj).parent().prev().children(":first").val();
        var sPrintDate = $(obj).parent().prev().prev().prev().text();

        var actualDate = new Date(sActualDate.replace("-", "/").replace("-", "/"));
        var printDate = new Date(sPrintDate.replace("-", "/").replace("-", "/"));

        var noticeType = "1ST";
        var printNamePrefix = "";
        if ($("#rdoFirstNotice").is(":checked")) {
            printNamePrefix = $("#ddlPrintNamePrefix1").val();
            noticeType = "1ST";
        }
        else {
            printNamePrefix = $("#ddlPrintNamePrefix2").val();
            noticeType = "2ND";
        }
        var sBeginDate = $("#BeginDate").val();
        var sEndDate = $("#EndDate").val();

        if (sBeginDate != "" && sEndDate != "") {
            var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
            var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
            if (beginDate > endDate) {
                alert("@NoticePostRes.lblErrorText12");
                return false;
            }
        }

        var confirmMessage = "@NoticePostRes.ConfirmMessage";

        $.ajax({
            url: "@Url.Action("CheckDate")",
            data: { printFileName: printname, firstPostOrder: isFirst,printDate: sPrintDate, actualDate: sActualDate},
            type: "POST",
            async:false,
            success: function (data) {
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login", "Account")";
                        } else if (data.result == -3) {
                            $("#lblError").html(data.errorlist.errorTip);
                            return false;
                        } else if (data.result == -4 || data.result == 1) {

                            if (data.result == -4)
                            {
                                confirmMessage = "You have entered a Posted date of " + sActualDate + " – please confirm that this date is correct.";//"@NoticePostRes.lblErrorText17";
                            }
                            if ($(obj).attr("href") == undefined)
                            { }
                            else
                            {
                                if (confirm(confirmMessage)) {

                                    $(obj).hide();
                                    $(obj).next().show();
                                    $(".aSet").removeAttr("href");

                                   @* if (actualDate < printDate) {
                                    alert("@NoticePostRes.lblErrorText2");
                                    $(obj).show();
                                    $(obj).next().hide();
                                    $(".aSet").attr("href", "javascript:void(0)");
                                    return false;
                                  }*@

                              $.ajax({
                                url: "@Url.Action("SetPostageStatus")",
                                data: { printFileName: printname, firstPostOrder: isFirst, printDate: sPrintDate, actualDate: sActualDate, NoticeType: noticeType, PrintNamePrefix: printNamePrefix, BeginDate: $("#BeginDate").val(), EndDate: $("#EndDate").val(), queryPrintFileName: escape($("#txtPrintFileName").val()) },
                                type: "POST",
                                async: false,
                                success: function (data) {
                                    if (data.result == -2) {
                                        window.top.location = "@Url.Action("login", "Account")";
                                        $(obj).show();
                                        $(obj).next().hide();
                                        $(".aSet").attr("href", "javascript:void(0)");
                                    } else if (data.result == -3) {
                                        $("#lblError").html(data.errorlist.errorTip);
                                        $(obj).show();
                                        $(obj).next().hide();
                                        $(".aSet").attr("href", "javascript:void(0)");
                                    }
                                    else if (data.result == 1) {
                                        var params = $.param({
                                            page: data.pageIndex.currpageIndex,
                                            NoticeType: noticeType,
                                            PrintNamePrefix: printNamePrefix,
                                            BeginDate: $("#BeginDate").val(),
                                            EndDate: $("#EndDate").val(),
                                            PrintFileName: escape($("#txtPrintFileName").val())
                                        });
                                        window.location = "@Url.Action("NoticePost")?" + params;
                                    }
                                    else if (data.result == -1) {
                                        $("#lblError").html(data.errorlist.errorTip);
                                        $(obj).show();
                                        $(obj).next().hide();
                                        $(".aSet").attr("href", "javascript:void(0)");
                                    }
                                }
                            });
                         }
                      }

            }
          }
        });
       
}

function OperSearch() {
    var noticeType = "1ST";
    var printNamePrefix = "";
    if ($("#rdoFirstNotice").is(":checked")) {
        printNamePrefix = $("#ddlPrintNamePrefix1").val();
        noticeType = "1ST";
    }
    else {
        printNamePrefix = $("#ddlPrintNamePrefix2").val();
        noticeType = "2ND";
    }
    var sBeginDate = $("#BeginDate").val();
    var sEndDate = $("#EndDate").val();

    if (sBeginDate != "" && sEndDate != "") {
        var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
        var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
        if (beginDate > endDate) {
            alert("@NoticePostRes.lblErrorText12");
            return false;
        }
    }
    var params = $.param({
        page: 0,
        NoticeType: noticeType,
        PrintNamePrefix: printNamePrefix,
        BeginDate: $("#BeginDate").val(),
        EndDate: $("#EndDate").val(),
        PrintFileName: escape($("#txtPrintFileName").val())
    });
    window.location = "@Url.Action("NoticePost")?" + params;
    }

</script>

<div style="width: 900px; margin-left: auto;margin-right:auto">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@NoticePostRes.lblPageName</span>
        </p>
    </div>
    <div style="text-align: center;">
        <table align="center">
            <tr style="height:30px;">
                <td align="left" style="min-width:800px">
                    @Html.RadioButton("rdoNotice", "1ST", true, new { id = "rdoFirstNotice" })@NoticePostRes.lblFirstNotice
                    @Html.RadioButton("rdoNotice", "2ND", false, new { id = "rdoSecondNotice" })@NoticePostRes.lblSecondNotice
                    &nbsp; @NoticePostRes.PrintFileNamePrefix: @Html.DropDownList("SelectPrintNamePrefix1List", Model.PrintNamePrefixs1, new { id = "ddlPrintNamePrefix1", @class = "Normal", style = "width:70px" })
                    @Html.DropDownList("SelectPrintNamePrefix2List", Model.PrintNamePrefixs2, new { id = "ddlPrintNamePrefix2", @class = "Normal", style = "display:none;width:70px" })
                    &nbsp;@NoticePostRes.PrintFileName  &nbsp;@Html.TextBox("PrintFileName", null, new { id = "txtPrintFileName", @class = "Normal", style = "width:200px;", maxlength = 50 })
                </td>
            </tr>
            <tr>
                <td align="left">
                    &nbsp;&nbsp;&nbsp;@NoticePostRes.NoticePrintDate: From @Html.TextBox("BeginDate", null, new { @class = "Normal", style = "width:100px;",Readonly="readonly" })
                    To @Html.TextBox("EndDate", null, new { @class = "Normal", style = "width:100px;",Readonly="readonly" })
                    &nbsp;<input style="width: 80px; cursor: pointer" type="button" class="NormalButton"
                        id="btnSearch" onclick="OperSearch()" value="@NoticePostRes.lblSearch" name="btnSearch" />
                </td>
            </tr>
            <tr>
                <td align="left" style="padding-top:10px;">
                     <span id="lblError" style="color: Red; font-weight: bold; text-align:left;padding-left:7px">@Model.ErrorMsg </span>
                </td>
            </tr>
       <tr>
           <td align="left">
            @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
            @{WebGrid grid = new WebGrid(Model.NoticePostModels, canPage: false);}
            @(Model.NoticePostModels != null && Model.NoticePostModels.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
                            grid.Column("IsFirst", NoticePostRes.lblNoticeType, canSort: false, style: "CartListItem"),
                            grid.Column("PrintFileName", NoticePostRes.lblPrintFileName, canSort: false, style: "CartListItem"),
                                    grid.Column("NumberOfNotices", NoticePostRes.lblNumberofNotices, canSort: false, style: "CartListItem"),
                                                                    grid.Column("PrintDate", NoticePostRes.lblPrintDate, format: (item) =>
                 {
                     string PrintDate = item.PrintDate;
                     if (PrintDate != "")
                     {
                         return Convert.ToDateTime(PrintDate).ToString("yyyy-MM-dd");
                     }
                     else
                     {
                         return "";
                     }
                     return "";
                 }, canSort: false, style: "CartListItem"),
                                                                    grid.Column("FirstPostedDate", NoticePostRes.lblFirstNoticePosted, format: (item) =>
                 {
                     string FirstPostedDate = item.FirstPostedDate;
                     if (FirstPostedDate != "")
                     {
                         return Convert.ToDateTime(FirstPostedDate).ToString("yyyy-MM-dd");
                     }
                     else
                     {
                         return "";
                     }
                     return "";
                 }, canSort: false, style: "CartListItem"),
                         grid.Column("PrintFileName", NoticePostRes.lblActualPostDate, format: (item) =>
                 {
                     return Html.Raw("<input type='text' class='input_ActualPostDate' style='width:100px' readonly='readonly' ");
                 }, canSort: false, style: "CartListItem"),
                 grid.Column("PrintFileName", "", format: (item) =>
                 {
                     string FirstPostedDate = item.FirstPostedDate;
                     string IsFirst = item.IsFirst;
                     if (FirstPostedDate != "")
                     {
                         if (IsFirst == "1st" || IsFirst == "1stNewOffender" || IsFirst == "1stReg" || IsFirst == "NAG")
                         {
                             return Html.Raw("<a  class='aSet' style='color:Gray;cursor:text;width:100px;' href='javascript:void(0)' >" + NoticePostRes.lblUpdatePostageStatus + "</a><div style='display:none;width:100px;'>Processing...</div>");
                         }
                         else
                         {
                             return Html.Raw("<a class='aSet'  style='color:#6977B0;width:100px;' href='javascript:void(0)' onclick='SetPostageStatus(this)'>" + NoticePostRes.lblUpdatePostageStatus + "</a><div style='display:none;width:100px;'>Processing...</div>");
                         }
                     }
                     else
                     {
                         return Html.Raw("<a class='aSet'  style='color:#6977B0;width:100px;' href='javascript:void(0)' onclick='SetPostageStatus(this)'>" + NoticePostRes.lblUpdatePostageStatus + "</a><div style='display:none;width:100px;'>Processing...</div>");
                     }

                 }, canSort: false, style: "CartListItem")
   )
   )
        : null)
      </td></tr> </table>
    </div>
</div>
