﻿@model SIL.AARTO.Web.ViewModels.PostalManagement.PrintFileModelList
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource.PostalManagement;
@{
    ViewBag.Title = "RevertWholePrintFile";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {

        $("#BeginDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });

        String.prototype.getQuery = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("/?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var strHref = location.href;
        var beginDate = strHref.getQuery("BeginDate");
        var endDate = strHref.getQuery("EndDate");
        var printFileName = strHref.getQuery("PrintFileName");
        printFileName = printFileName == null ? "" : unescape(printFileName);

        //var autIntno = strHref.getQuery("AutIntNo");
        //var documentType = strHref.getQuery("DocumentType");

        if (beginDate != "") {
            $("#BeginDate").val(beginDate);
        }
        if (beginDate == undefined) {
            $("#BeginDate").datepicker('setDate', new Date(new Date() - (86400000 * 30)));
        }
        if (endDate != "") {
            $("#EndDate").val(endDate);
        }
        if (endDate == undefined) {
            $("#EndDate").datepicker('setDate', new Date());
        }

        $("#txtPrintFileName").val(printFileName);
      
        
       
    })

    function SetRevertWholePrintFile(obj) {

        var printname = $(obj).parent().prev().prev().prev().text();
      
        var sBeginDate = $("#BeginDate").val();
        var sEndDate = $("#EndDate").val();

        if (sBeginDate != "" && sEndDate != "") {
            var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
            var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
            if (beginDate > endDate) {
                alert("@NoticePostRes.lblErrorText12");
                return false;
            }
        }

        var autIntNo = $("#ddlSelectLA").val();
        if (autIntNo == "")
        {
            alert("@NoticePostRes.lblPleaseSelectAuthority");
            return false;
        }

        var documentType = $("#ddlSelectDT").val();

        var confirmMessage = "@NoticePostRes.RevertFileConfirmMessage";

        if (confirm(confirmMessage)) {

            $(obj).hide();
            $(obj).next().show();
            $(".aSet").removeAttr("href");

             $.ajax({
                 url: "@Url.Action("SetRevertWholePrintFile")",
                 data: { printFileName: printname, AutIntNo: autIntNo, DocumentType: documentType, BeginDate: $("#BeginDate").val(), EndDate: $("#EndDate").val(), queryPrintFileName: escape($("#txtPrintFileName").val()) },
                        type: "POST",
                        async: false,
                        success: function (data) {
                            if (data.result == -2) {
                                window.top.location = "@Url.Action("login", "Account")";
                            $(obj).show();
                            $(obj).next().hide();
                            $(".aSet").attr("href", "javascript:void(0)");
                        } else if (data.result == -3) {
                            $("#lblError").html(data.errorlist.errorTip);
                            $(obj).show();
                            $(obj).next().hide();
                            $(".aSet").attr("href", "javascript:void(0)");
                        }
                        else if (data.result == 1) {
                            var params = $.param({
                                page: data.pageIndex.currpageIndex,
                                AutIntNo: autIntNo,
                                DocumentType: documentType,
                                BeginDate: $("#BeginDate").val(),
                                EndDate: $("#EndDate").val(),
                                PrintFileName: escape($("#txtPrintFileName").val())
                            });
                            window.location = "@Url.Action("RevertWholePrintFile")?" + params;
                    }
                    else if (data.result == -1) {
                        $("#lblError").html(data.errorlist.errorTip);
                        $(obj).show();
                        $(obj).next().hide();
                        $(".aSet").attr("href", "javascript:void(0)");
                    }
                }

             });
          }

  

    }

    function BatchProcessingRevertPrintFile() {
        
        var autIntNo = $("#ddlSelectLA").val();
        if (autIntNo == "") {
            alert("@NoticePostRes.lblPleaseSelectAuthority");
            return false;
        }

        var documentType = $("#ddlSelectDT").val();

        var checkedLen = $("input[name='cbx_PrintFileName']:checked").length;
        if (checkedLen == 0) {
            alert("Please select at least one Print File Name");
            return;
        }

        var confirmMessage = "@NoticePostRes.BatchProcessingConfirmMessage";

        if (confirm(confirmMessage)) {

            var arra = new Array();
            var i = 0;
            $("input[name='cbx_PrintFileName']:checked").each(function (index, item) {
                arra[i++] = $(item).parent().next().text();
            });

            var pfList = arra.join(',');

            ShowProcessingDiv();

            $.ajax({
                url: "@Url.Action("BatchProcessingRevertPrintFile")",
                data: { AutIntNo: autIntNo, DocumentType: documentType, BeginDate: $("#BeginDate").val(), EndDate: $("#EndDate").val(), queryPrintFileName: escape($("#txtPrintFileName").val()), PrintFileNameStr: pfList },
                 type: "POST",
                 async: false,
                 success: function (data) {
                     if (data.result == -2) {
                         HideProcessingDiv();
                         window.top.location = "@Url.Action("login", "Account")";
                            } 
                     else if (data.result == 1) {
                         HideProcessingDiv();
                                var params = $.param({
                                    page: data.pageIndex.currpageIndex,
                                    AutIntNo: autIntNo,
                                    DocumentType: documentType,
                                    BeginDate: $("#BeginDate").val(),
                                    EndDate: $("#EndDate").val(),
                                    PrintFileName: escape($("#txtPrintFileName").val())
                                });
                                window.location = "@Url.Action("RevertWholePrintFile")?" + params;
                        }
                     else if (data.result == -1) {
                         HideProcessingDiv();
                            $("#lblError").html(data.errorlist.errorTip);
                        }
                    }

            });

            HideProcessingDiv();
    }

   }

    function OperSearch() {

        var autIntNo = $("#ddlSelectLA").val();
        if (autIntNo == "") {
            alert("@NoticePostRes.lblPleaseSelectAuthority");
            return false;
        }
       
        var sBeginDate = $("#BeginDate").val();
        var sEndDate = $("#EndDate").val();

        if (sBeginDate != "" && sEndDate != "") {
            var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
            var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
            if (beginDate > endDate) {
                alert("@NoticePostRes.lblErrorText12");
            return false;
        }
    }
    var params = $.param({
        page: 0,
        autIntNo: autIntNo,
        DocumentType: $("#ddlSelectDT").val(),
        BeginDate: $("#BeginDate").val(),
        EndDate: $("#EndDate").val(),
        PrintFileName: escape($("#txtPrintFileName").val())
    });
    window.location = "@Url.Action("RevertWholePrintFile")?" + params;
    }

    function ShowProcessingDiv()
    {
        $("#div_processing").show();
    }
    function HideProcessingDiv() {
        $("#div_processing").hide();
    }

</script>

<div style="width: 900px; margin-left: auto;margin-right:auto">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@NoticePostRes.lblPageName_RevertWholePrintfile</span>
        </p>
    </div>
    <div style="text-align: center;">
        <table align="center">
            <tr style="height:30px;">
                <td align="left" style="min-width:800px">
                 <span class="NormalRed">
                     @NoticePostRes.lblAccessTipMessage</span>
                </td>
            </tr>
            <tr>
                <td align="left">
                   @NoticePostRes.lblChangeLocalAuthority @Html.DropDownListFor(m => m.AutIntNo, Model.AuthorityList, NoticePostRes.PleaseSelectAuthority, new { id = "ddlSelectLA", style = "width: 150px;" })
                    &nbsp;@NoticePostRes.PrintFileNamePrefix: @Html.DropDownListFor(m => m.DocumentType, Model.DocumentTypeList,new { id = "ddlSelectDT", style = "width: 60px;" })
                    &nbsp;@NoticePostRes.PrintFileName  &nbsp;@Html.TextBox("PrintFileName", null, new { id = "txtPrintFileName", @class = "Normal", style = "width:200px;", maxlength = 50 })
                </td>
            </tr>
            <tr>
                <td align="left" style="padding-top:6px;">
                    @NoticePostRes.OriginalNoticePrintDate: From @Html.TextBox("BeginDate", null, new { @class = "Normal", style = "width:100px;" ,Readonly="readonly" })
                    To @Html.TextBox("EndDate", null, new { @class = "Normal", style = "width:100px;" ,Readonly="readonly" })
                    &nbsp;<input style="width: 80px; cursor: pointer" type="button" class="NormalButton"
                        id="btnSearch" onclick="OperSearch()" value="@NoticePostRes.lblSearch" name="btnSearch" />
                    &nbsp;<input style="width: 120px; cursor: pointer" type="button" class="NormalButton"
                        id="btnBatchProcessing" onclick="BatchProcessingRevertPrintFile()" value="@NoticePostRes.lblBatchProcessing" name="btnBatchProcessing" />
                </td>
            </tr>
            <tr>
                <td align="left" style="padding-top:10px;">
                     <span id="lblError" style="color: Red; font-weight: bold; text-align:left;padding-left:7px">@Model.ErrorMsg </span>
                </td>
            </tr>
            <tr>
             <td align="left">
           
            @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
            @{WebGrid grid = new WebGrid(Model.PrintFileModels, canPage: false);}
            @(Model.PrintFileModels != null && Model.PrintFileModels.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
                     grid.Column("PrintFileName", "", format: (item) =>
                     {
                         return Html.Raw("<input type='checkbox' name='cbx_PrintFileName' id='cbx_PrintFileName' />");
                     }, canSort: false, style: "CartListItem"),
                      
                      grid.Column("PrintFileName", NoticePostRes.lblPrintFileName, canSort: false, style: "CartListItem"),
                      grid.Column("NumberOfNotices", NoticePostRes.lblNumberofNotices, canSort: false, style: "CartListItem"),
                      grid.Column("PrintDate", NoticePostRes.lblOriginalPrintDate, format: (item) =>
                      {
                            string PrintDate = item.PrintDate;
                            if (PrintDate != "")
                            {
                                return Convert.ToDateTime(PrintDate).ToString("yyyy-MM-dd");
                            }
                            else
                            {
                                return "";
                            }
                            return "";
                     }, canSort: false, style: "CartListItem"),
                     grid.Column("PrintFileName", "", format: (item) =>
                     {

                         return Html.Raw("<a class='aSet'  style='color:#6977B0;width:100px;' href='javascript:void(0)' onclick='SetRevertWholePrintFile(this)'>" + NoticePostRes.lblRevertWholePrintfile + "</a><div style='display:none;width:100px;'>Processing...</div>");
                    

                     }, canSort: false, style: "CartListItem")
                     
   )
   )
        : null)

             </td></tr> 
               <tr>
                   <td>
                       <div id="div_processing" style="text-align:center; vertical-align:middle; margin: auto;display:none"><h3><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")"/>&nbsp;Processing...</h3></div>
                   </td>
               </tr> 

           </table> 
    </div>
</div>

