﻿@{
    ViewBag.Title = "Driver Input";
}
<script src="@Url.Content("~/Scripts/DriverInput/DriverInput.js")" type="text/javascript"></script>
<span class="ContentHead">Driver Input</span>
<div>
    @using (Html.BeginForm("Upload", "DriverInput", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="validation-summary-errors" style="width: 500px">
            @Html.Raw(ViewBag.Error)
        </div>
        <div class="editor-label">
            Affidavit file
        </div>
        <div class="editor-label">
            <input id="fileAffidavit" name="fileAffidavit" type="file" />
        </div>
        <div class="editor-label">
            XML file
        </div>
        <div class="editor-label">
            <input id="fileXml" name="fileXml" type="file" />
        </div>
        <p>
            <input id="btnUpload" name="btnUpload" type="submit" value="Upload" class="NormalButton" />
        </p>
    }
</div>
