﻿@model SIL.AARTO.Web.DAL.WithdrawlReason
@using SIL.AARTO.Web.Resource.Representation

@{
    ViewBag.Title = "EditRWRD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function Save() {
        $("#btnSave").click(function () {

            var Description = $("#descrtxtArea").val();
            var ReasonName = $("#reasonNametxt").val();
            $.ajax({
                url: "/RepresentationWithDrawlDecision/Create",
                data: {
                    'Description': Description,
                    'Name': ReasonName
                },
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    if (data.Status == false)
                        alert(data.Text);
                },
                error: function () {
                    //alert("error");
                }
            });
        });
    }
</script>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m => m.RWRIntNo);
    
    
<table cellspacing="0" cellpadding="0" width="100%" border="0" height="5%">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@RepresentationResx.EditRWReasonHeader</span>
            </p>
            <p align="center">

            </p>
        </td>
    </tr>
</table>

    
    <table cellspacing="0" cellpadding="4" align="center">


        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">@RepresentationResx.WithdrawalReason:</span>

            </td>
            <td>

                @Html.EditorFor( model => model.RWRName )
                @Html.ValidationMessageFor( model => model.RWRName )

            </td>
        </tr>

        <tr align="left">
            <td>
                <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">@RepresentationResx.WithdrawalDescrption:</span>
            </td>
            <td>


                @Html.TextAreaFor( model => model.RWRDescription )
                @Html.ValidationMessageFor( model => model.RWRDescription )


            </td>
        </tr>

        <tr align="left">
            <td></td>
            <td>
                <input type="submit" value=" Save" >

            </td>
        </tr>

    </table>

}

