﻿@model IEnumerable<SIL.AARTO.Web.ViewModels.Representation.RepWithdrawlDecisionReasonViewModel>
@using SIL.AARTO.Web.Resource.Representation


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function Save() {

        var Description = $("#descrtxtArea").val();
        var ReasonName = $("#reasonNametxt").val();
        $.ajax({
            url: "/RepresentationWithDrawlDecision/Create",
            data: {
                'Description': Description,
                'Name': ReasonName
            },
            dataType: "json",
            type: 'POST',
            success: function (data) {
                if (data.Status == false)
                    $("#inlineErrorMessage").html(data.Text);
                else
                    document.location = document.location;
            },
            error: function () {
                //alert("error");
            }
        });

    }
</script>

<table cellspacing="0" cellpadding="0" width="100%" border="0" height="5%">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@RepresentationResx.RWDReasonHeader</span>
            </p>

            <p align="center">
   
            <span class="NormalRed" id="inlineErrorMessage"></span>
      
        </p>
        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="4" rules="cols" border="1" id="dgRep" align="center" style="border-color:Black;font-size:8pt;width:495px;border-collapse:collapse;">
    <tr class="CartListHead">


        <td>@RepresentationResx.No</td>


        <td>@RepresentationResx.RWDName</td>

        <td>@RepresentationResx.WithdrawalDescrption</td>
        <td>  </td>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="CartListItem">
                @Html.DisplayFor( modelItem => item.RWRIntNo )
            </td>
            <td class="CartListItem">
                @Html.DisplayFor( modelItem => item.RWRName )
            </td>
            <td class="CartListItem">
                @Html.DisplayFor( modelItem => item.RWRDescription )
            </td>

            <td class="CartListItem">
                @Html.ActionLink( "Edit", "Edit", new { @id = item.RWRIntNo } ) |

                @Html.ActionLink( "Delete", "Delete", new { @id = item.RWRIntNo } )
            </td>
        </tr>
    }

</table>

<table cellspacing="0" cellpadding="4" align="center"></table>


<table cellspacing="0" cellpadding="4" align="center">


    <tr align="left">
        <td>
            <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">@RepresentationResx.WithdrawalReason:</span>

        </td>
        <td style="width: 160px; height: 66px;">

            <input type="text" name="lname" id="reasonNametxt">

        </td>
    </tr>

    <tr align="left">
        <td>
            <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">@RepresentationResx.WithdrawalDescrption:</span>
        </td>
        <td style="width: 160px; height: 66px;">


            <textarea name="comment" form="usrform" id="descrtxtArea" rows="6"></textarea>


        </td>
    </tr>

    <tr align="left">
        <td></td>
        <td>
            <input type="submit" value=" Save" id="btnSave" class="NormalButton" onclick="return Save()">
            <input type="submit" value=" Cancel" class="NormalButton" id="btnCancel">

        </td>
    </tr>

</table>
