﻿@using System.Configuration
@using SIL.AARTO.Web.Helpers.Paginator
@using SIL.AARTO.Web.Resource.CourtManagement
@model SIL.AARTO.Web.ViewModels.CourtManagement.CourtManagementModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 895px;
        border: 1px solid black;
        text-align: left;
    }

    .footer {
        text-align: right;
    }

    .header {
        text-align: left;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            location.href = _ROOTPATH + "/CourtManagement/CourtMagistrateList?SearchCourt=" + $("#SearchCourt").val();
        });

        $("#InfoTable").hide();

        $("#btnAdd").click(function () {
            $("#InfoTable").show();

            $("#CoMaIntNo").val("");
            $("#CrtIntNo").val("");
            $("#MagistrateName").val("");

        });
    });

    function GetCourtMagistrate(CoMaIntNo) {
        $("#InfoTable").show();
        $.post(_ROOTPATH + "/CourtManagement/GetCourtMagistrate", { CoMaIntNo: CoMaIntNo }, function (data) {
            $("#CoMaIntNo").val(data.CoMaIntNo);
            $("#CrtIntNo").val(data.CrtIntNo);
            $("#MagistrateName").val(data.MagistrateName);
        }, "json");
    }

    function CourtMagistrateDelete(CoMaIntNo) {
        $.post(_ROOTPATH + "/CourtManagement/CourtMagistrateDelete", { CoMaIntNo: CoMaIntNo }, function (data) {
            location.href = _ROOTPATH + "/CourtManagement/CourtMagistrateList";
        }, "json");
    }
</script>

<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@CourtManage_cshtml.Title</span>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center">

            <table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td>
                        <p align="left">
                            <span class="NormalRed" id="lblError" name="lblError">@Model.ErrorMsg</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span style="display: inline-block; width: 100px;" class="NormalBold">@CourtManage_cshtml.Court</span>
                        @Html.DropDownListFor(m => m.SearchCourt, Model.SearchCourtList, new { @class = "Normal", style = "width:200px;" })
                        <input type="button" id="btnSearch" style="width:80px;" value="@CourtManage_cshtml.Search" class="NormalButton" />
                        <input type="button" id="btnAdd" style="width:80px;" value="@CourtManage_cshtml.Add" class="NormalButton" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @{WebGrid grid = new WebGrid(Model.CourtMagistrateList, canPage: false);}
                        @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "SearchCourt=" + Model.SearchCourt });}
                        @(Model.CourtMagistrateList.Count > 0 ? grid.Table(
                                headerStyle: "CartListHead header", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                                footerStyle: "CartListHead footer",
                                footer: footer => Html.Raw(strPage),
                                columns: grid.Columns(
                                    grid.Column("CourtName", CourtManage_cshtml.CourtName, canSort: false, style: "CartListItem"),
                                    grid.Column("CourtNo", CourtManage_cshtml.CourtNo, canSort: false, style: "CartListItem"),
                                    grid.Column("MagistrateName", CourtManage_cshtml.MagistrateName, canSort: false, style: "CartListItem"),
                                    grid.Column(
                                        format: item => Html.ActionLink(CourtManage_cshtml.Edit, "Edit", null, new { onclick = string.Format("GetCourtMagistrate({0})", item.CoMaIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_50"
                                    ),
                                    grid.Column(
                                        format: item => Html.ActionLink(CourtManage_cshtml.Delete, "Delete", null, new { onclick = string.Format("if(confirm('{0}')) CourtMagistrateDelete({1})", CourtManage_cshtml.DeleteConfirm, item.CoMaIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_50")), htmlAttributes: new { cellpadding = 3, style = "margin-top:10px;" }
                                    )
                                : null)
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td align="center">
            @using (Html.BeginForm("SaveCourtMagistrate", "CourtManagement"))
            {
                <table width="895" cellspacing="1" cellpadding="1" border="0" id="InfoTable">
                    <tr>
                        <td width="150" height="15"></td>
                        <td height="15"></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@CourtManage_cshtml.Court:</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.CrtIntNo, Model.CourtList, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("CrtIntNo")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@CourtManage_cshtml.MagistrateName:</span>
                        </td>
                        <td>
                            @Html.TextBox("MagistrateName", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("MagistrateName")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left">
                            @Html.Hidden("CoMaIntNo")
                            <input type="submit" class="NormalButton" id="btnSave" value="@CourtManage_cshtml.Save" name="btnSave" />
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>
