﻿@model SIL.AARTO.Web.ViewModels.CourtManagement.NoAOGAmountModel
@using SIL.AARTO.Web.Resource.CourtManagement;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;

@{
    ViewBag.Title = NoAOGAmountSetting_cshtml.PageTitle;
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/CourtManagement/NoAOGAmountSetting.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.Hidden("Page", Model.PageIndex);
    <p align="center" class="ContentHead">@NoAOGAmountSetting_cshtml.PageTitle</p>
    <table cellspacing="0" cellpadding="4" align="center">

       @* <tr>
            <td class="NormalBold">@NoAOGAmountSetting_cshtml.lblCourt
            </td>
            <td>
                @Html.EditorFor(m => m.CrtIntNo)
            </td>
        </tr>
        <tr>
            <td class="NormalBold">@NoAOGAmountSetting_cshtml.lblCourtRoom
            </td>
            <td>
                @Html.DropDownList("CRIntNo", Model.CourtRooms)
            </td>
        </tr>*@
        <tr>
            <td class="NormalBold">@NoAOGAmountSetting_cshtml.lblNumber
            </td>
            <td>
                @Html.TextBoxFor(m => m.Number)
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <input type="submit" value="@NoAOGAmountSetting_cshtml.btnSearch" class="NormalButton" /></td>
        </tr>
    </table>
                                         if (Model.Result != null && Model.Result.Count > 0)
                                         { 
    <table style="width: 100%">
        <tr>
            <td align="center">
                @*@{string strPage = Html.GridPager(new SIL.AARTO.Web.Helpers.Paginator.GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = Model.URLPara });}*@
                @{WebGrid web = new WebGrid(Model.Result, canPage: false);}
                @(Model.Result != null && Model.Result.Count > 0 ? web.Table(
                            headerStyle: "CartListHead"
                            , alternatingRowStyle: "CartListItemAlt DataRow"
                            , tableStyle: "listTable tb "
                            , rowStyle: "CartListItem DataRow"
                            , footerStyle: "CartListHead footerStyle"
                            , footer: footer => Html.Raw("")
                    , columns: web.Columns(
                                web.Column("SummonsNo", NoAOGAmountSetting_cshtml.headSummonsNo, canSort: false, style: "CartListItem"),
                                web.Column("WOANumber", NoAOGAmountSetting_cshtml.headWOANumber, canSort: false, style: "CartListItem"),
                                web.Column("SumCourtDate", NoAOGAmountSetting_cshtml.headCourtDate, canSort: false, style: "CartListItem"),
        //web.Column("ChgIsMain", "Charge is main?", canSort: false, style: "CartListItem"),
        // web.Column("ChgSequence", "Charge Sequence", canSort: false, style: "CartListItem"),
        // web.Column("ChgRevFineAmount", "Fine Amount", canSort: false, style: "CartListItem"),
        //web.Column("ChgNoAOG", "Is NoAOG?", canSort: false, style: "CartListItem"),
                                web.Column("Edit", "Edit", format: (item) =>
                                {
                                    var html = String.Format("<a href='javascript:void(0);' onclick=\"openAmountPnl({0},'{1}');\">{2}</a>", item.SumIntNo, item.SummonsNo, NoAOGAmountSetting_cshtml.linkButton1);
                                    return Html.Raw(html);
                                }, canSort: false, style: "CartListItem EditRow")))
                : null)

            </td>
        </tr>
    </table>
                                         }
                                         else
                                         {
                                             if (Model.NoDateFound)
                                             {
    <p style="text-align: center; color: red;">@NoAOGAmountSetting_cshtml.msgNoDataFound_Text</p>
                                             }
                                         }
    <div id="divAmountSetting" title="" style="display: none; height: auto;">
        <table id="tabDetail" style="margin: 10px auto; border-color: Black; font-size: 8pt; width:500px; border-collapse: collapse;" cellspacing="0" cellpadding="1" border="1">
            <tr class="CartListHead">
                <th>@NoAOGAmountSetting_cshtml.lblChargeType</th>
                <th>@NoAOGAmountSetting_cshtml.lblSequence</th>
                <th>@NoAOGAmountSetting_cshtml.lblFineAmount</th>
                <th>@NoAOGAmountSetting_cshtml.lblOffenceCode</th>
                <th style="width:200px;">@NoAOGAmountSetting_cshtml.lblOffenceDescr</th>
            </tr>

        </table>
        <table  style="margin: 10px auto; border-color: Black; font-size: 8pt; width:500px; border-collapse: collapse;" cellspacing="0">
            <tr>
                <td class="NormalBold">@NoAOGAmountSetting_cshtml.lblPublicProsecutor</td>
                <td>@Html.DropDownList("CoMaIntNo", Model.CourtMagList)</td>
            </tr>
            <tr>
                <td class="NormalBold">@NoAOGAmountSetting_cshtml.lblComment</td>
                <td>
                    <textarea id="txtComment" style="width: 100%;"></textarea></td>
            </tr>
        </table>

    </div>
}

