﻿@using SIL.AARTO.Web.Resource.NTCReceipt;
<table align="center">
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_ReceiptAmount</td>
        <td>@{Html.RenderPartial("_ReceiptAmount", null);}</td>
    </tr>
</table>
