﻿@using SIL.AARTO.Web.Resource.NTCReceipt;
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtChequeDate").datepicker(
                   { changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd', defaultDate: ' ' }
                       );
    })
    
</script>
<table align="center">
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_ChequeNo</td>
        <td>
            <input type="text" id="txtChequeNo" name="txtChequeNo"  /></td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_Drawer</td>
        <td>
            <input type="text" id="txtDrawer" name="txtDrawer"/></td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_BankName</td>
        <td>
            <input type="text" id="txtBankName" name="txtBankName"/></td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_Branch_Bank</td>
        <td>
            <input type="text" id="txtBankBranch" name="txtBankBranch" /></td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_ChequeDate</td>
        <td>
            <input type="text" id="txtChequeDate" name="txtChequeDate"/></td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_ReceiptAmount</td>
        <td>@{Html.RenderPartial("_ReceiptAmount", null);}</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="checkbox" name="checkbox" id="cbxVerifiedDate" /><span class="NormalBold">@NTCReceiptPayment.cbx_NOTE</span></td>
    </tr>
</table>
