﻿@using SIL.AARTO.Web.Resource.NTCReceipt;
<table align="center">
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_CarIssuer</td>
        <td>
            <input type="text" name="txtCardIssuer" /></td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_NameonCard</td>
        <td>
            <input type="text" name="txtNameOnCard" /></td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_ExpiryDate</td>
        <td class="NormalBold" style="width: 280px;">@NTCReceiptPayment.lbl_Month @{Html.RenderPartial("_DropDownMonth", null);} &nbsp;@NTCReceiptPayment.lbl_Year @{Html.RenderPartial("_DropDownYear", null);}</td>
    </tr>
    <tr>
        <td class="NormalBold">Receipt Amount:</td>
        <td>@{Html.RenderPartial("_ReceiptAmount", null);}</td>
    </tr>
</table>