﻿@using SIL.AARTO.Web.Resource.NTCReceipt;
<select name="ddlMonth" style="width:80px;">
    <option value="1">@NTCReceiptPayment.ddlCardMonthItem_Text</option>
    <option value="2">@NTCReceiptPayment.ddlCardMonthItem_Text1</option>
    <option value="3">@NTCReceiptPayment.ddlCardMonthItem_Text2</option>
    <option value="4">@NTCReceiptPayment.ddlCardMonthItem_Text3</option>
    <option value="5">@NTCReceiptPayment.ddlCardMonthItem_Text4 </option>
    <option value="6">@NTCReceiptPayment.ddlCardMonthItem_Text5 </option>
    <option value="7">@NTCReceiptPayment.ddlCardMonthItem_Text6</option>
    <option value="8">@NTCReceiptPayment.ddlCardMonthItem_Text7 </option>
    <option value="9">@NTCReceiptPayment.ddlCardMonthItem_Text8 </option>
    <option value="10">@NTCReceiptPayment.ddlCardMonthItem_Text9 </option>
    <option value="11">@NTCReceiptPayment.ddlCardMonthItem_Text10 </option>
    <option value="12">@NTCReceiptPayment.ddlCardMonthItem_Text11 </option>
</select>
 
 
 
 


 




