﻿@using SIL.AARTO.Web.Resource.NTCReceipt;
<select name="ddlYear" style="width:100px;">
    <option value="1" >@NTCReceiptPayment.ddlYear_Items</option>
    @{int year = DateTime.Today.Year;
      for (int i = year; i <= year + 5; i++)
      {
        <option value="@i.ToString()">@i.ToString()</option>
      }
    }


</select>