﻿@model  SIL.AARTO.BLL.NTCReceipt.NTCReceiptModel
@using SIL.AARTO.BLL.NTCReceipt;
@using SIL.AARTO.Web.Resource.NTCReceipt;
<script type="text/javascript">

    $(document).ready(function () {
        $("#tbQuoteDetail [name='actualAmount']").bind("input onpropertychange", function () {
            processChangeEvent(this, regAmount);
        });

        $("#tbQuoteDetail [name='quantity']").bind("input onpropertychange", function () {
            processChangeEvent(this, regNum);
        });


    })

    function processChangeEvent(obj, reg) {
        var value = $(obj).val();
        var updLink = $(obj).parent().parent().find("a[name='updLink']");
        if (value <= 0) {
            $(obj).focus();
            setInvalidStyle(obj);
            $(updLink).attr("disabled", "disabled");
            showErrorMsg("@NTCReceiptPayment.msg_Amount_IsInvalid");
        } else {
            removeInvalidStyle(obj);
            $(updLink).attr("disabled", "");
            clearMsg();
        }

        calculateGrossAmount(obj);
        //calculateTotalAmount();

    }

    function updQuote(tag, code) {

        var trTag = $(tag).parent().parent();
        var comment = $(trTag).find("input[name='comment']").val();
        var quantity = $(trTag).find("input[name='quantity']").val();
        var actualAmount = $(trTag).find("input[name='actualAmount']").val();
        var standAmount = $(trTag).find("input[name='standAmount']").val();
        //var unitOfMeasure = $(trTag).find("select[name='unitOfMeasure']").val();
        if (actualAmount <= 0) {
            showErrorMsg("@NTCReceiptPayment.msg_Amount_IsInvalid");
            return;
        }
        
        if (regAmount.test(parseFloat(quantity) * parseFloat(actualAmount)) == false) {
            showErrorMsg("@NTCReceiptPayment.msg_GrossAmount");
            setInvalidStyle($(trTag).find("input[name='grossAmount']"));
            return;
        } else {
            removeInvalidStyle($(trTag).find("input[name='grossAmount']"));
        }
        if (regNum.test(quantity) == false) {
            showErrorMsg("@NTCReceiptPayment.msg_Amount_IsInvalid");
            return;
        }
        var confirmed = true;
        if (parseFloat(standAmount) != parseFloat(actualAmount)) {
            confirmed = window.confirm("@NTCReceiptPayment.msg_ConfirmAmount_IsDiff");
        }

        if (confirmed == false) {
            //$(trTag).find("input[name='actualAmount']").val(standAmount);
            return;
        }

        blockUI("@NTCReceiptPayment.msg_Processing");
        $.post("@Url.Action("UpdateQuotedetail", "NTCReceipt")",
            {
                ntcCode: code,
                comment: comment,
                quantity: quantity,
                actualAmount: parseFloat(actualAmount)
                //unitOfMeasure: unitOfMeasure
            },
            function (result) {
                $("#divQuoteDetail_Control").empty().html(result);
                $.unblockUI();
            }, 'html');
    }

    function delQuote(tag, code) {
        blockUI("@NTCReceiptPayment.msg_Processing");
        $.post("@Url.Action("DelQuoteDetail", "NTCReceipt")",
            { ntcCode: code },
            function (result) {
                $.unblockUI();
                if (result != undefined && result.IsSuccessful) {
                    var tr = $(tag).parent().parent();
                    $(tr).remove();
                    calculateTotalAmount();
                } else {
                    if (result != undefined && result.HasError) {
                        showErrorMsg(result.ErrorMessage);
                    }
                }
            }, 'json');
    }

</script>

<table cellspacing="0" cellpadding="4" align="center" class="table" style="width: 100%;" id="tbQuoteDetail">
    <thead>
        <tr class="CartListHead">
            <th class="NormalBold" style="width: 100px;">@NTCReceiptPayment.head_ChargeCode</th>
            <th class="NormalBold">@NTCReceiptPayment.head_ChargeDescr</th>
            <th class="NormalBold">@NTCReceiptPayment.head_ChargeComment</th>
            <th class="NormalBold right" style="width: 100px;">@NTCReceiptPayment.head_StandAmount</th>
            <th class="NormalBold" style="width: 100px;">@NTCReceiptPayment.head_UnitOfMeasure</th>
            <th class="NormalBold right" style="width: 100px;">@NTCReceiptPayment.head_Quantity</th>
            <th class="NormalBold right" style="width: 100px;">@NTCReceiptPayment.head_ActualAmount</th>
            <th class="NormalBold right" style="width: 80px;">@NTCReceiptPayment.head_GrossAmount</th>
            <th class="NormalBold" style="width: 80px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (JsonNTCReceiptDetail d in Model.NTCReceiptCashEntity.QuoteDetails)
        { 
            <tr class="CartListItem">
                <td class='left'>@d.NTCCode </td>
                <td class='left' style='width: 200px;'>@d.NTCDescr </td>
                <td class='left'>
                    <input style='width: 200px;' type='text' name='comment' value="@d.NTCComment" ></td>
                <td class="right">
                    <input style='width: 80px;' class="right" type='text' readonly="readonly" name='standAmount' value='@d.NTCStandardAmount' /></td>
                <td>@Html.DropDownList("unitOfMeasure", new SelectList(Model.UnitOfMeasures, "UOMIntNo", "UomName", d.UOMIntNo), new { @style = "width: 80px;", disabled = "disabled" })
                </td>
                <td class="right">
                    <input style='width: 50px;' class="right" type='text' name='quantity' value="@d.QuDeChargeQuantity" ></td>
                <td class="right">
                    <input style='width: 80px;'class="right"  type='text' name='actualAmount' value="@d.QuDeActualAmount.ToString(System.Globalization.CultureInfo.InvariantCulture)" ></td>
                <td class="right">
                    <input style='width: 80px;'  class="right" type='text' readonly="readonly" name='grossAmount' value="@d.QuDeGrossAmount.ToString(System.Globalization.CultureInfo.InvariantCulture)" ></td>
                <td>
                    <a href="javascript:void(0);" name="updLink" onclick="updQuote(this,'@d.NTCCode');">@NTCReceiptPayment.link_Update</a><br />
                    <a href="javascript:void(0);" onclick="delQuote(this,'@d.NTCCode');">@NTCReceiptPayment.link_Remove</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="CartListHead">
            <td class="NormalBold" colspan="9" style="text-align: right">@NTCReceiptPayment.lbl_TotalAmount<span id="spTotal" style="padding-left: 4px;">@Model.NTCReceiptCashEntity.QuoteDetails.Sum(c => c.QuDeGrossAmount).ToString("#0.00", System.Globalization.CultureInfo.InvariantCulture)</span></td>
        </tr>
    </tfoot>
</table>


