﻿@model  SIL.AARTO.BLL.NTCReceipt.NTCReceiptModel

@using SIL.AARTO.Web.Resource.NTCReceipt;

<table style="width: 400px;" align="center">
    <tr>
        <td style="width: 120px;" class="NormalBold">@NTCReceiptPayment.lbl_ReferenceNumber</td>
        <td style="width:280px;">@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeReferenceNumber, new { id = "txtRefNumber" })</td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_ReceiptDate</td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeDate, new { id = "txtQuHeDate" })</td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_IdNumber</td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeIDNumber, new { id = "txtIdNumber" })</td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_Surname</td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeSurName, new { id = "txtSurName" })</td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_Initials</td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeInitials, new { id = "txtInitials" })</td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_Address</td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeAddress1, new { id = "txtAddr1" })</td>
    </tr>
    <tr>
        <td class="NormalBold"></td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeAddress2, new { id = "txtAddr2" })</td>
    </tr>
    <tr>
        <td class="NormalBold"></td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeAddress3, new { id = "txtAddr3" })</td>
    </tr>
    <tr>
        <td class="NormalBold"></td>
        <td>@Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.QuHeAddress4, new { id = "txtAddr4" })</td>
    </tr>
    <tr>
        <td class="NormalBold">@NTCReceiptPayment.lbl_TotalAmount</td>
        <td>
            @Html.TextBoxFor(m => m.NTCReceiptCashEntity.QuoteHeader.TotalAmount, new { id = "txtTotalInputAmount" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td >
            <input type="button" class="NormalButton" value="@NTCReceiptPayment.btn_SaveQuoteHeader" id="btnSubmitQuoteHeader" style="display: @(Model.ShowQuoteHeaderAddButton == true ? "" : "none");" />&nbsp;&nbsp;<input type="button" class="NormalButton" value="@NTCReceiptPayment.btn_Cancel" id="btnCancel" />
        </td>
    </tr>
</table>
<p style="text-align: center;"><span style="font-weight: bold; color: red;">@NTCReceiptPayment.msg_NOTE</span></p>
