﻿@using SIL.AARTO.BLL.NTCReceipt;
@using SIL.AARTO.Web.Resource.NTCReceipt;
@model SIL.AARTO.BLL.NTCReceipt.NTCReceiptModel
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/Library/jquery-1.3.2.min-vsdoc.js"></script>*@
<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet"  type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.blockUI.2.66.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<style>
    .table
    {
        /*cellspacing:0,
        cellpadding:"4", 
        border="1" align="center" style="border-color: Black; font-size: 8pt; border-collapse: collapse;"
          */
        border-color: black;
        font-size: 8pt;
        border-collapse: collapse;
    }

        .table td
        {
            border-left: 1px solid;
            border-right: 1px solid;
            border-top: 1px solid;
        }

    .left
    {
        text-align: left;
    }

    .right
    {
        text-align: right;
    }

    .linkButton
    {
        height: 25px;
        background-color: #6977b0;
        color: white;
        font-family: "Arial Black";
        font-size: 11px;
        text-indent: 2px;
    }

    .invalidInput
    {
        background-color: red;
        color: #FFF;
        font-weight: bold;
    }

    fieldset
    {
        border: 1px solid #808080;
        margin-top: 16px;
        padding: 10px;
        width: 98%;
    }

    legend
    {
        font: bold 1.2em sans-serif;
        background-color: #FFFFFF;
    }

    .headLink
    {
        font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
        font-weight: bold;
        font-size: 12px !important;
        color: red !important;
        text-decoration: underline !important;
    }

        .headLink a:hover
        {
            color: blue !important;
        }
</style>
<script type="text/javascript">
    var regAmount = /(^[0-9]\d*(\.\d{1,2}){0,1}$)/;
    var regNum = /^[1-9]\d{0,3}$/;
    $(document).ready(function () {

        $("#txtQuHeDate").datepicker(
	                { changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd', defaultDate: ' ', maxDate: new Date() }
                        );

        $("#btnSubmitQuoteHeader").click(function () {

            if ($("#txtRefNumber").val() == "") {
                showErrorMsg("@NTCReceiptPayment.msg_ReferenceNumber_IsRequired"); return;
            }
            if ($("#txtQuHeDate").val() == "") {
                showErrorMsg("@NTCReceiptPayment.msg_ReceiptDate_IsRequired"); return;
            }
            if ($("#txtSurName").val() == "") {
                showErrorMsg("@NTCReceiptPayment.msg_Surname_IsRequired"); return;
            }
            if ($("#txtInitials").val() == "") {
                showErrorMsg("@NTCReceiptPayment.msg_Initial_IsRequired"); return;
            }
            if ($("#txtAddr1").val() == "") {
                showErrorMsg("@NTCReceiptPayment.msg_Address_IsRequired"); return;
            }
            if ($("#txtAddr2").val() == "") {
                showErrorMsg("@NTCReceiptPayment.msg_Address_IsRequired"); return;
            }
            if ($("#txtTotalInputAmount").val() == "") {
                showErrorMsg("@NTCReceiptPayment.msg_TotalAmount_IsRequired"); return;
            }
            if ($("#txtTotalInputAmount").val() <= 0) {
                showErrorMsg("@NTCReceiptPayment.msg_Amount_IsInvalid");
                return;
            }
            blockUI("@NTCReceiptPayment.msg_Processing");
            clearMsg();
            //$("#tbQuoteDetail tbody").children().remove();
            $.post("@Url.Action("AddQuoteHeader", "NTCReceipt")",
                {
                    referenceNumber: $("#txtRefNumber").val(),
                    quoteDate: $("#txtQuHeDate").val(),
                    idNumber: $("#txtIdNumber").val(),
                    surname: $("#txtSurName").val(),
                    initials: $("#txtInitials").val(),
                    addr1: $("#txtAddr1").val(),
                    addr2: $("#txtAddr2").val(),
                    addr3: $("#txtAddr3").val(),
                    addr4: $("#txtAddr4").val(),
                    totalAmount: getMoney($("#txtTotalInputAmount").val())
                },
                function (result) {
                    $.unblockUI();
                    if (result.IsSuccessful) {
                        //$("#btnSubmitQuoteHeader").val('Update Quote Header')
                        //$("#btnSubmitQuoteHeader").hide();
                        $.post("@Url.Action("LoadQuoteDetail", "NTCReceipt")", {}, function (result) {
                            $("#divQuoteDetail").show();
                        }, 'html');

                    } else {
                        showErrorMsg(result.ErrorMessage);
                    }

                }, 'json');
        });

        $("#btnAddQuoteDetail").click(function () {
            clearMsg();
            blockUI("@NTCReceiptPayment.msg_Processing");

            $.ajax({
                type: 'POST',
                url: "@Url.Action("AddQuoteDetail", "NTCReceipt")",
                dataType: "json",
                data: { ntcIntNo: $("#CurrentNTCIntNo").val() },
                success: function (result) {
                    $.unblockUI();
                    if (result) {
                        if (result.IsSuccessful) {
                            appendTalbeRow(result.Body);
                        } else {
                            showErrorMsg(result.ErrorMessage);
                        }
                    }
                }
            });
        });



        //$("#tbQuoteDetail [name='actualAmount']").change(function () {
        //    processChangeEvent(this, regAmount);
        //});

        //$("#tbQuoteDetail [name='quantity']").change(function () {
        //    processChangeEvent(this, regNum);

        //});

        //$("#tbQuoteDetail [name='actualAmount']").bind("input onpropertychange", function () {
        //    processChangeEvent(this, regAmount);
        //});

        //$("#tbQuoteDetail [name='quantity']").bind("input onpropertychange", function () {
        //    processChangeEvent(this, regNum);

        //});



        $("#btnAddPayment").click(function () {
            clearMsg();

            var invalidatedNum = $("#tbQuoteDetail .invalidInput").length;
            if (invalidatedNum > 0 || $("#spTotal").html() == "" || $("#spTotal").html() == NaN) {
                showErrorMsg("@NTCReceiptPayment.msg_QuoteValue_IsInvalid");
                return;
            } else {
                var validated = true;
                if (getMoney($("#spTotal").html()) <= 0 ) {
                    showErrorMsg("@NTCReceiptPayment.msg_Amount_IsInvalid");
                    //validated = false;
                    return;
                }
                if (getMoney($("#spTotal").html()) != getMoney($("#txtTotalInputAmount").val())) {
                    //validated = window.confirm("@NTCReceiptPayment.msg_TotalAmount_IsDiff");
                    showErrorMsg("@NTCReceiptPayment.msg_TotalAmount_IsDiff");
                    validated = false;
                }
                if (validated == false) {
                    return;
                }
                $("#tdConfirmPaymentDetail tbody").children().remove();
                $("#tdPaymentDetail tbody").children().remove();
                blockUI("@NTCReceiptPayment.msg_Processing");

                $.post("@Url.Action("GetDuePaymentDetail", "NTCReceipt")", {},
                        function (result) {
                            if (result.IsSuccessful) {
                                $.each(result.Body, function (index, r) {
                                    createPaymentDetailRow(r);
                                });
                                calculTotalReceivedAmount();
                                $("#divReceipt").show();
                            }
                            $.unblockUI();
                        }, 'json');

                return;
                $("#divReceipt").dialog({
                    position: "center",
                    resizable: false,
                    width: 430,
                    height: 400,
                    modal: true,
                    title: "Loading……",
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close", $(this).parent()).hide();
                    },
                    buttons: [{
                        text: "Submit",
                        id: "btnSubmit_J",
                        click: function () {

                        },
                    },
                    {
                        text: "Cancel",
                        click: function () {
                            $("#divReceipt").dialog('close');
                        }
                    }]
                });
            }

        });

        $("#btnCancel").click(function () {
            cancelPayment();
        });

    })

    function cancelPayment() {
        blockUI("@NTCReceiptPayment.msg_Processing");
        $.post("@Url.Action("CancelPayment", "NTCReceipt")", {},
            function (result) {
                if (result.IsSuccessful) {
                    document.location = "@Url.Action("Pay", "NTCReceipt")";
                }
                $.unblockUI();
            }, 'json');
        }


        function formatMoney(s, type) {
            if (/[^0-9\.]/.test(s))
                return "0";
            if (s == null || s == "")
                return "0";
            s = s.toString().replace(/^(\d*)$/, "$1.");
            s = (s + "00").replace(/(\d*\.\d\d)\d*/, "$1");
            //s = s.replace(".", ",");
            //var re = /(\d)(\d{3},)/;
            //while (re.test(s))
            //    s = s.replace(re, "$1,$2");
            //s = s.replace(/,(\d\d)$/, ".$1");
            //if (type == 0) {
            //    var a = s.split(".");
            //    if (a[1] == "00") {
            //        s = a[0];
            //    }
            //}
            return s;
        }

        function getMoney(s) {
            if (s == undefined || s == NaN)
                return "";
            if (regAmount.test(s.replace(/[^\d\.-]/g, ""))) {
                return parseFloat(s.replace(/[^\d\.-]/g, ""));
            }
            else return s;
        }

        function blockUI(message) {
            $.blockUI({
                message: '<h1><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")" />' + message + '</h1>'
        });
    }

    function showErrorMsg(result) {
        $("#divMsg").html(result);
        $("#divMsg").show();
    }

    function setInvalidStyle(obj) {
        $(obj).addClass("invalidInput");
    }

    function removeInvalidStyle(obj) {
        if ($(obj).hasClass("invalidInput")) {
            $(obj).removeClass("invalidInput");
        }
    }

    function clearMsg() {
        $("#divMsg").html('&nbsp;');
        //$("#divMsg").hide();
    }

    function calculateGrossAmount(inputObj) {
        var tr = $(inputObj).parent().parent();
        var quantityObj = $(tr).find("input[name='quantity']");
        var quantity = $(quantityObj).val();//$(tr).find("name='quantity'").val();
        var grossAmountObj = $(tr).find("input[name='grossAmount']");// $(tr + "[name='grossAmount']");
        var actualAmount = $(tr).find("input[name='actualAmount']");
        var grossAmount = parseFloat(quantity) * parseFloat($(actualAmount).val());
        $(grossAmountObj).val(grossAmount);
    }
    function calculateTotalAmount() {
        var amount = 0;
        $("#tbQuoteDetail [name='grossAmount']").each(function (index, obj) {
            if ($(obj).val() != '') {
                amount += getMoney($(obj).val());
            }
        });
        $("#spTotal").html(formatMoney(amount));
    }



    function appendTalbeRow(d) {

        $("<tr class=\"CartListItem\">"
            + " <td class='left'>" + d.NTCCode + "</td>"
            + " <td class='left'>" + d.NTCDescr + " </td>"
            + " <td><input style='width:200px;' type='text' name='comment' value='" + d.NTCComment + "'/></td>"
            + " <td class=\"right\"><input style='width:80px;' class=\"right\" readonly=\"readonly\"  type='text' name='standAmount' value='" + d.NTCStandardAmount + "'  /></td>"
            + " <td><select style='width:80px;' name='unitOfMeasure'  disabled=\"disabled\">" + $("#ddlUnitOfMeasure").html() + "</select></td>"
             + " <td class=\"right\"><input style='width:50px;' class=\"right\" type='text' name='quantity' value='" + d.QuDeChargeQuantity + "' /></td>"
            + " <td class=\"right\"><input style='width:80px;' class=\"right\" type='text' name='actualAmount' value='" + d.QuDeActualAmount + "' /></td>"
            + " <td class=\"right\"><input style='width:80px;' class=\"right\" type='text' readonly='readonly' name='grossAmount' value='" + d.QuDeGrossAmount + "'/></td>"
            + " <td><a href=\"javascript:void(0);\" onclick=\"updQuote(this,'" + d.NTCCode + "');\">Update</a><br/><a href=\"javascript: void(0);\" onclick=\"delQuote(this,'" + d.NTCCode + "');\">Remove</a></td>"
            + "</tr>").appendTo($("#tbQuoteDetail tbody"));

        var lastRow = $("#tbQuoteDetail tbody tr:last");
        $(lastRow).find("select").val(d.UOMIntNo);

        var txtQuantity = $(lastRow).find("input[name='quantity']");
        //var txtActAmount = $(lastRow).find("input[name='actualAmount']");

        //$(txtQuantity).change(function () {
        //    processChangeEvent($(txtQuantity), regNum);
        //});
        //jake comment out ,now no need to use======
        $(txtQuantity).bind("input onpropertychange", function () {
            processChangeEvent(this, regNum);
        });
        //==========================================
        //$(txtActAmount).change(function () {
        //    processChangeEvent($(txtActAmount), regAmount);
        //});

        //jake comment out ,now no need to use======
       // $(txtActAmount).bind("input onpropertychange", function () {
         //   processChangeEvent(this, regAmount);
      //  });
        //==========================================
        calculateTotalAmount();
        //$("#tbQuoteDetail").show();

    }





</script>

<p style="text-align: center;">
    <span class="ContentHead">@NTCReceiptPayment.title_PageName</span> <span style="margin-left: 50px;">@Html.ActionLink(NTCReceiptPayment.link_ReceiptPayment, "TMSReceipt", "NTCReceipt", new { @class = "headLink" })</span>
</p>
<p id="divMsg" style="border: 1px; text-align: center; border-color: black; color: red; font-weight: bold;">&nbsp;</p>
<div id="divQuoteHeader">
    @{
        Html.RenderPartial("_QuoteHeader", Model);
        
    }
    @Html.DropDownList("ddlUnitOfMeasure", new SelectList(Model.UnitOfMeasures, "UOMIntNo", "UomName", null), new { @style = "display:none;", id = "ddlUnitOfMeasure" })
</div>
<div style="width: 99%; text-align: center; margin: 5px;">
    <div id="divQuoteDetail" style="width: 90%; margin-left: auto; margin-right: auto; display:@(Model.ShowQuoteDetailPnl == true ? "block" : "none");">
        <table style="margin-bottom: 8px;">
            <tr>
                <td class="NormalBold">@NTCReceiptPayment.lbl_NonTrafficCharge</td>
                <td>@Html.DropDownList("CurrentNTCIntNo", new SelectList(Model.NotTrafficCharges, "NTCIntNo", "NTCDescr", Model.CurrentNTCIntNo)) &nbsp;<input type="button" id="btnAddQuoteDetail" value="Add" class="NormalButton" /></td>
            </tr>
        </table>
        <div id="divQuoteDetail_Control">
            @{Html.RenderPartial("_QuoteDetail", Model);}
        </div>
        <table cellspacing="0" align="center" style="width: 100%;">
            <tr>
                <td style="text-align: right; height: 30px; padding-right: 0px;">
                    <input class="NormalButton" type="button" value="@NTCReceiptPayment.btn_AddPayment" id="btnAddPayment" /></td>
            </tr>
        </table>
    </div>
    <div id="divReceipt" style="width: 80%; margin-left: auto; margin-right: auto; display: none;">
        <fieldset>
            <legend>@NTCReceiptPayment.lbl_PaymentDetails</legend>
            @{Html.RenderPartial("_ReceiptDetail", Model);}

        </fieldset>
    </div>
    <div id="divCasheReceipt" style="display: none;">
        @{Html.RenderPartial("_CasheReceipt", null);}
    </div>
    <div id="divChequeReceipt" style="display: none;">
        @{Html.RenderPartial("_ChequeReceipt", null);}
    </div>
    <div id="divCreditCardReceipt" style="display: none;">
        @{Html.RenderPartial("_CreditCardReceipt", null);}
    </div>
    <div id="divDebitCardReceipt" style="display: none;">
        @{Html.RenderPartial("_DebitCardReceipt", null);}
    </div>
    <div id="divBankAccountReceipt" style="display: none;">
        @{Html.RenderPartial("_BankReceipt", null);}
    </div>
    <div id="divPostalOrderReceipt" style="display: none;">
        @{Html.RenderPartial("_PostalOrderReceipt", null);}
    </div>
    <div id="divOtherReceipt" style="display: none;">
        @{Html.RenderPartial("_CasheReceipt", null);}
    </div>
</div>


