﻿@using SIL.AARTO.BLL.Representation
@using SIL.AARTO.BLL.Representation.Model
@using SIL.AARTO.Web.Resource.Representation
@using SIL.ServiceBase
@model SIL.AARTO.BLL.Representation.Model.NoticeModel
@{
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);
    var charge = Model.ChargeList.FirstOrDefault(c => !c.IsReadOnly) ?? new ChargeModel();
}

<script>
    function Select(chgIntNo, isReadOnly) {
        var autIntNo = ToInt("@Model.AutIntNo");
        var ticketNumber = "@Model.NotTicketNo";
        ValidateBlock(function() {
            SwitchPages(0, '@Url.Action("Select", controller)', {
                autIntNo: autIntNo,
                ticketNumber: ticketNumber,
                chgIntNo: chgIntNo,
                isReadOnly: isReadOnly
            });
        });
    }

    function Add(chgIntNo, isReadOnly, chgRowVersion) {
        var autIntNo = ToInt("@Model.AutIntNo");
        var ticketNumber = "@Model.NotTicketNo";
        var isSummons = ToBoolean("@Model.IsSummons");
        ValidateBlock(function() {
            SwitchPages(2, '@Url.Action("Add", controller)', {
                autIntNo: autIntNo,
                ticketNumber: ticketNumber,
                isSummons: isSummons,
                chgIntNo: chgIntNo,
                isReadOnly: isReadOnly,
                chgRowVersion: chgRowVersion
            });
        });
    }

    @if (Model.RepActionName.In(RepAction.RegisterName, RepAction.DecideName))
    {
        <text>
    function RepresentationWithNoResultsReport() {
        var autIntNo = ToInt("@Model.AutIntNo");
        @*BlockPost('@Url.Action("RepresentationWithNoResultsReport", controller)', {
            autIntNo: autIntNo
        }, function(rsp) {
            if (rsp.IsSuccessful) {
                window.open(rsp.Body);
            }
        }, TextProcessing);*@
        //2014-09-23 Heidi changed for adding a jump page for RepresentationWithNoResult report. (5360)
        window.location = "@Url.Action("RepresentationWithNoResult", "Representation")?AutIntNo=" + autIntNo;
    }
        </text>
    }
</script>

<div id="divChargeList">
    @{
        var columns = new List<WebGridColumn>
        {
            new WebGridColumn { ColumnName = "ChargeNo", Header = RepresentationResx.ChargeNo, CanSort = false },
            new WebGridColumn { ColumnName = "ChgOffenceDescr", Header = RepresentationResx.Charge, CanSort = false, Style = "maxWidth" },
            new WebGridColumn { ColumnName = "IsMainCharge", Header = RepresentationResx.Type, CanSort = false },
            new WebGridColumn { ColumnName = "CSDescr", Header = RepresentationResx.ChargeStatus, CanSort = false },
            new WebGridColumn { ColumnName = "SumCourtDateStr", Header = RepresentationResx.CourtDate, CanSort = false },
            new WebGridColumn
            {
                Format = item => item.Value.ChgIsMain
                    ? (item.Value.CanSelect
                        ? Html.ActionLink(Model.RepAction.Equals2(RepAction.O) ? RepresentationResx.ShowHistory : (item.Value.IsReadOnly ? RepresentationResx.View : RepresentationResx.Select),
                            null, null, new { onclick = string.Format("Select({0}, {1})", item.ChgIntNo, item.IsReadOnly.ToString().ToLower()), href = "javascript:void(0)" })
                        : new MvcHtmlString(string.Format("<label style=\"color: darkgrey;\">{0}</label>", RepresentationResx.ShowHistory)))
                    : new MvcHtmlString(string.Empty),
                Header = RepresentationResx.Action, CanSort = false
            },
        };

        var grid = new WebGrid(Model.ChargeList.Where(c => !c.IsReadOnly), rowsPerPage: int.MaxValue, canPage: false, canSort: false);
        @(grid.Table("Normal", "CartListHead", "CartListFooter", "CartListItem", "CartListItemAlt",
              columns: columns,
              footer: item => new MvcHtmlString("&nbsp;"),
              htmlAttributes: new { style = "border:1px;border-collapse:collapse;", rules = "all" }))

        if (Model.ChargeList.Any(c => c.IsReadOnly && c.RepresentationList.Any(r => r.RepIntNo > 0)))
        {
            <style type="text/css">
                .accordion {
                    background: #e9e7e7 url(/Content/Image/arrow-square.gif) no-repeat right 5px;
                    border: solid 1px #c4c4c4;
                    border-bottom: none;
                    cursor: pointer;
                    font: bold 120%/100% Arial, Helvetica, sans-serif;
                    margin: 0;
                    padding: 7px 15px;
                }

                .accordion:hover { background-color: #e3e2e2; }

                .accordion.active {
                    background-position: right -51px;
                    border-bottom: solid 1px #c4c4c4;
                }
            </style>
            <script>
                $(function() {
                    var divExistingCharge = $('#divExistingCharge');
                    var divExistingChargeList = $('#divExistingChargeList');
                    divExistingCharge.addClass('active').innerWidth(divExistingChargeList.parent().children('table').eq(0).innerWidth());
                    divExistingChargeList.css('display', 'none');
                    divExistingCharge.click(function() {
                        divExistingChargeList.slideToggle();
                        divExistingCharge.toggleClass("active");
                    });
                });
            </script>
            <br/>
            <div id="divExistingCharge" class="accordion">@RepresentationResx.ExistingRepresentationsOnNotice</div>
            <div id="divExistingChargeList">
                @{ var existingCharges = new WebGrid(Model.ChargeList.Where(c => c.IsReadOnly && c.RepresentationList.Any(r => r.RepIntNo > 0)), rowsPerPage: int.MaxValue, canPage: false, canSort: false); }
                @(existingCharges.Table("Normal", "CartListHead", "CartListFooter", "CartListItem", "CartListItemAlt",
                      columns: columns,
                      footer: item => new MvcHtmlString("&nbsp;"),
                      htmlAttributes: new { style = "border:1px;border-collapse:collapse;", rules = "all" }))
            </div>
        }
    }

    <br/>
    <table>
        <tr>
            <td>
                @if (Model.RepAction.Equals2(RepAction.O)
                    && !Model.ChargeList.IsNullOrEmpty()
                    && Model.CanAdd)
                {
                    <input id="btnAdd" type="button" class="NormalButton" value="@RepresentationResx.AddChangeOfOffender" onclick="@string.Format("Add({0}, {1}, {2})", charge.ChgIntNo, charge.IsReadOnly.ToString().ToLower(), charge.RowVersion_Long)" />
                }
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.RepActionName.In(RepAction.RegisterName, RepAction.DecideName))
                {
                    <input id="btnNoResults" type="button" class="NormalButton" value="@RepresentationResx.ReportForRepresentationsWithNoResults" onclick=" RepresentationWithNoResultsReport() " />
                }
            </td>
        </tr>
    </table>
</div>