﻿@using SIL.AARTO.Web.Resource.Representation
@model SIL.AARTO.BLL.Representation.Model.NoticeModel
@{
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);
}

<script>
    function ValidatePresentationOfDocument(chgIntNo, isReadOnly, chgRowVersion) {
        ValidateBlock(function() {
            MakePresentationOfDocument(chgIntNo, isReadOnly, chgRowVersion);
        });
    }

    function MakePresentationOfDocument(chgIntNo, isReadOnly, chgRowVersion) {
        var autIntNo = ToInt('@Model.AutIntNo');
        var ticketNumber = '@Model.NotTicketNo';
        BlockPost('@Url.Action("MakePresentationOfDocument", controller)', {
            autIntNo: autIntNo,
            ticketNumber: ticketNumber,
            chgIntNo: chgIntNo,
            isReadOnly: isReadOnly,
            chgRowVersion: chgRowVersion
        }, function(rsp) {
            if (rsp.IsSuccessful) {
                LoadRepSearch(autIntNo, ticketNumber, true);
                WriteMessage("@RepresentationResx.PresentationOfDocument" + " - " + "@RepresentationResx.Successful", false);
            }
        }, 'Processing...');
    }
</script>

<div id="divChargeList">
    @{
        var columns = new List<WebGridColumn>
        {
            new WebGridColumn { ColumnName = "ChargeNo", Header = RepresentationResx.ChargeNo, CanSort = false },
            new WebGridColumn { ColumnName = "ChgOffenceDescr", Header = RepresentationResx.Charge, CanSort = false, Style = "maxWidth" },
            new WebGridColumn { ColumnName = "IsMainCharge", Header = RepresentationResx.Type, CanSort = false },
            new WebGridColumn { ColumnName = "CSDescr", Header = RepresentationResx.ChargeStatus, CanSort = false },
            new WebGridColumn { ColumnName = "SumCourtDateStr", Header = RepresentationResx.CourtDate, CanSort = false },
            new WebGridColumn
            {
                Format = item => item.Value.CanSelect
                    ? (item.CanAutoDoc
                        ? Html.ActionLink(RepresentationResx.PresentationOfDocument, null, null, new { onclick = string.Format("ValidatePresentationOfDocument({0}, {1}, {2})", item.ChgIntNo, item.IsReadOnly.ToString().ToLower(), item.RowVersion_Long), href = "javascript:void(0)" })
                        : new MvcHtmlString(string.Format("<label style=\"color: darkgrey;\">{0}</label>", RepresentationResx.PresentationOfDocument)))
                    : new MvcHtmlString(string.Empty),
                Header = RepresentationResx.Action, CanSort = false
            },
        };

        var grid = new WebGrid(Model.ChargeList, rowsPerPage: int.MaxValue, canPage: false, canSort: false);
        @(grid.Table("Normal", "CartListHead", "CartListFooter", "CartListItem", "CartListItemAlt",
              columns: columns,
              footer: item => new MvcHtmlString("&nbsp;"),
              htmlAttributes: new { style = "border:1px;border-collapse:collapse;", rules = "all" }))
    }
</div>