﻿@using SIL.AARTO.BLL.Representation
@using SIL.AARTO.Web.Resource.Representation
@model SIL.AARTO.BLL.Representation.Model.RepresentationModel

<script>
    $(function() {
        chkChangeRegistrationEnabled("@Model.RepControlStatus.chkChangeRegistrationEnabled");

        pnlChangeRegNoDecisionEnabled("@Model.RepControlStatus.pnlChangeRegistrationEnabled");
        pnlChangeRegNoDecisionVisible("@Model.RepControlStatus.pnlChangeRegistrationVisible");

        pnlRegistrationEnabled("@Model.RepControlStatus.pnlRegistrationEnabled");
        pnlRegistrationVisible("@Model.RepControlStatus.pnlRegistrationVisible");

        BindRadio("rdlRegDecision0", "@RepresentationResx.NoneSelected");
        BindRadio("rdlRegDecision1", "@RepresentationResx.IncorrectNumberPlate");
        BindRadio("rdlRegDecision2", "@RepresentationResx.DuplicateNumberPlate");
        BindRadio("rdlRegDecision3", "@RepresentationResx.NatisOnPreviousLicenceNotUpdated");

        BindSubContent("chkChangeRegistration", "@RepresentationResx.ChangeRegistration", "pnlChangeRegNoDecision", chkChangeRegistrationChange);
        BindSubContent("chkNoFurtherDetails", "@RepresentationResx.DuplicateIncorrectNumberPlateNoChangeOfRegistrationDetailsAvailable", "pnlRegistration", chkNoFurtherDetailsChange);

        SameWidth("editorPart", "pnlChangeRegNoDecision");
    });


    //#region chkChangeRegistration
    function chkChangeRegistrationEnabled(isEnabled) {
        return EnableIt("divChkChangeRegistration", isEnabled);
    }

    function chkChangeRegistrationChecked(isChecked) {
        var chk = $("#chkChangeRegistration");
        var checked = chk.is(":checked");
        if (checked != ToBoolean(isChecked)) {
            chk.attr("checked", !checked);
            BindCheckboxClass("chkChangeRegistration", "lbl_chkChangeRegistration");
        }
        return chk;
    }

    function chkChangeRegistrationChange() {
        ShowChangeOfRegNo();
    }

    function ShowChangeOfRegNo() {
        var isChecked = $("#chkChangeRegistration").is(":checked");
        pnlChangeRegNoDecisionVisible(isChecked, true);
        if (isChecked) {
            chkNoFurtherDetailsChecked(false);
            chkChangeOffenderChecked(true);
            ShowChangeOfOffender();
            @if (Model.IsSummons)
            {
                @:chkChangeAddressChecked(false);
            }
        }
        ShowRegNoDetails();
    }
    //#endregion

    //#region pnlChangeRegNoDecision
    function pnlChangeRegNoDecisionEnabled(isEnabled) {
        return EnableIt("pnlChangeRegNoDecision", isEnabled);
    }

    function pnlChangeRegNoDecisionVisible(isVisible, isAnimation) {
        return ControlVisible("pnlChangeRegNoDecision", isVisible, isAnimation);
    }
    //#endregion

    //#region chkNoFurtherDetails
    function chkNoFurtherDetailsChange() {
        ShowRegNoDetails();
    }

    function chkNoFurtherDetailsChecked(isChecked) {
        var chk = $("#chkNoFurtherDetails");
        var checked = chk.is(":checked");
        if (checked != ToBoolean(isChecked)) {
            chk.attr("checked", !checked);
            BindCheckboxClass("chkNoFurtherDetails", "lbl_chkNoFurtherDetails");
        }
        return chk;
    }

    function ShowRegNoDetails() {
        var isVisible = $("#pnlChangeRegNoDecision").is(":visible");
        var isChecked = $("#chkNoFurtherDetails").is(":checked");
        pnlRegistrationVisible(isVisible && !isChecked, true);
    }
    //#endregion

    //#region pnlRegistration
    function pnlRegistrationEnabled(isEnabled) {
        return EnableIt("pnlRegistration", isEnabled);
    }

    function pnlRegistrationVisible(isVisible, isAnimation) {
        return ControlVisible("pnlRegistration", isVisible, isAnimation);
    }
    //#endregion
</script>

<div id="divChkChangeRegistration" style="width: 250px">
    @Html.CheckBoxFor(m => m.IsChangeOfRegNo, new { id = "chkChangeRegistration" })
</div>
<div id="pnlChangeRegNoDecision" style="display: none;">
    <fieldset style="width: 500px">
        <legend>@RepresentationResx.ReasonForChangeOfRegistration</legend>
        <table style="width: 100%">
            <tr>
                <td>&nbsp;</td>
                <td>@Html.RadioButtonFor(m => m.ChangeOfRegNoType, RegNoType.N, new { id = "rdlRegDecision0" })</td>
                <td>@Html.RadioButtonFor(m => m.ChangeOfRegNoType, RegNoType.I, new { id = "rdlRegDecision1" })</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Html.RadioButtonFor(m => m.ChangeOfRegNoType, RegNoType.D, new { id = "rdlRegDecision2" })</td>
                <td>@Html.RadioButtonFor(m => m.ChangeOfRegNoType, RegNoType.L, new { id = "rdlRegDecision3" })</td>
            </tr>
        </table>
    </fieldset>
    <div id="divChkNoFurtherDetails" style="padding: 3px; width: 600px">
        @Html.CheckBoxFor(m => m.NewRegNoDetailsChecked, new { id = "chkNoFurtherDetails" })
    </div>
    <div id="pnlRegistration" style="display: none; padding: 3px">
        <table>
            <tr style="font-size: larger; font-style: italic; font-weight: bolder;">
                <td colspan="2">@RepresentationResx.ExistingRegistrationDetails</td>
                <td colspan="2">@RepresentationResx.NewRegistrationDetails</td>
            </tr>
            <tr>
                <td>@RepresentationResx.RegistrationNumber:</td>
                <td>@Html.TextBoxFor(m => m.Notice.OrigRegNo, new { @readonly = "readonly" })</td>
                <td>@RepresentationResx.RegistrationNumber:</td>
                <td>@Html.TextBoxFor(m => m.Notice.NotRegNo, new { maxlength = 10 })</td>
            </tr>
            <tr>
                <td>@RepresentationResx.VehicleMake:</td>
                <td>@Html.DropDownListFor(m => m.VMIntNo, Model.VehicleMakesList ?? new List<SelectListItem>(), RepresentationResx.SelectVehicleMake, new { disabled = "disabled" })</td>
                <td>@RepresentationResx.VehicleMake:</td>
                <td>@Html.DropDownListFor(m => m.NewVMIntNo, Model.VehicleMakesList ?? new List<SelectListItem>(), RepresentationResx.SelectVehicleMake)</td>
            </tr>
            <tr>
                <td>@RepresentationResx.VehicleType:</td>
                <td>@Html.DropDownListFor(m => m.VTIntNo, Model.VehicleTypeList ?? new List<SelectListItem>(), RepresentationResx.SelectVehicleType, new { disabled = "disabled" })</td>
                <td>@RepresentationResx.VehicleType:</td>
                <td>@Html.DropDownListFor(m => m.NewVTIntNo, Model.VehicleTypeList ?? new List<SelectListItem>(), RepresentationResx.SelectVehicleType)</td>
            </tr>
            <tr>
                <td>@RepresentationResx.Colour:</td>
                <td>@Html.DropDownListFor(m => m.NotVehicleColour, Model.VehicleColourList ?? new List<SelectListItem>(), RepresentationResx.SelectVehicleColour, new { disabled = "disabled" })</td>
                <td>@RepresentationResx.Colour:</td>
                <td>@Html.DropDownListFor(m => m.NewVehicleColourDescr, Model.VehicleColourList ?? new List<SelectListItem>(), RepresentationResx.SelectVehicleColour)</td>
            </tr>
        </table>
    </div>
</div>
<br/>