﻿@using SIL.AARTO.Web.Resource.Representation
@model SIL.AARTO.BLL.Representation.Model.RepresentationModel
@{
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);
}

<script>
    $(function() {
        chkChangeOffenderEnabled("@Model.RepControlStatus.chkChangeOffenderEnabled");
        pnlChangeOfOffenderEnabled("@Model.RepControlStatus.pnlChangeOfOffenderEnabled");
        BindSubContent("chkChangeOffender", "@RepresentationResx.ChangeOffender", null, chkChangeOffenderChange);

        @if (Model.IsSummons)
        {
            <text>
        chkChangeAddressEnabled("@Model.RepControlStatus.chkChangeAddressEnabled");
        BindSubContent("chkChangeAddress", "@RepresentationResx.ChangeAddress", null, chkChangeAddressChange);
            </text>
        }

        @if (Model.RepControlStatus.btnInsufficientDetailsVisible)
        {
            <text>
        $("#btnInsufficientDetails").click(function () {
            SubmitText = $(this).val();
            $(this).closest("form").attr("action", '@Url.Action("InsufficientDetails", controller)').submit();
        });
            </text>
        }

        BindSubContent("chkCopyAddress", "@RepresentationResx.CopyAddress", null,
            function(isChecked) {
                BindCopyAddress(isChecked, "txtPO1", "txtStreet1");
                BindCopyAddress(isChecked, "txtPO2", "txtStreet2");
                BindCopyAddress(isChecked, "txtPO3", "txtStreet3");
                BindCopyAddress(isChecked, "txtPO4", "txtStreet4");
            }).change();

        $("#txtIDNumber").change(function() {
            var lbl = $('#lblIDNumber');
            lbl.text('');
            $.post('@Url.Action("CalculateAge", controller)',
                { autIntNo: ToInt('@Model.AutIntNo'), idNumber: $(this).val() },
                function(rsp) {
                    $('#txtAge').val(rsp.Body);
                    if (!rsp.IsSuccessful && !IsNullOrEmpty(rsp.ErrorMessage))
                        lbl.text(rsp.ErrorMessage);
                });
        });
        //if (!IsNullOrEmpty($("#txtIDNumber").val()))
        //    $("#txtIDNumber").change();

        GetAreaCodes("btnPostalCodesA", "ddlPostalCodesA", "txtPO4", "txtPoArea");
        GetAreaCodes("btnPostalCodesB", "ddlPostalCodesB", "txtStreet4", "txtStreetArea");

        SameWidth("editorPart", "pnlChangeOfOffender");
    });

    function BindCopyAddress(isChecked, idSource, idTarget) {
        var source = $("#" + idSource);
        if (IsNullOrEmpty(source)) return;
        var target = $("#" + idTarget);
        if (IsNullOrEmpty(target)) return;
        source.unbind("change");
        if (ToBoolean(isChecked)) {
            source.change(function() {
                target.val(source.val());
            }).change();
        }
    }

    function GetAreaCodes(idBtn, idSelect, idTown, idValue) {
        var button = $("#" + idBtn);
        var select = $("#" + idSelect);
        var txtTown = $("#" + idTown);
        var txtValue = $("#" + idValue);
        if (IsNullOrEmpty(button)
            || IsNullOrEmpty(select)
            || IsNullOrEmpty(txtTown)
            || IsNullOrEmpty(txtValue))
            return;

        select.change(function() {
            txtValue.val(select.val());
        });

        button.click(function() {
            var town = txtTown.val();
            if (typeof town != "string") return;
            $.blockUI({
                overlayCSS: { opacity: 0 },
                message: null
            });
            $.post('@Url.Action("GetAreaCodes", controller)',
            { town: town }, function(rsp) {
                if (ToBoolean(rsp.IsSuccessful) && !IsNullOrEmpty(rsp.Body)) {
                    SelectPushOptions(idSelect, rsp.Body.Codes, rsp.Body.Value, 1);
                }
            });
        });
    }

    //#region chkChangeOffender
    function chkChangeOffenderEnabled(isEnabled) {
        return EnableIt("divChkChangeOffender", isEnabled);
    }

    function chkChangeOffenderChecked(isChecked) {
        var chk = $("#chkChangeOffender");
        var checked = chk.is(":checked");
        if (checked != ToBoolean(isChecked)) {
            chk.attr("checked", !checked);
            BindCheckboxClass("chkChangeOffender", "lbl_chkChangeOffender");
        }
        return chk;
    }

    function chkChangeOffenderChange() {
        ShowChangeOfOffender();
    }

    function ShowChangeOfOffender() {
        var isChecked = $("#chkChangeOffender").is(":checked");
        @if (!Model.IsSummons)
        {
            <text>
        if (!isChecked) {
            chkChangeOffenderChecked(true);
        }
        EnableNameChange(true);
            </text>
        }
        else
        {
            <text>
        chkChangeAddressChecked(!isChecked);
        EnableNameChange(isChecked);
        EnableCooInput(isChecked);
        if (!isChecked
            && $("#chkChangeRegistration").is(":checked")) {
            chkChangeRegistrationChecked(false);
            ShowChangeOfRegNo();
        }
            </text>
        }
    }
    //#endregion

    @if (Model.IsSummons)
    {
        <text>
    //#region chkChangeAddress
    function chkChangeAddressEnabled(isEnabled) {
        return EnableIt("divChkChangeAddress", isEnabled);
    }

    function chkChangeAddressChecked(isChecked) {
        var chk = $("#chkChangeAddress");
        var checked = chk.is(":checked");
        if (checked != ToBoolean(isChecked)) {
            chk.attr("checked", !checked);
            BindCheckboxClass("chkChangeAddress", "lbl_chkChangeAddress");
        }
        return chk;
    }

    function chkChangeAddressChange() {
        ShowChangeAddress();
    }

    function ShowChangeAddress() {
        var isChecked = $("#chkChangeAddress").is(":checked");
        chkChangeOffenderChecked(!isChecked);
        EnableNameChange(!isChecked);
        EnableCooInput(!isChecked);
        if (isChecked
            && $("#chkChangeRegistration").is(":checked")) {
            chkChangeRegistrationChecked(false);
            ShowChangeOfRegNo();
        }
    }
    //#endregion
        </text>
    }

    //#region pnlChangeOfOffender
    function pnlChangeOfOffenderEnabled(isEnabled) {
        return EnableIt("pnlChangeOfOffender", isEnabled);
    }
    //#endregion

    function EnableNameChange(isEnable) {
        EnableIt("txtSurname", isEnable);
        EnableIt("txtForenames", isEnable || $.trim($("#txtForenames").val()).length > 3);
        EnableIt("txtInitials", isEnable);
    }

    function EnableCooInput(isEnable) {
        EnableIt("txtSurname", isEnable);
        EnableIt("txtIDNumber", isEnable);
        EnableIt("txtForenames", isEnable);
        EnableIt("txtPassport", isEnable);
        EnableIt("txtInitials", isEnable);
        EnableIt("txtNationality", isEnable);
        EnableIt("txtAge", isEnable);
    }

</script>

<div id="divChkChangeOffender" style="width: 250px">
    @Html.CheckBoxFor(m => m.IsChangeOfOffender, new { id = "chkChangeOffender" })
</div>
<br/>
@if (Model.IsSummons)
{
    <div id="divChkChangeAddress" style="width: 250px">
        @Html.CheckBoxFor(m => m.IsChangeAddress, new { id = "chkChangeAddress" })
    </div>
    <br/>
}
<div  id="pnlChangeOfOffender">
    <fieldset>
        <legend>@RepresentationResx.NewDriverDetails</legend>
        <table>
            @if (Model.RepControlStatus.btnInsufficientDetailsVisible)
            {
                <tr style="height: 30px; vertical-align: top">
                    <td colspan="3" style="color: red; text-align: center;">* @RepresentationResx.EnterNameOfTownSuburbHereToUsePostalCodeLookupFacility</td>
                    <td  style="text-align: center;"><input id="btnInsufficientDetails" type="button" class="NormalButton" value="@RepresentationResx.InsufficientDetails" /></td>
                </tr>
            }
            <tr>
                <td>@RepresentationResx.Surname:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvSurname, new { id = "txtSurname", maxlength = 100 })</td>
                <td>@RepresentationResx.IDNumber:</td>
                <td>
                    @Html.TextBoxFor(m => m.Driver.DrvIDNumber, new { id = "txtIDNumber", maxlength = 13 })
                    <br/><label id="lblIDNumber" style="color: red"></label>
                </td>
            </tr>
            <tr>
                <td>@RepresentationResx.Forenames:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvForeNames, new { id = "txtForenames", maxlength = 100 })</td>
                <td>@RepresentationResx.PassportNo:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvPassport, new { id = "txtPassport", maxlength = 25 })</td>
            </tr>
            <tr>
                <td>@RepresentationResx.Initials:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvInitials, new { id = "txtInitials", maxlength = 10 })</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@RepresentationResx.Nationality:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvNationality, new { id = "txtNationality", maxlength = 3 })</td>
                <td>@RepresentationResx.Age:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvAge, new { id = "txtAge", maxlength = 3 })</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3"><input id="chkCopyAddress" type="checkbox" /></td>
            </tr>
            <tr>
                <td>@RepresentationResx.PostalAddress:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvPOAdd1, new { id = "txtPO1", maxlength = 100 })</td>
                <td>@RepresentationResx.StreetAddress:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvStAdd1, new { id = "txtStreet1", maxlength = 100 })</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvPOAdd2, new { id = "txtPO2", maxlength = 100 })</td>
                <td></td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvStAdd2, new { id = "txtStreet2", maxlength = 100 })</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvPOAdd3, new { id = "txtPO3", maxlength = 100 })</td>
                <td></td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvStAdd3, new { id = "txtStreet3", maxlength = 100 })</td>
            </tr>
            <tr>
                <td style="color: red; text-align: right;">*</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvPOAdd4, new { id = "txtPO4", maxlength = 100 })</td>
                <td style="color: red; text-align: right;">*</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvStAdd4, new { id = "txtStreet4", maxlength = 100 })</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvPOAdd5, new { maxlength = 100 })</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@RepresentationResx.CodeLookup:</td>
                <td>
                    <input id="btnPostalCodesA" type="button" value="..." style="width: 20px" />&nbsp;
                    <select id="ddlPostalCodesA" style="width: 154px">
                        <option value="">@RepresentationResx.SelectAreaCode</option>
                    </select>
                </td>
                <td>@RepresentationResx.CodeLookup:</td>
                <td>
                    <input id="btnPostalCodesB" type="button" value="..." style="width: 20px" />&nbsp;
                    <select id="ddlPostalCodesB" style="width: 154px">
                        <option value="">@RepresentationResx.SelectAreaCode</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>@RepresentationResx.PostalCode:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvPOCode, new { id = "txtPoArea", maxlength = 4 })</td>
                <td>@RepresentationResx.StreetCode:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvStCode, new { id = "txtStreetArea", maxlength = 4 })</td>
            </tr>
            <tr>
                <td>@RepresentationResx.HomeTel:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvHomeNo, new { maxlength = 20 })</td>
                <td>@RepresentationResx.WorkTel:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvWorkNo, new { maxlength = 20 })</td>
            </tr>
            <tr>
                <td>@RepresentationResx.CellNumber:</td>
                <td>@Html.TextBoxFor(m => m.Driver.DrvCellNo, new { maxlength = 20 })</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
</div>