﻿@using SIL.AARTO.BLL.Extensions
@using SIL.AARTO.BLL.Representation
@using SIL.AARTO.Web.Resource.Representation
@using SIL.ServiceBase
@model SIL.AARTO.BLL.Representation.Model.RepresentationModel
@{
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);
}

<script>
    $(function () {
        EnableIt("txtOffenceDescr", "@Model.RepControlStatus.txtOffenceDescrEnabled");
        EnableIt("ddlRepOfficial", "@Model.RepControlStatus.ddlRepOfficialEnabled");
        ControlVisible("pnlAmount", "@Model.RepControlStatus.pnlAmountVisible");
        ControlVisible("pnlRepOfficial", "@Model.RepControlStatus.pnlRepOfficialVisible");
        EnableIt("rblCodes", "@Model.RepControlStatus.rblCodesEnabled");
        EnableIt("rwrList", "@Model.RepControlStatus.rblCodesEnabled");

        BuildRepCodeList();

        $("#divRepEdit tr").each(function() {
            var tds = $(this).children();
            if (tds.length == 4) {
                tds.filter(":even").attr("class", "NormalBold")
                    .end().filter(":odd").css("width", "200px")
                    .children("input:text").attr("class", "Normal").css("width", "180px")
                    .end().children("select:first-child").css("width", "182px");
            } else if (tds.length == 2 && tds.filter("[colspan]").length == 1) {
                tds.eq(0).attr("class", "NormalBold")
                    .end().eq(1).children("input:text").attr("class", "Normal").css("width", "96.4%")
                    .end().children("textarea").attr("class", "Normal").css("width", "95.6%");
            }
        });

        $('#txtRepDate').datepicker({
            dateFormat: "yy-mm-dd",
            //autoSize: false
        });

        $("#btnCancel").click(function() {
            SwitchPages(3);
        });

        @*ControlVisible("divLnkShowDocuments", "@Model.RepControlStatus.lnkShowDocumentsVisible");*@
        $("#lnkShowDocuments").click(function () {
            var repIntNo = 0, srIntNo = 0;
            if (!ToBoolean("@Model.IsSummons"))
                repIntNo = HiddenValue("RepIntNo");
            else
                srIntNo = HiddenValue("RepIntNo");
            if (repIntNo == 0 && srIntNo == 0) {
                BlockConfirm("@(!Model.RepAction.Equals2(RepAction.O)
                                    ? RepresentationResx.PleaseAddARepresentationBeforeAddingTheSupportingDocuments
                                    : RepresentationResx.PleaseAddARepresentationBeforeAddingTheSupportingDocuments_COO)");
            } else {
                BlockPost('@Url.Action("GetTMSDomain", controller)', {}, function (rsp) {
                    if (rsp.IsSuccessful) {
                        window.open(rsp.Body + '/SupportingDocuments.aspx?code_rep=' + repIntNo + '&code_srep=' + srIntNo + '&ticket=' + "@Model.NotTicketNo", 'SupportingDocuments', 'width=680,height=450, left=100,top=200 ,resizable=yes');
                    }
                }, TextProcessing);
            }
        });

        @if (Model.RepControlStatus.btnSaveVisible)
        {
            <text>
        $("#btnSave").click(function () {
            var btn = $("#btnSave");
            SubmitText = btn.val();
            btn.closest("form").attr("action", '@Url.Action("Save", controller)').submit();
        });</text>
        }
        @if (Model.RepControlStatus.btnDecideVisible)
        {
            <text>
        $("#btnDecide").click(function () {
            @if (Model.RepAction.Equals2(RepAction.O))
            {
                <text>
            if (!$("#chkChangeOffender").is(":checked")
                && !$("#chkChangeAddress").is(":checked")) {
                BlockConfirm('@RepresentationResx.YouMustSelectChangeOffenderOrChangeAddress.Raw()');
                return false;
            }
            </text>
            }
            CheckWithdraw(function () {
                var btn = $("#btnDecide");
                SubmitText = btn.val();
                btn.closest("form").attr("action", '@Url.Action("Decide", controller)').submit();
            });
        });
        </text>
        }
        @if (Model.RepControlStatus.btnReverseVisible)
        {
            <text>
        $("#btnReverse").click(function () {
            var btn = $("#btnReverse");
            SubmitText = btn.val();
            btn.closest("form").attr("action", '@Url.Action("Reverse", controller)').submit();
        });</text>
        }
    });


    //#region rblCodes
    function BuildRepCodeList() {
        @if (Model.RepActionName.Equals2(RepAction.DecideName))
        {
            if (!Model.Charge.IsReadOnly && !Model.RepCodeList.IsNullOrEmpty())
            {
                foreach (var code in Model.RepCodeList)
                {
                    @:BindRadio("rblCode" + "@code.Value", "@code.Text");
                        }
                @:$('input:radio[name=RepresentationCode]').change(rblCodesChange).change();
                    }
        }
    }

    function rblCodesChange() {
        LockRevAmountForWithdrawn();
    }

    function LockRevAmountForWithdrawn() {
        var code = ToInt($('input:radio[name=RepresentationCode]:checked').val());
        var lockRevAmout = code != ToInt("@RepresentationBase.REPCODE_REDUCTION")
            && code != ToInt("@RepresentationBase.REPCODE_CHANGEOFFENDER")
            && code != ToInt("@RepresentationBase.SUMMONS_REPCODE_REDUCTION")
            && code != ToInt("@RepresentationBase.SUMMONS_REPCODE_CHANGEOFFENDER");
        EnableIt("txtRevAmount", !lockRevAmout && !ToBoolean("@Model.Notice.BlockNoAOG"));
        if (lockRevAmout)
            $("#txtRevAmount").val("@Model.RepRevisedFineAmountCache");
    }
    //#endregion

    function CheckWithdraw(onYes) {
        if (typeof onYes != "function") return;
        var code = ToInt($('input:radio[name=RepresentationCode]:checked').val());
        if (CheckCooAndCor()) {
            BlockConfirm("@(!Model.IsSummons ? RepresentationResx.NoticeUndecidedRepWillBeLockedIfProcessCOO.Raw() : RepresentationResx.SummonsWillBeWithdrawnForReissueLockAllReps.Raw())", onYes);
        } else if (code == ToInt("@RepresentationBase.REPCODE_WITHDRAW")
            || code == ToInt("@RepresentationBase.SUMMONS_REPCODE_WITHDRAW")
            || code == ToInt("@RepresentationBase.SUMMONS_REPCODE_REISSUE")
            || CheckChangeRegWithdraw()) {
            BlockConfirm("@Model.WithdrawWarning", onYes);
        } else
            onYes();
    }

    function CheckChangeRegWithdraw() {
        return $("#chkChangeRegistration").is(":checked")
            && ($("#chkNoFurtherDetails").is(":checked")
                || ToBoolean("@Model.IsSummons"));
    }

    function CheckCooAndCor() {
        return ToBoolean("@Model.HasUndecidedRep")
            && ($("#chkChangeOffender").is(":checked")
                || $("#chkChangeRegistration").is(":checked"));
    }

    function showWithDrawlReason(show) {
        if (show)
            $('#withdrawalReasons').show();
        else
            $('#withdrawalReasons').hide();
    }
</script>

<table id="editorPart">
    <tr>
        <td>@RepresentationResx.TicketNo:</td>
        <td>@Html.TextBoxFor(m => m.NotTicketNo, new { @readonly = "readonly" })</td>
        <td>@RepresentationResx.ChargeStatus:</td>
        <td>@Html.TextBoxFor(m => m.RepCSDescr, new { @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@(!Model.RepAction.Equals2(RepAction.O) ? RepresentationResx.DateOfRepresentation : RepresentationResx.DateOfRepresentation_COO):</td>
        <td>@Html.TextBoxFor(m => m.RepDate, new { id = "txtRepDate", Value = Model.RepDate.GetValueOrDefault(DateTime.Now).ToString("yyyy-MM-dd") })</td>
        <td>@RepresentationResx.ChargeOffence:</td>
        <td>@Html.TextBoxFor(m => m.Charge.ChgOffenceDescr, new { @readonly = "readonly", id = "txtOffenceDescr" })</td>
    </tr>
    <tr>
        <td>@RepresentationResx.VehicleRegistration:</td>
        <td>@Html.TextBoxFor(m => m.Notice.OrigRegNo, new { @readonly = "readonly" })</td>
        <td>@RepresentationResx.OffenderName:</td>
        <td>@Html.TextBoxFor(m => m.RepOffenderName, new { @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td>@RepresentationResx.AddressDetails:</td>
        <td colspan="3">@Html.TextAreaFor(m => m.RepOffenderAddress, new { rows = 4, @readonly = "readonly" })</td>
    </tr>
    @if (!Model.RepAction.Equals2(RepAction.O))
    {
        <tr>
            <td>@RepresentationResx.DetailsOfRepresentation:</td>
            <td colspan="3">@Html.TextAreaFor(m => m.RepDetails, new { rows = 2 })</td>
        </tr>
    }
    @if (!Model.RepAction.Equals2(RepAction.O) && Model.RepControlStatus.txtRecommendVisible)
    {
        <tr>
            <td>@RepresentationResx.Recommendations:</td>
            <td colspan="3">@Html.TextBoxFor(m => m.RepRecommend)</td>
        </tr>
    }
    @if (!Model.RepAction.Equals2(RepAction.O) && Model.RepControlStatus.txtReversalReasonVisible)
    {
        <tr>
            <td>@RepresentationResx.ReasonForReversal:</td>
            <td colspan="3">@Html.TextBoxFor(m => m.RepReverseReason)</td>
        </tr>
    }
    <tr id="pnlAmount">
        <td>@RepresentationResx.OriginalFineAmount:</td>
        <td>@Html.TextBoxFor(m => m.RepCurrentFineAmount, new { @readonly = "readonly" })</td>
        <td>@RepresentationResx.RevisedFineAmount:</td>
        <td>@Html.TextBoxFor(m => m.RepRevisedFineAmount, new { id = "txtRevAmount" })</td>
    </tr>
    <tr id="pnlRepOfficial">
        <td>@RepresentationResx.Official:</td>
        <td colspan="3">
            @Html.DropDownListFor(m => m.RepOfficial, Model.OfficialList ?? new List<SelectListItem>(), RepresentationResx.SelectOfficialName, new { id = "ddlRepOfficial", style = "width:182px" })&nbsp;&nbsp;&nbsp;&nbsp;
            <label style="font-size: larger; font-weight: bolder;">@Model.RepOfficial</label>
        </td>
    </tr>
    @if (Model.RepActionName.Equals2(RepAction.DecideName))
    {
        <tr @((Model.Charge.IsReadOnly || Model.RepCodeList.IsNullOrEmpty() ? "style=\"display: none\"" : "").Raw())>
            <td></td>
            <td colspan="3">
                <fieldset id="rblCodes" style="width: 250px">
                    <legend>@RepresentationResx.RepresentationCode</legend>
                    @if (!Model.Charge.IsReadOnly && !Model.RepCodeList.IsNullOrEmpty())
                    {
                        foreach (var code in Model.RepCodeList)
                        {
                            if (code.Value == SIL.AARTO.BLL.Representation.RepresentationBase.REPCODE_WITHDRAW.ToString() || code.Value == SIL.AARTO.BLL.Representation.RepresentationBase.SUMMONS_REPCODE_WITHDRAW.ToString())
                            {
                                <div>@Html.RadioButtonFor(m => m.RepresentationCode, code.Value, new { id = "rblCode" + code.Value, onClick = "showWithDrawlReason(true);" })</div>
                            }
                            else
                            {
                                <div>@Html.RadioButtonFor(m => m.RepresentationCode, code.Value, new { id = "rblCode" + code.Value, onClick = "showWithDrawlReason(false);" })</div>
                            }
                        }
                    }
                    else
                    {
                        <div>@Html.HiddenFor(m => m.RepresentationCode)</div>
                    }
                </fieldset>
                <br />
            </td>
        </tr>



    <tr id="withdrawalReasons" style="@((!Model.RWRIntNo.HasValue) ?"display:none;":"")">

        <td></td>
        <td colspan="2">
            @if (Model.Charge.IsReadOnly)
            {
                @Html.DropDownListFor(m => m.RWRIntNo, new SelectList(Model.WithdrawalReasons, "Key", "Value"), new { disabled = "disabled", id="rwrList" })
            }
            else
            {
                @Html.DropDownListFor(m => m.RWRIntNo, new SelectList(Model.WithdrawalReasons, "Key", "Value"), new { id = "rwrList" } )
            }

        </td>
    </tr>
    }
    <tr><td colspan="4"></td></tr>
    <tr>
        <td>
            <input id="btnCancel" type="button" class="NormalButton" value="@RepresentationResx.CancelBack" />
        </td>
        <td colspan="2">
            @if (Model.RepControlStatus.btnSaveVisible)
            {
                <input id="btnSave" type="button" class="NormalButton" value="@(Model.RepControlStatus.btnSaveIsAdd ? RepresentationResx.Add : RepresentationResx.Update)" />
                @:&nbsp;
            }
            @if (Model.RepControlStatus.btnDecideVisible)
            {
                <input id="btnDecide" type="button" class="NormalButton" value="@RepresentationResx.Decide" />
                @:&nbsp;
            }
            @if (Model.RepControlStatus.btnReverseVisible)
            {
                <input id="btnReverse" type="button" class="NormalButton" value="@RepresentationResx.Reverse" />
                @:&nbsp;
            }
        </td>
        <td style="text-align: center">
            <div id="divLnkShowDocuments">
                <a id="lnkShowDocuments" href="javascript:void(0);" style="text-decoration: underline">@RepresentationResx.ShowDocuments</a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
</table>