﻿@using SIL.AARTO.BLL.Representation
@using SIL.AARTO.Web.Resource.Representation
@using SIL.ServiceBase
@model SIL.AARTO.BLL.Representation.Model.RepresentationModel
@{
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);
}

<script>
    //#region form actions
    function GetOperationPrefix() {
        return IsNullOrEmpty(SubmitText)
            ? "" : (SubmitText == "@RepresentationResx.InsufficientDetails"
            ? SubmitText + " - " : SubmitText + " " + "@(!Model.RepAction.Equals2(RepAction.O) ? RepresentationResx.Representation : RepresentationResx.ChangeOfOffender)" + " - ");
    }

    function OnCommitBegin() {
        BlockLoading(TextProcessing);
    }

    function OnCommitSuccess(data, success, xhr) {
        if (data.IsSuccessful) {
            if (!IsNullOrEmpty(data.Body)) {
                if (typeof data.Body == "number") {
                    var repIntNo = ToInt(data.Body);
                    $("#btnSave").val(repIntNo > 0 ? "@RepresentationResx.Update" : "@RepresentationResx.Add");
                    HiddenValue("RepIntNo", repIntNo);
                } else if (typeof data.Body != "string") {
                    ShowPrintRepLetterConfirm(data.Body);
                } else {
                    ReponsePrintRepLetter(data.Body);
                }
            } else {
                GoToBeginning(data.Message);
            }
        }
    }

    function GoToBeginning(message) {
        var autIntNo = ToInt("@Model.AutIntNo");
        var ticketNumber = "@Model.NotTicketNo";
        LoadRepSearch(autIntNo, ticketNumber, true);
        if (IsNullOrEmpty(message)) {
            message = GetOperationPrefix() + "@RepresentationResx.Successful";
            WriteMessage(message, false);
        }
    }
    //#endregion

    //#region Print Rep Letter
    function ShowPrintRepLetterConfirm(dataBody) {
        if (!IsNullOrEmpty(dataBody)
            && !IsNullOrEmpty(dataBody.Confirm)) {
            BlockConfirm(dataBody.Confirm, function() {
                RequestPrintRepLetter(true, dataBody);
            }, function() {
                RequestPrintRepLetter(false, dataBody);
            });
        } else
            GoToBeginning();
    }

    function RequestPrintRepLetter(isYes, dataBody) {
        if (IsNullOrEmpty(dataBody)) return;
        var autIntNo = ToInt("@Model.AutIntNo");
        var ticketNumber = "@Model.NotTicketNo";
        BlockPost('@Url.Action("PostPrintRepLetter", controller)', {
            autIntNo: autIntNo,
            ticketNumber: ticketNumber,
            repIntNo: dataBody.RepIntNo,
            isYes: isYes,
            letterType: dataBody.LetterType,
            letterTo: dataBody.LetterTo,
            printFileName: dataBody.PrintFileName
        }, function(rsp) {
            if (rsp.IsSuccessful)
                ReponsePrintRepLetter(rsp.Body);
            else
                GoToBeginning(rsp.ErrorMessage);
        }, TextProcessingReport);
    }

    function ReponsePrintRepLetter(dataBody) {
        if (typeof dataBody == "string" && dataBody.length > 3) {
            BlockLoading(TextProcessingReport, function() {
                window.open(dataBody);
                $.unblockUI();
            });
        }
        GoToBeginning();
    }
    //#endregion
</script>

<div id="divRepEdit">
    @{ Html.RenderPartial(Model.ViewName.Message, Model); }
    @using (Ajax.BeginForm("", "", new AjaxOptions
    {
        HttpMethod = "Post",
        OnBegin = "OnCommitBegin",
        OnSuccess = "OnCommitSuccess"
    }))
    {
        Html.RenderPartial(Model.ViewName.Cache, Model);
        Html.RenderPartial(Model.ViewName.EditorPart, Model);
        if (Model.RepAction.Equals2(RepAction.O))
        {
            Html.RenderPartial(Model.ViewName.EditorPartChangeOfRegistration, Model);
            Html.RenderPartial(Model.ViewName.EditorPartChangeOfOffender, Model);
        }
    }
</div>