﻿@using SIL.AARTO.BLL.Extensions
@using SIL.AARTO.BLL.Representation.Model
@model SIL.AARTO.BLL.Representation.Model.MessageResult

@if (Model is RepresentationSearchModel)
{
    <script>
        function WriteMessage(msg, isError) {
            var lblMessage = $("#lblMessage");
            var lblError = $("#lblError");
            if (typeof msg == "boolean") {
                lblMessage.css("display", "none").empty();
                lblError.css("display", "none").empty();
            } else if (typeof msg == "string") {
                isError = ToBoolean(isError, true);
                var content = '<p class="' + (!isError ? "NormalGreen" : "NormalRed") + '" style="width: 700px">' + msg + '</p>';
                (!isError ? lblMessage : lblError).css("display", "").append(content);
            }
        }

        function WriteBlock(msg, type) {
            type = ToInt(type);
            var lblBlock = $(type == 0 ? "#lblBlock div" : "#lblBlockConfirm div");
            if (typeof msg == "boolean")
                lblBlock.empty();
            else if (typeof msg == "string" && !IsNullOrEmpty(msg))
                lblBlock.html(msg);
        }

        function BindBlock(onClickYes, onClickNo, type) {
            type = ToInt(type);
            KeepBlock = true;
            var btnYes = $(type == 0 ? '#btnBlockYes' : '#btnBlockConfirmYes');
            var btnNo = $(type == 0 ? '#btnBlockNo' : '#btnBlockConfirmNo');
            btnNo.unbind('click')
                .bind('click', function() {
                    KeepBlock = false;
                    $.unblockUI();
                    if (typeof onClickNo != "function")
                        return false;
                    onClickNo();
                    WriteBlock(false, type);
                });
            if (typeof onClickYes != "function") {
                btnNo.val("OK");
                btnYes.css("display", "none");
            } else {
                btnNo.val("No");
                btnYes.css("display", "")
                    .unbind('click')
                    .bind('click', function() {
                        KeepBlock = false;
                        $.unblockUI();
                        onClickYes();
                        WriteBlock(false, type);
                    });
            }
            $.blockUI({
                message: $(type == 0 ? '#lblBlock' : '#lblBlockConfirm')
            });
        }

        function BlockConfirm(text, onClickYes, onClickNo) {
            var type = 1;
            WriteBlock(text, type);
            BindBlock(onClickYes, (typeof onClickNo == "function"
                ? onClickNo
                : function() {
                    WriteBlock(false, type);
                }), type);
        }

        function ValidateBlock(onSuccess) {
            if (!IsNullOrEmpty($("#lblBlock div").html())) {
                BindBlock(onSuccess);
            } else if (typeof onSuccess == "function")
                onSuccess();
        }
    </script>

    <div id="divMessage">
        <div id="lblMessage" class="NormalGreen" style="display: none"></div>
        <div id="lblError" class="NormalRed" style="display: none"></div>
        <div id="lblBlock" style="cursor: default; display: none; font-weight: bold; margin: 10px;">
            <div></div>
            <br/><br/>
            <input id="btnBlockYes" type="button" value="Yes" />&nbsp;
            <input id="btnBlockNo" type="button" value="No" />
        </div>
        <div id="lblBlockConfirm" style="cursor: default; display: none; font-weight: bold; margin: 10px;">
            <div></div>
            <br/><br/>
            <input id="btnBlockConfirmYes" type="button" value="Yes" />&nbsp;
            <input id="btnBlockConfirmNo" type="button" value="No" />
        </div>
    </div>
}
@if (Model.HasMessage || Model.HasError || Model.HasBlock)
{
    <script>
        $(function() {
            @if (Model.HasMessage)
            {
                <text>
            WriteMessage("@Model.Message.Raw()", false);
            </text>
            }
            @if (Model.HasError)
            {
                <text>
            WriteMessage("@Model.ErrorMessage.Raw()");
            </text>
            }
            @if (Model.HasBlock)
            {
                <text>
            WriteBlock("@Model.BlockMessage.Raw()");
            </text>
            }
        });
    </script>
}