﻿@using SIL.AARTO.BLL.Representation
@using SIL.AARTO.BLL.Representation.Model
@using SIL.AARTO.Web.Resource.Representation
@using SIL.ServiceBase
@model SIL.AARTO.BLL.Representation.Model.ChargeModel
@{
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);
    var isChangeOfOffender = Model.RepAction.Equals2(RepAction.O);
    var charge = Model.Notice.ChargeList.FirstOrDefault(c => !c.IsReadOnly) ?? new ChargeModel();
    var chgIntNo = isChangeOfOffender ? charge.ChgIntNo : Model.ChgIntNo;
    var isReadOnly = isChangeOfOffender ? charge.IsReadOnly : Model.IsReadOnly;
    var chgRowVersion = isChangeOfOffender ? charge.RowVersion_Long : Model.RowVersion_Long;
}

<script>
    function Edit(repIntNo) {
        var autIntNo = ToInt("@Model.AutIntNo");
        var ticketNumber = "@Model.NotTicketNo";
        var isSummons = ToBoolean("@Model.IsSummons");
        var chgIntNo = ToInt("@Model.ChgIntNo");
        var isReadOnly = ToBoolean("@Model.IsReadOnly");
        var chgRowVersion = ToInt("@Model.RowVersion_Long");
        ValidateBlock(function() {
            SwitchPages(1, '@Url.Action("Edit", controller)', {
                autIntNo: autIntNo,
                ticketNumber: ticketNumber,
                isSummons: isSummons,
                chgIntNo: chgIntNo,
                isReadOnly: isReadOnly,
                repIntNo: repIntNo,
                chgRowVersion: chgRowVersion
            });
        });
    }
</script>

@{ Html.RenderPartial(Model.ViewName.Message, Model); }
<div id="divRepresentationList">
    @{
        var columns = new List<WebGridColumn>
        {
            new WebGridColumn { ColumnName = "Charge.ChargeNo", Header = RepresentationResx.ChargeNo, CanSort = false },
            new WebGridColumn { ColumnName = "RepIntNo", Header = RepresentationResx.RefNo, CanSort = false },
            new WebGridColumn
            {
                ColumnName = "RepDetails", Header = !Model.RepAction.Equals2(RepAction.O)
                    ? RepresentationResx.Representation : RepresentationResx.ChangeOfOffender,
                CanSort = false
            },
            new WebGridColumn { ColumnName = "RCDescr", Header = RepresentationResx.RepStatus, CanSort = false },
            new WebGridColumn { ColumnName = "RepDateStr", Header = RepresentationResx.RepDate, CanSort = false },
            new WebGridColumn
            {
                Format = item => item.Value.CanSelect
                    ? Html.ActionLink(RepresentationResx.Select, null, null, new { onclick = string.Format("Edit({0})", item.RepIntNo), href = "javascript:void(0)" })
                    : new MvcHtmlString(string.Format("<label style=\"color: darkgrey;\">{0}</label>", RepresentationResx.Select)),
                Header = RepresentationResx.Action, CanSort = false
            },
        };

        int index;
        if (!Model.RepActionName.In(RepAction.RegisterName, RepAction.DecideName)
            && (index = columns.FindIndex(c => c.ColumnName.Equals2("RCDescr"))) >= 0)
        {
            columns.RemoveAt(index);
        }

        if (!Model.RepresentationList.IsNullOrEmpty())
        {
            var grid = new WebGrid(Model.RepresentationList, rowsPerPage: int.MaxValue, canPage: false, canSort: false);
            @(grid.Table("Normal", "CartListHead", "CartListFooter", "CartListItem", "CartListItemAlt",
                  columns: columns,
                  footer: item => new MvcHtmlString("&nbsp;"),
                  htmlAttributes: new { style = "border:1px;border-collapse:collapse;", rules = "all" }))
        }
    }

    <br/>
    <table>
        <tr>
            <td>
                @if (Model.CanAdd)
                {
                    <input id="btnAdd" type="button" class="NormalButton" value="@(!isChangeOfOffender ? RepresentationResx.Add : RepresentationResx.AddChangeOfOffender)" onclick="@string.Format("Add({0}, {1}, {2})", chgIntNo, isReadOnly.ToString().ToLower(), chgRowVersion)" />
                }
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.RepActionName.In(RepAction.RegisterName, RepAction.DecideName))
                {
                    <input id="btnNoResults" type="button" class="NormalButton" value="@RepresentationResx.ReportForRepresentationsWithNoResults" onclick=" RepresentationWithNoResultsReport() " />
                }
            </td>
        </tr>
    </table>
</div>