﻿@using SIL.AARTO.Web.Helpers.TicketNumberSearch
@using SIL.AARTO.Web.Resource.Representation
@model SIL.AARTO.BLL.Representation.Model.RepresentationSearchModel

<table cellspacing="0" cellpadding="4" border="0" class="width_100pct margin-top_10 text-align_left">
    <tr>
        <td class="NormalBold Wrap_No" style="text-align: left">
            @RepresentationResx.ChangeLocalAuthority:
        </td>
        <td class="NormalBold" style="width: 100%">
            @Html.DropDownListFor(m => m.AutIntNo, Model.AuthorityList, RepresentationResx.PleaseSelectAuthority, new { id = "ddlSelectLA", style = "width: 220px;" })
        </td>
    </tr>
    <tr>
        <td class="NormalBold Wrap_No" style="text-align: left">
            @RepresentationResx.EnterTicketSequenceNumber:
        </td>
        <td class="NormalBold" style="width: 100%">
            @Html.TicketNumberSearch(Url, "SetAutIntNo", "GetTicketNo")
        </td>
    </tr>
    <tr id="trSearch">
        <td class="NormalBold Wrap_No" style="text-align: left">
            @RepresentationResx.EnterFullTicketNumber:
        </td>
        <td class="NormalBold" style="width: 100%">
            @Html.TextBoxFor(m => m.NotTicketNo, new { id = "txtNotTicketNo", style = "width: 215px;" })&nbsp;
            <input id="btnSearch" type="button" value="@RepresentationResx.Search" class="NormalButton" style="width: 80px;" />
        </td>
    </tr>
</table>