﻿@using SIL.AARTO.Web.Resource.Representation
@using SIL.ServiceBase
@model SIL.AARTO.BLL.Representation.Model.NoticeModel

<div class="Normal">
    @{ Html.RenderPartial(Model.ViewName.Message, Model); }
    @if (!Model.ChargeList.IsNullOrEmpty())
    {
        <p>
            @if (!string.IsNullOrWhiteSpace(Model.SummonsNo))
            {
                <label style="font-size: 14px;">@RepresentationResx.SummonsNo: @Model.SummonsNo</label>
                <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
            }
            <label style="font-size: 14px;">@RepresentationResx.NoticeTicketNo: @Model.NotTicketNo</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label style="font-size: 14px;">@RepresentationResx.Location: @Model.NotLocDescr</label>
        </p>
    }
    <div id="divList">
        @if (!Model.ChargeList.IsNullOrEmpty())
        {
            Html.RenderPartial(Model.ViewName.ChargeList, Model);
        }
    </div>
</div>