﻿@using SIL.AARTO.BLL.Representation
@using SIL.AARTO.Web.Resource.Representation
@using SIL.ServiceBase
@model SIL.AARTO.BLL.Representation.Model.RepresentationSearchModel
@{
    ViewBag.Title = Model.RepActionName.Equals2(RepAction.ChangeOfOffenderName)
        ? RepresentationResx.ChangeOfOffender
        : (Model.RepActionName.Equals2(RepAction.PresentationOfDocumentName)
            ? RepresentationResx.PresentationOfDocument
            : RepresentationResx.Representation);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = Convert.ToString(ViewContext.RouteData.Values["controller"]);    
}

<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet"  type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.blockUI.2.66.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<style type="text/css">
    .listTable {
        border: 1px solid black;
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        text-align: center;
    }

    .listTable tbody td {
        padding-bottom: 2px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 2px;
        text-align: center;
    }

    .maxWidth { max-width: 400px; }

    .NormalGreen {
        background-color: transparent;
        color: green;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    .subContentEnabled {
        color: #6977B0;
        font-size: larger;
        font-weight: bold;
    }

    .subContentDisabled { color: #000000 }

    #divRepEdit legend { line-height: 20px }

    #divRepEdit tr > td { text-align: left; }

    #divRepEdit tr > td:nth-child(2n - 1) { white-space: nowrap; }
</style>
<script src="@Url.Content("~/Scripts/Representation/Common.js")" type="text/javascript"></script>

<script>
    LoadingGif = "@Url.Content("~/Content/Image/ig_progressIndicator.gif")";

    $(document)
        .ajaxStart(function() {
            WriteMessage(false);
        })
        // auto write Message or Error
        .ajaxSuccess(function(e, r, s) {
            try {
                var data;
                if (typeof r.responseText != "string"
                    || r.responseText.length <= 0
                    || r.responseText[0] != "{"
                    || IsNullOrEmpty(data = $.parseJSON(r.responseText))
                    || typeof data.HasMessage != "boolean"
                    || typeof data.Message != "string"
                    || typeof data.HasError != "boolean"
                    || typeof data.ErrorMessage != "string")
                    return;
                if (data.HasMessage)
                    WriteMessage(data.Message, false);
                if (data.HasError)
                    WriteMessage(data.ErrorMessage);
            } catch (ex) {
                WriteMessage(ex);
            }
        })
        .ajaxError(function(e, r, s) {
            WriteMessage(r.status + " - " + r.statusText + " (" + s.url + ")");
        })
        .ajaxStop(function() {
            if (!KeepBlock)
                $.unblockUI();
        });

    $(function() {
        $('#ddlSelectLA').change(function() {
            var selected = $('#ddlSelectLA option:selected')[0];
            if (IsNullOrEmpty(selected)) return;
            var autIntNo = selected.value;
            if (IsNullOrEmpty(autIntNo)) return;
            $('#hidAutIntNo').val(autIntNo);
            SetAutIntNo(autIntNo);
        }).change();

        $('#btnSearch').click(function() {
            ClickSearch();
        });
    });

    function ClickSearch(hideWarning) {
        var autIntNo = $('#hidAutIntNo').val();
        if (IsNullOrEmpty(autIntNo)) return;
        var ticketNumber = $('#txtNotTicketNo').val();
        if (IsNullOrEmpty(ticketNumber)) return;
        LoadRepSearch(autIntNo, ticketNumber, hideWarning);
    }

    function LoadRepSearch(autIntNo, ticketNumber, hideWarning) {
        if (typeof hideWarning != "boolean") hideWarning = false;
        var searcher = $('#divSearcher');
        if (!searcher.is(":visible")) searcher.css("display", "");
        var container = $('#divContent');
        container.empty();
        container.Load2('@Url.Action("Search", controller)',
        { autIntNo: autIntNo, ticketNumber: ticketNumber, hideWarning: hideWarning });
    }

    function GetTicketNo(ticketNo) {
        $('#txtNotTicketNo').val(ticketNo);
        if (!IsNullOrEmpty(ticketNo))
            $('#btnSearch').click();
    }


    /// mode = 0: Switch page from ChargeList to RepresentationList;
    ///             1: Switch page from RepresentationList to Editor;
    ///             2: Switch page from ChargeList to Editor;
    ///             3: Switch page from Editor to ChargeList;
    function SwitchPages(mode, url, data) {
        mode = ToInt(mode);
        if (mode < 0 || mode > 3) mode = 0;
        if (0 <= mode && mode <= 2) {
            var container = mode == 0 ? $("#divChargeList") : $("#divContent");
            container.Load2(url, data, function(rsp) {
                if (1 <= mode && mode <= 2) {
                    if (typeof rsp == "string" && (rsp.length <= 0 || rsp[0] != "{"))
                        $('#divSearcher').css("display", "none");
                }
            }, mode == 2 ? TextProcessing : TextLoading);
        } else {
            $('#divSearcher').css("display");
            ClickSearch();
        }
    }
</script>

<br/>
<h2 style="text-align: center">@Model.Title</h2>

<div style="display: none; height: 0">
   @Html.HiddenFor(m => m.AutIntNo, new { id = "hidAutIntNo" })
</div>
<div id="divRepresentation" style="margin-left: 167px;">
    <div id="divSearcher">
        @{ Html.RenderPartial(Model.ViewName.Searcher, Model); }
    </div>
    @{ Html.RenderPartial(Model.ViewName.Message, Model); }
    <div id="divContent"></div>
</div>
<br/><br/>

<script>
    $("#trSearch").keypress(function(e) {
        switch (e.which) {
            case 13:
                var btnSearch = $("#btnSearch");
                if (!IsNullOrEmpty(btnSearch)
                    && btnSearch.is(":visible"))
                    btnSearch.click();
                break;
        }
    })
</script>