﻿@using SIL.AARTO.Web.Resource.Representation
@{
    ViewBag.Title = RepresentationWithNoResultResx.PageName;
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    var LoadingGif ="@Url.Content("~/Content/Image/ig_progressIndicator.gif")";

 
    $(function () {

        $("#BeginDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#BeginDate").datepicker('setDate', new Date(new Date() - (86400000 * 30)));
        $("#EndDate").datepicker('setDate', new Date());

    })


    $.getQuery = function (v) {
        var param = location.search;//取得浏览器的参数
        param = param.substring(1);
        var pars = param.split('&');
        for (var i = 0; i < pars.length; i++) {
            var tmp = pars[i].split('=');
            if (tmp[0] == v) {
                return tmp[1];
            }
        }
    }


    function OpenReport() {

        var sBeginDate = $("#BeginDate").val();
        var sEndDate = $("#EndDate").val();

        $("#div_processing").show();

        var autIntNo = $.getQuery("autIntNo") || $.getQuery("AutIntNo");
      
        if (sBeginDate != "" && sEndDate != "") {
            var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
            var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
            if (beginDate > endDate) {
                alert("@RepresentationWithNoResultResx.lblErrorText1");
                return false;
            }
        }

            $.ajax({
                url: "@Url.Action("GetRepresentationWithNoResultsUrl","Representation")",
                data: { autIntNo: autIntNo, BeginDate: sBeginDate, EndDate: sEndDate },
                type: "POST",
                success: function (rsp) {
                    if (rsp.Body == -2) {
                        $("#div_processing").hide();
                        window.top.location = "@Url.Action("login", "Account")";
                    }
                  @*  else if (rsp.Body == -1) {
                        $("#div_processing").hide();
                        alert("@RepresentationWithNoResultResx.PageExceptionError");
                        alert(rsp.Message);
                       return false;
                   }*@
                    else if (rsp.Body == -3) {
                        $("#div_processing").hide();
                       alert("@RepresentationWithNoResultResx.lblGetTMSDomainError");
                       return false;
                     }
                    if (rsp.IsSuccessful) {
                        $("#div_processing").hide();
                        window.open(rsp.Body);
                    }

                    $("#div_processing").hide();
                }
            });

    }

        

</script>

<div style="width: 900px; margin-left: 50px;">
    <div style="text-align: center; margin-bottom:30px">
        <p>
            <span id="lblPageName" class="ContentHead">@RepresentationWithNoResultResx.PageName</span>
        </p>
    </div>
    <div style="margin-left: 167px;">
        <table>
            <tr>
                <td>
                   <span style="font-weight:bold">@RepresentationWithNoResultResx.RepLoggedDate </span> &nbsp;&nbsp; From &nbsp;&nbsp; @Html.TextBox("BeginDate", null, new { @class = "Normal", style = "width:100px;" })
                    &nbsp;&nbsp;To &nbsp;&nbsp;@Html.TextBox("EndDate", null, new { @class = "Normal", style = "width:100px;" })
                </td>
            </tr>
            <tr>
              <td style="height:10px"></td>
            </tr>
            <tr>
                <td>
                   <input style="width:200px;" type="button" class="NormalButton"
                        id="btnOpenReport" onclick="OpenReport()" value="@RepresentationWithNoResultResx.lblOpenReport" name="btnOpenReport" />
                </td>
            </tr>
            <tr>
              <td style="height:10px"></td>
            </tr>
            <tr>
                <td>
                    <div id="div_processing" style="text-align:center; vertical-align:middle; margin: auto;display:none"><h3><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")"/>Processing...</h3></div>
                </td>
            </tr>
        </table>
    </div>
</div>

