﻿@model SIL.AARTO.COOAutomation.Web.Models.ProxyEnquiryModel
@using SIL.AARTO.COOAutomation.Web.Helpers;
@using SIL.AARTO.COOAutomation.Web.Helpers.Paginator;
@{
    ViewBag.Title = "Proxy Enquiry";
}
<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 100%;
        border: 1px solid black;
    }

    .footer {
        text-align: right;
    }

    .header {
        text-align: left;
    }

    .pager .selected {
        color: #eee !important;
        text-decoration: none !important;
    }
</style>
<script language="javascript" type="text/javascript">
    function Download() {
        window.open(_ROOTPATH + '/ProxyEnquiry/Download', "_blank");
    }
</script>
<span class="ContentHead">Proxy Enquiry</span>
<p>
    <span id="lblError" name="lblError" class="error">@Model.ErrorMsg</span>
</p>
@if (Model.ProxyNoticeList.Count > 0)
{
    <table cellspacing="0" cellpadding="4" border="0" style="border-collapse: collapse;"
        width="90%" class="listTable">
        <thead>
            <tr class="CartListHead">
                <td align="left">NoticeType
                </td>
                <td align="left">ID Number
                </td>
                <td align="left">Registration
                </td>
                <td align="left">Ticket No.
                </td>
                <td align="left">Offence Date
                </td>
                <td align="left">Amount
                </td>
                <td align="left">Court
                </td>
                <td align="left">Court Date
                </td>
                <td align="left">Status Description
                </td>
            </tr>
        </thead>
        <tbody>
            @{string cssClass;
              for (int i = 0; i < Model.ProxyNoticeList.Count; i++)
              {
                  var item = Model.ProxyNoticeList[i];
                  if (i % 2 == 0)
                  { cssClass = "CartListItem"; }
                  else
                  { cssClass = "CartListItemAlt"; }
                <tr class="@cssClass">
                    <td align="left">@item.NoticeType
                    </td>
                    <td align="left">@item.IDNumber
                    </td>
                    <td align="left">@item.RegNumber
                    </td>
                    <td align="left">@item.NoticeNumber
                    </td>
                    <td align="left">@item.Dateofoffence.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td align="left">@item.OffAmt
                    </td>
                    <td align="left">@item.Court
                    </td>
                    <td align="left">@item.CourtDate
                    </td>
                    <td align="left">@item.StatusDescr
                    </td>
                </tr>
              }
            }
            <tr class="CartListHead">
                <td colspan="10" align="right">
                    @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount }); }
                    @Html.Raw(strPage)
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: right">
        <input type="button" id="btnDownload" name="btnDownload" value="Download" class="NormalButton"
            onclick="Download();" />
    </div>
}