﻿@model SIL.AARTO.Web.ViewModels.ENatisErrorManagement.ENatisErrorLogModel
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource.ENatisErrorManagement;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
      
        $("#SearchStr").datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true, changeYear: true });

        });

      function OperReject(obj,eNELIntNo){
      if(confirm("Are you sure you want to reject it?"))
      {
        $.ajax({
            url:"@Url.Action("GetOperReject")",
            data:{eNELIntNo : eNELIntNo},
            type:"POST",
            success: function(data){
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login", "Account")";
                } else if(data.result ==0){
                    $(obj).parent().prev().text("rejected");
                    $(obj).hide();
                    $(obj).next().hide();
                   alert("@ENatisErrorList.RejectSuccess");
                }else if(data.result ==-4)
                {
                   alert("@ENatisErrorList.NotFoundNotice");
                }
                else
                {
                 alert("@ENatisErrorList.OtherError");
                }
                

            }
        });
      }
    }

     function OperResend(obj,eNELIntNo){
      if(confirm("Are you sure you want to resend it?"))
      {
        $.ajax({
            url:"@Url.Action("GetOperResend")",
            data:{eNELIntNo : eNELIntNo},
            type:"POST",
            success: function(data){
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login", "Account")";
                } else if(data.result ==0){
                    $(obj).parent().prev().text("resend");
                    $(obj).hide();
                    $(obj).prev().hide();
                   alert("@ENatisErrorList.ResendSuccess");
                }else if(data.result ==-3)
                {
                  alert(data.errorlist.errorTip);
                // alert("@ENatisErrorList.ResendFailure");
                }
                else
                {
                alert("@ENatisErrorList.OtherError");
                  
                }
                

            }
        });
      }
    }

    function OperSearch()
    {
          var params = $.param({
                            page:0,
                            searchStr:$("#SearchStr").val()
           });
          window.location = "@Url.Action("ENatisErrorList")?" + params;
       
    }


</script>
<div style="width: 800px; margin-left: 50px;">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@ENatisErrorList.lblPageName</span>
        </p>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <span style="display: inline-block; width: 130px;" class="NormalBold" id="lblSelection">@ENatisErrorList.lblENELDate</span>
                </td>
                <td>
                    @Html.TextBox("SearchStr", null, new { @class = "Normal", style = "width:200px;" })
                </td>
                <td>
                    <input  style="width:80px; cursor:pointer" type="button" class="NormalButton" id="btnSearch" onclick="OperSearch()"  value="@ENatisErrorList.Search" name="btnSearch" />
                </td>
            </tr>
        </table>
        <p>
            <span id="lblError" style="color: Red">@Model.ErrorMsg</span>
        </p>
        @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
        @{WebGrid grid = new WebGrid(Model.EnatisErrorLogs, canPage: false);}
        @(Model.EnatisErrorLogs.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
                                            //grid.Column("NotIntNo", ENatisErrorList.NotIntNo, canSort: true, style: "CartListItem"),
                                                    grid.Column("NotOffenceDate", ENatisErrorList.OffenceDate, item => string.Format("{0:yyyy-MM-dd HH:mm}", item.NotOffenceDate), canSort: false, style: "CartListItem"),
                                                    grid.Column("NotRegNo", ENatisErrorList.Registration, canSort: false, style: "CartListItem"),
                                                    grid.Column("AutName", ENatisErrorList.Authority, canSort: false, style: "CartListItem"),
                    grid.Column("ErrorCode", ENatisErrorList.ErrorCode, canSort: false, style: "CartListItem"),
                                        grid.Column("ENELDate", ENatisErrorList.ENELDate, item => string.Format("{0:yyyy-MM-dd HH:mm}", item.ENELDate), canSort: true, style: "CartListItem"),
                         grid.Column("ENELHandleStatus", ENatisErrorList.ENELHandleStatus, format: (item) =>
                 {

                     int handleStatus = item.ENELHandleStatus;
                     if (handleStatus == 1)
                     {
                         return "unprocessed";
                     }
                     else if (handleStatus == 2)
                     {
                         return "rejected";
                     }
                     else if (handleStatus == 3)
                     {
                         return "resend";
                     }
                     return "";
                 }, canSort: false, style: "CartListItem"),
                      grid.Column("ENELHandleStatus", ENatisErrorList.Operating, format: (item) =>
                           {

                               int handleStatus = item.ENELHandleStatus;
                               if (handleStatus == 1)
                               {
                                   return Html.Raw("<a style='color:#6977B0' href='javascript:void(0)' onclick='OperReject(this," + item.ENELIntNo + ")'>reject</a>   <a style='color:#6977B0'  href='javascript:void(0)' onclick='OperResend(this," + item.ENELIntNo + ")'>resend</a>");
                               }
                               return "";
                           }, canSort: false, style: "CartListItem")
   )
   )
        : null)
    </div>
</div>
