﻿@model SIL.AARTO.Web.ViewModels.VideoOffenceCapture.DetailModel
@using SIL.AARTO.Web.Resource.VideoOffenceCapture;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
.listTable
{
    border-collapse: collapse;
    border-color: Black;
    font-size: 8pt;
    width: 795px;
    border: 1px solid black;
}
</style>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function compareTime(startTime, endTime){
    return (new Date("0000/00/00 " + startTime)).getTime() > 
    (new Date("0000/00/00 " + endTime)).getTime();
}

function checkOffenceTime()
{
    var endTime = $("#EndTime").text();
    var startTime = $("#StartTime").text();
    var offenceTime = $("#OffTime").val();
    if (offenceTime) {
        if (compareTime(startTime,offenceTime) || compareTime(offenceTime,endTime)) {
            alert("@Detail.OffenceTimeError");
            $("#OffTime").val("");
        }
    }
}

function postToOPUS(){
    if (confirm("@Detail.FinishMsg")) {
        $.blockUI({ 
            message: '<h1><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")" /> @Detail.WaitStr</h1>'
        }); 

        $.ajax({
            url:"@Url.Action("FinishAddOffence", "VideoOffenceCapture")",
            type:'post',
            data:{vchIntNo : @Model.VchIntNo},
            success:function(reVal){
                if (reVal.result == -2) {
                    window.location = "@Url.Action("Login", "Account")";
                }
                else if(reVal.result == -1)
                {
                    $("#lblError").val(reVal.errorMsg);
                }
                else
                {
                    alert("@Html.Raw(Detail.PostToOPUSSuccess)");
                    window.location = "@Html.Raw(Url.Action("ShowDetail", "VideoOffenceCapture", new {isEndShow = true, vchIntNo = Model.VchIntNo}))";
                }
            }
        });
    }
}

    $(function () {
        switch ('@Model.Language') {
            case 'ms-MY':
            $.datepicker.setDefaults($.datepicker.regional['ms']);
            $.timepicker.setDefaults($.timepicker.regional['ms']);
            break;
            default:
            break;
        }
        $("#OffTime").timepicker({
            hourGrid: 4,
            minuteGrid: 10,
            onSelect:function(){
                checkOffenceTime();
            }
        });

        $('#addDetail').dialog({
            autoOpen: false,
            //bgiframe: true,
            position: "center",
            resizable: false,
            width: 530,
            modal: true
        });

        $('#btnAddDetail').click(function () {
            openDialog();
        });

        $("#btnFinshAdd").click(function(){
            if (@Model.Details.Count > 0) {
                postToOPUS();
            }
            else{
                alert("@Detail.OffenceCountError");
            }
        });

        $("#Colour").change(function () {
            //Heidi 2014-10-16 added validation fixing AARTOErrorLog shows issue.(5367)
            if($(this).val()!="")
            {
                $.ajax({
                    url:"@Url.Action("SelectVehicleColour", "VideoOffenceCapture")",
                    type:'post',
                    data:{vcIntNo : $(this).val()},
                    success:function(reVal){
                        if (reVal.result == -2) {
                            window.location = "@Url.Action("Login", "Account")";
                        }
                        else
                        {
                            $("#VcCode").val(reVal.vcCode);
                        }
                    }
                });
            }
            else
            {
                $("#VcCode").val("");
            }
        });

        $("#Maker").change(function () {
            //Heidi 2014-10-16 added validation fixing AARTOErrorLog shows issue.(5367)
            if($(this).val()!="")
            {
                $.ajax({
                    url:"@Url.Action("SelectVehicleMake", "VideoOffenceCapture")",
                    type:'post',
                    data:{vmIntNo : $(this).val()},
                    success:function(reVal){
                        if (reVal.result == -2) {
                            window.location = "@Url.Action("Login", "Account")";
                        }
                        else
                        {
                            $("#VmCode").val(reVal.vmCode);
                        }
                    }
                });
            }
            else
            {
                $("#VmCode").val("");
            }
        });

        $("#Type").change(function () {
            //Heidi 2014-10-16 added validation fixing AARTOErrorLog shows issue.(5367)
            if($(this).val()!="")
            {
               $.ajax({
                    url:"@Url.Action("SelectVehicleType", "VideoOffenceCapture")",
                    type:'post',
                    data:{vtIntNo : $(this).val()},
                    success:function(reVal){
                        if (reVal.result == -2) {
                            window.location = "@Url.Action("Login", "Account")";
                        }
                        else
                        {
                            $("#VtCode").val(reVal.vtCode);
                        }
                    }
                });
            }
            else
            {
                $("#VtCode").val("");
            }
        });

        $("#btnReturnHeader").click(function(){
            window.location = "@Url.Action("ShowHeader", "VideoOffenceCapture")";
        });

        $("#printPdf").click(function(){
            window.open("@Url.Action("GetReport", "VideoOffenceCapture", new {vchIntNo = Model.VchIntNo})");
        });

        $("#RegNo").blur(function(){
            this.value = this.value.toUpperCase();
        });

    });
    
    function openDialog(vcdIntNo) {
        var buttons = {};
        if (vcdIntNo) {
            buttons["@Common.Update"] = function () { $("#formAddDetail").submit(); }
            $.ajax({
                url:"@Url.Action("GetDetail", "VideoOffenceCapture")",
                type:'post',
                data:{vcdIntNo : vcdIntNo},
                success:function(reVal){
                    $("#VcdIntNo").val(vcdIntNo);
                    $("#OffTime").val(reVal.time);
                    $("#RegNo").val(reVal.regNo);
                    $("#Colour").val(reVal.color);
                    $("#Maker").val(reVal.maker);
                    $("#Type").val(reVal.type);
                    //$("#TicketNo").val(reVal.ticktNo);
                    $("#VcCode").val(reVal.vcCode);
                    $("#VtCode").val(reVal.vtCode);
                    $("#VmCode").val(reVal.vmCode);
                    $("#addDetail").dialog("open");
                }
            });
        }
        else {
            buttons["@Common.Add"] = function () { $("#formAddDetail").submit(); }
            
            $("#VcdIntNo").val("0");
            $("#OffTime").val("");
            $("#RegNo").val("");
            $("#Colour").val("");
            $("#Maker").val("");
            $("#Type").val("");
            //$("#TicketNo").val("");
            $("#VcCode").val("");
            $("#VtCode").val("");
            $("#VmCode").val("");
            $("#addDetail").dialog("open");
        }
        buttons["@Common.Cancel"] = function () { $('#addDetail').dialog("close"); }
        $("#addDetail").dialog('option', 'buttons', buttons);
    }

</script>
<div>
<table cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
        <td width="100%" valign="top" align="left" colspan="1">
            <table width="830" border="0" id="Table7">
                <tbody><tr>
                    <td valign="top" height="47">
                        <p align="center">
                            <span class="ContentHead" id="lblPageName">@Detail.lblPageName</span></p>
                        <p align="center">
                            <span class="NormalRed" id="lblError">@Model.ErrorMsg</span></p>
                    </td>
                </tr>
        <tr>
        <td>

         <table style="margin-left:25px;" cellspacing="15">
            <tr>
                <td>
                    <span style="display:inline-block;width:150px;" class="NormalBold" id="lblStaffNo">@Detail.OfficerName:</span>
                </td>
                <td>
                    @Model.Header.OfficerName
                </td>
                <td>
                    <span style="display:inline-block;width:150px;margin-left:40px;" class="NormalBold" id="lblOfficerName">@Detail.StaffNo:</span>
                </td>
                <td>
                    @Model.Header.OfficerCode
                </td>
            </tr>

            <tr>
                <td>
                    <span style="display:inline-block;width:150px;" class="NormalBold" id="lblStartTime">@Detail.StartTime:</span>
                </td>
                <td>
                    <span id="StartTime">@Model.Header.StartTime</span>
                </td>
                <td>
                    <span style="display:inline-block;width:150px;margin-left:40px;" class="NormalBold" id="lblEndTime">@Detail.EndTime:</span>
                </td>
                <td>
                    <span id="EndTime">@Model.Header.EndTime</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span style="display:inline-block;width:150px;" class="NormalBold" id="lblTapeNo">@Detail.TapeCassetteNo:</span>
                </td>
                <td>
                    @Model.Header.TapeCassetteNo
                </td>
                <td>
                    <span style="display:inline-block;width:150px;margin-left:40px;" class="NormalBold" id="lblNSType">@Detail.NSTypeCode:</span>
                </td>
                <td>@Model.Header.NSTypeDesc</td>
            </tr>

            <tr>
                <td>
                    <span style="display:inline-block;width:150px;" class="NormalBold" id="lblDate">@Detail.DateOffence:</span>
                </td>
                <td colspan="2">
                    @Model.Header.Date
                </td>
                <td>
                </td>
            </tr>

            <tr>
                <td>
                    <span style="display:inline-block;width:150px;" class="NormalBold" id="lblOffence">@Detail.TypeOffence:</span>
                </td>
                <td colspan="2">
                    @Model.Header.Offence
                </td>
                <td>
                </td>
            </tr>

            <tr>
                <td>
                    <span style="display:inline-block;width:150px;" class="NormalBold" id="lblLocation">@Detail.LocationOffence:</span>
                </td>
                <td colspan="2">
                    @Model.Header.Location
                </td>
                <td>
                </td>
            </tr>

        </table>
  
        </td>
        </tr>
        <tr>
        <td>
        <div id="addDetail">
        @using (Html.BeginForm("SaveDetail", "VideoOffenceCapture", FormMethod.Post, new { id="formAddDetail" }))
        { 
        <table style="margin-left:40px;" cellspacing="4">
            <tr>
                <td>
                    <span style="display:inline-block;width:180px;" class="NormalBold" id="lblRegNo">@Detail.RegNo:</span>
                </td>
                <td colspan="2">
                    @Html.TextBox("RegNo", null, new { onkeyup = "this.value = this.value.toUpperCase();", @class = "inputWidthOne"  })
                    @Html.ValidationMessage("RegNo")
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="display:inline-block;" class="NormalBold" id="lblOffTime">@Detail.Time:</span>
                </td>
                <td colspan="2">
                    @Html.Hidden("VcdIntNo", null)
                    @Html.Hidden("VchIntNo", null)
                    @Html.TextBox("OffTime", null, new { @readonly="readonly", @class = "inputWidthOne" })
                    @Html.ValidationMessage("OffTime")
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="display:inline-block;" class="NormalBold" id="lblColour">@Detail.VehicleColour:</span>
                </td>
                <td colspan="2">
                    @Html.DropDownList("Colour", Model.Colours, Detail.PleaseSelect)
                    @Html.ValidationMessage("Colour")
                    @Html.Hidden("VcCode",null)
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="display:inline-block;" class="NormalBold" id="lblMaker">@Detail.VehicleMake:</span>
                </td>
                <td colspan="2">
                    @Html.DropDownList("Maker", Model.Makers, Detail.PleaseSelect, new { })
                    @Html.ValidationMessage("Maker")
                    @Html.Hidden("VmCode",null)
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="display:inline-block;" class="NormalBold" id="lblType">@Detail.VehicleType:</span>
                </td>
                <td colspan="2">
                    @Html.DropDownList("Type", Model.Types, Detail.PleaseSelect)
                    @Html.ValidationMessage("Type")
                    @Html.Hidden("VtCode",null)
                </td>
                <td>
                </td>
            </tr>
@*            <tr>
                <td>
                    <span style="display:inline-block;width:150px;margin-left:40px;height:25px;" class="NormalBold" id="lblOffCode">@Detail.TraffecTicketNo:</span>
                </td>
                <td colspan="2">
                    @Html.TextBox("TicketNo", null)
                    @Html.ValidationMessage("TicketNo")
                </td>
                <td>
                </td>
            </tr>*@
            <tr>
                <td>
                    
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>
        }  
        </div>
        </td>
        </tr>
        <tr>
        <td>
<div id="Panel1" style="margin-left:40px;">

<p>
<input type="button" id="btnAddDetail" value="@Detail.btnAddDetail" class="NormalButton" 
    @(!ViewBag.IsEndShow ? "" : "disabled=disabled") />&nbsp;
<input type="button" id="btnFinshAdd" value="@Detail.btnFinshAdd" class="NormalButton"
    @(!ViewBag.IsEndShow ? "" : "disabled=disabled") />&nbsp;
<input type="button" id="btnReturnHeader" value="@Detail.AddNewOffence" class="NormalButton"
    @(ViewBag.IsEndShow ? "" : "disabled=disabled") />&nbsp;
<input type="button" id="printPdf" value="@Detail.Print" class="NormalButton"
    @(ViewBag.IsEndShow ? "" : "disabled=disabled") />&nbsp;
</p>

@{WebGrid grid = new WebGrid(Model.Details, canPage: false);
  
  List<WebGridColumn> columnList = grid.Columns(
    grid.Column("RowNo", " ", canSort: false, style: "CartListItem"),
    grid.Column("VCDTime", Detail.Time, format: entity => string.Format("{0:HH:mm}", entity.VCDTime), canSort: false, style: "CartListItem"),
    grid.Column("VCDRegNo", Detail.RegNo, canSort: false, style: "CartListItem"),
    grid.Column("VechileColour", Detail.VehicleColour, canSort: false, style: "CartListItem"),
    grid.Column("VechileMaker", Detail.VehicleMake, canSort: false, style: "CartListItem"),
    grid.Column("VechileType", Detail.VehicleType, canSort: false, style: "CartListItem"),
    grid.Column("VTNoticeTicketNo", Detail.TraffecTicketNo, canSort: false, style: "CartListItem")).ToList();
        
  if (!ViewBag.IsEndShow)
  {
    columnList.Add(grid.Column(
        format: item => Html.ActionLink(Common.Edit, "Edit", null, new { onclick = string.Format("openDialog({0})", item.VcdIntNo), href = "JavaScript:void(0)" })
            , style: "CartListItem"
        ));
    columnList.Add(grid.Column(format: (item) => Html.ActionLink(Common.Delete, "DeleteDetail", null, new
        {
            onclick =
                "return confirm('" + Detail.DeleteMsg + " " + item.VTNoticeTicketNo + "?')? window.location='" +
                Url.Action("DeleteDetail") + "?vcdIntNo=" + item.VcdIntNo + "':'';",
            href = "JavaScript:void(0)"
        }), style: "CartListItem"));
  }
  WebGridColumn[] columns = columnList.ToArray();
}

@(grid.GetHtml(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
columns: columns)
)

</div>
        </td>
        </tr>
        
            <tr>
                <td valign="top">
                </td>
            </tr>
        </tbody></table>
            </td>
        </tr>
    </tbody></table>
</div>