﻿@model SIL.AARTO.Web.ViewModels.VideoOffenceCapture.HeaderModel
@using SIL.AARTO.Web.Resource.VideoOffenceCapture;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    function compareTime(startTime, endTime) {
        return (new Date("0000/00/00 " + startTime)).getTime() >
        (new Date("0000/00/00 " + endTime)).getTime();
    }

    function checkStartEndTime(currentInput) {
        var endTime = $("#EndTime").val();
        var startTime = $("#StartTime").val();
        if (endTime && startTime) {
            if (compareTime(startTime, endTime)) {
                alert("@Header.SetTimeError");
            $(currentInput).val("");
        }
    }
}
$(function () {
    //Set DatePicker language
    switch ('@Model.Language') {
            case 'ms-MY':
                $.datepicker.setDefaults($.datepicker.regional['ms']);
                $.timepicker.setDefaults($.timepicker.regional['ms']);
                break;
            default:
                break;
        }
        $("#CompiledDate").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#CheckedDate").datepicker({ dateFormat: 'yy-mm-dd' });
        //        $("#CapturedDate").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#Date").datepicker({ dateFormat: 'yy-mm-dd' });

        $("#StartTime").timepicker({
            hourGrid: 4,
            minuteGrid: 10,
            onSelect: function () {
                checkStartEndTime(this);
            }
        });

        $("#EndTime").timepicker({
            hourGrid: 4,
            minuteGrid: 10,
            onSelect: function () {
                checkStartEndTime(this);
            }
        });

        $("#Offence").change(function () {
            $.ajax({
                url: "@Url.Action("SelectOffence", "VideoOffenceCapture")",
                type: 'post',
                data: { offIntNo: $(this).val(), offDate: $.trim($("#Date").val()) },
                success: function (reVal) {
                    if (reVal.result == -2) {
                        window.location = "@Url.Action("Login", "Account")";
                    }
                    else {
                        $("#Fine").val(reVal.fine);
                        $("#OffenceCode").val(reVal.offCode);
                        $("#OffenceCode_readonly").val(reVal.offCode);
                        $("#Fine_readonly").val(reVal.fine);
                    }
                }
            });
        });

        $("#Officer").change(function () {
            $.ajax({
                url: "@Url.Action("SelectOfficer", "VideoOffenceCapture")",
                type: 'post',
                data: { toIntNo: $(this).val() },
                success: function (reVal) {
                    if (reVal.result == -2) {
                        window.location = "@Url.Action("Login", "Account")";
                    }
                    else {
                        $("#OfficerName").val(reVal.offcerName);
                        $("#OfficerCode").val(reVal.offcerCode);
                        $("#OfficerName_readonly").val(reVal.offcerName);
                    }
                }
            });
        });

        $("#Court").change(function () {
            $.ajax({
                url: "@Url.Action("SelectCourt", "VideoOffenceCapture")",
                type: 'post',
                data: { crtIntNo: $(this).val() },
                success: function (reVal) {
                    if (reVal.result == -2) {
                        window.location = "@Url.Action("Login", "Account")";
                    }
                    else {
                        $("#CrtNo").val(reVal.crtNo);
                    }
                }
            });
            $("#CrtIntNo").val($("#Court").val());
        });

        @*$("#LocationSuburb").change(function () {
            $.ajax({
                url: "@Url.Action("SelectLocation", "VideoOffenceCapture")",
                type: 'post',
                data: { LocationSuburbValue: $(this).val() },
                success: function (reVal) {
                    if (reVal.result == -2) {
                        window.location = "@Url.Action("Login", "Account")";
                    }
                    else {
                        $("#LoSoIntNo").val(reVal.LoSoIntNo);
                    }
                }
            });
           });*@

        $("#Authority").change(function () {
            var autIntNo = $(this).val();
            window.location = "@Url.Action("ShowHeader", "VideoOffenceCapture")" + "?autIntNo=" + autIntNo;
        });

        $("#btnSubmit").val('@(Model.VCHIntNo > 0 ? Common.Update : Common.Add)')

        $("#formAddHeader").submit(function () {
            if (confirm("@Header.SubmitConfirm")) {
                return true;
            }
            else {
                return false;
            }
        });
        //*****
        EnabledConrols();
        //2013-12-13 Heidi added for check Railway Crossing Location(5149)
        $("#IsRailwayCrossing").click(function () {
            if ($("#IsRailwayCrossing").is(":checked")) {
                //if ($("#RailwayLocation option").length > 1) {
                $("#Location").attr("disabled", "disabled");
                $("#LocationSuburb").attr("disabled", "disabled");
                $("#Court").attr("disabled", "disabled");
                // }
                $("#tdRailwayLocation").show();
                $("#span_Location").hide();
            }
            else {
                $("#Location").removeAttr("disabled");
                $("#tdRailwayLocation").hide();
                $("#LocationSuburb").removeAttr("disabled");
                $("#Court").removeAttr("disabled");
            }
        });

        $("#RailwayLocation").change(function () {
            var LocIntnoString = $("#RailwayLocation").val();
            if (LocIntnoString != "0") {
               
                $.ajax({
                    url: "@Url.Action("GetCrtIntNoAndLoSuIntNoByLocIntNo", "VideoOffenceCapture")",
                    type: 'post',
                    data: { LocIntNo: $(this).val() },
                    success: function (reVal) {
                        if (reVal.result == -2) {
                            window.location = "@Url.Action("Login", "Account")";
                          }
                        else {
                           
                            $("#LoSuIntNo").val("");
                            $("#CrtIntNo").val("");
                            $("#LocationSuburb").val("");
                            $("#Court").val("");
                            if (reVal.StrLoSuIntNoCrtIntNo != "") {

                                var idStringArray = reVal.StrLoSuIntNoCrtIntNo.split("|");
                                  if (idStringArray.length > 0) {
                                      $("#LocationSuburb option").each(function () {
                                          if ($(this).val() == idStringArray[0]) {
                                              $(this).attr("selected", "selected");
                                          }
                                          else {
                                              $(this).removeAttr("selected");
                                          }
                                      });

                                      $("#Court option").each(function () {
                                          if ($(this).val() == idStringArray[1]) {
                                              $(this).attr("selected", "selected");
                                          }
                                          else {
                                              $(this).removeAttr("selected");
                                          }
                                      });
                                     
                                  }
                                  
                                  $("#LoSuIntNo").val($("#LocationSuburb").val());
                                  $("#CrtIntNo").val($("#Court").val());

                                  if ($("#IsRailwayCrossing").is(":checked")) {
                                      $("#LocationSuburb").attr("disabled", "disabled");
                                      $("#Court").attr("disabled", "disabled");
                                  }


                              }
                          }
                      }
                });

              }
        });

    $("#btnSubmit").click(function () {
        var isSuccess = true;
            if ($("#IsRailwayCrossing").is(":checked")) {

                if ($("#RailwayLocation").val() == "") {
                    $("#span_RailwayLocation").show();
                    //return false;
                    isSuccess = false;
                }
                else {
                    $("#span_RailwayLocation").hide();
                }
            }
            else {
                if ($.trim($("#Location").val()) == "") {
                    $("#span_Location").show();
                    //return false;
                    isSuccess = false;
                }
                else { $("#span_Location").hide(); }
            }

            if ($("#LoSuIntNo").val() == "" || $("#LoSuIntNo").val() == "0") {
                $("#span_LocationSuburb").show();
                isSuccess = false;
            }
            else { $("#span_LocationSuburb").hide(); }

            if ($("#CrtIntNo").val() == "" || $("#CrtIntNo").val() == "0") {
                $("#span_Court").show();
                isSuccess = false;
            }
            else { $("#span_Court").hide(); }
            return isSuccess;
        });

        if ($("#OldLocIntNo").val() != "0" && $("#OldLocIntNo").val() != "") {
            $("#RailwayLocation").val($("#OldLocIntNo").val());
        }
     

        $("#LoSuIntNo").val($("#LocationSuburb").val());
        $("#CrtIntNo").val($("#Court").val());

        if ($("#IsRailwayCrossing").is(":checked")) {
            $("#Location").attr("disabled", "disabled");
            $("#LocationSuburb").attr("disabled", "disabled");
            $("#Court").attr("disabled", "disabled");
            $("#tdRailwayLocation").show();
            $("#span_Location").hide();
        }

        $("#LocationSuburb").change(function () {
            $("#LoSuIntNo").val($("#LocationSuburb").val());
        });


    });

      //2012-09-27 by seawen 
      function EnabledConrols() {
          var objectArray = ("OffenceCode,Fine,OfficerName,CapturedDate,CapturedBy").split(",");
          //get the default values
          for (var i = 0; i < objectArray.length; i++) {
              $("#" + objectArray[i] + "_readonly").val($("#" + objectArray[i]).val());
              $("#" + objectArray[i] + "_readonly").attr("disabled", true);
          }
      }


</script>

<div>
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="left" colspan="1">
                    <table width="900" border="0" id="Table7">
                        <tbody>
                            <tr>
                                <td valign="top" height="47">
                                    <p align="center">
                                        <span class="ContentHead" id="lblPageName">@Header.lblPageName</span>
                                    </p>
                                    <p align="center">
                                        <span class="NormalRed" id="lblError">@Model.ErrorMsg</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @using (Html.BeginForm("SaveHeader", "VideoOffenceCapture", FormMethod.Post, new { id = "formAddHeader" }))
                                    {
                                        <table cellpadding="4" style="margin-left: 40px;">
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblAuthority">@Header.Authority:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.Hidden("VCHIntNo", null)
                                                    @Html.DropDownList("Authority", Model.Authorities)
                                                    @Html.ValidationMessage("Authority")
                                                   <span style="margin-left:50px"> @Html.CheckBox("IsRailwayCrossing", new { @class = "Normal", style = "margin:0;padding:0;" }) <span class="NormalBold" id="lblIsRailwayCrossing">@Header.IsRailwayCrossing</span></span> 
                                                </td>
                                                <td>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblTapeNo">@Header.TapeCassetteNo:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.TextBox("TapeCassetteNo", null, new { @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("TapeCassetteNo")
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblDate">@Header.Date:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.TextBox("Date", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("Date")
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblLocation">@Header.Location:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.TextBox("Location", null, new { style = "width:350px;", @class = "inputWidthOne" })
                                                    @*   @Html.ValidationMessage("Location")*@
                                                    <span data-valmsg-replace="true" id="span_Location" style="display: none" class="field-validation-error">
                                                        <span class="">*</span>
                                                    </span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr id="tdRailwayLocation" style="display: none">
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblRailwayLocation">@Header.RailwayLocation:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.DropDownList("RailwayLocation", Model.RailwayLocations, Header.PleaseSelect)
                                                    <span data-valmsg-replace="true" id="span_RailwayLocation" style="display: none" class="field-validation-error">
                                                        <span class="">*</span>
                                                    </span>
                                                    @Html.Hidden("OldLocIntNo", Model.OldLocIntNo)
                                                </td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblLocationSuburb">@Header.LocationSuburb:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.DropDownList("LocationSuburb", Model.LocationSuburbs, Header.PleaseSelect)
                                                     <span data-valmsg-replace="true" id="span_LocationSuburb" style="display: none" class="field-validation-error">
                                                        <span class="">*</span>
                                                    </span>
                                                     @Html.Hidden("LoSuIntNo",null)
                                                </td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblCourt">@Header.Court:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.DropDownList("Court", Model.Courts, Header.PleaseSelect)
                                                     <span data-valmsg-replace="true" id="span_Court" style="display: none" class="field-validation-error">
                                                        <span class="">*</span>
                                                    </span>
                                                    @Html.Hidden("CrtNo", null)
                                                    @Html.Hidden("CrtIntNo",null)
                                                </td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="display: inline-block;" class="NormalBold" id="lblNtsType">@Header.NSTypeCode:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.DropDownList("NSType", Model.NSTypes, Header.PleaseSelect)
                                                    @Html.ValidationMessage("NSType")
                                                </td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblOffence">@Header.Offence:</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.DropDownList("Offence", Model.Offences, Header.PleaseSelect)
                                                    @Html.ValidationMessage("Offence")
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblOffCode">@Header.OffenceCode:</span>
                                                </td>
                                                <td colspan="2">
                                                    <input id="OffenceCode_readonly" class="inputWidthOne" />
                                                    @Html.ValidationMessage("OffenceCode")
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblFine">@Header.Fine:</span>
                                                </td>
                                                <td colspan="2">
                                                    <input id="Fine_readonly" class="inputWidthOne" />
                                                    @Html.ValidationMessage("Fine")
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblStaffNo">@Header.StaffNo:</span>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("Officer", Model.Officers, Header.PleaseSelect)
                                                    @Html.ValidationMessage("Officer")
                                                </td>
                                                <td>
                                                    <span style="display: inline-block; width: 150px; margin-left: 40px;" class="NormalBold" id="lblOfficerName">@Header.OfficerName:</span>
                                                </td>
                                                <td>
                                                    <input id="OfficerName_readonly" class="inputWidthOne" />
                                                    @Html.Hidden("OfficerCode", null)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblStartTime">@Header.StartTime:</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("StartTime", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("StartTime")
                                                </td>
                                                <td>
                                                    <span style="display: inline-block; width: 150px; margin-left: 40px;" class="NormalBold" id="lblEndTime">@Header.EndTime:</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("EndTime", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("EndTime")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblCompiled">@Header.CompiledBy:</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("CompiledBy", null, new { @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("CompiledBy")
                                                </td>
                                                <td>
                                                    <span style="width: 150px; margin-left: 40px;" class="NormalBold" id="lblCompiledDate">@Header.CompiledDate:</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("CompiledDate", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("CompiledDate")
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblCheckedBy">@Header.CheckedBy:</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("CheckedBy", null, new { @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("CheckedBy")
                                                </td>
                                                <td>
                                                    <span style="width: 150px; margin-left: 40px;" class="NormalBold" id="lblCheckedDate">@Header.CheckedDate:</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("CheckedDate", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                                    @Html.ValidationMessage("CheckedDate")
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblCapturedBy">@Header.CapturedBy:</span>
                                                </td>
                                                <td>
                                                    <input id="CapturedBy_readonly" class="inputWidthOne" />
                                                    @Html.ValidationMessage("CapturedBy")
                                                </td>
                                                <td>
                                                    <span style="width: 150px; margin-left: 40px;" class="NormalBold" id="lblCapturedDate">@Header.CapturedDate:</span>
                                                </td>
                                                <td>
                                                    <input id="CapturedDate_readonly" class="inputWidthOne" />
                                                    @Html.ValidationMessage("CapturedDate")
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <input id="btnSubmit" type="submit" value="Add" class="NormalButton" />
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <div style="display: none">
                                            @Html.TextBox("OffenceCode", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                            @Html.TextBox("Fine", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                            @Html.TextBox("OfficerName", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                            @Html.TextBox("CapturedDate", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                            @Html.TextBox("CapturedBy", null, new { @readonly = "readonly", @class = "inputWidthOne" })
                                        </div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
