﻿@model SIL.AARTO.Web.ViewModels.SecondaryOffence.SecondaryOffenceModel
@using SIL.AARTO.Web.Resource.SecondaryOffence;
@using SIL.AARTO.Web.Helpers.Paginator;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        
        $("#OffenceGroup").change(function () {
            $("#SearchOffenceGroupForm").submit();
        });

        $("#Offence").change(function () {
            $("#SearchOffenceGroupForm").submit();
        });

        $("#ChangeOffenceGroup").change(function () {
            var selectChangeOffenceGroup = $("#ChangeOffenceGroup option:selected").val();
            if(selectChangeOffenceGroup != "0"){

               $("#ChangeOffence option[value!=0]").remove();
               $.ajax({ 
                url: "@Url.Action("SelectOffence", "SecondaryOffence")",
                type:"POST",
                dataType: "json",
                data: { ogIntNo: selectChangeOffenceGroup, SeOfIntNo:0},
                success: function (data) { 
                        if (data.result == -2) {
                            window.location = "@Url.Action("login", "Account")";
                        }
                        else
                        {
                            $.each(data.data, function(i, data) {
                                $("<option value=" + data.Value + ">" + data.Text + "</option>").appendTo($("#ChangeOffence"));
                            });
                        }
                    }
                 });

                }
        });


        $("#btnOptAdd").click(function () {
            initForm();
        });

        //2014-01-10 Heidi Added for check ChangeOffence is null
        $("#btnAdd").click(function () {
            var isSuccess = true;
            if ($("#ChangeOffence").val() == "" || $("#ChangeOffence").val() == "0") {
                $("#span_ChangeOffence").show();
                isSuccess = false;
            }
            else { $("#span_ChangeOffence").hide(); }
            return isSuccess;
        });

    });

    function showForm(obj) {
        var row = $(obj).parent().parent().children();
        $("#SeOfIntNo").val($(obj).attr("intId"));
        $.ajax({ 
            url: "@Url.Action("GetSecondaryOffenceLangList", "SecondaryOffence")",
            type:"POST",
            dataType: "json",
            data:{ seOfIntNo : $(obj).attr("intId")},
            success: function (data) { 
                if (data.result == -2) {
                    window.location = "@Url.Action("login", "Account")";
                }
                else
                {
                    initForm(data.data, row);
                }
            }
        });
    }

    function initForm(obj, row) {
        if (obj) {
            if (obj.LanguageList.length == 0) {
                $("#LanguageLookupTb input").val("");
                $("#mul_en-US").val($(row[0]).text());
            }
            else
            {
                for (var i = 0; i < obj.LanguageList.length; i++) {
                    $("#mul_" + obj.LanguageList[i].LsCode).val(obj.LanguageList[i].LookupValue);
                }
            }
            var selectOffenceGroup = $("#OffenceGroup option:selected").val();
            $("#ChangeOffenceGroup").val(selectOffenceGroup);
            var selectOffence = $("#Offence option:selected").val();
            $("#ChangeOffence option[value!=0]").remove();
            $.ajax({ 
                url: "@Url.Action("SelectOffence", "SecondaryOffence")",
                type:"POST",
                dataType: "json",
                data: { ogIntNo: $("#ChangeOffenceGroup").val(), SeOfIntNo: obj.SeOfIntNo },
                success: function (data) { 
                        if (data.result == -2) {
                            window.location = "@Url.Action("login", "Account")";
                        }
                        else
                        {
                            $.each(data.data, function(i, data) {
                                $("<option value=" + data.Value + ">" + data.Text + "</option>").appendTo($("#ChangeOffence"));
                            });
                            //$("#ChangeOffence").val(selectOffence);
                            //2014-01-23 Heidi fixed bug for when click "edit" button,offence dropdownlist no data selected.(5103)
                            $("#ChangeOffence").val(data.OffIntNo);
                        }
                    }
                 });

            $("#SeOfCode").val(obj.SeOfCode);
            $("#SeOfIntNo").val(obj.SeOfIntNo);
            $("#formTable").show();
            $("#btnAdd").val("@SecondaryOffenceList.btnAdd_Update");
        }
        else {
            $("#SeOfIntNo").val("0");
            $("#ChangeOffenceGroup").val("0");
            $("#ChangeOffence option[value!=0]").remove();
            $("#SeOfCode").val("");
            $("#LanguageLookupTb input").val("");
            $("#formTable").show();
            $("#SearchOffenceGroupForm").hide();
            $("#btnAdd").val("@SecondaryOffenceList.btnAdd_Add");
        }
    }
</script>
<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 695px;
        border: 1px solid black;
    }
    .footerStyle
    {
        text-align: right;
        height: 18px;
    }
</style>
<div>
    <table width="100%" height="10%" cellspacing="0" cellpadding="0" border="0" id="Table5">
        <tbody>
            <tr>
                <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color: #fff">
                </td>
            </tr>
        </tbody>
    </table>
    <table height="85%" cellspacing="0" cellpadding="0" border="0" id="Table6">
        <tbody>
            <tr>
                <td valign="top" align="center" style="width: 182px">
                    <div id="pnlMainMenu">
                    </div>
                    <div style="border-color: Black; border-width: 1px; border-style: Solid; width: 146px;
                        margin: 20px;" id="pnlSubMenu">
                        <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <span style="display: inline-block; width: 118px;" class="ProductListHead" id="Label1">@SecondaryOffenceList.Options</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <input type="button" style="width:135px;" class="NormalButton" id="btnOptAdd" value="@SecondaryOffenceList.Add" name="btnOptAdd" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="21" align="center">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td width="100%" valign="top" align="left" colspan="1">
                    <table width="568" border="0" id="Table7" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" height="47">
                                    <p align="center">
                                        <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@SecondaryOffenceList.PageName</span></p>
                                    <p>
                                        <span class="NormalRed" id="lblError">@Model.ErrorMsg</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @using (Html.BeginForm("SearchOffenceGroup", "SecondaryOffence", FormMethod.Post, new { id = "SearchOffenceGroupForm" }))
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 259px;" class="NormalBold" id="lblSelOffenceGroup">@SecondaryOffenceList.lblOffenceGroup</span>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("OffenceGroup", Model.OffenceGroupList, new { style = "width:217px;", Class = "Normal" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 259px;" class="NormalBold" id="lblSelOffence">@SecondaryOffenceList.lblOffence</span>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("Offence", Model.OffenceList, new { style = "width:217px;", Class = "Normal" })
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <div id="pnlSecondaryOffenceList">
                                        @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
                                        @{WebGrid grid = new WebGrid(Model.PageSecondaryOffence, canPage: false);}
                                        @(Model.PageSecondaryOffence.Count > 0 ? grid.Table(
                                            headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                                            footerStyle: "CartListHead footerStyle",
                                            footer: footer => Html.Raw(strPage),
                                            columns: grid.Columns(
                                                        grid.Column("SeOfCode", SecondaryOffenceList.SeOfCode, canSort: false, style: "CartListItem"),
                                                                grid.Column("SeOfDescription", SecondaryOffenceList.SeOfDescription, canSort: false, style: "CartListItem"),
                                                        grid.Column(
                                                                                    format: item => Html.ActionLink(SecondaryOffenceList.Edit, "Edit", null, new { onclick = string.Format("showForm(this)"), intId = item.SeOfIntNo, href = "JavaScript:void(0)" })
                                                                    , style: "CartListItem"
                                                        ),
                                                                grid.Column(format: (item) => Html.ActionLink(SecondaryOffenceList.Delete, "DeleteSecondaryOffence", new { seOfIntNo = item.SeOfIntNo }), style: "CartListItem"))
                                                , htmlAttributes: new { cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
                                            : null)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="pnlAddSecondaryOffence">
                                        @using (Html.BeginForm("SaveSecondaryOffence", "SecondaryOffence"))
                                        {
                                            <table width="568" cellspacing="1" cellpadding="1" border="0" id="formTable" style="display: none;">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="ProductListHead" id="lblAddSecondaryOffence">@SecondaryOffenceList.AddNew</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span style="display: inline-block; width: 259px;" class="NormalBold" id="lblSelOffenceGroup">@SecondaryOffenceList.lblOffenceGroup</span>
                                                        </td>
                                                        <td>
                                                            @Html.DropDownList("ChangeOffenceGroup", Model.ChangeOffenceGroupList, new { style = "width:217px;", Class = "Normal" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span style="display: inline-block; width: 259px;" class="NormalBold" id="lblSelOffence">@SecondaryOffenceList.lblOffence</span>
                                                        </td>
                                                        <td>
                                                            @Html.DropDownList("ChangeOffence", Model.ChangeOffenceList, new { style = "width:217px;", Class = "Normal" })
                                                             <span data-valmsg-replace="true" id="span_ChangeOffence" style="display: none" class="field-validation-error">
                                                              <span class="">*</span>
                                                              </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span style="display: inline-block; width: 235px;" class="NormalBold" id="lblSeOfDesc">@SecondaryOffenceList.SeOfCode:</span>
                                                        </td>
                                                        <td>
                                                            @Html.TextBox("SeOfCode")
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span style="display: inline-block; width: 235px;" class="NormalBold" id="lblSeOfCode">@SecondaryOffenceList.SeOfDescription:</span>
                                                        </td>
                                                        <td>
                                                            @{
                                                                    Html.RenderPartial("MulityLangPartView", Model.LookupModel);
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="248" colspan="2">
                                                            <input type="submit" class="NormalButton" id="btnAdd" value="" name="btnAdd" />
                                                            <input type="hidden" value="0" id="hidSeOfIntNo" name="hidSeOfIntNo" />
                                                            @Html.Hidden("SeOfIntNo")
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
