﻿@using System.Configuration
@using SIL.AARTO.Web.Helpers.Paginator
@using SIL.AARTO.Web.Resource.Admin
@model SIL.AARTO.Web.ViewModels.Admin.ChangeOfOwnerAutomationModel
@{
    ViewBag.Title = "Change Of Owner Automation Setup";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src='@Url.Content("~/Scripts/MicrosoftAjax.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/Admin/ChangeOfOwnerAutomation.js")' type="text/javascript"></script>
<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 895px;
        border: 1px solid black;
        text-align: left;
    }
    .footer
    {
        text-align: right;
    }
    .header
    {
        text-align: left;
    }
    .width_50
    {
        width: 50px;
    }
    .width_100
    {
        width: 100px;
    }
</style>
<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@ChangeOfOwnerAutomation_cshtml.Title</span></p>
        </td>
    </tr>
    <tr>
        <td align="center">
            @using (Html.BeginForm("ChangeOfOwnerAutomationSetup", "Admin"))
            {
                <table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td>
                            <p align="left">
                                <span class="NormalRed" id="lblError" name="lblError">@Model.ErrorMsg</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span style="display: inline-block; width: 300px;" class="NormalBold">@ChangeOfOwnerAutomation_cshtml.CompanyInfoHead</span>
                            @Html.TextBox("SearchStr", null, new { @class = "Normal", style = "width:307px;" })
                            <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@ChangeOfOwnerAutomation_cshtml.Search" name="btnSearch" />
                            <input type="button" id="btnNewInfo" style="width:80px;" value="@ChangeOfOwnerAutomation_cshtml.New" class="NormalButton" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{WebGrid grid = new WebGrid(Model.CompanyInfoList, canPage: false);}
                            @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "SearchStr=" + Model.SearchStr });}
                            @(Model.CompanyInfoList.Count > 0 ? grid.Table(
                                headerStyle: "CartListHead header", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                                footerStyle: "CartListHead footer",
                                footer: footer => Html.Raw(strPage),
                                columns: grid.Columns(
                                    grid.Column("CCICompanyName", ChangeOfOwnerAutomation_cshtml.CompanyName, canSort: false, style: "CartListItem"),
                                    grid.Column("CCICompanyCode", ChangeOfOwnerAutomation_cshtml.CompanyCode, canSort: false, style: "CartListItem"),
                                    grid.Column("CCIRegistrationNumber", ChangeOfOwnerAutomation_cshtml.RegistrationNumber, canSort: false, style: "CartListItem"),
                                    grid.Column("CCITelephone", ChangeOfOwnerAutomation_cshtml.Telephone, canSort: false, style: "CartListItem"),
                                    grid.Column("CCIEmail", ChangeOfOwnerAutomation_cshtml.Email, canSort: false, style: "CartListItem"),
                                    grid.Column(
                                        format: item => Html.ActionLink(ChangeOfOwnerAutomation_cshtml.GetProxies, "GetProxies", null, new { onclick = string.Format("COOIGetProxies({0})", item.CCIIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_100"
                                    ),
                                    grid.Column(
                                        format: item => Html.ActionLink(ChangeOfOwnerAutomation_cshtml.AddProxy, "AddProxy", null, new { onclick = string.Format("COOIAddProxy({0})", item.CCIIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_100"
                                    ),
                                    grid.Column(
                                        format: item => Html.ActionLink(ChangeOfOwnerAutomation_cshtml.Edit, "Edit", null, new { onclick = string.Format("COOIGet({0})", item.CCIIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_50"
                                    ),
                                    grid.Column(
                                        format: item => Html.ActionLink(ChangeOfOwnerAutomation_cshtml.Delete, "Delete", null, new { onclick = string.Format("if(confirm('{0}')) COOIDelete({1})", ChangeOfOwnerAutomation_cshtml.DeleteConfirm, item.CCIIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_50")), htmlAttributes: new { cellpadding = 3, style = "margin-top:10px;" }
                                    )
                                : null)
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td align="center">
            @using (Html.BeginForm("COOISave", "Admin"))
            {
                <table width="895" cellspacing="1" cellpadding="1" border="0" id="InfoTable">
                    <tr>
                        <td width="150" height="15">
                        </td>
                        <td height="15">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.CompanyName:</span>
                        </td>
                        <td>
                            @Html.TextBox("CompanyName", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("CompanyName")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.CompanyCode:</span>
                        </td>
                        <td>
                            @Html.TextBox("CompanyCode", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("CompanyCode")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.RegistrationNumber:</span>
                        </td>
                        <td>
                            @Html.TextBox("RegistrationNumber", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("RegistrationNumber")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.Telephone:</span>
                        </td>
                        <td>
                            @Html.TextBox("Telephone", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("Telephone")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.Email:</span>
                        </td>
                        <td>
                            @Html.TextBox("Email", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("Email")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.PhysicalAddress:</span>
                        </td>
                        <td>
                            @Html.TextBox("PhysicalAddress", null, new { @class = "Normal", style = "width:500px;" })
                            @Html.ValidationMessage("PhysicalAddress")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.PostalAddress:</span>
                        </td>
                        <td>
                            @Html.TextBox("PostalAddress", null, new { @class = "Normal", style = "width:500px;" })
                            @Html.ValidationMessage("PostalAddress")
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align="left">
                            <input type="hidden" id="CCIIntNo" name="CCIIntNo" />
                            <input type="submit" class="NormalButton" id="btnAdd" value="@ChangeOfOwnerAutomation_cshtml.Save" name="btnAdd" />
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td height="15">
        </td>
    </tr>
    <tr>
        <td align="center">
            @if (Model.CompanyProxyList.Count > 0)
            { 
                <table width="895" border="0" cellspacing="0" cellpadding="0" align="center" id="InfoTitleTable">
                    <tr>
                        <td align="left">
                            <span class="NormalBold">@ChangeOfOwnerAutomation_cshtml.CompanyProxyHead</span>
                            <span class="NormalBold">&nbsp;-&nbsp;@Model.SelectCompanyName</span>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td align="center" id="ProxyGrid">
            @{WebGrid proxyGrid = new WebGrid(Model.CompanyProxyList, canPage: false);}
            @(Model.CompanyProxyList.Count > 0 ? proxyGrid.Table(
                headerStyle: "CartListHead header", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                footerStyle: "CartListHead footer",
                columns: proxyGrid.Columns(
                    proxyGrid.Column("OrderNo", ChangeOfOwnerAutomation_cshtml.OrderNo, canSort: false, style: "CartListItem"),
                    proxyGrid.Column("CCPNumber", ChangeOfOwnerAutomation_cshtml.Number, canSort: false, style: "CartListItem"),
                    proxyGrid.Column("CCPEmailAddress", ChangeOfOwnerAutomation_cshtml.EmailAddress, canSort: false, style: "CartListItem"),
                    proxyGrid.Column("CCPAuthorisedDate", ChangeOfOwnerAutomation_cshtml.AuthorisedDate, canSort: false, style: "CartListItem"),
                    proxyGrid.Column("CCPRevokedDate", ChangeOfOwnerAutomation_cshtml.RevokedDate, canSort: false, style: "CartListItem"),
                    proxyGrid.Column(
                        format: item => Html.ActionLink(ChangeOfOwnerAutomation_cshtml.Edit, "Edit", null, new { onclick = string.Format("COOPGet({0})", item.CCPIntNo), href = "JavaScript:void(0)" }),
                        style: "CartListItem width_50"
                    ),
                    proxyGrid.Column(
                        format: item => Html.ActionLink(ChangeOfOwnerAutomation_cshtml.Delete, "Delete", null, new { onclick = string.Format("if(confirm('{0}')) COOPDelete({1})", ChangeOfOwnerAutomation_cshtml.DeleteConfirm, item.CCPIntNo), href = "JavaScript:void(0)" }),
                        style: "CartListItem width_50")), htmlAttributes: new { cellpadding = 3, style = "margin-top:10px;" }
                    )
                : null)
        </td>
    </tr>
    <tr>
        <td align="center">
            @using (Html.BeginForm("COOPSave", "Admin", FormMethod.Post, new { id = "ProxyForm" }))
            {
                <table width="895" cellspacing="1" cellpadding="1" border="0" id="ProxyTable">
                    <tr>
                        <td width="150" height="15">
                        </td>
                        <td width="400" height="15">
                        </td>
                    </tr>
                    <tr>
                        <td class="NormalBold">
                            @ChangeOfOwnerAutomation_cshtml.Number:
                        </td>
                        <td class="NormalBold">
                            @Html.TextBox("CCPNumber", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("CCPNumber")
                            <input type="button" id="btnCheckProxy" value="@ChangeOfOwnerAutomation_cshtml.CheckNumber" class="NormalButton"  />
                        </td>
                    </tr>
                    <tr id="PasswordTable">
                        <td class="NormalBold">
                            @ChangeOfOwnerAutomation_cshtml.Password:
                        </td>
                        <td class="NormalBold">
                            @Html.Password("CCPPassword", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("CCPPassword", new { id = "PasswordSpan" })
                            @Html.CheckBox("IsChangePassword")
                            <span id = "IsChangePasswordSpan">@ChangeOfOwnerAutomation_cshtml.ChangePassword</span>
                        </td>
                    </tr>
                    <tr id="EmailTable">
                        <td class="NormalBold">
                            @ChangeOfOwnerAutomation_cshtml.EmailAddress:
                        </td>
                        <td class="NormalBold">
                            @Html.TextBox("CCPEmailAddress", null, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("CCPEmailAddress")
                        </td>
                    </tr>
                    <tr id="trRevoke">
                        <td class="NormalBold">
                            @ChangeOfOwnerAutomation_cshtml.Revoke:
                        </td>
                        <td class="NormalBold">
                            @Html.CheckBox("IsRevoked")
                            @ChangeOfOwnerAutomation_cshtml.CheckRevoke
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align="left">
                            <input type="hidden" id="IsCheckNumber" name="IsCheckNumber" />
                            <input type="hidden" id="CCPIntNo" name="CCPIntNo" />
                            <input type="hidden" id="CCIIntNo_PK" name="CCIIntNo_PK" />
                            <input type="button" id="btnAddProxy" value="@ChangeOfOwnerAutomation_cshtml.Save" class="NormalButton"  onclick='COOPSave("@ChangeOfOwnerAutomation_cshtml.Tip");'/>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>
