﻿@using SIL.AARTO.DAL.Entities;
@using SIL.AARTO.Web.Helpers;
@model SIL.AARTO.Web.ViewModels.Admin.CourtDatesWarrantModel
@{
    ViewBag.Title = "Court Dates for Warrant";
    Layout = "~/Views/Shared/Admin.cshtml";//2013-12-23 Heidi changed for check user login(5084)
}

@*<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@@*//2013-12-23 Heidi Commented out because it already exists in the Admin.cshtml(5084)*@
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Admin/CourtDatesForWarrant.js")" type="text/javascript"></script>

@using (Html.BeginForm("CourtDatesForWarrant", "Admin", FormMethod.Post))
{
    <p style="text-align: center" class="ContentHead">@Html.Resource("pageTitle.Text")</p>
    <table style="width: 400px;" align="center">
        <tr>
            <td class="NormalBold">@Html.Resource("lblAuthority.Text"):</td>
            <td>@Html.DropDownList("SearchAuthority", Model.AuthorityList)</td>
        </tr>
        <tr>
            <td class="NormalBold">@Html.Resource("lblCourt.Text"):</td>
            <td>@Html.DropDownList("SearchCourt", Model.CourtList)</td>
        </tr>
        <tr>
            <td class="NormalBold">@Html.Resource("lblCourtRoom.Text"):</td>
            <td>@Html.DropDownList("SearchCourtRoom", Model.CourtRoomList)</td>
        </tr>
        <tr style="height: 45px;">
            <td></td>
            <td>
                <input type="submit" name="btnSearch" id="btnSearch" value="@Html.Resource("btnSearch.Text")" class="NormalButton" />&nbsp;&nbsp;
                <input type="button" name="btnCreate" id="btnCreate" value="@Html.Resource("btnCreate.Text")" class="NormalButton" />
            </td>
        </tr>
    </table>
     
    if (Model.CourtDates != null && Model.CourtDates.Count > 0)
    {
        var index = 1;
    <table style="margin-top: 10px; width: 600px; border-color: Black; font-size: 8pt; border-collapse: collapse;" cellspacing="0" cellpadding="4" border="1" align="center">
        <tr class="CartListHead">
            <td>@Html.Resource("headCourtDate.Text")</td>
            <td>@Html.Resource("headNoofCases.Text")</td>
            <td>@Html.Resource("headOriginGroup.Text")</td>
            <td></td>
        </tr>
        @foreach (CourtDatesForWarrant c in Model.CourtDates)
        {
            <tr class="@(index % 2 == 0 ? "CartListItemAlt" : "CartListItem")">
                <td>@Html.Encode(c.CdateWar.ToString("yyyy-MM-dd"))</td>
                <td>@Html.Encode(c.CdNoOfCases)</td>
                <td>@Html.Encode(c.OgIntNoSource == null ? "" : c.OgIntNoSource.OgDescr)</td>
                <td><a href="javascript:void(0)" onclick="showEdit(@Html.Encode(c.CdWarIntNo));">@Html.Resource("linkEdit.Text")</a></td>
            </tr>
            index++;
        }

    </table>
    }
    else
    {
        if (Model.FirstLoad == false)
        {
    <p style="text-align: center; color: red;">@Html.Resource("msgNoDataDound.Text")</p>
        }
    }
    <br /><br />
    <div id="pnlCourtDateEdit" style="display: none;">
        <table align="center" style="font-size: 8pt; border-collapse: collapse;" cellspacing="0" cellpadding="4">
            <tr>
                <td class="NormalBold">@Html.Resource("lblCourtDate.Text"):</td>
                <td>
                    <input type="text" id="txtCourtDate" readonly="readonly" /></td>
            </tr>
            <tr>
                <td class="NormalBold">@Html.Resource("lblNoofCases.Text"):</td>
                <td>
                    <input type="text" id="txtNoofCases"  /></td>
            </tr>
            <tr>
                <td class="NormalBold">@Html.Resource("lblOriginGroup.Text"):</td>
                <td>
                    @Html.DropDownList("OriginGroup", Model.OriginGroupList)

                </td>
            </tr>
        </table>
    </div>
}
