﻿@using System.Configuration
@using SIL.AARTO.Web.Helpers.Paginator
@using SIL.AARTO.Web.Resource.Admin
@model SIL.AARTO.Web.ViewModels.Admin.FieldSheetReferenceModel
@{
    ViewBag.Title = "Field Sheet Reference Manage";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script type="text/javascript">
    function UpdateFieldSheetReferenceNumber() {
        $("#lblError").html("");
        if ($("#FilmIntNo").val() != "") {
            $.ajax({
                url: "@Url.Action("UpdateFieldSheetReferenceNumber", "Admin")",
                type: "POST",
                dataType: "json",
                data: { FilmIntNo: $("#FilmIntNo").val(), FieldSheetReferenceNumber: $("#ReferenceNumber").val() },
                success: function (data) {
                    $("#lblError").html(data.Text);
                }
            });
        }
    }
</script>
<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@FieldSheetReference_cshtml.Title</span>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            @using (Html.BeginForm("FieldSheetReference", "Admin"))
            {
                <table width="800" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td>
                            <p align="left">
                                <span class="NormalRed" id="lblError" name="lblError">@Model.ErrorMsg</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span style="display: inline-block; width: 200px;" class="NormalBold">@FieldSheetReference_cshtml.FilmHead</span>
                            @Html.TextBox("SearchFilmNo", null, new { @class = "Normal", style = "width:307px;" })
                            <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@FieldSheetReference_cshtml.Search" name="btnSearch" />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.IsHaveDate)
                            {
                                <table>
                                    <tr>
                                        <td class="NormalBold" style="width: 200px;">
                                            @FieldSheetReference_cshtml.LocCode:
                                        </td>
                                        <td class="NormalBold">
                                            @Model.LocationCode
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="NormalBold">
                                            @FieldSheetReference_cshtml.LocDesc:
                                        </td>
                                        <td class="NormalBold">
                                            @Model.LocationDescription
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="NormalBold">
                                            @FieldSheetReference_cshtml.OfficerNo:
                                        </td>
                                        <td class="NormalBold">
                                            @Model.OfficerNumber
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="NormalBold">
                                            @FieldSheetReference_cshtml.OfficerName:
                                        </td>
                                        <td class="NormalBold">
                                            @Model.OfficerFullName
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="NormalBold">
                                            @FieldSheetReference_cshtml.FieldSheetReferenceNo:
                                        </td>
                                        <td class="NormalBold">
                                            @Html.TextBox("ReferenceNumber", null, new { @class = "Normal", style = "width:200px;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            @Html.Hidden("FilmIntNo")
                                            <input type="button" id="btnUpdate" value="@FieldSheetReference_cshtml.Update" class="NormalButton"  onclick='UpdateFieldSheetReferenceNumber();'/>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>
