﻿@using SIL.AARTO.Web.Resource.Admin;
@using SIL.AARTO.Web.Helpers.Paginator;
@model SIL.AARTO.Web.ViewModels.Admin.OfficerGroupModel
@{
    ViewBag.Title = OfficerGroupRes.PageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function getPageParams(pageIndex){
    if (pageIndex) {
        pageIndex = $("#PageIndex").val();
    }
    return  $.param({ ofGrDescr:$("#OfGrDescrSearch").val(), page : pageIndex});
}

    $(function () {
        $('#dialog').dialog({
            autoOpen: false,
            position: [40, 80],
            resizable: false,
            width: 480,
            modal: true
        });

        $("#Metro").change(function () {
            var params = getPageParams(0);
            window.location = "@Url.Action("OfficerGroup")?" + params;
        });

        $("#btnSearch").click(function(){
            var params = getPageParams(0);
            window.location = "@Url.Action("OfficerGroup")?" + params;
        });

        $("#btnAdd").click(function(){
            showAddForm();
        });
    })

    function emptyForm(btnSaveText, message){
        $("#OfGrIntNo").val(0);
        $("#OfGrCode").val('');
        $("#OfGrDescr").val('');
        var buttons = {};
        
        buttons[btnSaveText] = function () { 
            if ($("#formData").valid()) {
                $.ajax({
                    url:"@Url.Action("SaveGroup")",
                    data:$('#formData').serialize(), 
                    type:"POST",
                    success:function(data){
                        if (data.result == -2) {
                            window.top.location = "@Url.Action("login","Account")";
                        } else if(data.result == -1) {
                            alert(data.errorMsg);
                        } else {
                            alert(message);
                            var params = $.param({
                                page:$("#PageIndex").val(),
                                ofGrDescr : $("#OfGrDescrSearch").val()
                            });
                            window.location = "@Url.Action("OfficerGroup")?" + params;
                            $("#dialog").dialog("close");
                        }
                    }
                });
            }
        }
        buttons["@OfficerGroupRes.Cancel"] = function () { 
            $("#dialog").dialog("close");
        }

        $("#dialog").dialog("option","buttons",buttons);
    }

    function showEditForm(OfGrIntNo) {
        emptyForm("@OfficerGroupRes.UpdateGroup", "@OfficerGroupRes.Updated");
        $('#dialog').dialog("option", "title", "@OfficerGroupRes.lblUpdOfficerGroup_Text");
        $('#dialog').dialog("open");
        $.ajax({
            url:"@Url.Action("GetGroup")",
            data:{OfGrIntNo : OfGrIntNo},
            type:"POST",
            success: function(data){
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login","Account")";
                } else {
                    $("#OfGrIntNo").val(data.group.OfGrIntNo);
                    $("#OfGrCode").val(data.group.OfGrCode);
                    $("#OfGrDescr").val(data.group.OfGrDescr);
                }
            }
        });
    }

    function showAddForm(){
        emptyForm("@OfficerGroupRes.btnAddOfficerGroup_Text", "@OfficerGroupRes.AddedGroup");
        $('#dialog').dialog("option", "title", "@OfficerGroupRes.lblAddOfficerGroup_Text");
        $('#dialog').dialog("open");
    }

    function deleteRow(OfGrIntNo) {
        if(confirm("@OfficerGroupRes.DeleteOrNot"))
        {
            $.ajax({
                url:"@Url.Action("DeleteGroup")",
                type:"POST",
                data: {OfGrIntNo : OfGrIntNo},
                success: function (data) {
                    if (data.result == -2) {
                        window.top.location = "@Url.Action("login","Account")";
                    } else if (data.result == -1) {
                        $("#lblError").text("@OfficerGroupRes.FailDelete");
                    } else {
                        alert("@OfficerGroupRes.SuccessDelete");
                        var params = $.param({
                            page:$("#PageIndex").val(),
                            ofGrDescr:$("#OfGrDescrSearch").val()
                        });
                        window.location = "@Url.Action("OfficerGroup")?" + params;
                    }
                }
            });
        }
    }
</script>
<style type="text/css">
.spanEdit{display:inline-block;width:240px;}
tfoot{height:20px;}
</style>
}

<div style="width:600px;margin-left:50px;">
<div style="text-align:center;">
<p>
<span id="lblPageName" class="ContentHead">@OfficerGroupRes.PageName</span>
</p>
<p>
<span id="lblError" class="NormalRed">@Model.ErrorMsg</span>
</p>
<table style="width:600px;">
<tr align="left">
    <td><span class="NormalBold">@OfficerGroupRes.lblSearchOfGrdescr_Text</span></td><td>@Html.TextBox("OfGrDescrSearch", null, new { @class = "Normal", style = "width:217px" })</td>
    <td><input type="button" id="btnSearch" class="NormalButton" value="@OfficerGroupRes.btnSearch_Text" /></td>
</tr>
</table>
</div>
<div style="margin-top:10px;">
@{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
@{WebGrid grid = new WebGrid(Model.OfficerGroups, canPage: false);}
@(Model.OfficerGroups.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
            grid.Column("OfGrCode", OfficerGroupRes.TraOffGroCode, canSort: false, style: "CartListItem"),
            grid.Column("OfGrDescr", OfficerGroupRes.TraOffGroDescr, canSort: false, style: "CartListItem"),
grid.Column(
                        format: item => Html.ActionLink(OfficerGroupRes.Edit, null, null, new { onclick = "showEditForm(" + item.OfGrIntNo + ")", href = "JavaScript:void(0)" }),
    style: "CartListItem"
),
grid.Column(
                        format: (item) => Html.ActionLink(OfficerGroupRes.Delete, null, null, new { onclick = "deleteRow(" + item.OfGrIntNo + ")", href = "JavaScript:void(0)" }),
    style: "CartListItem")
),
htmlAttributes: new { width = "100%", cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
: null)
</div>
<p style="text-align:right;">
<input type="button" class="NormalButton" value="@OfficerGroupRes.Add" id="btnAdd" />
</p>
<div id="dialog">
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formData" }))
{
@Html.Hidden("OfGrIntNo")
@Html.Hidden("PageIndex")
<p><span class="NormalBold spanEdit">@OfficerGroupRes.TraOffGroCode</span>@Html.TextBox("OfGrCode", null, new { @class = "Normal", style="width:212px;", maxlength="25"})
@Html.ValidationMessage("OfGrCode")</p>
<p><span class="NormalBold spanEdit">@OfficerGroupRes.TraOffGroDescr</span>@Html.TextBox("OfGrDescr", null, new { @class = "Normal", maxlength = "225", style = "width:212px;" })
@Html.ValidationMessage("OfGrDescr")</p>
}
</div>
</div>