﻿@model SIL.AARTO.Web.ViewModels.Admin.ProvincialTrafficCentreModel
@using SIL.AARTO.Web.Resource.Admin;
@using SIL.AARTO.Web.Helpers.Paginator;

@{
    ViewBag.Title = "Provincial Traffic CentreList";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#btnOptAdd").click(function () {
            $("#PtcIntNo").val(0);
            initForm();
        });
    });

    function showForm(obj) {
        var ptcIntNo = $(obj).attr("ptcIntNo");
        $("#PtcIntNo").val(ptcIntNo);
        $.ajax({ 
            url: "@Url.Action("GetProvincialTrafficCentre", "Admin")",
            type:"POST",
            dataType: "json",
            data:{ pTCIntNo : ptcIntNo },
            success: function (data) { 
                if (data.result == -2) {
                    window.location = "@Url.Action("login", "Account")";
                }
                else
                {
                  initForm(data.data);
                }
            }
        });
    }
    

    function initForm(obj) {
        $("#lblError").text("");
        if (obj) {
            $("#PTCCode").val(obj.PTCCode);
            $("#PTCDescription").val(obj.PTCDescription);
            $("#btnAddInState").val("@ProvincialTrafficCentreList.Edit");
            $("#lblAddNewProvincial").text("@ProvincialTrafficCentreList.lblEditBranch");
            $("#ProvincialTrafficCentreTable").show();
        }
        else {
            $("#PTCCode").val("");
            $("#PTCDescription").val("");
            $("#btnAddInState").val("@ProvincialTrafficCentreList.Add");
            $("#lblAddNewProvincial").text("@ProvincialTrafficCentreList.AddNewProvincial");
            $("#ProvincialTrafficCentreTable").show();
        }
    }

    function Delete(obj){
        $("#lblError").text("");
        if(!confirm("@ProvincialTrafficCentreList.ConfirmDeleteMsg")){
            return;
        }

        var ptcIntNo = $(obj).attr("ptcIntNo");
        $.ajax({ 
            url: "@Url.Action("DeleteProvincialTrafficCentre", "Admin")",
            type:"POST",
            dataType: "json",
            data:{ pTCIntNo : ptcIntNo },
            success: function (data) { 
                if (data.result == -2) {
                    window.location = "@Url.Action("login", "Account")";
                }
                else {
                    window.location = '@Url.Action("ProvincialTrafficCentreList", "Admin")?errorMsg=' + data.data;
                }
            }
        });
    }
</script>
<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 720px;
        border: 1px solid #808080;
    }
    .footer
    {
        text-align: right;
    }
</style>
<table width="100%" cellspacing="0" cellpadding="0" border="0" id="Table5">
    <tbody>
        <tr>
            <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color: #fff">
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" id="Table6">
    <tbody>
        <tr>
            <td valign="top" align="center" style="width: 182px">
                <div id="pnlMainMenu">
                </div>
                <div style="border-color: Black; border-width: 1px; border-style: Solid; width: 146px;
                    margin: 20px;" id="pnlSubMenu">
                    <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <span style="display: inline-block; width: 118px;" class="ProductListHead" id="Label1">@ProvincialTrafficCentreList.Options</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <input type="button" style="width:135px;" class="NormalButton" id="btnOptAdd" value="@ProvincialTrafficCentreList.Add" name="btnOptAdd" />
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                </td>
                            </tr>
                            <tr>
                                <td height="21" align="center">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td width="100%" valign="top" align="left" colspan="1">
                <table width="568" border="0" id="Table7" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" height="47">
                                <p align="center">
                                    <span style="display: inline-block; " class="ContentHead" id="lblPageName">@ProvincialTrafficCentreList.lblPageName</span></p>
                                <p>
                                    <span class="NormalRed" id="lblError">@Model.ErrorMsg</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @using (Html.BeginForm("ProvincialTrafficCentreList", "Admin"))
                                {
                                    <table>
                                        <tr>
                                            <td>
                                                <span style="display: inline-block; width: 350px;" class="NormalBold" id="lblSelection">@ProvincialTrafficCentreList.EnterCodeOrDesc</span>
                                            </td>
                                            <td>
                                                @Html.TextBox("SearchStr", null, new { @class = "Normal", style = "width:307px;" })
                                                @Html.ValidationMessage("SearchStr")
                                            </td>
                                            <td>
                                                <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@ProvincialTrafficCentreList.Search" name="btnSearch" />
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div id="pnlPaymentBranchList">
                                    @{WebGrid grid = new WebGrid(Model.ProvincialTrafficCentreList, canPage: false);}
                                    @(Model.ProvincialTrafficCentreList.Count > 0 ? grid.GetHtml(
                                                headerStyle: "CartListHead",
                                                alternatingRowStyle: "CartListItemAlt",
                                                tableStyle: "listTable",
                                                rowStyle: "CartListItem",
                                                footerStyle: "CartListHead",
                                                columns: grid.Columns(
                                                                    grid.Column("PTCCode", ProvincialTrafficCentreList.PtcCode, canSort: false, style: "CartListItem"),
                                                                    grid.Column("PTCDescription", ProvincialTrafficCentreList.PtcDescription, canSort: false, style: "CartListItem"),
                                                               grid.Column( format: item => Html.ActionLink(ProvincialTrafficCentreList.Edit, "Edit", null, new { onclick = string.Format("showForm(this)"), ptcIntNo = item.PtcIntNo, href = "JavaScript:void(0)" }),
                                                                style: "CartListItem"
                                                            ),
                                                                grid.Column(format: item => Html.ActionLink(ProvincialTrafficCentreList.Delete, "Delete", null, new { onclick = string.Format("Delete(this)"), ptcIntNo = item.PtcIntNo, href = "JavaScript:void(0)" }),
                                                                        style: "CartListItem")), htmlAttributes: new { cellpadding = 3, style = "margin-top:10px;" }
                                                                )
                                            : null)
                                </div>
                            </td>
                        </tr>
                        @if (Model.TotalCount > Model.PageSize)
                        {
                            <tr>
                                <td align="right" class="CartListHead" style="border-top: 0px; height: 18px;">
                                    @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "searchStr=" + Model.SearchStr });}
                                    @Html.Raw(strPage)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <div style="height: 127px;" id="pnlProvincialTrafficCentre">
                                    @using (Html.BeginForm("SaveProvincialTrafficCentre", "Admin"))
                                    {
                                        <table width="654" cellspacing="1" cellpadding="1" border="0" id="ProvincialTrafficCentreTable"
                                            style="display: none;">
                                            <tbody>
                                                <tr>
                                                    <td width="240" height="2">
                                                        <span class="ProductListHead" id="lblAddNewProvincial">@ProvincialTrafficCentreList.AddNewProvincial</span>
                                                    </td>
                                                    <td width="248" height="2">
                                                    </td>
                                                    <td height="2">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="NormalBold">@ProvincialTrafficCentreList.PtcCode</span>
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("PTCCode", null, new { @class = "Normal", style = "width:200px;" })
                                                        @Html.ValidationMessage("PTCCode")
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="NormalBold">@ProvincialTrafficCentreList.PtcDescription</span>
                                                    </td>
                                                    <td>
                                                        @Html.TextBox("PTCDescription", null, new { @class = "Normal", style = "width:200px;" })
                                                        @Html.ValidationMessage("PTCDescription")
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="157">
                                                    </td>
                                                    <td width="248">
                                                        <input type="hidden" value="0" id="PtcIntNo" name="PtcIntNo" />
                                                    </td>
                                                    <td align="center">
                                                        <input type="submit" class="NormalButton" id="btnAddInState" value="" name="btnAddInState" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
