﻿@using SIL.AARTO.Web.Helpers
@using SIL.AARTO.Web.Helpers.Paginator
@model SIL.AARTO.Web.ViewModels.Admin.RepresentationAuthorisationUserModel

@{
    ViewBag.Title = Html.Resource("RepresentationAuthorisationUser");
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="width_90pct margin_auto text-align">
    <h2 class="ContentHead width_100pct text-align">@Html.Resource("RepresentationAuthorisationUser")</h2>

    @using (Html.BeginForm("RauUpdate", "Admin", new { page = Model.PageIndex }, FormMethod.Post))
    {
        <p style="text-align: left">
            <input id="btnCreate" type="button" value="@Html.Resource("CreateNew")" class="NormalButton" />
        </p>

        <table class="width_100pct text-align_left listTable" cellspacing="0" cellpadding="3" border="0">
            <tr class="CartListHead" style="text-align: left">
                <th style="width: 50px">
                    @Html.Resource("No.")
                </th>
                <th>
                    @Html.Resource("Name")
                </th>
                <th>
                    @Html.Resource("ForceNumber")
                </th>
                <th style="width: 130px">
                    @Html.Resource("LastUser")
                </th>
                <th style="width: 100px"></th>
            </tr>
            <tbody id="tbdGrid" class="text-align_left">
                @foreach (var item in Model.RauList)
                {
                    <tr>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.Order)
                            @Html.HiddenFor(m => item.RauIntNo)
                            @Html.HiddenFor(m => item.RowVersion)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.RauName)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.RauForceNumber)
                        </td>
                        <td class="CartListItem">
                            @Html.DisplayFor(m => item.LastUser)
                        </td>
                        <td class="CartListItem" style="text-align: center">
                            @Html.ActionLink(Html.Resource("Edit"), "RauEdit", new { id = item.RauIntNo, page = Model.PageIndex }) |
                            <a href="javascript:void(0)" onclick=" RauDelete('@item.RauIntNo') ">@Html.Resource("Delete")</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="CartListHead" colspan="5" style="border-top: 0; text-align: right">
                        @{
                            var strPage = Html.GridPager(new GridPagerProperties { PageKey = "page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });
                        }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tfoot>
        </table>

        <div style="text-align: center" class="margin-top_15">
            @{
                var error = ViewBag.Error;
                var message = ViewBag.Message;
                if (!string.IsNullOrWhiteSpace(error))
                {
                    <span class="error_fontsize12">@error</span>
                }
                else if (!string.IsNullOrWhiteSpace(message))
                {
                    <span style="color: green">@Html.Encode(message)</span>
                }
                else
                {
                    <br />
                }
            }
        </div>

        if (Model.RauEntity != null)
        {
            <table id="tbRauEdit" cellspacing="0" cellpadding="4" border="0" class="width_100pct margin-top_10 text-align_left">
                <tr>
                    <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                        @Html.Resource("Name"):
                    </td>
                    <td class="NormalBold">
                        @Html.TextBoxFor(m => m.RauEntity.RauName, new { style = "width:200px" })
                        @Html.ValidationMessageFor(m => m.RauEntity.RauName)
                    </td>
                </tr>
                <tr>
                    <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                        @Html.Resource("ForceNumber"):
                    </td>
                    <td class="NormalBold">
                        @Html.TextBoxFor(m => m.RauEntity.RauForceNumber, new { MaxLength = 25, style = "width:200px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.HiddenFor(m => m.RauEntity.RauIntNo)
                        @Html.HiddenFor(m => m.RauEntity.RowVersion)
                    </td>
                    <td>
                        <input id="btnSave" type="submit" value="@Html.Resource("Save")" class="NormalButton" />&nbsp;&nbsp;
                        <input id="btnCancel" type="reset" value="@Html.Resource("Cancel")" class="NormalButton cancel" />
                    </td>
                </tr>
            </table>
        }
    }
</div>

<script type="text/javascript">
    $(function() {

        $("#tbdGrid tr:nth-child(2n-1)").addClass("CartListItem");
        $("#tbdGrid tr:nth-child(2n)").addClass("CartListItemAlt");

        $("#btnCreate").click(function() {
            window.location = '@Url.Action("RauCreate", "Admin", new { page = Model.PageIndex })';
        });

        $("#btnCancel").click(function() {
            $("#tbRauEdit").hide();
        });
    });

    function RauDelete(id) {
        if (!confirm('@Html.Resource("ConfirmDelete")'))
            return;
        $.post('@Url.Action("RauDelete", "Admin")', { id: id, page: @Model.PageIndex }, function(rsp) {
            window.location = '@Url.Action("RauIndex", "Admin", new { page = Model.PageIndex })';
        });
    }
</script>