﻿@using SIL.AARTO.Web.Resource.Admin;
@using SIL.AARTO.Web.Helpers.Paginator;
@model SIL.AARTO.Web.ViewModels.Admin.TrafficOfficerModel
@{
    ViewBag.Title = TrafficOfficerRes.lblPageName_Text;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
function getPageParams(pageIndex){
    if (pageIndex) {
        pageIndex = $("#PageIndex").val();
    }
    return  $.param({mtrIntNo : $("#Metro").val(), toIdNumber : $("#ToIdNumberSearch").val(), surname:$("#SurnameSearch").val(), page : pageIndex});
}

    $(function () {
        $('#dialog').dialog({
            autoOpen: false,
            position: [40, 80],
            resizable: false,
            width: 480,
            modal: true
        });

        $("#Metro").change(function () {
            var params = getPageParams(0);
            window.location = "@Url.Action("TrafficOfficer")?" + params;
        });

        $("#btnSearch").click(function(){
            var params = getPageParams(0);
            window.location = "@Url.Action("TrafficOfficer")?" + params;
        });

        $("#btnAdd").click(function(){
            showAddForm();
        });

//        $("#OfGrIntNo").change(function(){
//            $("#TOGroup").val(this.options[this.selectedIndex].text.split('~')[0]);
//        });
    })

    function emptyForm(btnSaveText, message){
        $("#OfGrIntNo").val(0);
        //$("#TOGroup").val($("#OfGrIntNo option:selected").text().split('~')[0]);
        $("#ToIntNo").val(0);
        $("#MtrIntNo").val($("#Metro").val());
        $("#TOSName").val('');
        $("#TOInit").val('');
        $("#ToIDNumber").val('');
        $("#TONo").val('');
        $("#Senior").attr("checked", false);
        $("#ToInfrastructureNumber").val('');
        var buttons = {};
        
        buttons[btnSaveText] = function () { 
            if ($("#formData").valid()) {
                $.ajax({
                    url:"@Url.Action("SaveOfficer")",
                    data:$('#formData').serialize(), 
                    type:"POST",
                    success:function(data){
                        if (data.result == -2) {
                            window.top.location = "@Url.Action("login", "Account")";
                        } else if(data.result == -1) {
                            alert(data.errorMsg);
                        } else {
                            alert(message);
                            var params = $.param({
                                page:$("#PageIndex").val(),
                                mtrIntNo:$("#Metro").val(),
                                toIdNumber:$("#ToIdNumberSearch").val(),
                                surname : $("#SurnameSearch").val()
                            });
                            window.location = "@Url.Action("TrafficOfficer")?" + params;
                            $("#dialog").dialog("close");
                        }
                    }
                });
            }
        }
        buttons["@TrafficOfficerRes.Cancel"] = function () { 
            $("#dialog").dialog("close");
        }

        $("#dialog").dialog("option","buttons",buttons);
    }

    function showEditForm(toIntNo) {
        emptyForm("@TrafficOfficerRes.btnUpdate_Text", "@TrafficOfficerRes.lblError_Text8");
        $('#dialog').dialog("option", "title", "@TrafficOfficerRes.lblUpdTrafficOfficer_Text");
        $('#dialog').dialog("open");
        $.ajax({
            url:"@Url.Action("GetOfficer")",
            data:{toIntNo : toIntNo},
            type:"POST",
            success: function(data){
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login", "Account")";
                } else {
                    $("#OfGrIntNo").val(data.officer.OfGrIntNo);
                    //$("#TOGroup").val(data.officer.TOGroup)
                    $("#ToIntNo").val(data.officer.ToIntNo);
                    $("#MtrIntNo").val(data.officer.MtrIntNo);
                    $("#TOSName").val(data.officer.TOSName);
                    $("#TOInit").val(data.officer.TOInit);
                    $("#ToIDNumber").val(data.officer.ToIDNumber);
                    $("#TONo").val(data.officer.TONo);
                    if (data.officer.Senior) {
                        $("#Senior").attr("checked","checked");
                    }
                    $("#TOInfrastructureNumber").val(data.officer.TOInfrastructureNumber);
                }
            }
        });
    }

    function showAddForm(){
        emptyForm("@TrafficOfficerRes.btnAddTrafficOfficer_Text", "@TrafficOfficerRes.lblError_Text5");
        $('#dialog').dialog("option", "title", "@TrafficOfficerRes.lblAddTrafficOfficer_Text");
        $('#dialog').dialog("open");
    }

    function InActiveTO(toIntNo) {
        if(confirm("@TrafficOfficerRes.DeleteOrNot"))
        {
            $.ajax({
                url:"@Url.Action("ArchiveOfficer")",
                type:"POST",
                data: {toIntNo : toIntNo},
                success: function (data) {
                    if (data.result == -2) {
                        window.top.location = "@Url.Action("login", "Account")";
                    } else if(data.result == -1) {
                        $("#lblError").text("@TrafficOfficerRes.lblError_Text9");
                    } else {
                        alert("@TrafficOfficerRes.SuccessDelete");
                        var params = $.param({
                            page:$("#PageIndex").val(),
                            mtrIntNo:$("#Metro").val(),
                            toIdNumber:$("#ToIdNumberSearch").val(),
                            surname:$("#SurnameSearch").val()
                        });
                        window.location = "@Url.Action("TrafficOfficer")?" + params;
                    }
                }
            });
        }
    }

    function ActiveTO(toIntNo)
    {
        if(confirm("@TrafficOfficerRes.confirmMsgActiveOfficer"))
            {
                $.ajax({
                    url:"@Url.Action("ActiveOfficer")",
                    type:"POST",
                    data: {toIntNo : toIntNo},
                    success: function (data) {
                        if (data.result == -2) {
                            window.top.location = "@Url.Action("login", "Account")";
                        } else if(data.result == -1) {
                            $("#lblError").text("@TrafficOfficerRes.lblError_Text11");
                        } else {
                            alert("@TrafficOfficerRes.SuccessDelete");
                            var params = $.param({
                                page:$("#PageIndex").val(),
                                mtrIntNo:$("#Metro").val(),
                                toIdNumber:$("#ToIdNumberSearch").val(),
                                surname:$("#SurnameSearch").val()
                            });
                            window.location = "@Url.Action("TrafficOfficer")?" + params;
                        }
                    }
                });
            }
    }
    </script>
    <style type="text/css">
        .spanEdit
        {
            display: inline-block;
            width: 180px;
        }
        tfoot
        {
            height: 20px;
        }
    </style>
}
<div style="width: 600px; margin-left: 50px;">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@TrafficOfficerRes.lblPageName_Text</span>
        </p>
        <p>
            <span id="lblError" class="NormalRed">@Model.ErrorMsg</span>
        </p>
        <table style="width: 600px;">
            <tr align="left">
                <td>
                    <span class="NormalBold">@TrafficOfficerRes.lblSelAuthority_Text</span>
                </td>
                <td>@Html.DropDownList("Metro", Model.Metros)
                </td>
                <td>
                </td>
            </tr>
            <tr align="left">
                <td>
                    <span class="NormalBold">@TrafficOfficerRes.lblSearchTOIdNumber_Text</span>
                </td>
                <td>@Html.TextBox("ToIdNumberSearch", null, new { @class = "Normal", style = "width:217px" })
                </td>
            </tr>
            <tr align="left">
                <td>
                    <span class="NormalBold">@TrafficOfficerRes.lblSearchSurname_Text</span>
                </td>
                <td>@Html.TextBox("SurnameSearch", null, new { @class = "Normal", style = "width:217px" })
                </td>
                <td>
                    <input type="button" id="btnSearch" class="NormalButton" value="@TrafficOfficerRes.btnSearch_Text" />
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10px;">
        @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
        @{WebGrid grid = new WebGrid(Model.TrafficOfficers, canPage: false);}
        @(Model.TrafficOfficers.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
    grid.Column("TOIdNumber", TrafficOfficerRes.dgTrafficOfficer_HeaderText1, canSort: false, style: "CartListItem"),
        grid.Column("TOSName", TrafficOfficerRes.dgTrafficOfficer_HeaderText2, canSort: false, style: "CartListItem"),
        grid.Column("TOInit", TrafficOfficerRes.dgTrafficOfficer_HeaderText3, canSort: false, style: "CartListItem"),
        grid.Column("TONo", TrafficOfficerRes.dgTrafficOfficer_HeaderText4, canSort: false, style: "CartListItem"),
        grid.Column("TOGroup", TrafficOfficerRes.dgTrafficOfficer_HeaderText5, canSort: false, style: "CartListItem"),
        grid.Column("Senior", TrafficOfficerRes.dgTrafficOfficer_HeaderText6, canSort: false, style: "CartListItem"),
grid.Column(
                    format: item => Html.ActionLink(TrafficOfficerRes.dgTrafficOfficerItem_Text, null, null, new { onclick = "showEditForm(" + item.ToIntNo + ")", href = "JavaScript:void(0)" }),
    style: "CartListItem"
),
grid.Column(
                format: (item) =>
                {
                    if (item.IsActive)
                    {
                        return Html.Raw("<a href='javascript:void(0);' onclick='InActiveTO(" + item.ToIntNo + ")'>" + TrafficOfficerRes.btnArchive_Text + "</a>");
                        //return Html.ActionLink("InActive", null, null, new { onclick = "InActiveOfficer(" + item.ToIntNo + ");" }, Href = "javescript:void(0)");
                    }
                    else
                    {
                        return Html.Raw("<a href='javascript:void(0);' onclick='ActiveTO(" + item.ToIntNo + ")'>" + TrafficOfficerRes.btnDeactivate_Text + "</a>");
                    }
                }, style: "CartListItem")
),
htmlAttributes: new { width = "100%", cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
: null)
    </div>
    <p style="text-align: right;">
        <input type="button" class="NormalButton" value="@TrafficOfficerRes.btnAddTrafficOfficer_Text" id="btnAdd" />
    </p>
    <div id="dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formData" }))
        {
            @Html.Hidden("ToIntNo")
            @Html.Hidden("MtrIntNo")
            @Html.Hidden("PageIndex")
@*@Html.Hidden("TOGroup")*@
            <p>
                <span class="NormalBold spanEdit">@TrafficOfficerRes.lblAddOfficerGroup_Text</span>@Html.DropDownList("OfGrIntNo", Model.OfficerGroups, new { @class = "Normal", style = "width:212px;" })
                @*@Html.ValidationMessage("")*@</p>
            <p>
                <span class="NormalBold spanEdit">@TrafficOfficerRes.lblAddTOSNamel_Text</span>@Html.TextBox("TOSName", null, new { @class = "Normal", style = "width:212px;", maxlength = "35" })
                @Html.ValidationMessage("TOSName")</p>
            <p>
                <span class="NormalBold spanEdit">@TrafficOfficerRes.lblAddTOInit_Text</span>@Html.TextBox("TOInit", null, new { @class = "Normal", maxlength = "5", style = "width:61px;" })
                @*@Html.ValidationMessage("TOInit")*@</p>
            <p>
                <span class="NormalBold spanEdit">@TrafficOfficerRes.lblAddIDNumber_Text</span>@Html.TextBox("ToIDNumber", null, new { @class = "Normal", maxlength = "13" })
                @Html.ValidationMessage("ToIDNumber")
            </p>
            <p>
                <span class="NormalBold spanEdit">@TrafficOfficerRes.lblAddTONo_Text</span>@Html.TextBox("TONo", null, new { @class = "Normal", maxlength = "10" })
                @*@Html.ValidationMessage("TONo")*@
            </p>
            <p>
                <span class="NormalBold spanEdit">@TrafficOfficerRes.lblAddSenior_Text</span>@Html.CheckBox("Senior", new { @class = "Normal", style = "margin:0;padding:0;" })
            </p>
            <p>
                <span class="NormalBold spanEdit">@TrafficOfficerRes.lblAddTOInfrastructureNumber_Text</span>@Html.TextBox("TOInfrastructureNumber", null, new { maxlength = "10", @class = "Normal" })
                @*@Html.ValidationMessage("TOInfrastructureNumber")*@
            </p>
        }
    </div>
    <div id="addressDetails">
        <div id="content" style="width: 450px; word-break: break-all;">
        </div>
    </div>
</div>
