﻿@model SIL.AARTO.Web.ViewModels.ReportManagement.NoticeStatusDateModel
@{
    ViewBag.Title = "Notice Status Report";
    Layout = "~/Views/Shared/Admin.cshtml"; //2013-12-09 Heidi changed for check user login(5084)
}
@section HeaderContent{
@*<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@@*//2013-12-09 Heidi Commented out because it already exists in the Admin.cshtml(5084)*@
<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $("#StartDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });

        $("#setRepotTask").click(function () {
            if ($("#dateForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: "SaveReportDate",
                    data: $("#dateForm").serialize(),
                    success: function (data) {
                        if (data.result == 0) {
                            alert("Set notice status report task successfully!");
                            window.location = "NoticeStatusList";
                        }
                        else {
                            $("#lblError").text(data.errorMsg);
                        }
                    }
                });
            }
            return false;
        });
    });
</script>
<style type="text/css">
.spanEdit{display:inline-block;width:180px;}
</style>
}
<div style="margin:20px;">
<p>
<span id="lblPageName" class="ContentHead">Notice Status Report</span>
</p>
<p>
<span class="NormalRed" id="lblError">@Model.ErrorMsg</span>
</p>
@using (Html.BeginForm("SaveReportDate", "ReportManagement", FormMethod.Post, new { id = "dateForm", name = "dateForm" }))
{
    <span class="spanEdit NormalBold">Offence Date Start:
    @Html.TextBoxFor(m => m.StartDate, new { @readonly = "readonly", style = "margin-top:5px;" })
    @Html.ValidationMessageFor(m => m.StartDate)</span>
    <span class="NormalBold" style="display:inline-block;text-align:left;width:50px;">-to-</span>
    <span class="spanEdit NormalBold">Offence Date End:
    @Html.TextBoxFor(m => m.EndDate, new { @readonly = "readonly", style = "margin-top:5px;" })
    @Html.ValidationMessageFor(m => m.EndDate)</span>
    <span class="spanEdit" style="text-align: center;vertical-align: bottom;">
    <input type="submit" class="NormalButton" id="setRepotTask" value="Set notice status report task" />
    </span>
}
@if (!string.IsNullOrEmpty(Model.GeneratedDate))
{
    <p>
    <span class="NormalBold">Report Generated Date:</span>&nbsp;
    <span style="@(Model.IsGenerated ? "" :"color:Red")" class="NormalBold">@Model.GeneratedDate</span>
    </p>  
}
<p>
@{WebGrid grid = new WebGrid(Model.NoticeStatusList, canPage: false);}
@(Model.NoticeStatusList.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
columns: grid.Columns(
    grid.Column(header:"Report Date", format: dt => dt.ReportDate.ToString("yyyy/MM/dd"), canSort: false, style: "CartListItem"),
    grid.Column(header: "Start Date", format: dt => dt.StartDate.ToString("yyyy/MM/dd"), canSort: false, style: "CartListItem"),
    grid.Column(header: "End Date", format: dt => dt.EndDate.ToString("yyyy/MM/dd"), canSort: false, style: "CartListItem"),
    grid.Column("FilmType", "Film Type", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingeNaTisExportCount", "Awaitinge NaTIS Export Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingeNaTisExportValue", "Awaitinge NaTIS Export Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingeNaTisReturnCount", "Awaitinge NaTIS Return Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingeNaTisReturnValue", "Awaitinge NaTIS Return Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingVerificationCount", "Awaiting Verification Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingVerificationValue", "Awaiting Verification Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingAdjudicationCount", "Awaiting Adjudication Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingAdjudicationValue", "Awaiting Adjudication Value", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting1stNoticeGenerationCount", "Awaiting 1stNotice Generation Count", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting1stNoticeGenerationValue", "Awaiting 1stNotice Generation Value", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting1stNoticePrintingCount", "Awaiting 1stNotice Printing Count", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting1stNoticePrintingValue", "Awaiting 1stNotice Printing Value", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting2ndNoticeGenerationCount", "Awaiting 2ndNotice Generation Count", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting2ndNoticeGenerationValue", "Awaiting 2ndNotice Generation Value", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting2ndNoticePrintingCount", "Awaiting 2ndNotice Printing Count", canSort: false, style: "CartListItem"),
    grid.Column("Awaiting2ndNoticePrintingValue", "Awaiting 2ndNotice Printing Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingDataWashCount", "Awaiting Data Wash Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingDataWashValue", "Awaiting Data Wash Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingSummonsGenerationCount", "Awaiting Summons Generation Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingSummonsGenerationValue", "Awaiting Summons Generation Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingSummonsServerAllocationCount", "Awaiting Summons Server Allocation Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingSummonsServerAllocationValue", "Awaiting Summons Server Allocation Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingCourtDateCount", "Awaiting Court Date Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingCourtDateValue", "Awaiting Court Date Value", canSort: false, style: "CartListItem"),
    grid.Column("Awaitings54PrintingCount", "Awaiting S54Printing Count", canSort: false, style: "CartListItem"),
    grid.Column("Awaitings54PrintingValue", "Awaiting S54Printing Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingRepResultsCount", "Awaiting RepResults Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingRepResultsValue", "Awaiting RepResults Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingCaseResultsCount", "Awaiting Case Results Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingCaseResultsValue", "Awaiting Case Results Value", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingWoAprintingCount", "Awaiting WOAprinting Count", canSort: false, style: "CartListItem"),
    grid.Column("AwaitingWoAprintingValue", "Awaiting WOAprinting Value", canSort: false, style: "CartListItem"),
    grid.Column("PaidCount", "Paid Count", canSort: false, style: "CartListItem"),
    grid.Column("PaidValue", "Paid Value", canSort: false, style: "CartListItem"),
    grid.Column("WithdrawnorCancelledCount", "Withdrawnor Cancelled Count", canSort: false, style: "CartListItem"),
    grid.Column("WithdrawnorCancelledValue", "Withdrawnor Cancelled Value", canSort: false, style: "CartListItem"),
    grid.Column("ReducedCount", "Reduced Count", canSort: false, style: "CartListItem"),
    grid.Column("ReducedValue", "Reduced Value", canSort: false, style: "CartListItem"),
    grid.Column("TotalRemainingOutstandingCount", "Total Remaining Outstanding Count", canSort: false, style: "CartListItem"),
    grid.Column("TotalRemainingOutstandingValue", "Total Remaining Outstanding Value", canSort: false, style: "CartListItem")
),
htmlAttributes: new {width="100%", cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
: null)
</p>
@if (Model.NoticeStatusList.Count > 0)
{
    using (Html.BeginForm("NoticeStatusCSV", "ReportManagement", FormMethod.Post))
    {
    <p><input id="getNoticeStatus" value="Get notice status report" type="submit" class="NormalButton" /></p>
    }
}
</div>
