﻿@model SIL.AARTO.Web.ViewModels.ReportManagement.ReportEmailModel
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource.ReportManagement;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header {
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $('#dialog').dialog({
            autoOpen: false,
            position: [40,80],
            resizable: false,
            width:680,
            modal: true
        });

        $('#addressDetails').dialog({
            autoOpen: false,
            position: [160,80],
            resizable: false,
            width:480,
            modal: true,
            buttons:{
                "@ShowReportEmailListRes.Ok":function(){$(this).dialog("close");}
            }
        });

        $("#ReportCode").change(function(){
            var params = $.param({reportCode : $(this).val()});
            window.location = "@Url.Action("ShowReportEmailList")?" + params;
        });

        $("#btnAddEmailAddress").click(function(){
            showAddForm();
        });

        $("#Surname").blur(function(){$(this).val($(this).val().replace(/^\s+|\s+$/g, ''));});
        $("#Initials").blur(function(){$(this).val($(this).val().replace(/^\s+|\s+$/g, ''));});
    });

    function emptyForm(btnSaveText, message){
        $("#ReaIntNo").val(0);
        $("#InReportCode").val($("#ReportCode").val());
        $("#Surname").val('');
        $("#Initials").val('');
        $("#EmailAddress").val('');
        var buttons = {};
        
        buttons[btnSaveText] = function () { 
            if ($("#fromData").valid()) {
                $.ajax({
                    url:"@Url.Action("SaveReportEmail")",
                    data:$('#fromData').serialize(), 
                    type:"POST",
                    success:function(data){
                        if (data.result == -2) {
                            window.top.location = "@Url.Action("login","Account")";
                        } else if(data.result == -1) {
                            alert(data.errorMsg);
                        } else {
                            alert(message);
                            var params = $.param({
                                page:$("#PageIndex").val(),
                                reportCode:$("#ReportCode").val()
                            });
                            window.location = "@Url.Action("ShowReportEmailList")?" + params;
                            $("#dialog").dialog("close");
                        }
                    }
                });
            }
        }
        buttons["@ShowReportEmailListRes.Cancel"] = function () { 
            $("#dialog").dialog("close");
        }

        $("#dialog").dialog("option","buttons",buttons);
    }

    function showEditForm(reaIntNo) {
        emptyForm("@ShowReportEmailListRes.Update", "@ShowReportEmailListRes.SuccessUpdate");
        $('#dialog').dialog("open");
        $.ajax({
            url:"@Url.Action("GetReportEmail")",
            data:{reaIntNo : reaIntNo},
            type:"POST",
            success: function(data){
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login","Account")";
                } else {
                    $("#ReaIntNo").val(data.emailAddress.ReaIntNo);
                    $("#InReportCode").val(data.emailAddress.ReportCode);
                    $("#Surname").val(data.emailAddress.ReaSurname);
                    $("#Initials").val(data.emailAddress.ReaIntitials);
                    $("#EmailAddress").val(data.emailAddress.ReaEmailAddress);
                }
            }
        });
    }

    function showAddForm(){
        emptyForm("@ShowReportEmailListRes.Add", "@ShowReportEmailListRes.SuccessAdd");
        $('#dialog').dialog("open");
    }

    function deleteRow(reaIntNo) {
        if(confirm("@ShowReportEmailListRes.DeleteOrNot"))
        {
            $.ajax({
                url:"@Url.Action("DeleteReportEmail")",
                type:"POST",
                data: {reaIntNo : reaIntNo},
                success: function (data) {
                    if (data.result == -2) {
                        window.top.location = "@Url.Action("login","Account")";
                    } else {
                        alert("@ShowReportEmailListRes.SuccessDelete");
                        var params = $.param({
                            page:$("#PageIndex").val(),
                            reportCode:$("#ReportCode").val()
                        });
                        window.location = "@Url.Action("ShowReportEmailList")?" + params;
                    }
                }
            });
        }
    }

    function showEmails(reaIntNo){
        $('#addressDetails').dialog("open");
        $.ajax({
            url:"@Url.Action("GetReportEmail")",
            data:{reaIntNo : reaIntNo},
            type:"POST",
            success: function(data){
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login","Account")";
                } else {
                    $("#content").text(data.emailAddress.ReaEmailAddress);
                }
            }
        });
    }

</script>
<style type="text/css">
.spanEdit{display:inline-block;width:130px;}
.address{width:350px;}
tfoot{height:20px;}
</style>
}
<div style="width:600px;margin-left:50px;">
<div style="text-align:center;">
<p>
<span id="lblPageName" class="ContentHead">@ShowReportEmailListRes.PageName</span>
</p>
<span class="NormalBold">@ShowReportEmailListRes.ReportCode:&nbsp;&nbsp;</span>@Html.DropDownList("ReportCode", Model.ReportCodes)
</div>
<p>
<span id="lblError">@Model.ErrorMsg</span>
</p>
<div>
@{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
@{WebGrid grid = new WebGrid(Model.ReportEmails, canPage: false);}
@(Model.ReportEmails.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
    grid.Column("ReaSurname", ShowReportEmailListRes.Surname, canSort: false, style: "CartListItem"),
    grid.Column("ReaIntitials", ShowReportEmailListRes.Initials, canSort: false, style: "CartListItem"),
    grid.Column("ReaEmailAddress", ShowReportEmailListRes.EmailAddress, format: (item) => {
        string emails = item.ReaEmailAddress;
        if (emails.Length > 45)
        {
            return Html.Raw(item.ReaEmailAddress.Substring(0, 45) + " <a href='javascript:void(0)' onclick='showEmails(" + item.ReaIntNo + ")'>...</a>"); 
        }
        return item.ReaEmailAddress;
    }, canSort: false, style: "CartListItem address"),
    grid.Column(
            format: item => Html.ActionLink(ShowReportEmailListRes.Edit, null, null, new { onclick = "showEditForm(" + item.ReaIntNo + ")", href = "JavaScript:void(0)" }),
        style: "CartListItem"
    ),
    grid.Column(
            format: (item) => Html.ActionLink(ShowReportEmailListRes.Delete, null, null, new { onclick = "deleteRow(" + item.ReaIntNo + ")", href = "JavaScript:void(0)" }),
        style: "CartListItem")
    ),
    htmlAttributes: new {width="100%", cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
: null)
</div>
<p style="text-align:right;">
<input type="button" class="NormalButton" value="@ShowReportEmailListRes.Add" id="btnAddEmailAddress" />
</p>
<div id="dialog">
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "fromData" }))
{
@Html.Hidden("ReaIntNo")
@Html.Hidden("InReportCode")
@Html.Hidden("PageIndex")
<p><span class="spanEdit NormalBold">@ShowReportEmailListRes.Surname:</span>@Html.TextBox("Surname")
@Html.ValidationMessage("Surname")</p>
<p><span class="spanEdit NormalBold">@ShowReportEmailListRes.Initials:</span>@Html.TextBox("Initials")
@Html.ValidationMessage("Initials")</p>
<p><span class="spanEdit NormalBold" style="width:127px; vertical-align:top;">@ShowReportEmailListRes.EmailAddress:</span>
@Html.TextArea("EmailAddress", new { cols = "80", rows = "7", style = "border: 1px solid #ABADB3;" })
@Html.ValidationMessage("EmailAddress")
</p>
}
</div>
<div id="addressDetails">
<div id="content" style="width:450px;word-break:break-all;"></div>
</div>
</div>
