﻿html,body {margin: 0px;height:100%;min-height:100%;}
form {  padding:0px; margin:0px;}
div { font-family:Arial;  font-size:11px; color:#132A00;}
.div_h    { height:28px; text-align:center;}
.left_title
{
	float: left;
	width: 300px;
	text-align: right;
	height: 24px;
	line-height: 24px;
}
.right_input
{
	float: left;
	width: 320px;
	text-align: left;
}
.right_input input
{
    width:180px;
}
.right_input select
{
    width:185px;
    float:left;
}
.right_input_wide
{
	float: left;
	width: 400px;
	text-align: left;
}
.right_input_wide input
{
    width:180px;
}
.right_input_wide select
{
    width:185px;
}
.right_input_box
{
	float: left;
	padding-right:10px;
	text-align: left;
}
.submit_td
{
    width:100%;
    text-align:center;
}
.submit_button
{
    margin-left:15px;
    width:100px;    
    margin-top:10px;
    margin-bottom:15px;
}
.star  { width:15px; color:#C40202; font-size:14px; float:left;height:24px; line-height:24px;}

/*----------------error-------------------*/
.forget_errorinfo{font-size: 11px;font-weight: bold;color: #FE5A00;}
.success{font-size: 11px;font-weight: bold;color: #2348A6;}
.error_info{margin-left: auto;margin-right: auto;text-align: center;font-size: 11px;font-weight: bold;width: 296px;height: 20px;margin-top: 9px;padding-left: 10px;line-height: 20px;color: #FE5A00;}
.errorPassword{font-size: 11px;font-weight: bold;width: 296px;height: 20px;margin-top: 9px;padding-left: 10px;line-height: 20px;color: #FE5A00;}
.error{float: left;}
/*----------------error-------------------*/
.width_800
{
    width:800px;
}
.width_240
{
    width:240px;
}
.pager .selected
{
    color: #eee !important;
    text-decoration: none !important
}