/* ==================================
    CSS STYLES FOR TMS
   ==================================
*/

BODY
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	margin:0px;
   scrollbar-face-color: #444F7B; 
	scrollbar-shadow-color: #444F7B; 
	scrollbar-highlight-color: #444F7B; 
	scrollbar-3dlight-color: #6977B0; 
	scrollbar-darkshadow-color: #000; 
	scrollbar-track-color: #444F7B; 
	scrollbar-arrow-color: #6977B0;

}
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.ModalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

FIELDSET
{
	width: 95%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

LEGEND
{
	font-size: 9pt;
}

INPUT
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.inputWidthOne { width:220px;}
TEXTAREA
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

/* */
.HomeHead
{
	color: White;
	font-family: "Arial Black";
	font-size: 20px;
	padding-left: 5px;
	height: 35px;
	background-color: #6977B0;
}

A.HomeHead:hover
{
	color: Black;
	cursor: pointer;
	cursor: hand;
}
/* */
.ContentHead
{
	background-color: transparent;
	color: Black;
	font-family: "Arial Black";
	font-size: 20px;
	padding-left: 5px;
	height: 35px;
	line-height: 35px;
}
/* */
.SubContentHead
{
	background-color: transparent;
	color: Gray;
	font-family: "Arial Black";
	font-size: 18px;
	padding-left: 5px;
	height: 35px;
	line-height: 35px;
}

.SubContentHeadSmall
{
	background-color: #6977B0;
	color: White;
	font-family: "Arial Black";
	font-size: 11px;
	height: 12px;
}

.MostPopularHead
{
	background-color: Black;
	color: #6977B0;
	font-family: "Arial Black";
	font-size: 11px;
}

A.MostPopularItemText, A.MostPopularItemText:link, A.MostPopularItemText:visited
{
	color: black;
	font-family: "Arial Black";
	font-size: 11px;
	text-decoration: none;
}

A.MostPopularItemText:hover
{
	color: #336633;
	font-family: "Arial Black";
	font-size: 11px;
	text-decoration: underline;
}

.ProductListHead
{
	color: Black;
	font-family: "Arial Black";
	font-size: 12px;
	line-height: 14pt;
	background: transparent;
	width: auto;
}
.ProductListItem
{
	color: Black;
	font-family: "Arial Black";
	font-size: 10px;
}

.CartListHead
{
	background-color: #6977B0;
	border-bottom: dimgray;
	border-left: dimgray 1px solid;
	color: White;
	font-family: "Arial Black";
	font-size: 11px;
	padding-left: 5px;
	height: 11px;
}
.CartListHead a { padding:0 5px; color:#000!important; text-decoration:underline!important;}
.CartListHead a:hover { padding:0 5px; color:#fff!important; text-decoration:none!important;}

.CartListItem
{
	background-color: transparent;
	border-bottom: dimgray;
	border-left: dimgray 1px solid;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	height: 11px;
}

.RowHighlighted
{
	background-color: #ffff96;
	border-bottom: dimgray;
	border-left: dimgray 1px solid;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	height: 11px;
}
.CartListItemAlt
{
	background-color: #EFF0F0;
	border-bottom: dimgray;
	border-left: dimgray 1px solid;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	height: 11px;
}

.CartListFooter
{
	background-color: #6977B0;
	border-left: dimgray 1px solid;
	line-height: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	font: 11 Verdana, Arial;
	color: #330000;
	padding-left: 5px;
	height: 11px;
}
.CartListSelected
{
	background-color: #FFFFCC;
}

/* text style for the links */
A.SiteLink, A.SiteLink:link, A.SiteLink:visited
{
	font-family: "Arial Black";
	text-decoration: none;
	color: #6977B0;
	font-size: 11px;
}

A.SiteLink:hover
{
	text-decoration: underline;
	color: White;
}

A.SiteLinkBold, A.SiteLinkBold:link, A.SiteLinkBold:visited
{
	color: Black;
	font-family: "Arial Black";
	text-decoration: none;
	font-size: 11px;
}

A.SiteLinkBold:hover
{
	color: White;
	text-decoration: none;
}

/* */
A.MenuUnselected, A.MenuUnselected:link, A.MenuUnselected:visited
{
	color: #6977B0;
	font-family: "Arial Black";
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	padding-left: 10px;
}

A.MenuUnselected:hover
{
	color: white;
	text-decoration: underline;
	padding-left: 10px;
}

A.MenuSelected
{
	color: white;
	font-family: "Arial Black";
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	padding-left: 10px;
}

A.MenuSelected:hover
{
	color: #663300;
	font-family: "Arial Black";
	text-decoration: none;
	padding-left: 10px;
}

/* GENERAL */

/* text style used for most text rendered by modules */
.Normal
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
}

.NormalMand
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	background-color: Silver;
}

.NormalDouble
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 20px;
}

/* text style used for textboxes in the admin pages, for Nav compatibility */
.NormalTextBox
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
}

/* text style used for selects in the admin pages, for Nav compatibility */
.NormalSelect
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
}

/* text style used for textboxes in the edit pages, for Nav compatibility */
.EditTextBox
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	border-style: solid;
	border-width: 1px;
	border-color: #999966;
}

/* text style used for controls in the admin and edit pages, for Nav compatibility */
.NormalControl
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalCheckBox
{
	margin-left: -4px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalRadio
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-indent: -5px;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalButton
{
	font-family: "Arial Black";
	font-size: 11px;
	color: white;
	background-color: #6977B0;
	text-indent: 2px;
}

.NormalButtonRed
{
	font-family: "Arial Black";
	font-size: 11px;
	color: white;
	background-color: #E10000;
	text-indent: 2px;
}

A.NormalButton:hover
{
	text-decoration: underline;
	color: #EFF0F0;
}
.NormalRed
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: Red;
	background-color: transparent;
}

.NormalBold
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	height:12px;
	width:130px;
	text-align:left;
}

.NormalBoldRed
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	color: Red;
}

.BoldUL
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	text-decoration: underline;
}

.NormalItalic
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	font: italic;
}



A:link
{
	text-decoration: none;
	color: #6977B0;
}

A, A:hover
{
	text-decoration: underline;
	color: black;
}

SMALL
{
	font-size: 8px;
}

BIG
{
	font-size: 14px;
}

BLOCKQUOTE, PRE
{
	font-family: Lucida Console, monospace;
}
#ul_tree_view { width:300px; border:dotted 2px #444F7B; color:#444F7B!important; overflow:auto; height:500px; margin-left:50px;}
#ul_tree_view a { color:#444F7B!important;}
#ul_tree_view a:hover { color:#ff6600!important;}
#ul_tree_view ul li { list-style:none;}
.pageList { height:500px; width:300px;}
.roleManageDropdownlist {height:100px;}
.userNamestyle { font-size:18px;color:#6977B0; font-weight:bold;}
legend { font-weight:bold; font-size:14px; line-height:100px; color:#999}

UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

HR
{
	height: 1pt;
	text-align: left;
}

.menustyle
{
	background-color: #6977B0;
	color: White;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	width: 200px;
	border: 1px;
	border-color: Black;
	border-style: solid;
}
.logout 
{
    cursor:pointer;
	color: White;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 0px;
	background-color: #6977B0;
	font: Impact;
	border: 0px;
	border-color: Black;
	border-style: solid;
	}
.MenuItem
{

	color: White;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	background-color: #6977B0;
	font: Impact;
	border: 1px;
	border-color: Black;
	border-style: solid;
}
A.MenuItem
{

	color: White;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	background-color: #6977B0;
	font: Impact;
	border: 0px;
	border-color: Black;
	border-style: solid;

}
A.MenuItem:Hover
{

	color: White;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	background-color: #6977B0;
	font: Impact;
	border: 0px;
	border-color: Black;
	border-style: solid;
}

.mouseup
{
	width: 200px;
	color: Red;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	background-color: #6977B0;
	cursor: hand;
	cursor: pointer;
	border: 1px;
	border-color: Black;
	border-style: solid;
}

.mouseover
{
	width: 200px;
	background-color: #6977B0;
	color: Black;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	cursor: pointer;
	cursor: hand;
	border: 1px;
	border-color: Black;
	border-style: solid;
}

.mousedown
{
	width: 200px;
	background-color: #6977B0;
	color: Red;
	font-family: "Arial Black";
	font-size: 8pt;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	cursor: hand;
	cursor: pointer;
	border: 1px;
	border-color: Black;
	border-style: solid;
}

.DisableTextBox
{
    color: #C0C0C0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	height: 16px;
	cursor: default;
	
	border-style: solid;
	padding: 0px;
	padding-left: 0px;
	padding-right: 15px;
	border: 1px;
	border-color: #C0C0C0;
	border-style: solid;
}
/* For ModalPopup */
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
}

.Rect
{	position:absolute;
 	background-color:#80FF80;
 	opacity:0.50;
 	_filter:alpha(opacity=50);
}
.page{ margin:5xp 18px; border:dotted 1px #ccc; color:#666; cursor:pointer; text-decoration:none;}
.error { color:#ff0000;}
.error_fontsize12 { color:#ff0000; text-align:left; font-size:12px; line-height:25px; }
.field-validation-error { color:#ff0000;}
.loginBackground {background:url("../Image/LoginBg.jpg") no-repeat; width:1128px; height:792px;}