﻿@model SIL.AARTO.COOAutomation.Web.Models.ResultEnquiryModel
@using SIL.AARTO.COOAutomation.Web.Helpers;
@using SIL.AARTO.COOAutomation.Web.Helpers.Paginator;
@{
    ViewBag.Title = "Result Enquiry";
}
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 100%;
        border: 1px solid black;
    }

    .footer {
        text-align: right;
    }

    .header {
        text-align: left;
    }

    .pager .selected {
        color: #eee !important;
        text-decoration: none !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#OffenceDate").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>
<span class="ContentHead">Result Enquiry</span>
@using (Html.BeginForm("Index", "ResultEnquiry"))
{
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td>
                <span id="lblError" name="lblError" class="error">@Model.ErrorMsg</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Offence Date:</span>
                @Html.TextBox("OffenceDate", Model.OffenceDate)
                <input id="btnSearch" type="submit" value="Search" class="NormalButton" />
            </td>
        </tr>
    </table>
    
    if (Model.ResultNoticeList.Count > 0)
    {
    <table cellspacing="0" cellpadding="4" border="0" style="border-collapse: collapse;"
        width="90%" class="listTable">
        <thead>
            <tr class="CartListHead">
                <td align="left">Registration
                </td>
                <td align="left">Ticket No.
                </td>
                <td align="left">Offence Date
                </td>
                <td align="left">Offender
                </td>
                <td align="left">Amount
                </td>
                <td align="left">ID Number
                </td>
                <td align="left">Telephone
                </td>
                <td align="left">Email
                </td>
                <td align="left">Result
                </td>
                <td align="left">Load Date
                </td>
                <td align="left">Officer Action Date
                </td>
                <td align="left">COO Process Date
                </td>
            </tr>
        </thead>
        <tbody>
            @{string cssClass;
              for (int i = 0; i < Model.ResultNoticeList.Count; i++)
              {
                  var item = Model.ResultNoticeList[i];
                  if (i % 2 == 0)
                  { cssClass = "CartListItem"; }
                  else
                  { cssClass = "CartListItemAlt"; }
                <tr class="@cssClass">
                    <td align="left">@item.RegNumber
                    </td>
                    <td align="left">@item.NoticeNumber
                    </td>
                    <td align="left">@item.Dateofoffence.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td align="left">@item.DriverSurname
                    </td>
                    <td align="left">@item.OffAmt
                    </td>
                    <td align="left">@item.IDNumber
                    </td>
                    <td align="left">@item.Telephone
                    </td>
                    <td align="left">@item.Email
                    </td>
                    <td align="left">@item.Result
                    </td>
                    <td align="left">@item.DateLoaded.ToString("yyyy-MM-dd")
                    </td>
                    <td align="left">
                        @if (item.DateActionByOfficer.HasValue)
                        {
                            @item.DateActionByOfficer.Value.ToString("yyyy-MM-dd");
                        }
                    </td>
                    <td align="left">
                        @if (item.DateCooAutomaticProcessed.HasValue)
                        {
                            @item.DateCooAutomaticProcessed.Value.ToString("yyyy-MM-dd");
                        }
                    </td>
                </tr>
              }
            }
            <tr class="CartListHead">
                <td colspan="12" align="right">
                    @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "OffenceDate=" + Model.OffenceDate }); }
                    @Html.Raw(strPage)
                </td>
            </tr>
        </tbody>
    </table>
    }
}