﻿@model SIL.AARTO.Web.ViewModels.Handwritten.AdministrativeCorrectionList
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource.Handwritten;
@{
    ViewBag.Title = "ExpireWholePrintFile";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<style>
    .txtRight
    {
        text-align:right;
    }
    .txtWidthNoticeNumber
    {
        width:135px;
    }
    .txtWidthDate
    {
        width:75px;
    }
    .highlight
    {
        background-color:yellow;
    }
    .block
    {
        border:1px solid #ccc;
    }
</style>

<script type="text/javascript">
    $(function () {

        String.prototype.getQuery = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("/?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var strHref = location.href;
       
        var noticeNumber = strHref.getQuery("NoticeNumber");
        noticeNumber = noticeNumber == null ? "" : unescape(noticeNumber);

        $("#txtNoticeNumber").val(noticeNumber);

        $("#cbx_DMSCourt").click(function () {
            if ($(this).is(":checked")) {
                $("#cbx_ReceiptCourt").removeAttr("checked");
            }

            if ($("#cbx_DMSCourt").is(":checked"))
            {
                $("#ddlCorrectCourt").val($("#ddlDMSCourt").val());
                $("#ddlCorrectCourt").attr("disabled", "disabled");
                $("#hidden_checkCourtFlag").val("DMS");
            }
            else if ($("#cbx_ReceiptCourt").is(":checked"))
            {
                $("#ddlCorrectCourt").val($("#ddlReceiptCourt").val());
                $("#ddlCorrectCourt").attr("disabled", "disabled");
                $("#hidden_checkCourtFlag").val("Receipt");
            }
            else
            {
                $("#ddlCorrectCourt").val("");
                $("#ddlCorrectCourt").removeAttr("disabled");
                $("#hidden_checkCourtFlag").val("");
            }
            
            
        });

        $("#cbx_ReceiptCourt").click(function () {
            if ($(this).is(":checked")) {
                $("#cbx_DMSCourt").removeAttr("checked");
            }

            if ($("#cbx_DMSCourt").is(":checked")) {
                $("#ddlCorrectCourt").val($("#ddlDMSCourt").val());
                $("#ddlCorrectCourt").attr("disabled", "disabled");
                $("#hidden_checkCourtFlag").val("DMS");
            }
            else if ($("#cbx_ReceiptCourt").is(":checked")) {
                $("#ddlCorrectCourt").val($("#ddlReceiptCourt").val());
                $("#ddlCorrectCourt").attr("disabled", "disabled");
                $("#hidden_checkCourtFlag").val("Receipt");
            }
            else {
                $("#ddlCorrectCourt").val("");
                $("#ddlCorrectCourt").removeAttr("disabled");
                $("#hidden_checkCourtFlag").val("");
            }
            
        });


        $("#cbx_DMSFineAmount").click(function () {
            if ($(this).is(":checked")) {
                $("#cbx_ReceiptFineAmount").removeAttr("checked");
            }
            else {
                $("#cbx_ReceiptFineAmount").attr("checked", "checked");
            }

            if ($("#cbx_DMSFineAmount").is(":checked")) {
                $("#txtCorrectFineAmount").val($("#txtDMSFineAmount").val());
                $("#hidden_checkFineAmountFlag").val("DMS");
            }
            else if ($("#cbx_ReceiptFineAmount").is(":checked")) {
                $("#txtCorrectFineAmount").val($("#txtReceiptFineAmount").val());
                $("#hidden_checkFineAmountFlag").val("Receipt");
            }
            else {
                $("#txtCorrectFineAmount").val("");
                $("#hidden_checkFineAmountFlag").val("");
            }

        });

        $("#cbx_ReceiptFineAmount").click(function () {
            if ($(this).is(":checked")) {
                $("#cbx_DMSFineAmount").removeAttr("checked");
            }
            else {
                $("#cbx_DMSFineAmount").attr("checked", "checked");
            }

            if ($("#cbx_DMSFineAmount").is(":checked")) {
                $("#txtCorrectFineAmount").val($("#txtDMSFineAmount").val());
                $("#hidden_checkFineAmountFlag").val("DMS");
            }
            else if ($("#cbx_ReceiptFineAmount").is(":checked")) {
                $("#txtCorrectFineAmount").val($("#txtReceiptFineAmount").val());
                $("#hidden_checkFineAmountFlag").val("Receipt");
            }
            else {
                $("#txtCorrectFineAmount").val("");
                $("#hidden_checkFineAmountFlag").val("");
            }

        });
        
       
    })

    function ReturnToDMS()
    {
        var confirmMessage = "@AdministrativeCorrections_cshtml.ConfirmMessage";
        var hIWEIntNo = $("#hide_HIWEIntNo").val();
        var reason = $("#txtReason").val();
        var noticeNumber = $("#txtNoticeNumber").val();
        if (reason == "")
        {
            alert("@AdministrativeCorrections_cshtml.lblFillOutReason");
            $("#txtReason").focus();
            return false;
        }

        if (confirm(confirmMessage)) {

            $.ajax({
                url: "@Url.Action("ReturnToDMS")",
                data: { HIWEIntNo: hIWEIntNo, Reason: reason, NoticeNumber: escape(noticeNumber) },
                type: "POST",
                async: false,
                success: function (data) {
                    if (data.result == -2) {
                        window.top.location = "@Url.Action("login", "Account")";
                     }
                     else if (data.result == -1) {
                         $("#lblError").html(data.errorlist.errorTip);

                     }
                     else if (data.result <= -3) {
                         $("#lblError").html(data.errorlist.errorTip);
                     }
                     else if (data.result == 1) {
                         var params = $.param({
                             page: data.pageIndex.currpageIndex,
                             NoticeNumber: escape(noticeNumber)
                         });
                         window.location = "@Url.Action("AdministrativeCorrections")?" + params;
                            }

                 }

            });
    }

  }


    function ConfirmFix() {

        var confirmMessage = "@AdministrativeCorrections_cshtml.ConfirmMessage";
        var hIWEIntNo = $("#hide_HIWEIntNo").val();
        var courtFlag = $("#hidden_checkCourtFlag").val();
        var fineAmountFlag = $("#hidden_checkFineAmountFlag").val();
        var correctCourtIntNo = $("#ddlCorrectCourt").val();
        var noticeNumber = $("#txtNoticeNumber").val();

        if (courtFlag == "" && correctCourtIntNo != "")
        {
            if (correctCourtIntNo == $("#ddlDMSCourt").val() || correctCourtIntNo == $("#ddlReceiptCourt").val())
            {
                alert("@AdministrativeCorrections_cshtml.lblErrorMsg29");
                return false;
            }
        }
        
        if (correctCourtIntNo == "" && fineAmountFlag=="")
        {
            alert("@AdministrativeCorrections_cshtml.lblErrorMsg26");
            return false;
        }

        if (confirm(confirmMessage)) {

            ShowProcessingDiv();

            $.ajax({
                url: "@Url.Action("ConfirmFix")",
                data: { HIWEIntNo: hIWEIntNo, CourtFlag: courtFlag, FineAmountFlag: fineAmountFlag, CorrectCourtIntNo: correctCourtIntNo, NoticeNumber: escape(noticeNumber) },
                 type: "POST",
                 async: false,
                 success: function (data) {
                     if (data.result == -2) {
                         HideProcessingDiv();
                         window.top.location = "@Url.Action("login", "Account")";
                     }
                     else if (data.result == -1) {
                         HideProcessingDiv();
                         $("#lblError").html(data.errorlist.errorTip);
                     }
                     else if (data.result <= -3) {
                         HideProcessingDiv();
                         $("#lblError").html(data.errorlist.errorTip);
                     }
                     else if (data.result == 1) {
                         HideProcessingDiv();
                                var params = $.param({
                                    page: data.pageIndex.currpageIndex,
                                    NoticeNumber: escape(noticeNumber)
                                });
                                window.location = "@Url.Action("AdministrativeCorrections")?" + params;
                    }
                       
                 }

            });
            HideProcessingDiv();
    }
}

    function OpenFixDetail(obj)
    {
        $("#ddlCorrectCourt").val("");
        $("#hidden_checkFineAmountFlag").val("");
        $("#hidden_checkCourtFlag").val("");
        $("#txtCorrectFineAmount").val("");
        $("#cbx_DMSCourt").removeAttr("checked");
        $("#cbx_DMSFineAmount").removeAttr("checked");
        $("#cbx_ReceiptCourt").removeAttr("checked");
        $("#cbx_ReceiptFineAmount").removeAttr("checked");

        var dmsFineAmount = $(obj).parent().prev().prev().prev().prev().prev().prev().prev().text();
        var receiptFineAmount = $(obj).parent().prev().prev().prev().prev().prev().prev().text();
        var noticeNumber = $(obj).parent().prev().prev().prev().prev().prev().prev().prev().prev().prev().prev().text();

        $(".listTable tr").each(function () {
            $(this).removeClass("highlight");
        });

        $(obj).parent().parent().addClass("highlight");

        $("#div_detail").show();
        $("#ddlDMSCourt").val($(obj).next().val());
        $("#ddlReceiptCourt").val($(obj).next().next().val());
        $("#hide_HIWEIntNo").val($(obj).next().next().next().val());
        $("#txtDMSFineAmount").val(dmsFineAmount);
        $("#txtReceiptFineAmount").val(receiptFineAmount);

        if (dmsFineAmount == receiptFineAmount)
        {
            $("#cbx_DMSFineAmount").attr("disabled", "disabled");
            $("#cbx_ReceiptFineAmount").attr("disabled", "disabled");
            $("#txtCorrectFineAmount").val(dmsFineAmount);
        }
        if ($("#ddlDMSCourt").val() != "" && $("#ddlReceiptCourt").val() != "" && $("#ddlDMSCourt").val() == $("#ddlReceiptCourt").val())
        {
            $("#cbx_DMSCourt").attr("disabled", "disabled");
            $("#cbx_ReceiptCourt").attr("disabled", "disabled");
        }

      @*  $.ajax({
            url: "@Url.Action("GetOfficerError")",
            data: { NoticeNumber: escape(noticeNumber) },
            type: "POST",
            async: false,
            success: function (data) {
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login", "Account")";
                    }
                    else if (data.result == -1) {
                        $("#lblError").html(data.errorlist.errorTip);

                    }
                    else if (data.result <= -3) {
                        $("#lblError").html(data.errorlist.errorTip);
                    }
                    else if (data.result == 1) {
                        if (data.errorlist.errorTip.length > 0) {
                            var officerError ="@AdministrativeCorrections_cshtml.lblOfficerError   " +data.errorlist.errorTip;
                            $("#lblOfficerError").html(officerError);
                        }
                     }

                }

        });*@
   

    }

    function OperSearch() {
    var params = $.param({
        page: 0,
        NoticeNumber: escape($("#txtNoticeNumber").val())
    });
    window.location = "@Url.Action("AdministrativeCorrections")?" + params;
    }

    function ShowProcessingDiv() {
        $("#div_processing").show();
    }
    function HideProcessingDiv() {
        $("#div_processing").hide();
    }

</script>

<div style="width: 960px; margin-left: auto;margin-right:auto">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@AdministrativeCorrections_cshtml.lblPageName</span>
        </p>
    </div>
    <div style="text-align: center;">
        <table align="center">            
            <tr>
                <td align="left">
                     <span id="lblError" style="color: Red; font-weight: bold; text-align:left;padding-left:7px">@Model.ErrorMsg </span>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <span id="lblOfficerError" style="color: Red; font-weight: bold; text-align:left;padding-left:7px"></span>
                </td>
            </tr>

        <tr>
            <td align="left"><span style="width: 350px;" class="NormalBold" id="lblSelection"> @AdministrativeCorrections_cshtml.lblNoticeTicketNo </span> &nbsp;@Html.TextBox("NoticeNumber", null, new { id = "txtNoticeNumber", @class = "Normal", style = "width:200px;", maxlength = 50 })
                &nbsp;<input style="width: 80px; cursor: pointer" type="button" class="NormalButton"
                        id="btnSearch" onclick="OperSearch()" value="@AdministrativeCorrections_cshtml.lblSearch" name="btnSearch" />
            </td>
        </tr>
          <tr>
         <td align="left">
        
            @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
            @{WebGrid grid = new WebGrid(Model.AdministrativeCorrectionModels, canPage: false);}
            @(Model.AdministrativeCorrectionModels != null && Model.AdministrativeCorrectionModels.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
                      grid.Column("NoticeNumber", AdministrativeCorrections_cshtml.lblNoticeNumber, canSort: false, style: "CartListItem txtWidthNoticeNumber"),
                      grid.Column("OffenceDate", AdministrativeCorrections_cshtml.lblOffenceDate, format: (item) =>
                      {
                          string OffenceDate = item.OffenceDate;
                          if (OffenceDate != "")
                            {
                                return Convert.ToDateTime(OffenceDate).ToString("yyyy-MM-dd");
                            }
                            else
                            {
                                return "";
                            }
                            return "";
                     }, canSort: false, style: "CartListItem txtWidthDate"),
                      grid.Column("ReceiptDate", AdministrativeCorrections_cshtml.lblReceiptDate, format: (item) =>
                      {
                          string ReceiptDate = item.ReceiptDate;
                          if (ReceiptDate != "")
                            {
                                return Convert.ToDateTime(ReceiptDate).ToString("yyyy-MM-dd");
                            }
                            else
                            {
                                return "";
                            }
                            return "";
                     }, canSort: false, style: "CartListItem txtWidthDate"),
                     grid.Column("DMSFineAmount", AdministrativeCorrections_cshtml.lblDMSFineAmount, canSort: false, style: "CartListItem txtRight"),
                     grid.Column("ReceiptFineAmount", AdministrativeCorrections_cshtml.lblReceiptFineAmount, canSort: false, style: "CartListItem txtRight"),
                     grid.Column("DMSCourt", AdministrativeCorrections_cshtml.lblDMSCourt, canSort: false, style: "CartListItem"),
                     grid.Column("ReceiptCourt", AdministrativeCorrections_cshtml.lblReceiptCourt, canSort: false, style: "CartListItem"),
                     grid.Column("LoadedDate", AdministrativeCorrections_cshtml.lblLoadedDate, format: (item) =>
                      {
                          string LoadedDate = item.LoadedDate;
                          if (LoadedDate != "")
                            {
                                return Convert.ToDateTime(LoadedDate).ToString("yyyy-MM-dd");
                            }
                            else
                            {
                                return "";
                            }
                            return "";
                     }, canSort: false, style: "CartListItem txtWidthDate"),
                     grid.Column("Status", AdministrativeCorrections_cshtml.lblStatus, canSort: false, style: "CartListItem"),
                     grid.Column("DMSImportedCounter", AdministrativeCorrections_cshtml.lblDMSImportedCounter, canSort: false, style: "CartListItem"),
                     grid.Column("NoticeNumber", "", format: (item) =>
                     {

                         return Html.Raw("<a class='aSet'  style='color:#6977B0;width:100px;' href='javascript:void(0)' onclick='OpenFixDetail(this)'>" + AdministrativeCorrections_cshtml.btnFix + "</a><input type='hidden' value='" + item.DMSCourtIntNo + "' id='hidden_DMSCrtIntNo'/><input type='hidden' value='" + item.ReceiptCourtIntNo + "' id='hidden_ReceiptCrtIntNo'/><input type='hidden' value='" + item.HIWEIntNo + "' id='hidden_HIWEIntNo'/>");
                    

                     }, canSort: false, style: "CartListItem")
                     
   )
   )
        : null)

             </td></tr> 

           </table> 
        <div id="div_detail" style="display:none;margin-top:20px">

            <table align="center" style="width:934px">
                <tr>
                    <td class="block">
                        <table>
                            <tr><td  align="left" style="height:30px;font-weight:bold" colspan="2">@AdministrativeCorrections_cshtml.lblDMSDetails</td></tr>
                            <tr>
                                <td align="left" style="width:115px">@AdministrativeCorrections_cshtml.lblDMSCourt:</td>
                                <td align="left" style="width:185px">@Html.DropDownList("ddlDMSCourt", Model.CourtList, new { style = "width:152px;",disabled="disabled" })
                                   @Html.CheckBox("cbx_DMSCourt")
                                </td>

                            </tr>
                            <tr>
                                <td align="left" style="width:115px">@AdministrativeCorrections_cshtml.lblDMSFineAmount:</td>
                                <td align="left" style="width:185px"> @Html.TextBox("txtDMSFineAmount","",new { style = "width:150px;",disabled="disabled" })
                                  @Html.CheckBox("cbx_DMSFineAmount")
                                </td>

                            </tr>
                        </table>
                    </td>
                    <td class="block">
                        <table>
                            <tr><td align="left" style="height:30px;font-weight:bold" colspan="2">@AdministrativeCorrections_cshtml.lblReceiptDetails</td></tr>
                            <tr>
                                <td align="left" style="width:115px">@AdministrativeCorrections_cshtml.lblReceiptCourt:</td>
                                <td align="left" style="width:185px">@Html.DropDownList("ddlReceiptCourt", Model.CourtList, new { style = "width:152px;",disabled="disabled" })
                                    @Html.CheckBox("cbx_ReceiptCourt") 
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width:115px">@AdministrativeCorrections_cshtml.lblReceiptFineAmount:</td>
                                <td align="left" style="width:185px">@Html.TextBox("txtReceiptFineAmount","", new { style = "width:150px;",disabled="disabled" })
                                     @Html.CheckBox("cbx_ReceiptFineAmount")
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="block">
                        <table>
                            <tr><td align="left" style="height:30px;font-weight:bold" colspan="2">@AdministrativeCorrections_cshtml.lblCorrectDetails</td></tr>
                            <tr>
                                <td align="left" style="width:115px">@AdministrativeCorrections_cshtml.lblCorrectCourt:</td>
                                <td align="left" style="width:185px"> @Html.DropDownList("ddlCorrectCourt", Model.CourtList, new { style = "width:152px;" })
                                    @Html.Hidden("hidden_checkCourtFlag")
                                </td>
                            </tr>

                            <tr>
                                <td align="left" style="width:115px">@AdministrativeCorrections_cshtml.lblCorrectFineAmount:</td>
                                <td align="left" style="width:185px"> @Html.TextBox("txtCorrectFineAmount","", new { style = "width:150px;",disabled="disabled" })
                                    @Html.Hidden("hidden_checkFineAmountFlag")
                                    @Html.Hidden("hide_HIWEIntNo")
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td style="height:30px"></td></tr>
                <tr>
                <td colspan="3" align="center">
                    <input style="width: 80px; cursor: pointer" type="button" class="NormalButton"
                        id="btnConfirm" onclick="ConfirmFix()" value="@AdministrativeCorrections_cshtml.btnConfirm" name="btnConfirm" />
                    </td>
                 </tr>
                <tr>
                   <td colspan="3" align="center">
                       <div id="div_processing" style="text-align:center; display:none"><h3><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")"/>&nbsp;Processing...</h3></div>
                   </td>
               </tr> 

            </table>

        @*<table align="center">
            
            <tr >
               <td colspan="2" align="left" style="height:30px;font-weight:bold">@AdministrativeCorrections_cshtml.lblDMSDetails</td>
               <td colspan="2" align="left" style="height:30px;font-weight:bold">@AdministrativeCorrections_cshtml.lblReceiptDetails</td>
               <td colspan="2" align="left" style="height:30px;font-weight:bold">@AdministrativeCorrections_cshtml.lblCorrectDetails</td>
                
           </tr>
            <tr > 
                <td align="left">
                    @AdministrativeCorrections_cshtml.lblDMSCourt:
                </td>
                <td style="width:185px" align="left">
                   @Html.DropDownList("ddlDMSCourt", Model.CourtList, new { style = "width:152px;",disabled="disabled" })
                   @Html.CheckBox("cbx_DMSCourt")
                </td>
                <td align="left">
                   @AdministrativeCorrections_cshtml.lblReceiptCourt: 
                </td>
                <td style="width:185px" align="left">
                    @Html.DropDownList("ddlReceiptCourt", Model.CourtList, new { style = "width:152px;",disabled="disabled" })
                    @Html.CheckBox("cbx_ReceiptCourt")
                </td>
                 <td align="left">
                   @AdministrativeCorrections_cshtml.lblCorrectCourt: 
                </td>
                <td style="width:185px" align="left">
                   @Html.DropDownList("ddlCorrectCourt", Model.CourtList, new { style = "width:152px;" })
                    @Html.Hidden("hidden_checkCourtFlag")
                </td>
            </tr>
             <tr> 
                <td align="left">
                   @AdministrativeCorrections_cshtml.lblDMSFineAmount:
                </td>
                <td style="width:185px" align="left"> @Html.TextBox("txtDMSFineAmount","",new { style = "width:150px;",disabled="disabled" })
                  @Html.CheckBox("cbx_DMSFineAmount")
                </td>
                <td align="left">
                   @AdministrativeCorrections_cshtml.lblReceiptFineAmount:
                </td>
                <td style="width:185px" align="left"> @Html.TextBox("txtReceiptFineAmount","", new { style = "width:150px;",disabled="disabled" })
                   @Html.CheckBox("cbx_ReceiptFineAmount")
                </td>
                 <td align="left">
                    @AdministrativeCorrections_cshtml.lblCorrectFineAmount: 
                </td>
                <td style="width:185px" align="left">
                   @Html.TextBox("txtCorrectFineAmount","", new { style = "width:150px;",disabled="disabled" })
                   @Html.Hidden("hidden_checkFineAmountFlag")
                  @Html.Hidden("hide_HIWEIntNo")
                </td>
            </tr>
            <tr>
                <td colspan="6" align="center">
                    <input style="width: 80px; cursor: pointer" type="button" class="NormalButton"
                        id="btnConfirm" onclick="ConfirmFix()" value="@AdministrativeCorrections_cshtml.btnConfirm" name="btnConfirm" />
                
                  &nbsp;&nbsp;&nbsp; @AdministrativeCorrections_cshtml.lblReason
                    @Html.TextBox("txtReason","", new { style = "width:300px;"})  
                    <input style="width:120px; cursor: pointer" type="button" class="NormalButton"
                        id="btnReturnToDMS" onclick="ReturnToDMS()" value="@AdministrativeCorrections_cshtml.btnReturnToDMS" name="btnReturnToDMS" />
                    </td>
                     
            </tr>
            <tr>
                <td colspan="6">
                   
                </td>
            </tr>
        </table>*@
      </div>
    </div>
</div>

