﻿@model SIL.AARTO.Web.ViewModels.Handwritten.HandwrittenCorrectionsModel
@using SIL.AARTO.Web.Resource.Handwritten;
@using SIL.AARTO.Web.Helpers.Paginator;
           
@{
    ViewBag.Title = "Corrections";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 10pt;
        width: 720px;
        border: 1px solid #808080;
    }
    .footer
    {
        text-align: right;
    }
</style>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var txtReason = $("#txtReason").val();
            if (txtReason == null || txtReason == "") {
                $("#lblError").html("@Corrections.lblInputReasonErr");
            }
            else {
                $("#lblError").html("");
                var searchStr = $("#hidSearchStr").val();
                var isNotice = $("#hidIsNotice").val();
                $.ajax({ 
                url: "@Url.Action("SubmitReason", "Handwritten")",
                type:"POST",
                dataType: "json",
                data:{ searchStr : searchStr, txtReason : txtReason, isNotice: isNotice },
                success: function (data) { 
                        if (data.result == -2) {
                            window.location = "@Url.Action("login", "Account")";
                        }
                        else
                        {
                            if(data.result == -1){
                                $("#lblError").text("@Corrections.ErrHasUpdate");
                                delay(redirectUrl);
                            }
                            if (data.result == -2) {
                                window.location = "@Url.Action("login", "Account")";
                            }
                             if(data.result == -3){
                                $("#lblError").text(data.msg);
                                delay(redirectUrl);
                            }
                            
                            // Oscar 2013-05-20 added for check rep before correction
                            if (data.result == -10) {
                                $("#lblError").text("@Corrections.NoticeHasLoggedRepresentation");
                                delay(redirectUrl);
                            }
                            else if (data.result == -11) {
                                $("#lblError").text("@Corrections.NoticeHasDecidedRepresentation");
                                delay(redirectUrl);
                            } 
                            
                            else if (data.result == 0) {
                                $("#lblError").text("@Corrections.SubmitSuccessful");
                                delay(redirectUrl);
                            }
                        }
                    }
                 });
            }
        });
    });

    function showForm(obj) {
        var searchStr = $("#SearchStr").val();
        $("#hidSearchStr").val(searchStr);
        $("#MsgTable").css("display", "block");
    }

    function delay(functionname)
    {
        setTimeout(functionname,5000);
    }
    function redirectUrl(){
        window.location = "@Url.Action("Corrections", "Handwritten")";
    }
</script>

<table width="100%" cellspacing="0" cellpadding="0" border="0" id="Table5">
    <tbody>
        <tr>
            <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color: #fff">
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" id="Table6">
    <tbody>
        <tr>
            <td valign="top" align="center" style="width: 182px">
                <div id="pnlMainMenu">
                </div>
                <div style="width: 146px;
                    margin: 20px;" id="pnlSubMenu">
                    <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
                        <tbody>
                            <tr>
                                <td align="center">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                </td>
                            </tr>
                            <tr>
                                <td height="21" align="center">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td width="100%" valign="top" align="left" colspan="1">
                <table width="568" border="0" id="Table7" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top" height="47">
                                <p align="center">
                                    <span style="display: inline-block; " class="ContentHead" id="lblPageName">@Corrections.lblPageName</span></p>
                                <p>
                                    <span class="NormalRed" id="lblError">@Model.ErrorMsg</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @using (Html.BeginForm("Corrections", "Handwritten"))
                                {
                                    <table>
                                        <tr>
                                            <td>
                                                <span style="display: inline-block; width: 350px;" class="NormalBold" id="lblSelection">@Corrections.lblNum</span>
                                            </td>
                                            <td>
                                                @Html.TextBox("SearchStr", null, new { @class = "Normal", style = "width:307px;" })
                                            </td>
                                            <td>
                                                <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@Corrections.Search" name="btnSearch" />
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </td>
                        </tr>
                        <tr style="margin-top:20px">
                            <td>
                                @{
                                    if (Model.PageCorrectionsList.Count > 0 && Model.IsNotice == "1")
                                    {
                                        <div class="Normal">NoticeTickeNo: @Model.SearchStr</div>
                                    }
                                    else if (Model.PageCorrectionsList.Count > 0 && Model.IsNotice == "0")
                                    {
                                        <div class="Normal">SummonsNo: @Model.SearchStr</div>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <div id="pnlCorrectionsList">
                                    @{WebGrid grid = new WebGrid(Model.PageCorrectionsList, canPage: false);}
                                    @(Model.PageCorrectionsList.Count > 0 ? grid.GetHtml(
                                                headerStyle: "CartListHead",
                                                alternatingRowStyle: "CartListItemAlt",
                                                tableStyle: "listTable",
                                                rowStyle: "CartListItem",
                                                footerStyle: "CartListHead",
                                                columns: grid.Columns(
                                                                    grid.Column("FilmNo", Corrections.FilmNo, canSort: false, style: "CartListItem"),
                                                                            grid.Column("FrameNo", Corrections.FrameNo, canSort: false, style: "CartListItem"),
                                                                       grid.Column(format: item => Html.ActionLink(Corrections.Select, "", null, new { onclick = string.Format("showForm(this)"), href = "JavaScript:void(0)" }),
                                                                style: "CartListItem")

                                                            )
                                                            )
                                            : null)
                                </div>
                            </td>
                        </tr>
                       
                        <tr>
                            <td>
                                <div style="height: 127px;" id="pnlMsg">
                                    
                                        <table width="654" cellspacing="1" cellpadding="1" border="0" id="MsgTable"
                                            style="display: none; margin-top: 10px;">
                                            <tbody>
                                                <tr>
                                                    <td  colspan="2">
                                                        <span class="ProductListHead" id="lblAddNewProvincial">@Corrections.InputReasonMsg</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="NormalBold">@Corrections.lblReason</span>
                                                    </td>
                                                    <td>
                                                        <textarea id="txtReason" class="Normal" cols="100" style="width:400px;"></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" colspan="2">
                                                        <input type="button" class="NormalButton" id="btnSubmit" value="@Corrections.btnSubmit" name="btnSubmit" />
                                                        <input type="hidden" value="" id="hidSearchStr" name="hidSearchStr" />
                                                        <input type="hidden" value="@Model.IsNotice" id="hidIsNotice" name="hidIsNotice" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                         </table>
                                    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>