﻿@model SIL.AARTO.Web.ViewModels.Handwritten.Report_HWOImportedWithErrorsModel
@using SIL.AARTO.Web.Resource.Handwritten;
@{
    ViewBag.Title = "NoticePost";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    $(function () {
        $("#BeginDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#BeginDate").datepicker('setDate', new Date(new Date() - (86400000 * 30)));
        $("#EndDate").datepicker('setDate', new Date());
    });


function OperSearch() {
  
    var sBeginDate = $("#BeginDate").val();
    var sEndDate = $("#EndDate").val();
    var status = $("#ddlHwoImprotedStatus").val();

    if (sBeginDate != "" && sEndDate != "") {
        var beginDate = new Date(sBeginDate.replace("-", "/").replace("-", "/"));
        var endDate = new Date(sEndDate.replace("-", "/").replace("-", "/"));
        if (beginDate > endDate) {
            alert("@Report_HWOImportedWithErrors_cshtml.lblErrorText1");
            return false;
        }
    }
    window.open("ViewHWOImportedWithErrors?BeginDate=" + sBeginDate + "&EndDate=" + sEndDate + "&Status=" + status, "_blank");
 }

</script>

<div style="width: 900px;margin-left:auto;margin-right:auto;">
    <div style="text-align: center;">
        <p>
            <span id="lblPageName" class="ContentHead">@Report_HWOImportedWithErrors_cshtml.lblPageName</span>
        </p>
        <table align="center">
            <tr>
                <td>
                     @Report_HWOImportedWithErrors_cshtml.lblStatus @Html.DropDownList("SelectHwoImprotedStatus", Model.HWOImportedStatusList, new { id = "ddlHwoImprotedStatus", @class = "Normal", style = "width:100px" })
                   &nbsp;&nbsp; @Report_HWOImportedWithErrors_cshtml.lblLoadDate &nbsp;  From &nbsp;  @Html.TextBox("BeginDate", null, new { @class = "Normal", style = "width:100px;",Readonly="readonly" })
                    To @Html.TextBox("EndDate", null, new { @class = "Normal", style = "width:100px;",Readonly="readonly" })
                    &nbsp;&nbsp;<input style="width: 80px; cursor: pointer" type="button" class="NormalButton"
                        id="btnSearch" onclick="OperSearch()" value="@Report_HWOImportedWithErrors_cshtml.lblSearch" name="btnSearch" />
                </td>
            </tr>
        </table>
      </div>
</div>
