﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='@Url.Content("~/Content/Css/Admin/Admin.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Css/Global.css")' rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/ST_Odyssey.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
     <script type="text/javascript" src='@Url.Content("~/RootPathHandler.ashx")'></script>

    <script type="text/javascript">
        // IE 8 Fix for arrays that miss the indexOf Method. This fix requires JQuery.
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (val) {
                return jQuery.inArray(val, this);
            };
        }
    </script>

    @RenderSection("header",false)
</head>

<body>
    @RenderBody()
</body>
</html>
