﻿
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='@Url.Content("~/Content/Css/Admin/Admin.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Css/Global.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/Css/ST_Odyssey.css")' rel="stylesheet"  type="text/css" />
    <link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet"  type="text/css" />
    <script src='@Url.Content("~/Scripts/jquery-1.4.4.min.js")' type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src='@Url.Content("~/RootPathHandler.ashx")'></script>
    @RenderSection("HeaderContent", false)
</head>

<body>
    <div>
        @{if (Session["UserLoginInfo"] == null)
            {

            <script type="text/javascript">
                window.parent.parent.location = _ROOTPATH + "/Account/Login";
            </script>

            }
        }
        @RenderBody()
    </div>
</body>
</html>
