﻿@using SIL.AARTO.Web.Resource.Error
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

    <table height="10%" cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr>
            <td class="HomeHead" valign="middle" align="center" width="100%" colspan="2">
            @*    <hdr1:Header ID="Header1" runat="server"></hdr1:Header>*@
            </td>
        </tr>
    </table>

     <div class="errorDiv">
        <div class="floatLeft">
         <img src="/Content/Image/ErrorPage.gif" />
            </div>
        <div class="floatLeft infoBg">
     
    

        <table border="0" width="100%">
            <tr>
                <td>
                   <span class="ContentHead">@ErrorRes.lblPageNameText</span>
                </td>
            </tr>
            
            <tr>
                <td>
                  <span class="NormalRed">@ErrorRes.lblErrorText</span>
                                                 
                 </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td valign="middle">
                <span class="NormalBold">@ErrorRes.lblErrorOccurredText</span>
                    &nbsp;&nbsp;&nbsp; 
                     <span class="Normal">@ErrorRes.lblErrorPageText</span>
                   
                    &nbsp;&nbsp;&nbsp;
                     <span class="Normal">@ErrorRes.lblErrorPageText</span>
                    </td>
              
            </tr>
            <tr>
                <td>
                 @*   <asp:HyperLink ID="linkToHome" runat="server" Target="_parent" Text="<%$Resources:linkToHome.Text %>"></asp:HyperLink>*@

                   @Html.ActionLink(ErrorRes.linkToHomeText, ErrorRes.linkToHomeText, null, new { onclick = string.Format("OpenDocument('{0}')", ""), href = "JavaScript:void(0)" })
                 </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>

  </div>
    </div>
