﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("header", false)
</head>
<body>
    <div>
        @if (Session["UserLoginInfo"] == null)
        {
        <script type="text/javascript">
            window.parent.parent.location = _ROOTPATH + "/Account/Login";
        </script>
        }
        @RenderBody()
    </div>
</body>
</html>
