﻿@using SIL.AARTO.DAL.Entities;
@model SIL.AARTO.Web.ViewModels.LookupPartViewModel
<div>
    <table cellspacing="0" border="0" style="background-color:Silver;width:350px;border-collapse:collapse;" id="LanguageLookupTb">
        <tbody>
        @foreach (var item in Model.LanguageSelectors)
        {
            if (item.LsCode == "en-US")
            {
            <tr>
                <td>@item.LsDescription</td>
                <td>
                    <input id="mul_en-US" 
                        class="Normal input-validation-error" 
                        type="text" 
                        value="" style="width:260px;height:21px;" name="mul_en-US" 
                        data-val-required="*" 
                        data-val-length-max="@Model.EnUSLength" 
                        data-val-length="Max length @Model.EnUSLength" 
                        data-val="true">
                        @Html.ValidationMessage("mul_en-US", new { title="Required Field" })
                </td>
            </tr>
            }
            else
            {
            <tr>
                <td>@item.LsDescription</td>
                <td>
                    @Html.TextBox("mul_" + item.LsCode, null, new { style = "height:21px;width:260px;" })
                </td>
            </tr>
            }
        }
        </tbody>
    </table>
</div>