﻿@using SIL.AARTO.Web.Resource.Enquiry
@model SIL.AARTO.Web.ViewModels.Enquiry.NonCameraImageModel
<script src="@Url.Content("~/Scripts/Jquery/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Jquery/ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Jquery/ui.draggable.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Jquery/jquery.rightClick.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Jquery/jquery-1.8.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Jquery/jquery-ui.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Css/ST_Odyssey.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    //2014-02-18 Heidi added for download images(5188)
    $(function () {
        $("#btnDownLoadImage").click(function () {
            var url = $("#mainImage").attr("src");
            var arr = url.split("?");
            document.location.href = "@Url.Action("DownLoadImage", "Enquiry")" + "?" + arr[1];
        });
    })
 </script>
<div id="div_message" style="display: none; height: 30px; line-height: 30px; padding-top: 10px;">@NonCameraRes.Nodata</div>
<div id="div_show">
    <table width="100%">
        <tr>
            <td colspan="3">
            </td>
            <div id="mainImageDiv" style="width: 630px; height: 800px; line-height: 800px; overflow: auto;
                position: relative; margin-left: auto; margin-right: auto;">
                <div id="rect" class="Rect" style="display: none">
                </div>
                <img alt="" id="mainImage" src="" style="position: absolute" />
            </div>
        </tr>
        <tr>
            <td width="200">
                <input id="btnPrev" onclick="prev()" class="NormalButton" value="@NonCameraRes.btnPrev" type="button" />
                <input id="btnNext" class="NormalButton" onclick="next()" value="@NonCameraRes.btnNext" type="button" />
                <span id="span_num"></span>
            </td>
            <td width="500">
                <input id="btnZoom" class="NormalButton" type="button" clientidmode="Static" runat="server"
                    value="@NonCameraRes.btnZoom" style="width: 150px" />
                <input id="btnDownLoadImage" value="@NonCameraRes.btnDownloadImage" type="button" class="NormalButton" />
            </td>
            <td width="450" align="left">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span id="lblFeedback" runat="server" clientidmode="Static" style="color: Red; border: solid 1px #ccc">
                </span>
            </td>
        </tr>
    </table>
</div>
<input id="hd_notIntNO" type="hidden" runat="server" value="0" />
@Html.HiddenFor(model => model.ImageUrls)
<script type="text/javascript">
    var mainImageID = "mainImage";
    //  var MainSrc = "/Images/Image.aspx.jpg";
    //var imgArr = ["Images/111.JPG", "Images/Bluehills.jpg", "Images/111.JPG"];
    var lblFeedbackID = "lblFeedback";
    var imgstr = $("#ImageUrls").val(); // '<%=imageUrls %>'

    var imgArr = imgstr.split(',');

    var i = 0;
    var arrlenth = 0;
    arrlenth = imgArr.length;
    function prev() {

        $("#btnNext").removeAttr("disabled");

        if (arrlenth > 0) {
            if (i > 0) {
                i = i - 1;
                $("#mainImage").attr("src", imgArr[i]);
            }
            if (i == 0) {
                $("#btnPrev").attr("disabled", "disabled");
            }
        }
        $("#span_num").html((i + 1) + "/" + arrlenth);

    }

    function next() {


        $("#btnPrev").removeAttr("disabled");
        if (arrlenth > 0) {
            if (i < arrlenth - 1) {
                i = i + 1;
                $("#mainImage").attr("src", imgArr[i]);
            }
            if (i == arrlenth - 1)
            { $("#btnNext").attr("disabled", "disabled"); }
        }
        $("#span_num").html((i + 1) + "/" + arrlenth);

    }

    $(function () {
        if (arrlenth > 0) {
            $("#mainImage").attr("src", imgArr[0]);
            $("#span_num").html((i + 1) + "/" + arrlenth);

        }
        if (imgstr.length == 0) {
            $("#div_show").hide();
            $("#div_message").show();
        }
        if (arrlenth == 1) {
            $("#btnNext").attr("disabled", "disabled");
            $("#btnPrev").attr("disabled", "disabled");

        }
        pageLoad();
        $("#mainImage").draggable();
    })
    
  
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/nonCameraZoom.js")"></script>
