﻿@using SIL.AARTO.Web.Resource.Enquiry;
@model SIL.AARTO.Web.ViewModels.Enquiry.EnquiryModel
<script type="text/javascript">
    function AutoQueue() {
        var NPrefix = $("#Prefix").val();
        if (NPrefix.toString().length >= 2) {
            $("#Sequence").focus();
        }
    }

    function LookUpSubmitAction(obj) {
        $("#NoticeNoLookupHasError").val("");
        $("#mainform").attr("action",_ROOTPATH+"/Enquiry/NoticeNoLookup");
        $("#mainform").submit();
        }

    $(function () {

        $("#EasyPayNo").focus(function () {
            $("#searchField2").val("EasyPayNo"); 
        });
        $("#Prefix").focus(function () {
            $("#searchField2").val("TickSequenceNo"); 
        });
        $("#Sequence").focus(function () {
            $("#searchField2").val("TickSequenceNo"); 
        });
        $("#AuthCode").focus(function () {
            $("#searchField2").val("TickSequenceNo"); 
        });
    })

</script>
<table width="100%">
    <tr align="center">
        <td align="center" valign="middle" class="NormalBold" colspan="2" >
            <div  style="width:600px; height:30px;">
            @Html.Label("", NoticeNoLookupRes.lbLookUpText, new { id = "lbLookUp", @class = "NormalBold"})
             <input id="btnLookUp" name="btnLookUp" class="NormalButton"  onclick="LookUpSubmitAction(this)"  type="button" style='width:80px;float:right;margin-right:50px' value=" @NoticeNoLookupRes.btnSearchText"/>
                </div>
        </td>
        
       
    </tr>
    <tr align="center">
        <td colspan="2">
         <table class="Normal">
                <tr style="height: 22">
                    <td width="250px" align="left">
                        @Html.Label("", NoticeNoLookupRes.lbTickSequenceNoText, new { id = "lbTickSequenceNo", @class = "NormalBold" })
                    </td>
                    <td align="left" width="541px">
                        @Html.TextBoxFor(model => model.Prefix, new { @class = "Panel1 DisableTextBox2", style = "width:50px", onkeyup = "AutoQueue()" })
                        @Html.TextBoxFor(model => model.Sequence, new { @class = "Panel1 DisableTextBox2", style = "width:60px", maxLength = "6" })
                        @Html.TextBoxFor(model => model.AuthCode, new { @class = "Panel1 DisableTextBox2", style = "width:84px", maxLength = "9" })
                        @Html.TextBoxFor(model => model.CDV, new { style = "width:45px", disabled = "disabled" })
                         @Html.HiddenFor(model => model.searchField2) 
                          @Html.HiddenFor(model => model.NoticeNoLookupHasError) 
                    </td>
                </tr>
                <tr align="center" style="height: 22">
                    <td align="left">
                        @Html.Label("", NoticeNoLookupRes.lbEasyPayNoText, new { @class = "NormalBold", id = "lbEasyPayNo" })
                    </td>
                    <td align="left">
                        @Html.TextBoxFor(model => model.EasyPayNo, new { @class = "Panel1 DisableTextBox2", style = "width:215px" })
                    </td>
                </tr>
            </table>
           <table width="100%">
                <tr>
                    <td>
                        @{
                            if (Model.HeaderList != null && Model.HeaderList.Count > 0)
                            {
                            <table class="listTable">
                                <thead>
                                    <tr class="CartListHead">
                                        <th scope="col" width="150px;">@NoticeNoLookupRes.grdHeaderHeaderText1
                                        </th>
                                        <th scope="col" width="100px;">@NoticeNoLookupRes.grdHeaderHeaderText2
                                        </th>
                                        <th scope="col" width="100px;">@NoticeNoLookupRes.grdHeaderHeaderText3
                                        </th>
                                        <th scope="col" width="50px;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.HeaderList.Count; i++)
                                    {
                                        var hederEntity = Model.HeaderList[i];
                                        <tr class="CartListItem">
                                            <td class="CartListItem">
                                                @hederEntity.NotTicketNo_Enquiry
                                            </td>
                                            <td class="CartListItem">
                                                @hederEntity.NotRegNo
                                            </td>
                                            <td class="CartListItem">
                                                @hederEntity.Name
                                            </td>
                                            <td class="CartListItem">
                                                <input id="btnSelect" style="cursor: pointer"  name="btnSelect" onclick="SelectSubmit2(this)"  class="NormalButton" type="button" value="Select"/>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                                   
                            }
                        }
                         <span id="lblLookUpError" style="color: Red; font-weight: bold">@Model.LookUpErrorMsg</span>

                        &nbsp;
                    </td>
                </tr>
            </table>
                @Html.HiddenFor(model => model.NoticeNoLookupSubmitToAction)
                @Html.HiddenFor(model=>model.NoticeNoLookupSubmitToController)
                
        </td>
    </tr>
</table>
