﻿body
{
	background-color:#fff;
}
div { font-family:Verdana; font-size:15px;}
.errorDiv {  position: absolute;width:580px;height:200px;left:50%;top:50%;margin-left:-200px;margin-top:-80px;}
.floatLeft { float:left;}
.floatRight { float:right;}
.infoBg { height:auto; width:500px;text-align:left; padding-left:12px;}
a:link { color:#6977B0; text-decoration:underline;  font-weight:bold;}
a:visited { color:#6977B0; text-decoration:underline;font-weight:bold;}
a:hover { color:#ff0000; text-decoration:none; font-weight:bold;}
a.:active { color:#ff0000; text-decoration:none; font-weight:bold;}
.NormalRed { color:#ff0000;}