﻿
 .traceWidth_100pct td
 {
    width:200px;
    padding:1px;
    margin-top:1px;
    margin-bottom:0px;
 }
 .traceWidth_100pct input
 {
    width:180px;
    padding:1px;
    margin-top:1px;
    margin-bottom:0px;
    text-align:left;
 }
  .traceWidth_100pct select
 {
    width:180px;
    padding:1px;
    margin-top:1px;
    margin-bottom:0px;
    text-align:left;
 }