﻿@using SIL.AARTO.Web.Resource.WOAManagement
@model SIL.AARTO.BLL.WOAManagement.Model.WOAReductionReportModel
@{
    var now = DateTime.Now;
}
@if (Model.HasMessage)
{
    <script> writeMessage('@Model.Message', false); </script>
}
@if (Model.HasError)
{
    <script> writeMessage('@Model.Error', true); </script>
}
<script>
    $(function() {
        initTd();
        $("#AutIntNo").change(authorityChanged).change();
        $("#CrtIntNo").change(function () {
            var text = $(this).children(":selected").text() || "";
            var match = text.match(/^.+(?=\s+\()/);
            if (match && match.length > 0) text = match[0].trim();
            $("#CrtName").val(text);
        });
        $("#DateFrom").val('@now.AddDays(-1).ToString("yyyy-MM-dd")').datepicker({
            changeYear: true,
            changeMonth: true,
            dateFormat: "yy-mm-dd",
            onSelect: onDatePickerSelect
        });
        $("#DateTo").val('@now.ToString("yyyy-MM-dd")').datepicker({
            changeYear: true,
            changeMonth: true,
            dateFormat: "yy-mm-dd",
            onSelect: onDatePickerSelect
        });
    });
</script>
<form>
    <div style="display: none; width: 0; height: 0">
        @Html.HiddenFor(m => m.CrtName)
    </div>
    <table>
        <tr>
            <td>@WOAReduction.Authority: </td>
            <td>@Html.DropDownListFor(m => m.AutIntNo, Model.AuthorityList, WOAReduction.PleaseSelect)</td>
            <td>@WOAReduction.Court: </td>
            <td>@Html.DropDownListFor(m => m.CrtIntNo, new List<SelectListItem>(), WOAReduction.AllCourts)</td>
        </tr>
        <tr>
            <td>@WOAReduction.DateFrom: </td>
            <td>@Html.TextBoxFor(m => m.DateFrom, new { @readonly = "readonly" })</td>
            <td>@WOAReduction.DateTo: </td>
            <td>@Html.TextBoxFor(m => m.DateTo, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right"><input id="btnReport" type="button" class="NormalButton" value="@WOAReduction.Report" onclick=" createReport() " /></td>
        </tr>
    </table>
</form>