﻿@using SIL.AARTO.BLL.Extensions
@using SIL.AARTO.Web.Resource.WOAManagement
@using SIL.ServiceBase
@model SIL.AARTO.BLL.WOAManagement.Model.WOASelfPlacementModel
@{
    var day30 = DateTime.Now.AddDays(30).Date;
    var maxDate = "+30D";
    if (Model.WOAExpiredDate.Date < day30)
    {
        maxDate = "";
        var diff = 30 - day30.Subtract(Model.WOAExpiredDate.Date).Days;
        if (diff >= 0)
        {
            maxDate = "+";
        }
        maxDate += diff.ToString("D") + "D";
    }
}
@if (Model.HasMessage)
{
    <script> writeMessage('@Model.Message', false); </script>
}
@if (Model.HasError)
{
    <script> writeMessage('@Model.Error', true); </script>
}
<script>
    woaCourDates = @((Model.WOACourtDates.IsNullOrEmpty() ? "[];" : string.Format("[\"{0}\"];", string.Join("\",\"", Model.WOACourtDates))).Raw())
    $(function() {
        initTd();
        $("#WOANewCourtDate").datepicker({
            dateFormat: "yy-mm-dd",
            beforeShowDay: beforeShowDay,
            defaultDate: new Date(),
            minDate: "-30D",
            maxDate: '@maxDate'
        });
    });
</script>
<form>
    <div style="display: none; height: 0; width: 0">
        @Html.HiddenFor(m => m.AutIntNo)
        @Html.HiddenFor(m => m.WOAIntNo)
        @Html.HiddenFor(m => m.OGIntNo)
        @Html.HiddenFor(m => m.OldWOACourtDate)
        @Html.HiddenFor(m => m.WOARowVersion)
        @Html.HiddenFor(m => m.WOAExpiredDate)
    </div>
    <table>
        <tr>
            <td>@WOASelfPlacement.WOANumber: </td>
            <td>@Model.WOANumber</td>
            <td>@WOASelfPlacement.WOAType: </td>
            <td>@Model.WOATypeDescription</td>
        </tr>
        <tr>
            <td>@WOASelfPlacement.OffenderName: </td>
            <td>@Model.FullName</td>
            <td>@WOASelfPlacement.IdNumber: </td>
            <td>@Model.IdNumber</td>
        </tr>
        <tr>
            <td>@WOASelfPlacement.WOAStatus: </td>
            <td>@Model.WOAStatus</td>
            <td>@WOASelfPlacement.WOAServedStatus: </td>
            <td>@Model.WOAServedStatus</td>
        </tr>
        <tr>
            <td>@WOASelfPlacement.WOAFineAmount: </td>
            <td>@Model.WOAFineAmount</td>
            <td>@WOASelfPlacement.WOAAddAmount: </td>
            <td>@Model.WOAAddAmount</td>
        </tr>
        <tr>
            <td>@WOASelfPlacement.CourtDate: </td>
            <td>@Model.CourtDateStr</td>
            <td>@WOASelfPlacement.WOAIssueDate: </td>
            <td>@Model.WOAIssueDateStr</td>
        </tr>
        <tr>
            <td>@WOASelfPlacement.WOACourtDate: </td>
            <td>@Model.WOANewCourtDateStr</td>
            <td>@WOASelfPlacement.WOANewCourtDate: </td>
            <td>@Html.TextBoxFor(m => m.WOANewCourtDate, new { Value = "", @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                @if (!Model.HasSnapshot)
                {
                    <input id="btnUpdate" type="button" class="NormalButton" value="@WOASelfPlacement.Update" onclick=" woaUpdate() " />
                }
                else
                {
                    <script>writeMessage('@WOASelfPlacement.ReverseFirst')</script>
                    <input id="btnReverse" type="button" class="NormalButton" value="@WOASelfPlacement.Reverse" onclick=" woaReverse() " />
                }
            </td>
            <td></td>
        </tr>
    </table>
</form>