﻿@using SIL.AARTO.Web.Resource.WOAManagement
@model SIL.AARTO.BLL.WOAManagement.Model.WOAReductionModel
@if (Model.HasMessage)
{
    <script> writeMessage('@Model.Message', false); </script>
}
@if (Model.HasError)
{
    <script> writeMessage('@Model.Error', true); </script>
}
<script>
    $(function() {
        initTd();
        $("#TotalFineAmountNew").keypress(integerOnly);
        $("#TotalContemptAmountNew").keypress(integerOnly);
    });
</script>
<form>
    <div style="display: none; height: 0; width: 0">
        @Html.HiddenFor(m => m.AutIntNo)
        @Html.HiddenFor(m => m.WOAIntNo)
        @Html.HiddenFor(m => m.WOARowVersion)
        @Html.HiddenFor(m => m.ChgRowVersion)
        @Html.HiddenFor(m => m.SchRowVersion)
        @Html.HiddenFor(m => m.TotalFineAmountOld)
        @Html.HiddenFor(m => m.TotalContemptAmountOld)
    </div>
    <table>
        <tr>
            <td>@WOAReduction.WOANumber: </td>
            <td>@Model.WOANumber</td>
            <td>@WOAReduction.WOAType: </td>
            <td>@Model.WOATypeDescription</td>
        </tr>
        <tr>
            <td>@WOAReduction.OffenderName: </td>
            <td>@Model.FullName</td>
            <td>@WOAReduction.IdNumber: </td>
            <td>@Model.IdNumber</td>
        </tr>
        <tr>
            <td>@WOAReduction.WOAStatus: </td>
            <td>@Model.WOAStatus</td>
            <td>@WOAReduction.WOAServedStatus: </td>
            <td>@Model.WOAServedStatus</td>
        </tr>
        <tr>
            <td>@WOAReduction.CourtDate: </td>
            <td>@Model.CourtDateStr</td>
            <td>@WOAReduction.WOAIssueDate: </td>
            <td>@Model.WOAIssueDateStr</td>
        </tr>
        <tr>
            <td>@WOAReduction.TotalFineAmount: </td>
            <td>@Html.TextBoxFor(m => m.TotalFineAmountNew, new { style = "-ms-ime-mode:disabled;ime-mode:disabled", maxlength = "14" })</td>
            <td>@WOAReduction.TotalContemptAmount: </td>
            <td>@Html.TextBoxFor(m => m.TotalContemptAmountNew, new { style = "-ms-ime-mode:disabled;ime-mode:disabled", maxlength = "14" })</td>
        </tr>
        <tr>
            <td>@WOAReduction.Official: </td>
            <td>@Html.DropDownListFor(m => m.CoMaIntNo, Model.OfficiaList, WOAReduction.PleaseSelect)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input id="btnUpdate" type="button" class="NormalButton" value="@WOAReduction.Update" onclick=" woaUpdate() " /></td>
            <td></td>
        </tr>
    </table>
</form>