﻿@model SIL.AARTO.Web.ViewModels.WOAManagement.WOASendToCourtModel
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.BLL.WOAManagement;

@{
    ViewBag.Title = "SendToCourt";
    Layout = "~/Views/Shared/Admin.cshtml";//2013-12-09 Heidi changed for check user login(5084)
}


@*<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@ @*//2013-12-09 Heidi Commented out because it already exists in the Admin.cshtml(5084)*@
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/WOAManagement/SendToCourt.js")" type="text/javascript"></script>

<p style="text-align: center;" class="ContentHead">@Html.Resource("pageTitle.Text")</p>

@using (Html.BeginForm())
{
    @Html.Hidden("Page", Model.PageIndex);
    <table style="margin: auto;">
        <tr>
            <td class="NormalBold">@Html.Resource("lblCourt.Text"):</td>
            <td>@Html.DropDownList("SearchCrtIntNo", Model.SearchCourts)</td>
        </tr>
        <tr>
            <td class="NormalBold">@Html.Resource("lblCourtRoom.Text"):</td>
            <td>@Html.DropDownList("SearchCrtRIntNo", Model.SearchCourtRooms)</td>
        </tr>
        <tr>
            <td class="NormalBold">@Html.Resource("lblCourtDate.Text"):</td>
            <td>@Html.DropDownList("SearchCourtDate", Model.SearchCourtDates)</td>
        </tr>
        <tr>
            <td style="height: 30px;"></td>
            <td>
                <input type="submit" value="@Html.Resource("btnSearch.Text")" id="btnSubmit" name="btnSubmit" class="NormalButton" /></td>
        </tr>
    </table>
   
    
    
    
}

@if (Model.WOAPrintFileNames != null && Model.WOAPrintFileNames.Count > 0)
{
    var index = 1;
    <table style="width: 800px; margin: 20px auto; border-color: Black; font-size: 8pt; border-collapse: collapse;" cellspacing="0" cellpadding="4" border="1">
        <tr class="CartListHead">
            <td>@Html.Resource("headPrintFileName.Text")</td>
            <td>@Html.Resource("headNumberofWarrents.Text")</td>
            <td>@Html.Resource("headSelect.Text")</td>
        </tr>
        @foreach (WoaPrintFileNameEntity p in Model.WOAPrintFileNames)
        {
            <tr class="@(index % 2 == 0 ? "CartListItemAlt" : "CartListItem")">
                <td>@Html.Encode(p.PrintFileName)</td>
                <td>@Html.Encode(p.NoOfWarrants)</td>
                <td><a href="javascript:void(0);" onclick="openDiv('@Html.Encode(p.PFNIntNo)','@Html.Encode(p.PrintFileName)');">@Html.Resource("msgSendToCourt")</a></td>
            </tr>
            index++;
        }
        <tr class="CartListHead">
            <td colspan="3">@Html.Raw(Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = int.Parse(System.Configuration.ConfigurationManager.AppSettings["PageSize"]), RecordCount = Model.TotalCount, parameters = Model.URLPara }))</td>
        </tr>
    </table>
}
else
{
    if (Model.NoDateFound)
    {
    <p style="text-align: center; color: red;">@Html.Resource("msgNoDataFound.Text")</p>
    }
}

<div id="divSendToCourt" title="" style="width: 300px; height: 200px; display: none; overflow-y: auto;">
    <table>
        <tr>
            <td>@Html.Resource("lblSendToCourtDate.Text"):</td>
            <td>
                <input type="text" id="txtSendToCourtDate" readonly="readonly" />
            </td>
        </tr>
    </table>
    <div style="padding-right: 10px; text-align: right; margin-top: 10px;">
        <input type="button" id="btnAll" value="@Html.Resource("lblSelectAll.Text")" class="NormalButton" />
        <input type="button" id="btnUndo" value="@Html.Resource("lblUnSelectAll.Text")" class="NormalButton" />
    </div>
    <table id="tbWOA" style="width: 100%; margin: 10px auto; border-color: Black; font-size: 8pt; border-collapse: collapse;" cellspacing="0" cellpadding="4" border="1">
        <tr class="CartListHead">
            <td>@Html.Resource("headWOANumber.Text")</td>
            <td>@Html.Resource("headSummonsNo.Text")</td>
            <td>@Html.Resource("headAccFullName.Text")</td>
            <td>@Html.Resource("headSelect.Text")</td>
        </tr>
    </table>
</div>

