﻿@using SIL.AARTO.Web.Helpers.Paginator;
@using System.Configuration;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.BLL.WOAManagement;
@using SIL.AARTO.DAL.Entities;
@model SIL.AARTO.Web.ViewModels.WOAManagement.WoaAuthorisationModel
@{
    ViewBag.Title = "WoaAuthorisation";
    Layout = "~/Views/Shared/Admin.cshtml";

}

<script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/WOAManagement/WoaAuthorisation.js")" type="text/javascript"></script>

<style>
    .tb
    {
        width: 100%;
    }

    .ct
    {
        text-align: center;
    }

    .input
    {
        width: 80px;
        height: 16px;
        padding-left: 5px;
    }

    .inputRej
    {
        width: 160px;
        height: 16px;
        padding-left: 5px;
    }
</style>
<script type="text/javascript">

    var REJ_REASON = '@Html.Resource("msgRejectReason")';
</script>


@using (Html.BeginForm("WoaAuthorisation", "WoaManagement", FormMethod.Post, new { id = "form" }))
{
    @Html.HiddenFor(m => m.PFNIntNo)
    @Html.HiddenFor(m => m.WoaIntNo)
    @Html.HiddenFor(m=>m.URLPara)
    @Html.HiddenFor(m => m.PageIndex);
    
    <div style="width: 95%; margin-left: 30px;">
        <div style="text-align: center;">
            <p>
                <span id="lblPageName" class="ContentHead">@Html.Resource("lblPageTitle.Text")</span>
            </p>
        </div>
        <div>
            <table align="center">
                <tr>
                    <td class="NormalBold">Court:
                    </td>
                    <td>
                        @Html.DropDownList("SearchCrtIntNo", Model.SearchCourts)
                    </td>
                </tr>
                <tr>
                    <td class="NormalBold">Court Room:
                    </td>
                    <td>
                        @Html.DropDownList("SearchCrtRIntNo", Model.SearchCourtRooms)
                    </td>
                </tr>
                <tr>
                    <td class="NormalBold">Court Dates:
                    </td>
                    <td>
                        @Html.DropDownList("SearchCDIntNo", Model.SearchCourtDates)
                    </td>
                </tr>
                <tr>
                    <td class="NormalBold">
                        @Html.Resource("lblWoaNumber.Text")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.WoaNumber)
                    </td>
                </tr>
                <!--
                <tr>
                    <td class="NormalBold">
                        @Html.Resource("lblAuthorisationType.Text")
                    </td>
                    <td style="height:40px; line-height:40px; vertical-align:middle;">
                        @* <select id="dllAuthorisationType">
                            <option value="1">Sent to court</option>
                            <option value="2">Return from court</option>
                        </select>*@
                        @Html.DropDownList("AuthorisationType", Model.AuthorisationTypeList)
                    </td>
                </tr>
                    -->
                <tr>
                    <td colspan="2" style="text-align: right; padding-top: 10px;">
                        <input type="submit" value="@Html.Resource("btnSelect.Text")" name="btnSelect" id="btnSelect" class="NormalButton"
                           />&nbsp;&nbsp;
                        <input type="button" value="@Html.Resource("btnWoaAtCourtReport.Text")" id="btnWoaAtCourt" class="NormalButton"/>
                    </td>
                </tr>
            </table>
            <p align="center">
                <span id="lblError" style="color: Red; font-weight: bold">
                    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
                    { 
                        @Html.Encode(Model.ErrorMessage);
                    }
                </span>
            </p>
            <table style="width: 100%">
                <tr>
                    <td align="center">
                        <!--    <div id="divPrintFileName" style="width: 800px; ">
                            @*@if (Model.AuthorisationType == 1)
                            {
                                <div style="text-align: right;">
                                    <input type="button" value="@Html.Resource("btnSelectAll.Text")" id="btnAll" class="NormalButton" />
                                    <input type="button" value="@Html.Resource("btnSentToCourt.Text")" id="btnSentToCourt" class="NormalButton" />
                                </div>
                            }*@  -->

                        <br />
                        <br />
                        <div id="divWoa" style="width: 900px;">
                            @{string strPage1 = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = int.Parse(ConfigurationManager.AppSettings["PageSize"]), RecordCount = Model.TotalCount, parameters = Model.URLPara });}
                            @{WebGrid gridWoa = new WebGrid(Model.WoaAuthorisationList,canPage: false);}
                            @(Model.WoaAuthorisationList != null && Model.WoaAuthorisationList.Count > 0 ? gridWoa.Table(
                            headerStyle: "CartListHead"
                            , alternatingRowStyle: "CartListItemAlt"
                            , tableStyle: "listTable tb"
                            , rowStyle: "CartListItem"
                            , footerStyle: "CartListHead footerStyle"
                            , footer: footer => Html.Raw(strPage1)
                    , columns: gridWoa.Columns(
                                gridWoa.Column("WoaNumber", @Html.Resource("headWoaNumber.Text"), canSort: false, style: "CartListItem"),
                                gridWoa.Column("SummonsNo", @Html.Resource("headSummonsNo.Text"), canSort: false, style: "CartListItem"),
                                gridWoa.Column("AccFullName", @Html.Resource("headAccFullName.Text"), canSort: false, style: "CartListItem"),
                                gridWoa.Column("CaseNumber", @Html.Resource("headCaseNumber.Text"), canSort: false, style: "CartListItem"),
                                gridWoa.Column("SendToCourt", @Html.Resource("headSentToCourt.Text"), format: (item) =>
                                {
                                    string stc = item.SendToCourt;
                                    int woaStatus = item.Status;
                                    string html = string.Empty;
                                    // Jake 2013-11-22 comment out . no longer use
                                    //if (woaStatus == (int)ChargeStatusList.WarrantPrinted)
                                    //{
                                    //    html = Model.GenerateHtml("SentToCourt", item.WoaIntNo.ToString(), stc, false, false, true);
                                    //    // html = "<input type =\"checkbox\" name=\"cbxSentToCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\"  id=\"txt_" + item.WoaIntNo + "\" />";
                                    //}
                                    //else if (woaStatus == (int)ChargeStatusList.WarrantDeliveredToCourt)
                                    //{
                                    //    html = Model.GenerateHtml("SentToCourt", item.WoaIntNo.ToString(), stc, true, true, true);
                                    //    //html = "<input type =\"checkbox\" checked=\"checked\" name=\"cbxSentToCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\" value=\"" + Convert.ToDateTime(stc).ToString("yyyy-MM-dd") + "\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    //}
                                    //else if (woaStatus == (int)ChargeStatusList.ReturnedFromCourtAuthorised)
                                    //{
                                    //    html = Model.GenerateHtml("SentToCourt", item.WoaIntNo.ToString(), stc, true, true, true);
                                    //    //html = "<input type =\"checkbox\" checked=\"checked\" name=\"cbxSentToCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\" value=\"" + Convert.ToDateTime(stc).ToString("yyyy-MM-dd") + "\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    //}
                                    //else if (woaStatus == (int)ChargeStatusList.ReturnedFromCourtRejected)
                                    //{
                                    //    html = Model.GenerateHtml("SentToCourt", item.WoaIntNo.ToString(), stc, true, true, true);
                                    //}
                                    html = Model.GenerateHtml("SentToCourt", item.WoaIntNo.ToString(), stc,true, true, true);
                                    return Html.Raw(html);
                                }, canSort: false, style: "CartListItem"),
                                gridWoa.Column("ReturnFromCourt", @Html.Resource("headReturnFromCourt.Text"), format: (item) =>
                                {
                                    string rfc = item.ReturnFromCourt;
                                    int status = item.Status;
                                    string html = string.Empty;
                                    if (status == (int)ChargeStatusList.WarrantPrinted)
                                    {
                                        html = Model.GenerateHtml("ReturnFromCourt", item.WoaIntNo.ToString(), rfc, false, true, true);
                                        //html = "<input type =\"checkbox\" disabled=\"disabled\" name=\"cbxReturnFromCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\" disabled=\"disabled\" name=\"txtReturnFromCourt\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    }
                                    else if (status == (int)ChargeStatusList.WarrantDeliveredToCourt)
                                    {
                                        html = Model.GenerateHtml("ReturnFromCourt", item.WoaIntNo.ToString(), rfc, false, false, true);
                                        //html = "<input type =\"checkbox\" disabled=\"disabled\" name=\"cbxReturnFromCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\" disabled=\"disabled\" name=\"txtReturnFromCourt\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    }
                                    else if (status == (int)ChargeStatusList.ReturnedFromCourtAuthorised)
                                    {
                                        html = Model.GenerateHtml("ReturnFromCourt", item.WoaIntNo.ToString(), rfc, true, false, false);
                                        //html = "<input type =\"checkbox\" name=\"cbxReturnFromCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\"  name=\"txtReturnFromCourt\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    }
                                    else if (status == (int)ChargeStatusList.ReturnedFromCourtRejected)
                                    {
                                        html = Model.GenerateHtml("ReturnFromCourt", item.WoaIntNo.ToString(), "", false, true, true);
                                    }
                                    return Html.Raw(html);

                                }, canSort: false, style: "CartListItem"),
                                gridWoa.Column("", "", format: (item) =>
                                {
                                    string html = string.Empty;

                                    string rfc = item.ReturnFromCourt;
                                    int status = item.Status;

                                    if (status == (int)ChargeStatusList.WarrantPrinted)
                                    {
                                        html = Model.GenerateRejectHtml("ReturnFromCourt", item.WoaIntNo.ToString(), "", "", status, false, true, true);
                                        //html = "<input type =\"checkbox\" disabled=\"disabled\" name=\"cbxReturnFromCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\" disabled=\"disabled\" name=\"txtReturnFromCourt\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    }
                                    else if (status == (int)ChargeStatusList.WarrantDeliveredToCourt)
                                    {
                                        html = Model.GenerateRejectHtml("ReturnFromCourt", item.WoaIntNo.ToString(), "", "", status, false, false, true);
                                        //html = "<input type =\"checkbox\" disabled=\"disabled\" name=\"cbxReturnFromCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\" disabled=\"disabled\" name=\"txtReturnFromCourt\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    }
                                    else if (status == (int)ChargeStatusList.ReturnedFromCourtAuthorised)
                                    {
                                        html = Model.GenerateRejectHtml("ReturnFromCourt", item.WoaIntNo.ToString(), "", "", status, false, true, true);
                                        //html = "<input type =\"checkbox\" name=\"cbxReturnFromCourt\" value=\"" + String.Format("{0}", item.WoaIntNo) + "\" />&nbsp;<input type=\"text\"  name=\"txtReturnFromCourt\" id=\"txt_" + item.WoaIntNo + "\" />";
                                    }
                                    else if (status == (int)ChargeStatusList.ReturnedFromCourtRejected)
                                    {
                                        html = Model.GenerateRejectHtml("ReturnFromCourt", item.WoaIntNo.ToString(), rfc, item.RejReason, status, true, false, false);
                                    }

                                    return Html.Raw(html);
                                }, style: "ct")
                               )
                               )
                            : null)

                            @if (Model.WoaAuthorisationList != null && Model.WoaAuthorisationList.Count > 0)
                            {
                                <div style="text-align: right; margin-top: 10px;">
                                    <input type="button" value="@Html.Resource("btnSentToCourt.Text")" id="btnSubmit" class="NormalButton" />
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="progressBar" style="display: none;">
            <p>Processing, please wait...</p>
        </div>

    </div>
    
                            if (!String.IsNullOrEmpty(Model.WoaIntNo))
                            {
    <script type="text/javascript">
        $("#divWoa").show();
    </script>
                            }
}
