﻿@model SIL.AARTO.Web.ViewModels.WOAManagement.WOABookOutModel
@using SIL.AARTO.Web.Resource.WOAManagement;
@{ 
    ViewBag.Title = "WOABookOut";
    Layout = "~/Views/Shared/Admin.cshtml";//2013-12-09 Heidi changed for check user login(5084)
}
@section HeaderContent {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnWoaBookOut").click(function () {

                $("#lblError").html('');

                if ($("#TOIntNo").val() == "0") {
                    alert("@WOABookOut.SelectTrafficOfficer");
                    $("#TOIntNo").focus();
                    return;
                }

                var woaIntNoArr = "";
                var len = $("input[name='chc_Issue']:checked").length;
                var index = 1;
                var woaNumberArr = " ";
                $("input[name='chc_Issue']:checked").each(function (index, item) {

                    if (index == len) {
                        woaIntNoArr += $(item).val();
                        woaNumberArr += $(item).parent().siblings().eq(3).children("[name='hid_WOANumber']").val();
                    }
                    else {
                        woaIntNoArr += $(item).val() + ";";
                        woaNumberArr += $(item).parent().siblings().eq(3).children("[name='hid_WOANumber']").val() + ",";
                    }
                    index++;

                });

                if (woaIntNoArr == "") {
                    $("#lblError").html('No items selected.');
                    return;
                }

                var officer = $("#TOIntNo option:selected").text();
                var msg = 'Are you sure you want to book out this WOA' + woaNumberArr + ' to the selected traffic officer ' + officer + '?';

                if (window.confirm(msg)) {

                    $.post("@Url.Action("BookOutWOAToOfficer", "WOAManagement")",
        {
            woaIntNoArr: woaIntNoArr,
            //woaNumber: $("#HidWoaNumber").val(),
            toIntNo: $("#TOIntNo").val(),
			noticeRowVersionStrings: "@Model.RowVersionStrings"
        },
        function (message) {
            if (message.Status == true) {
                $("#TOIntNo").val('0');
                //$("#divWOAResult").hide();
            }

            //Jerry 2014-11-03 add
            if (message.Status == false && message.Text == "SessionTimeOut") {
                    window.location = "@Url.Action("login", "Account")";
            }

            if (message != "")
                $("#lblError").html(message.Text);

            $("input[name='chc_Issue']:checked").each(function (index, item) {

                $(item).parent().parent().remove();
            });

        }, 'json');

            }
            });

            $("#btnWoaBookOutReverse").click(function () {
                var woaNumber = $(this).siblings("[name='hidWoaNumber']").val();
                var noticeRowVersion = $(this).siblings("[name=hidNoticeRowVersion]").val();
                $.post("@Url.Action("WOABookOutReverse", "WOAManagement")",
                    {
                        woaIntNo: woaNumber,
                        noticeRowVersion: noticeRowVersion
                    },
                function (message) {
                    if (message != undefined) {
                        if (message.User == "1") {
                            //alert(message.Text);
                            document.location = "@Url.Action("WOABookOut", "WOAManagement")";
                        }
                        else {
                            $("#lblError").html(message.Text);
                        }
                    }
                }, "json");
            });


            $("#Authority").change(function () {
                if ($("#Authority").val() != '') {
                    $.post("@Url.Action("GetOfficerByAutIntNo", "WOAManagement")",
{
    autIntNo: $("#Authority").val()
},
function (items) {
    if (items.length > 0) {
        $("#TOIntNo option[value!=0]").remove();
    }
    $.each(items, function (index, item) {
        $("<option value=" + item.TOIntNo + ">" + item.TOName + "</option>").appendTo($("#TOIntNo"));
    });
}, 'json');
            }
            });


            $("#Authority").val('@Model.Authority');
        })
    </script>
}
@using (Html.BeginForm("WOABookOut", "WOAManagement", FormMethod.Post))
{
    <input type=hidden id="HidWoaNumber" value="@Model.HidWoaNumber" />
    <table cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td width="100%" valign="top" align="left" colspan="1">
                    <table width="900" border="0" id="Table7" align="center">
                        <tbody>
                            <tr>
                                <td valign="top" height="47">
                                    <p align="center">
                                        <span class="ContentHead" id="lblPageName">@WOABookOut.lblPageName</span>
                                    </p>
                                    <p align="center">
                                        <span class="NormalRed" id="lblError">
                                            @Html.Encode(Model.ErrorMsg)
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellpadding="4" style="margin-left: 40px;">
                                        <tr>
                                            <td>
                                                <span style="display: inline-block; width: 150px;" class="NormalBold" id="lblAuthority">@WOABookOut.Authority:</span>
                                            </td>
                                            <td colspan="2">
                                                @* @Html.Hidden("VCHIntNo", null)*@ @* @Html.DropDownList("Authority", Model.Authorities)*@
                                                @Html.EditorFor(m => m.Authority)
                                                @Html.ValidationMessageFor(m => m.Authority)
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span style="display: inline-block; width: 150px;" class="NormalBold">@WOABookOut.IDNumber:
                                                </span>
                                            </td>
                                            <td colspan="2">
                                                @Html.TextBoxFor(m => m.IdNumber)
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span style="display: inline-block; width: 150px;" class="NormalBold">@WOABookOut.TrafficOfficer:
                                                </span>
                                            </td>
                                            <td colspan="2">
                                                @Html.DropDownList("TOIntNo", Model.TrafficOfficers)
                                                @Html.ValidationMessageFor(m => m.TOIntNo)
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span style="display: inline-block; width: 150px;" class="NormalBold">@WOABookOut.WOANumber:
                                                </span>
                                            </td>
                                            <td colspan="2">
                                                @Html.TextBoxFor(m => m.WOANumber, new { Class = "Normal", style = "width:180px;" })
                                                @Html.ValidationMessageFor(m => m.WOANumber)
                                            </td>
                                            <td>
                                                <input type="submit" id="btnBookOut" class="NormalButton" value='@WOABookOut.btnRetrieveWOA' />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    if (Model.ShowWoaInfo)
    {
    <div id="divWOAResult">
        <table style="width: 900px;" align="center" id="tbWOAResult">
            <tr class="CartListHead">
                <td>
                    @WOABookOut.HeadAccusedName
                </td>
                <td>
                    @WOABookOut.HeadIdNumber
                </td>
                <td>
                    @WOABookOut.HeadSummonsNo
                </td>
                <td>
                    @WOABookOut.WOANumber
                </td>
                <td>
                    @WOABookOut.Status
                </td>
                <td>@WOABookOut.HeadOperation
                </td>
            </tr>
            @foreach (SIL.AARTO.BLL.WOAManagement.WOASearchDAO woa in Model.WOAList)
            {
                <tr class="CartListItemAlt">
                    <td>@Html.Encode(String.Format("{0}", woa.AccFullName))
                    </td>
                    <td>@Html.Encode(woa.AccIDNumber)
                    </td>
                    <td>@Html.Encode(woa.SummonsNo)
                    </td>
                    <td>@Html.Encode(String.Format("{0}", woa.WOANumber))
                        @Html.Hidden("hid_WOANumber", woa.WOANumber)
                    </td>
                    <td>
                        @if (woa.WOAChargeStatus > 0)
                        {
                            @Html.Encode(String.Format("{0}", woa.CSDescr))
                        }
                    </td>
                    <td style="text-align: center;">
                        @{if (woa.WOAChargeStatus == (int)SIL.AARTO.DAL.Entities.ChargeStatusList.WOABookedOutToOfficer)
                          {
@*<a id="linkUnBookOut" href="#">Reverse</a>*@
                            <input type="button" id="btnWoaBookOutReverse" class="NormalButton" value='@WOABookOut.btnBoouOutReverse' />
                            <input type="hidden" name="hidWoaNumber" value="@woa.WOAIntNo" />
                            <input type="hidden" name="hidNoticeRowVersion" value="@woa.RowVersion_Long" />
                          }
                          else
                          {
@* <a id="linkBookOut" href="#">@WOABookOut.btnBookOut</a> *@
@*<input type="button" id="btnWoaBookOut" class="NormalButton" value='@WOABookOut.btnBookOut' />*@
                               
                            <input type="checkbox" name="chc_Issue" value="@woa.WOAIntNo" @(woa.WOAChargeStatus == (int)SIL.AARTO.DAL.Entities.ChargeStatusList.ReturnedFromCourtAuthorised || woa.WOAChargeStatus == (int)SIL.AARTO.DAL.Entities.ChargeStatusList.WOANotServedUntraceable ? "" : "disabled=disabled") />
                              
                          }
                              
                        }
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" style="text-align: right;">
                    <input type="button" class="NormalButton" value="@WOABookOut.btnBookOut" id="btnWoaBookOut" />

                </td>
            </tr>
        </table>
    </div>
    }
}
