﻿@using SIL.AARTO.Web.Resource.WOAManagement
@model SIL.AARTO.Web.ViewModels.WOAManagement.WOACaptureModel
@{
    ViewBag.Title = "WOABookCapture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.widget-1.9.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.position.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.tooltip.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
}
<style>
    .input_200
    {
        width: 200px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {


        $("#ServedStatus").tooltip();
        $("#plnNewCourtDate").hide();
        $("#tabWOA").hide();
        //$("#NewCourtDate option").remove();

        //$("#WOANumber").onkeydown = function (e) {
        //    var ev = document.all ? window.event : e;
        //    if (ev.keyCode == 13) {
        //        SearchWOA();
        //    }
        //}

        $("#ServedStatus").keyup(function () {
            if ($("#ServedStatus").val() == "2" || $("#ServedStatus").val() == "4") {
                $("#plnNewCourtDate").show();
                if ($("#NewCourtDate").val() != '') {
                    $("#NewCourtDate").val('');
                }
            }
            else {
                $("#plnNewCourtDate").hide();
            }

            $.post("@Url.Action("GetWOAServedStatus", "WOAManagement")",
            {
                ServedStatus: $("#ServedStatus").val()
            },
            function (msg) {
                if (msg.Status == true) {
                    $("#lblServedStatus").html(msg.Text);
                }
                else {
                    $("#lblServedStatus").html("");
                }
            }, 'json');
        });

        var newdate = new Date();
        var newtimems = new Date().getTime() + (1 * 24 * 60 * 60 * 1000);
        newdate.setTime(newtimems);


        $("#NewCourtDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, minDate: newdate });
        $("#btnClear").click(function () {
            if ($("#NewCourtDate").val() != '') {
                $("#NewCourtDate").val('');
            }
        });

        $("#btnCapture").click(function () {
            $("#lblError").html("");
            if ($("#WOANumber").val() == '') return;
            var status = $("#ServedStatus").val();
            if (status == "") {
                $("#lblError").html("The ServedStatus field is required");
                $("#ServedStatus").focus();
                return;
            }
           
            var reg1 = /^\d+$/;
            if (reg1.test($("#ServedStatus").val())) {
                if (parseInt($("#ServedStatus").val()) < 1 || parseInt($("#ServedStatus").val()) > 5) {
                    $("#lblError").html("The field ServedStatus must be between 1 and 5");
                    $("#ServedStatus").focus();
                    return;
                }
            }
            else {
                $("#lblError").html("The field ServedStatus must be between 1 and 5");
                $("#ServedStatus").focus();
                return;
            }

            if (status == 2 || status == 4) {
                var newCourtDate = $("#NewCourtDate").val();
                if (newCourtDate == '') {
                    $("#lblError").html("Please select new court date");
                    $("#NewCourtDate").focus();
                    return;
                }
            }
            
            $.post('@Url.Action("CheckNoticeForWOAExecution", "WOAManagement")',
                {
                    woaIntNo: $("#hidWoaIntNo").val()
                },
                function (msg) {
                    if (msg.Status == true) {
                        if (window.confirm("WARNING! An execution has already been captured for this WOA - are you sure you want to capture a different execution?") == false) {
                            return;
                        }

                    } else {
                        if (msg.Text != '' && msg.Text != null && msg.Text != undefined) {
                            $("#lblError").html(msg.Text);
                            return;
                        }

                    }

                    submitWOA($("#hidWoaIntNo").val(), status);

                }, "json");

        });


        $("#WOANumber").keyup(function () {

            $("#lblError").html("");
            //$("#NewCourtDate option").remove();
            if ($("#WOANumber").val() != '') {
                $("#ServedStatus").val('');

                $("#formBookCapture").submit();
            }
        });

    });

    var selectedRow = null;

    function SearchWOA(id,obj) {
        $("#lblError").html("");
        $("#hidWoaIntNo").val(0);
        $.post("@Url.Action("SearchAccusedNameByWoaIntNo", "WOAManagement")",
            { woaIntNo: id },
            function (item) {
                if (item != undefined) {
                    if (item.IsSuccess) {
                        $("#tabWOA").show();
                        $("#AccusedName").html(item.AccusedName);
                        $("#IDNumber").html(item.IDNumber);
                        $("#CrtName").html(item.CourtName);
                        $("#CrtRoom").html(item.CourtRoomNo);
                        selectedRow = $(obj).parent().parent();

                        //$("#NewCourtDate option").remove();
                        //for (var i = 0; i < item.CourtDateList.length; i++) {
                        //    $('<option value=' + item.CourtDateList[i] + '>' + item.CourtDateList[i] + '</option>').appendTo($("#NewCourtDate"));
                        //}
                        $("#hidWoaIntNo").val(id);
                        $("#ServedStatus").focus();
                    }
                    else {
                        $("#tabWOA").hide();
                        $("#lblError").html(item.ErrorMsg);
                        $("#AccusedName").html("");
                        $("#IDNumber").html("");
                        $("#CrtName").html("");
                        $("#CrtRoom").html("");
                        $("#ServedStatus").val("");
                        $("#lblServedStatus").html("");
                        $("#NewCourtDate").val("");
                    }
                }
                else {
                    $("#tabWOA").hide();
                    $("#AccusedName").html("");
                    $("#IDNumber").html("");
                    $("#CrtName").html("");
                    $("#CrtRoom").html("");
                    $("#ServedStatus").val("");
                    $("#lblServedStatus").html("");
                    $("#NewCourtDate").val("");
                }
            },
            'json');
    }

  
        function submitWOA(woaIntNo, status) {
            //Jerry 2014-11-03 check the $("#ServedStatus").val()
            if ($("#ServedStatus").val() == null || $("#ServedStatus").val() == "") {
                $("#lblError").html("The ServedStatus field is required");
                $("#ServedStatus").focus();
                return;
            }

            $.post("@Url.Action("SubmitWOABookCapture", "WOAManagement")",
            {
                WoaIntNO: woaIntNo,
                NewCourtDate: $("#NewCourtDate").val(),
                ServedStatus: $("#ServedStatus").val()
            },
            function (msg) {
                if (msg.Text == "@WOABookCapture.UserNotLogged") { //2013-12-09 Heidi changed for check user login(5084)
                    window.location = _ROOTPATH + "/Account/Login";
                }
                if (msg.Status == true) {
                    if (status == 2 || status == 4) {
                        location.href = _ROOTPATH + "/WOAManagement/WOAReleasedOrCancelled?WoaIntNo=" + woaIntNo + "&ServedStatus=" + $("#ServedStatus").val() + "&NewCourtDate=" + $("#NewCourtDate").val();
                    }
                    else {
                        $("#tabWOA").hide();
                        if (selectedRow != null) {
                            $(selectedRow).remove();
                        }
                        $("#lblError").html(msg.Text);
                        //$("#WOANumber").val("");
                        $("#AccusedName").html("");
                        $("#IDNumber").html("");
                        $("#CrtName").html("");
                        $("#CrtRoom").html("");
                        $("#ServedStatus").val("");
                        $("#lblServedStatus").html("");
                        //$("#NewCourtDate option").remove();

                        //$("#WOANumber").focus();
                    }
                }
                else {
                    $("#lblError").html(msg.Text);
                }
            }, 'json');
        }
</script>
<table cellspacing="0" cellpadding="4" align="center" style="width: 560px;">
    <tr>
        <td class="ContentHead" align="center">
            @WOABookCapture.lblPageName
        </td>
    </tr>
</table>
<p align="center">
    <span class="NormalRed" id="lblError">
        @Html.Encode(Model.ErrorMsg)
    </span>
</p>
@using (Html.BeginForm("WOABookCapture", "WOAManagement", FormMethod.Post, new { id = "formBookCapture" }))
{
    <input type="hidden" id="hidWoaIntNo" />
    
    <table cellspacing="0" align="center" style="width: 560px;">
        <tr>
            <td style="width: 150px;" class="NormalBold">
                @WOABookCapture.lblWOANumber:
            </td>
            <td>@Html.TextBoxFor(m => m.WOANumber)
                @Html.ValidationMessageFor(m => m.WOANumber)
            </td>
        </tr>
        <tr>
            <td style="height: 20px;">&nbsp;</td>
            <td></td>
        </tr>
    </table>
    
    if (Model.WOAResult != null && Model.WOAResult.Count > 0)
    {
    <table align="center" cellspacing="0" cellpadding="4" border="1" style="border-color: Black; font-size: 8pt; border-collapse: collapse;">
        <tr class="CartListHead">
            <td>@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.lblWoaNumber</td>
            <td>@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.lblNoticeNumber</td>
            <td>@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.lblAccusedFullName</td>
            <td></td>
        </tr>
        @foreach (SIL.AARTO.Web.ViewModels.WOAManagement.WOAReverseResultEntity w in Model.WOAResult)
        {
            <tr class="CartListItem">
                <td>@Html.Raw(w.WoaNumber)</td>
                <td>@Html.Raw(w.SummonsNo)</td>
                <td>@Html.Raw(w.AccFullName)</td>
                <td><a href="javascript:void(0);" onclick="SearchWOA('@Html.Raw(w.WoaIntNo)',this);">@SIL.AARTO.Web.Resource.WOAManagement.WOABookCapture.lblSelect</a></td>
            </tr>
        }
    </table>
    }
    if (Model.WOAResult != null && Model.WOAResult.Count == 0)
    { 
    <p style="text-align: center; color: red; font-style: initial;">@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.Message_Text1</p>
    }
    
    <br />
    <table cellspacing="0" align="center" style="width: 560px;" id="tabWOA">
        <tr>
            <td class="NormalBold" style="height: 20px; width: 150px;">
                @WOABookCapture.lblAccusedName:
            </td>
            <td>
                <span id="AccusedName"></span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOABookCapture.lblIDNumber:
            </td>
            <td>
                <span id="IDNumber"></span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOABookCapture.lblCourtName:
            </td>
            <td>
                <span id="CrtName"></span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOABookCapture.lblCourtRoom:
            </td>
            <td>
                <span id="CrtRoom"></span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOABookCapture.lblServedStatus:
            </td>
           
            
             <td>@Html.TextBoxFor(m => m.ServedStatus, new { @title = @Model.ServedStatusTitle })
                <span id="lblServedStatus"></span>
                @Html.ValidationMessageFor(m => m.ServedStatus)
            </td>
        </tr>
        <tr id="plnNewCourtDate">
            <td class="NormalBold" style="height: 20px;">
                @WOABookCapture.lblNewCourtDate:
            </td>
            <td>
                @*<select id="NewCourtDate" style="width: 155px;">
                </select>*@
                <input type="text" id="NewCourtDate" readonly="readonly" />
            </td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2" align="center">
                <input type="button" id="btnCapture" class="NormalButton" value="@SIL.AARTO.Web.Resource.WOAManagement.WOABookCapture.btnCapture" />
            </td>
        </tr>
    </table>
    
}
