﻿@using SIL.AARTO.Web.Resource.WOAManagement
@using SIL.AARTO.Web.ViewModels.WOAManagement;
@model SIL.AARTO.Web.ViewModels.WOAManagement.WOACaptureReverseModel

@{
    ViewBag.Title = WOACaptureReverse.lblPageTitle;
    Layout = "~/Views/Shared/Admin.cshtml";//2013-12-09 Heidi changed for check user login(5084)
}
@section HeaderContent
{
    <script type="text/ecmascript" src="@Url.Content("~/Scripts/jquery-1.8.3.js")"></script>
}

<script type="text/javascript">
    function reverseWOA(id) {
        $.post("@Url.Action("WOACaptureReverseAsync", "WOAManagement")",
            { woaIntNo: id },
            function (msg) {
                if (msg != undefined && msg != null) {
                    //Jerry 2014-04-04 changed
                    //if (msg.Status == true) { }
                    //else {
                    //    if (msg.Text != undefined && msg.Text != null && msg.Text != '') {
                    //        alert(msg.Text);
                    //    }
                    //}
                    if (msg.Text != undefined && msg.Text != null && msg.Text != '') {
                        alert(msg.Text);
                    }
                }
            }, 'json');
    }
</script>

<table cellspacing="0" cellpadding="4" align="center">
    <tr>
        <td class="ContentHead" align="center">
            @WOACaptureReverse.lblPageName
        </td>
    </tr>
</table>
<p align="center">
    <span class="NormalRed" id="lblError">
        @Html.Encode(Model.Msg)
    </span>
</p>
@using (Html.BeginForm("WOACaptureReverse", "WOAManagement", FormMethod.Post, new { id = "formWOACaptureReverse" }))
{
    <table cellspacing="0" align="center" style="width: 560px;">
        <tr>
            <td style="width: 150px;" class="NormalBold">
                @WOABookCapture.lblWOANumber:
            </td>
            <td>@Html.TextBoxFor(m => m.WOANumber)
                @Html.ValidationMessageFor(m => m.WOANumber)
            </td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2" align="center">
                <input type="submit" id="btnReverse" class="NormalButton" value="@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.btnSearch" />
            </td>
        </tr>
    </table>
    
   
    if (Model.WOAResult != null && Model.WOAResult.Count > 0)
    {
    <table align="center" cellspacing="0" cellpadding="4" border="1" style="border-color: Black; font-size: 8pt; border-collapse: collapse;">
        <tr class="CartListHead">
            <td>@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.lblWoaNumber</td>
            <td>@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.lblNoticeNumber</td>
            <td>@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.lblAccusedFullName</td>
            <td></td>
        </tr>
        @foreach (WOAReverseResultEntity w in Model.WOAResult)
        {
            <tr class="CartListItem">
                <td>@Html.Raw(w.WoaNumber)</td>
                <td>@Html.Raw(w.NotTicketNo)</td>
                <td>@Html.Raw(w.AccFullName)</td>
                <td><a href="javascript:void(0);" onclick="reverseWOA('@Html.Raw(w.WoaIntNo)');">@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.btnReverse</a></td>
            </tr>
        }
    </table>
    }
    if (Model.WOAResult != null && Model.WOAResult.Count == 0)
    { 
    <p style="text-align: center; color: red; font-style: initial;">@SIL.AARTO.Web.Resource.WOAManagement.WOACaptureReverse.Message_Text1</p>
    }
}

