﻿@model SIL.AARTO.Web.ViewModels.Enquiry.EnquiryModel
@using System.Configuration
@using SIL.AARTO.Web.Resource.WOAManagement;
@using SIL.AARTO.Web.Helpers.Paginator;
@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = WOAEnquiry.Title;
    
}
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/WOAManagement/WOAEnquiry.js")"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        border: 1px solid black;
    }

    .DisableTextBox2
    {
        color: #C0C0C0;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 12px;
        height: 16px;
        cursor: default;
        border-style: solid;
        padding: 0px;
        /*padding-left: 0px;
	padding-right: 15px; */
        border: 1px;
        border-color: #C0C0C0;
        border-style: solid;
    }

    .Panel1
    {
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#btnClear").click(function () {
            document.location.href = "@Url.Action("WOAEnquiry", "WOAManagement")?IsRedirect=1";
        });
    })

    //2013-07-18 modify by Henry for fix click enter no Lookup
    var lookupOnFocus = false;
    $(document).ready(function () {
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                if (lookupOnFocus) {
                    $("#btnLookUp").click();
                }
                else {
                    $("#btnSearch").click();
                }
            }
            //if (event.keyCode == 116) { 
            var strcode = String.fromCharCode(event.keyCode);//2013-10-21 modify by Heidi for fixed input 't' page refresh
            if (strcode == "t") {
                $("#btnClear").click();
                event.keyCode = 0;
                event.cancelBubble = true;
                return false;
            }

        });

    })




</script>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td valign="top" style="height: 49px">
            <p style="text-align: center">
                <span style="display: inline-block; width: 320px;" class="ContentHead">@WOAEnquiry.Title</span>
                <input class="NormalButtonRed" style="margin-left:81px" type="button"  value="@WOAEnquiry.btnClose" onclick="javascript: Close();"  />
                     
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top" style="text-align: center; width: 100%">&nbsp;<br />
            <table width="100%">
                <tr align="center">
                    <td>
                        @using (Html.BeginForm("WOAEnquiry", "WOAManagement", FormMethod.Get, new { id = "mainform" }))
                        {
                            <table style="width: 640px;">
                                <tr align="center">
                                    <td style="width: 320px;">
                                        <span class="NormalBold">@WOAEnquiry.Tips</span>
                                    </td>
                                    <td align="right" style="width: 320px;">
                                        <input id="btnSearch" style="cursor: pointer;float:left"  name="btnSearch" onclick="submitAction(this, 'WOAManagement', 'WOAEnquiry')"  class="NormalButton" type="button" value="@WOAEnquiry.btnSearch"/>
                                        <input id="btnClear" name="btnClear" type="button" value="@WOAEnquiry.btnClear" class="NormalButton" style="cursor:pointer; margin-left:30px;" />
                                        @Html.HiddenFor(model => model.searchField)
                                        @*  @Html.HiddenFor(model => model.searchValue)*@ @* <input type="hidden" id="searchField" value="@Model.searchField"  />*@
                                        <input type="hidden" id="searchValue" value="@Model.searchValue"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; width: 495px;">
                                        <span class="NormalRed">@Model.ErrorMsg</span>
                                    </td>
                                    <td align="right">&nbsp;
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td style="height: 217px" colspan="2">

                                        <table style="vertical-align: top;">
                                            <tr style="height: 24px;">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.RegNo</span>
                                                </td>
                                                <td style="width: 541px">
                                                    <span style="width: 215px; height: 16px; float: left">
                                                        @Html.TextBoxFor(model => model.RegNo, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.IDNo</span>
                                                </td>
                                                <td style="width: 541px">
                                                    <span style="width: 215px; height: 16px; float: left">
                                                        @Html.TextBoxFor(model => model.IDNo, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.NoticeNo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.TicketNo, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.SumNo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.SummonsNO, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.CaseNo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.CaseNO, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.WOANo</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.WOANO, new { @class = "Panel1 DisableTextBox2", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.Initials</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 230px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.Initials, new { @class = "Panel1 DisableTextBox2", style = "width:43px;", maxlength = "10" })
                                                        &nbsp;
                                                        @Html.TextBoxFor(model => model.Name, new { @class = "Panel1 DisableTextBox2", style = "width:158px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr style="height: 24px">
                                                <td style="width: 250px; text-align: left;">
                                                    <span class="NormalBold">@WOAEnquiry.Since</span>
                                                </td>
                                                <td align="left" style="width: 541px">
                                                    <span style="display: block; width: 215px; height: 16px;">
                                                        @Html.TextBoxFor(model => model.Since, new { @class = "Normal", style = "width:215px;", maxlength = "30" })
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr style="height: 50px;">
                                    <td colspan="2" align="center"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @{ Html.RenderPartial("NoticeNoLookup", Model);
                                        }

                                    </td>
                                </tr>
                            </table>
                            @Html.HiddenFor(model => model.isShowResult)
                            @Html.HiddenFor(model => model.isShowBook)
                            @Html.HiddenFor(model => model.SelectSubmit)
                            @Html.HiddenFor(model => model.setControlFocus)
                            @Html.HiddenFor(model => model.SinceText) 
                        }
                        <table width="100%" id="table_result">
                            <tr align="center">
                                <td>
                                    @{
                                                  
                                        if (Model.NoticeList != null && Model.NoticeList.Count > 0)
                                        {

                                        <table class="listTable">
                                            <thead>
                                                <tr class="CartListHead">
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.IDNumber
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.WOANumber
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.WOAExecutionResult
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.NotTicketNo
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.NotOffenceDate
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.Registration
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.ChgOffenceCode
                                                    </th>
                                                    @* <th class="CartListItem" style="color: White" scope="col">@WOAEnquiry.PaymentDate
                                                    </th>*@
                                                    @if (Model.IsShowCSCode)
                                                    {
                                                        <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.CSCode
                                                        </th>
                                                    }
                                                     <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.WoABookedOutToOfficer
                                                     </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.WOAStatus
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.NoticeStatus
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.ChgRevFineAmount
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.ChgContemptCourt
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.Offender
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">@WOAEnquiry.Notes
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">
                                                        <img style="border-width:0px;" src="@Url.Content("~/Content/Image/Camera.png")">
                                                    </th>
                                                    <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">
                                                        <img style="border-width:0px;" src="@Url.Content("~/Content/Image/doc.png")">
                                                    </th>
                                                    @if (Model.IsCofCT)
                                                    {
                                                        <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">
                                                            <img style="border-width:0px;" src="@Url.Content("~/Content/Image/Acrobat.png")">
                                                        </th>
                                                        <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">
                                                            <img style="border-width:0px;" src="@Url.Content("~/Content/Image/Acrobat.png")">
                                                        </th>
                                                    }
                                                    else
                                                    { 
                                                        <th class="CartListItem" style="color: White;background-color:#6977B0" scope="col">
                                                            <img style="border-width:0px;" src="@Url.Content("~/Content/Image/Acrobat.png")">
                                                        </th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.NoticeList.Count; i++)
                                                {
                                                    var noticeEntity = Model.NoticeList[i];
                                                    <tr class="CartListItem" style="height: 22px; line-height: 22px;">
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.IDNumber
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.WOANumber
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.WOAServedStatus
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.NotTicketNo
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.NotOffenceDate
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.NotRegNo
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.ChgOffenceCode
                                                        </td>
                                                        @*  <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.PaymentDate
                                                        </td>*@
                                                        @if (Model.IsShowCSCode)
                                                        {
                                                            <td class="CartListItem" style="white-space: nowrap;">
                                                                @noticeEntity.CSCode
                                                            </td>
                                                        }
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                                @noticeEntity.WoABookedOutToOfficer
                                                            </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.WOAStatus
                                                        </td>
                                                         <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.NoticeStatus
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.WOAFineAmount
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.WOAAddAmount
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @noticeEntity.Offender
                                                        </td>
                                                        @{ var HasComment = noticeEntity.HasComment;
                                                        }
                                                        @if (HasComment == "Y")
                                                        { 
                                                            <td class="CartListItem" style="background-color: Yellow">
                                                                @Html.ActionLink(WOAEnquiry.View, WOAEnquiry.View, null, new { onclick = string.Format("OpenNotes('{0}')", noticeEntity.NotIntNo), style="color:#6977B0", href = "JavaScript:void(0)" })
                                                            </td>
                                                        }
                                                        else
                                                        { 
                                                            <td class="CartListItem">
                                                                @Html.ActionLink(WOAEnquiry.View, WOAEnquiry.View, null, new { onclick = string.Format("OpenNotes('{0}')", noticeEntity.NotIntNo), style="color:#6977B0", href = "JavaScript:void(0)" })
                                                            </td>
                                                        }
                                                        <td class="CartListItem">
                                                            @if (noticeEntity.IsEnable)
                                                            {
                                                                @Html.ActionLink(WOAEnquiry.View, WOAEnquiry.View, null, new { href = "JavaScript:void(0)", style = "cursor:text;color:#ccc", disabled = "disabled" })
                                                            }
                                                            else
                                                            { 
                                                                @Html.ActionLink(WOAEnquiry.View, WOAEnquiry.View, null, new { onclick = string.Format("OpenCamera('{0}','{1}','{2}','{3}')", noticeEntity.NotIntNo, Model.searchField, Model.searchValue, Model.Since), style="color:#6977B0", href = "JavaScript:void(0)" })
                                                            }
                                                        </td>
                                                        <td class="CartListItem">
                                                            @if (noticeEntity.IsEnable)
                                                            {
                                                                @Html.ActionLink(WOAEnquiry.View, WOAEnquiry.View, null, new { onclick = string.Format("OpenDocument('{0}')", noticeEntity.NotIntNo), style="color:#6977B0", href = "JavaScript:void(0)" })
                                                            }
                                                            else
                                                            { 
                                                                @Html.ActionLink(WOAEnquiry.View, WOAEnquiry.View, null, new { href = "JavaScript:void(0)", style = "cursor:text;color:#ccc", disabled = "disabled" })
                                                            }
                                                        </td>
                                                        @if (Model.IsCofCT)
                                                        {
                                                            <td class="CartListItem">
                                                                @Html.ActionLink(WOAEnquiry.ViewEnquiry, WOAEnquiry.ViewEnquiry, null, new { onclick = string.Format("OpenReportEnquiry('{0}')", noticeEntity.NotIntNo), style="color:#6977B0", href = "JavaScript:void(0)" })
                                                            </td>
                                                            <td class="CartListItem">
                                                                @Html.ActionLink(WOAEnquiry.ViewHistory, WOAEnquiry.ViewHistory, null, new { onclick = string.Format("OpenReportHistory('{0}')", noticeEntity.NotIntNo), style="color:#6977B0", href = "JavaScript:void(0)" })
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="CartListItem">
                                                                @Html.ActionLink(WOAEnquiry.View, WOAEnquiry.View, null, new { onclick = string.Format("OpenReport('{0}')", noticeEntity.NotIntNo), style="color:#6977B0", href = "JavaScript:void(0)" })
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr class="CartListHead footerStyle">
                                                    <td colspan="19" align="left">
                                                        @{
                                                var htmlPager = Html.GridPager(new GridPagerProperties { PageKey = "page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });
                                                        }
                                                        @Html.Raw(htmlPager)
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                        <table width="100%" id="table_book">
                            <tr align="center">
                                <td>
                                    @* @{WebGrid gridBook = new WebGrid(Model.BookList, canPage: false);}
                                    @(Model.BookList != null && Model.BookList.Count > 0 ? gridBook.GetHtml(
                                        headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                                                columns: gridBook.Columns(
                                                                                    gridBook.Column("AaBMDocNo", EnquiryManage.grvBookListHeaderText1, canSort: false, style: "CartListItem"),
                                                                                            gridBook.Column("AaBmIsCancelled", EnquiryManage.grvBookListHeaderText2, format: (item) =>
                                                                                            {
                                                                                                string aaBmIsCancelled = item.AaBmIsCancelled;
                                                                                                if (aaBmIsCancelled == "True")
                                                                                                {
                                                                                                    return EnquiryManage.grvBookListYes;
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    return EnquiryManage.grvBookListNo;
                                                                                                }
                                                                                                return "";
                                                                                            }, canSort: false, style: "CartListItem"),
                                                                    gridBook.Column("DocumentStatus", EnquiryManage.grvBookListHeaderText3, canSort: false, style: "CartListItem"),
                                                                    gridBook.Column("AaBMDepotDescription", EnquiryManage.grvBookListHeaderText4, canSort: false, style: "CartListItem"),
                                                                    gridBook.Column("TOSName", EnquiryManage.grvBookListHeaderText5, canSort: false, style: "CartListItem"),
                                                                    gridBook.Column("AaBMBookNo", EnquiryManage.grvBookListHeaderText6, canSort: false, style: "CartListItem"),
                                                                    gridBook.Column("AaBMBookTypeName", EnquiryManage.grvBookListHeaderText7, canSort: false, style: "CartListItem"),
                                                                    gridBook.Column("BookStatus", EnquiryManage.grvBookListHeaderText8, canSort: false, style: "CartListItem")
                                        )
                                    )
                                    : null)*@
                                    @{  if (Model.BookList != null && Model.BookList.Count > 0)
                                        { 
                                        <table class="listTable">
                                            <thead>
                                                <tr>
                                                    <th colspan="8" style="text-align: center">
                                                        @WOAEnquiry.grvBookListTitle

                                                    </th>
                                                </tr>
                                                <tr class="CartListHead">
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText1
                                                    </th>
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText2
                                                    </th>
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText3
                                                    </th>
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText4
                                                    </th>
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText5
                                                    </th>
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText6
                                                    </th>
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText7
                                                    </th>
                                                    <th class="CartListItem" style="color: White;" scope="col">@WOAEnquiry.grvBookListHeaderText8
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.BookList.Count; i++)
                                                {
                                                    var bookEntity = Model.BookList[i];
                                                    <tr class="CartListItem" style="height: 22px; line-height: 22px;">
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @bookEntity.AaBMDocNo
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @{
                                                    var AaBmIsCancelled = bookEntity.AaBmIsCancelled;
                                                    var AaBmIsCancelledStr = "";

                                                    if (AaBmIsCancelled == "True")
                                                    { AaBmIsCancelledStr = WOAEnquiry.grvBookListYes; }
                                                    else
                                                    {
                                                        AaBmIsCancelledStr = WOAEnquiry.grvBookListNo;
                                                    }
                                                            }
                                                            @AaBmIsCancelledStr
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @bookEntity.DocumentStatus
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @bookEntity.AaBMDepotDescription
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @bookEntity.TOSName
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @bookEntity.AaBMBookNo
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @bookEntity.AaBMBookTypeName
                                                        </td>
                                                        <td class="CartListItem" style="white-space: nowrap;">
                                                            @bookEntity.BookStatus
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                             
                                        }
                                    }
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
