﻿@using SIL.AARTO.Web.Resource.WOAManagement
@model SIL.AARTO.Web.ViewModels.WOAManagement.WOAReleasedOrCancelledModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/Admin.cshtml";//2013-12-09 Heidi changed for check user login(5084)
}
@section HeaderContent{
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.datepicker-ms.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.position.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ui/jquery-ui-timepicker-addon.js")"></script>
}
<style>
    .input_200 {
        width: 200px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#BailPaidDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });

        $("#btnClear").click(function () {
            if ($("#BailPaidDate").val() != '') {
                $("#BailPaidDate").val('');
            }
        });

        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {
                $("#btnExecuted").click();
            }
        }

        $("#btnExecuted").click(function () {
            $("#btnExecuted").attr("disabled", true);//2014-01-09 added by Nancy for avoiding repeating submit
            $("#lblError").html("");

            if ($("#CourtFrom").val() == '') {
                $("#lblError").html("@WOAReleasedOrCancelled.msg_CourtFrom_IsRequired");
                $("#CourtFrom").focus();
                $("#btnExecuted").attr("disabled", false);//2014-01-09 added by Nancy
                return;
            }
            
            if ($("#BailAmount").val() != '') {
                
                if (isNaN($("#BailAmount").val())) {
                    $("#lblError").html("@WOAReleasedOrCancelled.Msg_BaildAmount");
                    $("#BailAmount").focus();
                    $("#btnExecuted").attr("disabled", false);//2014-01-09 added by Nancy
                    return;
                }
            }
            

            if ($("#BailPaidDate").val() != '') {
                var paidDate = new Date($("#BailPaidDate").val());
                var today = new Date();
                if (paidDate > today) {
                    $("#lblError").html("@WOAReleasedOrCancelled.msg_BaildDate");
                    $("#BailPaidDate").focus();
                    $("#btnExecuted").attr("disabled", false);//2014-01-09 added by Nancy
                    return;
                }
            }

            $.post("@Url.Action("WOAReleasedOrCancelledExecute", "WOAManagement")",
            {
                WoaIntNo: $("#WoaIntNo").val(),
                NewCourtDate: $("#NewCourtDate").val(),
                ServedStatus: $("#ServedStatus").val(),
                CourtFrom: $("#CourtFrom").val(),
                BailAmount: $("#BailAmount").val(),
                BailReceiptNumber: $("#BailReceiptNumber").val(),
                BailPaidDate: $("#BailPaidDate").val()
            },
            function (msg) {
                if (msg.Status == true) {
                    location.href = _ROOTPATH + "/WOAManagement/WOABookCapture?ErrorMsg=" + msg.Text;
                }
                else {
                    $("#lblError").html(msg.Text);
                }
                $("#btnExecuted").attr("disabled", false);//2014-01-09 added by Nancy
            }, 'json');
        });
    })
</script>
<table cellspacing="0" cellpadding="4" align="center" style="width: 560px;">
    <tr>
        <td class="ContentHead" align="center">
            @if (Model.ServedStatus.Value == 2)
            {
                @WOAReleasedOrCancelled.lblPageName1
            }
            else
            {
                @WOAReleasedOrCancelled.lblPageName2
            }
        </td>
    </tr>
</table>
<p align="center">
    <span class="NormalRed" id="lblError">
        @Html.Encode(Model.ErrorMsg)
    </span>
</p>
@using (Html.BeginForm("WOAReleasedOrCancelledExecute", "WOAManagement", FormMethod.Post, new { id = "formBookCapture" }))
{
    @Html.HiddenFor(m => m.WoaIntNo);
    <table cellspacing="0" align="center" style="width: 560px;">
        <tr>
            <td></td>
            <td>@Html.HiddenFor(m => m.ServedStatus)
            </td>
        </tr>
        <tr>
            <td style="width: 230px;height: 20px;" class="NormalBold" >
                @WOAReleasedOrCancelled.lblWOANumber:
            </td>
            <td>
                @Html.HiddenFor(m => m.WOANumber)
                <span>@Model.WOANumber</span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblAccusedName:
            </td>
            <td>
                <span id="AccusedName">@Model.AccusedName</span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblIDNumber:
            </td>
            <td>
                <span id="IDNumber">@Model.IDNumber</span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblCourtName:
            </td>
            <td>
                <span id="CrtName">@Model.CourtName</span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblCourtRoom:
            </td>
            <td>
                <span id="CrtRoom">@Model.CourtRoomNo</span>
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblNewCourtDate:
            </td>
            <td>
                @Html.HiddenFor(m => m.NewCourtDate)
                <span>@Model.NewCourtDate</span>
            </td>
        </tr>
        @if (Model.ServedStatus.Value == 4)
        {
            <tr>
                <td class="NormalBold" style="height: 20px;">
                    @WOAReleasedOrCancelled.lblCourtFrom:
                </td>
                <td>@Html.DropDownListFor(m => m.CourtFrom, Model.CourtFromList, new { @class = "Normal", style = "width:200px;" })
                </td>
            </tr>
            <tr>
                <td class="NormalBold" style="height: 20px;">
                    @WOAReleasedOrCancelled.lblCourtTo:
                </td>
                <td>
                    <span>@Model.CourtToDesc</span>
                </td>
            </tr>
        }
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblBailAmount:
            </td>
            <td>@Html.TextBoxFor(m => m.BailAmount, new { @class = "input_200" })
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblBailReceiptNumber:
            </td>
            <td>@Html.TextBoxFor(m => m.BailReceiptNumber, new { @class = "input_200" })
            </td>
        </tr>
        <tr>
            <td class="NormalBold" style="height: 20px;">
                @WOAReleasedOrCancelled.lblBailPaidDate:
            </td>
            <td>@Html.TextBoxFor(m => m.BailPaidDate, new { @readonly = "readonly"})<input type="button" class="NormalButton" value="@WOAReleasedOrCancelled.btnClear" id="btnClear" />
            </td>
        </tr>
        <tr style="height: 50px;">
            <td></td>
            <td align="center">
                <input type="button" id="btnExecuted" class="NormalButton" value="@WOAReleasedOrCancelled.btnExecuted" />
            </td>
        </tr>
    </table>
    
}
