﻿@using SIL.AARTO.Web.Helpers.DuplicateWOASelection
@using SIL.AARTO.Web.Resource.WOAManagement
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = WOASelfPlacement.Title;
}
<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet"  type="text/css" />
<script src="@Url.Content("~/Scripts/Jquery/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.2.66.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/WOAManagement/WOASelfPlacement.js")" type="text/javascript"></script>
<script>
    loadingGif = "@Url.Content("~/Content/Image/ig_progressIndicator.gif")";
    msgInvalidWOANumber = "@WOASelfPlacement.PleaseEnterValidWOANumber";
    msgInvalidNewWOACourtDate = "@WOASelfPlacement.TheNewWOACourtDateIsInvalid";
</script>
<style>
    .NormalGreen {
        background-color: transparent;
        color: green;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }
</style>

<h2 style="text-align: center">@ViewBag.Title</h2>

<div style="margin-left: 10%; margin-right: 10%;">
    <div id="divMessage" style="height: 24px">
        <div id="lblMessage" class="NormalGreen" style="display: none"></div>
        <div id="lblError" class="NormalRed" style="display: none"></div>
    </div>
    <div style="border: 1px solid #aaaaaa; border-radius: 4px; padding: 13.5px 18px;">
        <table>
            <tr>
                <td>@WOASelfPlacement.WOANumber: </td>
                <td><input id="txtSearch" type="text" /></td>
                <td><input id="btnSearch" type="button" class="NormalButton" value="@WOASelfPlacement.Search" /></td>
                <td></td>
            </tr>
        </table>
        <br/>
        @Html.DuplicateWOASelection("searchWOAs", "getWOA")
        <br/>
        <div id="divWOAContent"></div>
    </div>
</div>