﻿a { cursor:pointer;}
/* left frame style */
.left_frame     { height:100%;background-color:#6977B0;}
.left_frame_footlogo{ height:100%;background-image:url(../../Image/Menu/Menu_footlogo.gif); background-repeat:no-repeat; background-position:center bottom;}
.top_background { height:5px; background:#6977B0;}

/* */
html,body {margin: 0px;padding:0px;font-size:11px;font-family:Arial,新宋体;height:100%;min-height:100%}
div {margin:0px; padding:0px;}
.clear { clear:both;}
.content_bg { border:dotted 1px #8BA0B9; background-color:#fff; line-height:20px; padding-left:5px;}
.pointer { cursor:pointer;}
.underline { text-decoration:underline;}
.star  { width:15px; color:#C40202; font-size:14px; float:left;height:24px; line-height:24px;}
li { list-style-type:none; margin:0px;}
.color_fff{ color:#fff;}
.color_F66E00 { color:#F66E00;}
.float_left {float:left;}
.float_right { float:right;}
.bold { font-weight:bold;}
.date { font-size:9px; color:#ff0000;}
.annotate { font-size:9px; color:#ff0000;}
.line_dotted { border:dotted 1px #ff6600;}
/* */

/* */
a.link1 { color:#D20101; text-decoration:none;}
a.link1:hover {  text-decoration:underline;}
a.link2 { color:#fff; text-decoration:none;}
a.link2:hover {text-decoration:none;}
a.link_parent_menu { color:#000; text-decoration:none;}
a.link_parent_menu:hover {text-decoration:underline;}
/* */

/* TAB MENU   
----------------------------------------------------------*/
ul#menu{border-bottom: 1px #5C87B2 solid;padding: 0 0 2px;position: relative; margin: 0;text-align: right;}
ul#menu li{display: inline;list-style: none;}
ul#menu li#greeting{ padding: 10px 20px;font-weight: bold;text-decoration: none; line-height: 2.8em;color: #fff;}
ul#menu li a{ padding: 10px 20px; font-weight: bold;text-decoration: none;line-height: 2.8em;background-color: #e8eef4;color: #034af3;}
ul#menu li a:hover{background-color: #fff; text-decoration: none;}
ul#menu li a:active{ background-color: #a6e2a6; text-decoration: none;}
ul#menu li.selected a{ background-color: #fff; color: #000;}

/*menu style*/
.menu_bgover {background-color:#6977B0; padding-left:22px; border-bottom:solid 1px #444F7B; line-height:19px; background-image:url(../../Image/Menu/Menu_arrow_over.gif); background-repeat:no-repeat; background-position:9px center;}
.menu_bgout {background-color:#6977B0; padding-left:22px; border-bottom:solid 1px #444F7B; line-height:19px; background-image:url(../../Image/Menu/Menu_arrow_out.gif); background-repeat:no-repeat; background-position:12px center;}
.menu_none { padding-left:22px; border-bottom:solid 1px #7581AE; height:19px; line-height:19px;}
.menu_child_bg { background-color:#444F7B; padding-left:20px; padding-bottom:18px; height:200px; overflow:auto;}
#menu_content { font-weight:bold;}
.menu_none,.menu_bgover,.menu_bgout { cursor:pointer;}
.menu_none a { color:#C4D0FD; text-decoration:none;}
.menu_none a:hover { color:#ff6600; text-decoration:none;}
/**/
.treeview a { color:#C4D0FD; text-decoration:none;}
.treeview a:hover { color:#ff6600; text-decoration:underline;}
.treeview {font-size:11px; font-weight:normal; color:#C4D0FD;}
.treeview, .treeview ul { padding: 0;margin: 0;list-style: none;}
.treeview ul {margin-top: 4px;}
.treeview .hitarea {background: url(../../Image/Menu/treeview-default.gif) -64px -25px no-repeat;height: 16px;width: 16px;margin-left: -16px;float: left;cursor: pointer;}
/* fix for IE6 */* html .hitarea {display: inline;float:none;}
.treeview li { margin: 0;padding: 3px 0pt 3px 16px;}
.treeview a.selected {background-color: #eee;}
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color: #ff6600; cursor: pointer; }
.treeview li { background: url(../../Image/Menu/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../../Image/Menu/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
/**/

/* middle style */
.slidersbackground { border-left:solid 1px #444F7B; height:100%; width: 8px;background-image:url(../../Image/Menu/Menu_middleframe_bg.gif);}
.sliders {position: absolute; top: 50%;}
.img { position: relative; top: -50%; margin: 0 auto; }
/**/