﻿@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.DAL.Entities;
@model SIL.AARTO.Web.ViewModels.Infringement.ResubmissionModel

@{
    ViewBag.Title = "Resubmission";
    Layout = "~/Views/Shared/Admin.cshtml";//2013-12-09 Heidi changed for check user login(5084)
}
<script src="@Url.Content("~/Scripts/json.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Infringement/Resubmission.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

@using (Html.BeginForm("Resubmission", "Infringement", FormMethod.Post, new { id = "form1" }))
{
    @Html.HiddenFor(m => m.Page);
    <table cellspacing="0" cellpadding="4" align="center">
        <tr>
            <td class="ContentHead">@Html.Resource("lblPageTitle.Text")
            </td>
        </tr>

        <tr>
            <td height="50" valign="middle" align="center">
                <span class="NormalBold">@Html.Resource("lblInfringementNumber.Text"):</span>
                @Html.TextBoxFor(m => m.NotTicketNo, new { @style = " width:180px;" })
                <input type="submit" id="btnSearch" name="btnSearch" value="@Html.Resource("btnSearch.Value")"
                    class="NormalButton" />
            </td>
        </tr>
    </table>

}
    <div style="margin:auto; width:650px; padding-bottom:20px; "><span style="color:red;">@Html.Resource("lblNote.Text")</span></div>
@{ CisInfringementResubmission resubmission = null;}
@if (Model.ResubmissionList != null && Model.ResubmissionList.Count > 0)
{
    <table align="center" cellspacing="0" cellpadding="4" border="1" style="border-color: Black; font-size: 8pt; border-collapse: collapse;">
        <tr class="CartListHead">
            <td style="width: 604px;">@Html.Resource("headInfringementNumber.Text")</td>
            <td style="width: 50px;">@Html.Resource("headSelect.Text")</td>
        </tr>
        <tbody>
            @for (int index = 0; index < Model.ResubmissionList.Count; index++)
            {
                resubmission = Model.ResubmissionList[index];
                <tr  class="@(index % 2 == 0 ? "CartListItem" : "CartListItemAlt")">
                    <td style="padding-left: 5px;">
                        <img src="~/Content/Image/scroll_arrow_down.gif" style="margin-right:5px;cursor:pointer;" onclick="showResubmissionError(this,@resubmission.NotIntNo);" />
                        <strong>@Html.Encode(resubmission.NotTicketNo)</strong>
                    </td>
                    <td>
                        <input type="checkbox" name="cbx_notice" id="cbx_@resubmission.NotIntNo" disabled="disabled" />
                        <input type="hidden" name="hidInfringementNumber" value="@Html.Encode(resubmission.NotIntNo)" />
                    </td>
                </tr>
                if (resubmission.CisInfringementResubmissionErrorsCollection != null && resubmission.CisInfringementResubmissionErrorsCollection.Count > 0)
                {
                <tr>
                    <td colspan="2">
                        <table style="width:635px; display:none;" id="tb_resubmission_@resubmission.NotIntNo">
                            <tr>
                                <td style="width: 20px;">&nbsp;</td>
                                @*<td style="width: 50px;">@Html.Resource("headID.Text")</td>*@
                                <td style="width: 80px;">@Html.Resource("headCode.Text")</td>
                                <td style="width: 526px;">@Html.Resource("headDescription.Text")</td>
                                @*  <td style="width: 150px;">SubmitDate</td>*@
                                <td></td>
                            </tr>
                            <tbody>
                                @foreach (CisInfringementResubmissionErrors error in resubmission.CisInfringementResubmissionErrorsCollection)
                                {
                                    <tr>
                                        <td></td>
                                        @* <td>@Html.Encode(error.CireIntNo)</td>*@
                                        <td>@Html.Encode(error.CrcIntNoSource.CrcCode)</td>
                                        <td>@Html.Raw(error.CrcDescription)</td>
                                        @* <td>@Html.Encode(error.CireSubmitDate.HasValue == true ? error.CireSubmitDate.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>*@
                                        <td>
                                            <input type="checkbox" name="cbx_resubmissionError" @(error.CireSubmitDate.HasValue ? "checked='checked'" : "") />
                                            <input type="hidden" name="hidResubmissionError" value="@(resubmission.NotIntNo)_@Html.Encode(error.CireIntNo)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                }
            }
            <tr class="CartListHead">
                <td colspan="2">@Html.Raw(Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = Model.URLPara }))</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table align="center" cellspacing="0" border="0">
        <tr style="border: 0px; border-color: #FFF;">
            <td colspan="2" style="text-align: right; padding-right: 5px; margin-top: 10px; width: 670px;">
                <input type="button" id="btnResubmit" value="@Html.Resource("btnResubmit.Value")" class="NormalButton" /></td>
        </tr>
    </table>
}
else
{

    <p style="text-align: center; color: red;">@Html.Resource("msgNodataFound.Text")</p>
}

<div id="progressBar" style="display: none;">
    <p>Processing, please wait...</p>
</div>
<br />

<br />

