﻿@using SIL.AARTO.Web.Helpers.Paginator
@using SIL.AARTO.Web.Resource.StreetCoding
@model SIL.AARTO.Web.ViewModels.StreetCoding.AreaCodeGroupManageModel

@{
    ViewBag.Title = AreaCodeGroupManage_cshtml.AreaCodeGroupMaintenance;
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div id="contentMain" class="width_90pct margin_auto text-align">
    <h2 class="ContentHead width_100pct text-align">@AreaCodeGroupManage_cshtml.AreaCodeGroupMaintenance</h2>
    @using (Html.BeginForm("AreaCodeGroupManage", "StreetCoding", FormMethod.Post, new { id = "acgForm" }))
    {
        <div>
            @Html.HiddenFor(m => m.Action, new { id = "entityAction" })
            @Html.HiddenFor(m => m.EntityId, new { id = "entityId" })
            @Html.HiddenFor(m => m.EntityVersion, new { id = "entityVersion" })
            @Html.HiddenFor(m => m.PageIndex)
        </div>

        <p style="text-align: left">
            <input id="btnCreate" type="button" value="@AreaCodeGroupManage_cshtml.CreateNew" class="NormalButton" />
        </p>

        <table class="text-align_left listTable" cellspacing="0" cellpadding="3" border="0">
            <tr class="CartListHead" style="text-align: left">
                <th  style="width: 150px">
                    @AreaCodeGroupManage_cshtml.GroupName
                </th>
                <th style="width: 100px">
                    @AreaCodeGroupManage_cshtml.CodeStart
                </th>
                <th style="width: 100px">
                    @AreaCodeGroupManage_cshtml.CodeEnd
                </th>
                <th style="width: 85px">
                    @AreaCodeGroupManage_cshtml.Action
                </th>
            </tr>
            <tbody id="tbdGrid" class="text-align_left">
                @foreach (var item in Model.EntityList)
                {
                    <tr>
                        <td class="CartListItem">@Html.DisplayFor(m => item.GroupName)</td>
                        <td class="CartListItem">@Html.DisplayFor(m => item.CodeStart)</td>
                        <td class="CartListItem">@Html.DisplayFor(m => item.CodeEnd)</td>
                        <td class="CartListItem" style="text-align: center">
                            <a href="javascript:void(0)" onclick=" ACGEdit(this, '@item.ACGIntNo', '@Convert.ToBase64String(item.RowVersion)') ">@AreaCodeGroupManage_cshtml.Edit</a>
                            <text>|</text>
                            <a href="javascript:void(0)" onclick=" ACGDelete('@item.ACGIntNo', '@Convert.ToBase64String(item.RowVersion)') ">@AreaCodeGroupManage_cshtml.Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="CartListHead" colspan="9" style="border-top: 0; text-align: right">
                        @{
                            var strPage = Html.GridPager(new GridPagerProperties
                            {
                                PageKey = "page",
                                PageSize = Model.PageSize,
                                RecordCount = Model.TotalCount
                            });
                        }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tfoot>
        </table>

        <div id="divErrorMsg" style="text-align: left" class="margin-top_15">
            @{
                var error = ViewBag.Error;
                var message = ViewBag.Message;
                if (!string.IsNullOrWhiteSpace(error))
                {
                    <span class="error_fontsize12">@Html.Raw(error)</span>
                }
                else if (!string.IsNullOrWhiteSpace(message))
                {
                    <span class="error_fontsize12" style="color: green;">@message</span>
                }
                else
                {
                    <br />
                }
            }
        </div>

        var visible = Model.EditorVisible ? "block" : "none";
        <table id="tbEdit" cellspacing="0" cellpadding="4" border="0" class="width_100pct margin-top_10 text-align_left" style="display: @visible">
            <tr>
                <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                    @AreaCodeGroupManage_cshtml.GroupName:
                </td>
                <td class="NormalBold" style="width: 100%">
                    @Html.TextBoxFor(m => m.Entity.GroupName, new { id = "txtGroupName" })
                    @Html.ValidationMessageFor(m => m.Entity.GroupName)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                    @AreaCodeGroupManage_cshtml.CodeStart:
                </td>
                <td class="NormalBold">
                    @Html.TextBoxFor(m => m.Entity.CodeStart, new { id = "txtCodeStart" })
                    @Html.ValidationMessageFor(m => m.Entity.CodeStart)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No valign_top" style="text-align: right">
                    @AreaCodeGroupManage_cshtml.CodeEnd:
                </td>
                <td class="NormalBold">
                    @Html.TextBoxFor(m => m.Entity.CodeEnd, new { id = "txtCodeEnd" })
                    @Html.ValidationMessageFor(m => m.Entity.CodeEnd)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.HiddenFor(m => m.Entity.ACGIntNo, new { id = "txtACGIntNo" })
                    @Html.HiddenFor(m => m.Entity.RowVersion, new { id = "txtRowVersion" })
                </td>
                <td>
                    <input id="btnSave" type="button" value="@AreaCodeGroupManage_cshtml.Save" class="NormalButton" />&nbsp;&nbsp;
                    <input id="btnCancel" type="reset" value="@AreaCodeGroupManage_cshtml.Cancel" class="NormalButton cancel" />
                </td>
            </tr>
        </table>
    }
</div>

<script type="text/javascript">
    $(function() {
        $("#tbdGrid tr:nth-child(2n-1)").addClass("CartListItem");
        $("#tbdGrid tr:nth-child(2n)").addClass("CartListItemAlt");

        $("#btnCreate").click(function() {
            ACGCreate();
        });

        $("#btnSave").click(function() {
            ACGSave();
        });
    });

    function SetAction(action, id, rowVersion, validate) {
        if (!validate)
            $("#btnCancel").click();
        $("#entityAction").val(action);
        $("#entityId").val(id);
        $("#entityVersion").val(rowVersion);
        $("#acgForm").submit();
    }

    function GetACGDetail(obj, id, rowVersion) {
        $("#tbEdit").hide();

        $("#divErrorMsg").children(".error_fontsize12").each(function() {
            $(this).text("");
        });
        $("#tbEdit").children().children("tr").each(function() {
            var td = $(this).children("td").get(1);
            var validation = $(td).children(".field-validation-error");
            if (validation)
                validation.text("");
        });

        var model = {
            ACGIntNo: 0,
            GroupName: "",
            CodeStart: "",
            CodeEnd: "",
            RowVersion: ""
        };

        if (!obj) return model;

        var parent = $(obj).parent().parent().children("td");
        var groupName = parent.get(0).innerHTML;
        var codeStart = parent.get(1).innerHTML;
        var codeEnd = parent.get(2).innerHTML;

        model.ACGIntNo = id;
        model.GroupName = groupName;
        model.CodeStart = codeStart;
        model.CodeEnd = codeEnd;
        model.RowVersion = rowVersion;

        return model;
    }

    function SetACGDetail(model) {
        $("#tbEdit").show();

        $("#txtGroupName").val("");
        $("#txtCodeStart").val("");
        $("#txtCodeEnd").val("");
        $("#txtACGIntNo").val("");
        $("#txtRowVersion").val("");

        if (!model) return;

        $("#txtGroupName").val(model.GroupName);
        $("#txtCodeStart").val(model.CodeStart);
        $("#txtCodeEnd").val(model.CodeEnd);
        $("#txtACGIntNo").val(model.ACGIntNo);
        $("#txtRowVersion").val(model.RowVersion);
    }

    function ACGDelete(id, rowVersion) {
        if (!confirm('@AreaCodeGroupManage_cshtml.ContinueToDelete'))
            return;
        SetAction("Delete", id, rowVersion);
    }

    function ACGCreate() {
        $("#btnSave").val('@AreaCodeGroupManage_cshtml.Add');
        var model = GetACGDetail();
        SetACGDetail(model);
    }

    function ACGEdit(obj, id, rowVersion) {
        $("#btnSave").val('@AreaCodeGroupManage_cshtml.Update');
        var model = GetACGDetail(obj, id, rowVersion);
        SetACGDetail(model);
    }

    function ACGSave() {
        SetAction("Save", null, null, true);
    }
</script>