﻿@using System.Configuration;
@using SIL.AARTO.DAL.Entities;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.StreetCoding;
@model SIL.AARTO.BLL.StreetCoding.Model.LocationSuburbModel
@{
    ViewBag.Title = LocationSuburbManage_cshtml.lblPageTitle_Text;
    Layout = "~/Views/Shared/Admin.cshtml";
}

@section HeaderContent{
    <script src='@Url.Content("~/Scripts/StreetCoding/LocationSuburbManage.js")' type="text/javascript"></script>
}

<script type="text/javascript">    var losu_autId = 0;</script>
@if (Session["autIntNo"] != null)
{   <script type="text/javascript">losu_autId = @Session["autIntNo"];</script>  
}
<div id="contentMain" class="width_90pct margin_auto text-align">
    @using (Html.BeginForm())
    {
        <div class="ContentHead width_100pct text-align">@LocationSuburbManage_cshtml.lblPageTitle_Text</div>

        <table id="Table1" class="width_100pct text-align_left" cellspacing="0" cellpadding="3" border="0">
            <tr>
                <td style="width:18%" class="NormalBold Wrap_No">@LocationSuburbManage_cshtml.lblSelectAuth_Text</td>
                <td>
                    @Html.EditorFor(m => m.SearchAutIntNo)
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @LocationSuburbManage_cshtml.lblSearch_Text
                </td>
                <td>
                    @Html.TextBox("SearchKey", Model.SearchKey, new { @class = "input_width" })
                    <input type="button" id="btnSearch" name="btnSearch" value=@Global.btnSearch_Value class="NormalButton margin-left_10 margin-right_5" />
                    <input type="button" id="btnAddSub" name="btnAddSub" value=@Global.btnAdd_Value class="NormalButton" />
                </td>
                <td></td>
            </tr>
        </table>
            
        <table cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_100pct margin-top_15">
            <thead>
                <tr class="CartListHead">
                    <td style="width:27%">
                        @LocationSuburbManage_cshtml.lblTblHeadLocSubName
                    </td>
                    <td style="width:25%">
                        @LocationSuburbManage_cshtml.lblTblHeadAreaCodeName
                    </td>
                    <td style="width:30%">@LocationSuburbManage_cshtml.lblTblHeadAutName</td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="text-align_left">
                @{int subNum = Model.locSuburbs == null ? 0 : Model.locSuburbs.Count;
                  string cssClass;
                  for (int i = 0; i < subNum; i++)
                  {
                      SIL.AARTO.BLL.StreetCoding.Model.LocationSuburbModel sub = Model.locSuburbs[i];
                      if (i % 2 == 0)
                      { cssClass = "CartListItem"; }
                      else
                      { cssClass = "CartListItemAlt"; }        
                <tr class='@cssClass'>
                    <td>
                        <a href="#" onclick='EditSub(@sub.LoSuIntNo, "@sub.LACCode");'>@Html.Encode(sub.LoSuDescr)</a>
                    </td>
                    <td>
                        @Html.Encode(sub.LACCode)
                    </td>
                    <td>@Html.Encode(sub.AutName)</td>
                    <td class="text-align">
                        <a href="#" onclick='DeleSub(@sub.LoSuIntNo, "@sub.LACCode");'>@Global.btnDelete_Value</a>
                    </td>
                </tr>
                  }
                }
                <tr class="CartListHead">
                    <td colspan="4" align="right">
                        @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = int.Parse(ConfigurationManager.AppSettings["PageSize"]), RecordCount = Model.TotalCount, parameters = Model.URLPara }); }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="errorMsg" class="error_fontsize12  margin-top_15"></div>
        <table id="tbSubEdit" cellspacing="0" cellpadding="4" border="0" style="display:none;" class="width_100pct margin-top_10 text-align_left">
            <tr>
                <td style="width:18%" class="NormalBold Wrap_No width_240">@LocationSuburbManage_cshtml.lblSelectAuth_Text</td>
                <td>
                    @Html.EditorFor(m => m.AutIntNo)
                    @Html.ValidationMessageFor(m => m.AutIntNo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No width_240 valign_top">
                    @LocationSuburbManage_cshtml.lblSelectAreaCode_Text
                </td>
                <td>
                    @Html.DropDownList("LACCode", Model.locAreaCodes, new { id = "dpdAreaCode", style = "width:400px" })
                    @Html.ValidationMessageFor(m => m.LACCode)
                </td>
            </tr>
            <tr>
                <td class="NormalBold">
                    @LocationSuburbManage_cshtml.lblSubDescr_Text
                </td>
                <td>
                    @Html.TextArea("LoSuDescr", Model.LoSuDescr, new { @class = "input_width", id = "txtSubDescr", style = "width:600px;height:90px;padding:0" })
                    @Html.ValidationMessageFor(m => m.LoSuDescr)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                        <input type="button" id="btnSaveSub" name="btnSaveSub" value='@Global.btnSave_Value' class="NormalButton" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="hidUrl" value="@Request.RawUrl" />
        <input type="hidden" id="hidAutId" value="0" />
        <input type="hidden" id="hidAreaCode" value="" />
        <input type="hidden" id="hidSubId" value="0" />
    }
</div>