﻿@using System.Configuration;
@using SIL.AARTO.DAL.Entities;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.StreetCoding;
@model SIL.AARTO.BLL.StreetCoding.Model.LocationAreaCodeModel
@{
    ViewBag.Title = LocationAreaCodeManage_cshtml.lblPageTitle_Text;
    Layout = "~/Views/Shared/Admin.cshtml";
}


@section HeaderContent{
    <script src='@Url.Content("~/Scripts/StreetCoding/LocationAreaCodeManage.js")' type="text/javascript"></script>
}

<div id="contentMain" class="width_90pct margin_auto text-align">
    @using (Html.BeginForm())
    {
        <div class="ContentHead width_100pct text-align">@LocationAreaCodeManage_cshtml.lblPageTitle_Text</div>
        
        <table id="Table1" class="width_100pct text-align_left" cellspacing="0" cellpadding="3" border="0">
            <tr>
                <td style="width:160px" class="NormalBold">@LocationAreaCodeManage_cshtml.lblSearch_Text</td>
                <td style="width:230px" class="text-align_left">
                    @Html.TextBox("SearchKey", Model.SearchKey, new { @class = "input_width" })
                </td>
                <td style="width:70px">
                    <input type="button" id="btnSearch" name="btnSearch" value="@Global.btnSearch_Value" class="NormalButton" />
                </td>
                <td>
                    <input type="button" id="btnAddLAC" name="btnAddLAC" value="@Global.btnAdd_Value" class="NormalButton" />
                </td>
            </tr>
        </table>

        <table cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_100pct margin-top_15">
            <thead>
                <tr class="CartListHead">
                    <td>
                        @LocationAreaCodeManage_cshtml.lblTblHeadLocAreaCodeName
                    </td>
                    <td>
                        @LocationAreaCodeManage_cshtml.lblTblHeadLocAreaCodeDescrName
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="text-align_left">
                @{int lacNum = Model.locAreaCodes.Count;
                  string cssClass;
                  for (int i = 0; i < lacNum; i++)
                  {
                      LocationAreaCode lac = Model.locAreaCodes[i];
                      if (i % 2 == 0)
                      { cssClass = "CartListItem"; }
                      else
                      { cssClass = "CartListItemAlt"; }        
                <tr class='@cssClass'>
                    <td>
                        <a href="#" onclick='EditLAC("@Html.Encode(lac.LacCode)");'>@Html.Encode(lac.LacCode)</a>
                    </td>
                    <td>
                        @Html.Encode(lac.LacDescr)
                    </td>
                    <td class="text-align">
                        <a href="#" onclick='DeleLAC("@Html.Encode(lac.LacCode)");'>@Global.btnDelete_Value</a>
                    </td>
                </tr>
                  }
                }
                <tr class="CartListHead">
                    <td colspan="3" align="right">
                        @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = int.Parse(ConfigurationManager.AppSettings["PageSize"]), RecordCount = Model.TotalCount, parameters = Model.URLPara }); }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="errorMsg" class="error_fontsize12  margin-top_15"></div>
        <table id="tbLACEdit" cellspacing="0" cellpadding="4" border="0" style="display:none;" class="width_100pct margin-top_10 text-align_left">
            <tr>
                <td class="NormalBold Wrap_No width_240 valign_top">
                    @LocationAreaCodeManage_cshtml.lblTblHeadLocAreaCodeName
                </td>
                <td>
                    @Html.TextBox("LACCode", Model.LACCode, new { id = "txtLacCode", style = "width:400px" }) 
                    @Html.ValidationMessageFor(m => m.LACCode)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @LocationAreaCodeManage_cshtml.lblTblHeadLocAreaCodeDescrName
                </td>
                <td>
                    @Html.TextArea("LACDescr", Model.LACDescr, new { id = "txtLacDescr", style="width:600px;height:90px" }) 
                    @Html.ValidationMessageFor(m => m.LACDescr)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                        <input type="button" id="btnSaveLAC" name="btnSaveLAC" value='@Global.btnSave_Value' class="NormalButton" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="hidUrl" value="@Request.RawUrl" />
        @Html.Hidden("LACCode", Model.LACCode, new { id = "hidLacCode" })
    }
</div>