﻿@using System.Configuration;
@using SIL.AARTO.DAL.Entities;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.StreetCoding;
@model SIL.AARTO.BLL.StreetCoding.Model.PlaceBetweenModel
@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = PlaceBetweenManage_cshtml.lblPageTitle_Text;
}

@section HeaderContent{
    <script src='@Url.Content("~/Scripts/StreetCoding/PlaceBetweenManage.js")' type="text/javascript"></script>
}

<script type="text/javascript">    var pb_autId = 0;</script>
@if (Session["autIntNo"] != null)
{   <script type="text/javascript">pb_autId = @Session["autIntNo"];</script>  
}
<div id="contentMain" class="width_90pct margin_auto text-align">
    @using (Html.BeginForm())
    {
        <div class="ContentHead width_100pct text-align">@PlaceBetweenManage_cshtml.lblPageTitle_Text</div>
        
        <table id="Table1" class="width_100pct text-align_left" cellspacing="0" cellpadding="3" border="0">
            <tr>
                <td style="width:16%" class="NormalBold Wrap_No">@Global.lblSelectAuth_Text
                </td>
                <td style="width:27%">
                    @Html.EditorFor(m => m.SearchAutIntNo)
                    @Html.ValidationMessageFor(m => m.SearchAutIntNo)
                </td>
                <td style="width:16%" class="NormalBold Wrap_No">@Global.lblSelectSuburb_Text</td>
                <td>@Html.EditorFor(m => m.SearchLoSuIntNo)</td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @PlaceBetweenManage_cshtml.lblSt1Name_Text
                </td>
                <td>
                    @Html.EditorFor(m => m.SearchStreet1)
                </td>
                <td class="NormalBold Wrap_No">@PlaceBetweenManage_cshtml.lblSt2Name_Text</td>
                <td>
                    @Html.EditorFor(m => m.SearchStreet2)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @PlaceBetweenManage_cshtml.lblSt3Name_Text
                </td>
                <td>
                    @Html.EditorFor(m => m.SearchStreet3)
                </td>
                <td></td>
                <td>
                    <input type="button" id="btnSearch" name="btnSearch" value=@Global.btnSearch_Value class="NormalButton margin-right_5" />
                    <input type="button" id="btnAddPB" name="btnAddPB" value=@Global.btnAdd_Value class="NormalButton" />
                </td>
            </tr>
        </table>
            
        <table cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_100pct margin-top_15">
            <thead>
                <tr class="CartListHead">
                    <td style="width:18%">
                        @PlaceBetweenManage_cshtml.tblHeadAuthName_Text
                    </td>
                    <td style="width:18%">
                        @PlaceBetweenManage_cshtml.tblHeadSubName_Text
                    </td>
                    <td style="width:18%">
                        @PlaceBetweenManage_cshtml.lblSt1Name_Text
                    </td>
                    <td style="width:18%">
                        @PlaceBetweenManage_cshtml.lblSt2Name_Text
                    </td>
                    <td style="width:18%">
                        @PlaceBetweenManage_cshtml.lblSt3Name_Text
                    </td>
                    <td>
                        @Global.tblHeadEditName
                    </td>
                </tr>
            </thead>
            <tbody class="text-align_left">
                @{int betwsNum = Model.Betweens == null ? 0 : Model.Betweens.Count();
                  string cssClass;
                  for (int i = 0; i < betwsNum; i++)
                  {
                      SIL.AARTO.BLL.StreetCoding.Model.PlaceBetweenModel betw = Model.Betweens[i];
                      if (i % 2 == 0)
                      { cssClass = "CartListItem"; }
                      else
                      { cssClass = "CartListItemAlt"; }        
                <tr class='@cssClass'>
                    <td>
                        @Html.Encode(betw.AutName)
                    </td>
                    <td>
                        @Html.Encode(betw.LoSuDescr)
                    </td>
                    <td>
                        @Html.Encode(betw.PBStreet1Name)
                    </td>
                    <td>
                        @Html.Encode(betw.PBStreet2Name)
                    </td>
                    <td>
                        @Html.Encode(betw.PBStreet3Name)
                    </td>
                    <td class="text-align">
                        <a href="#" onclick='EditPB(@betw.PBIntNo);'>@Global.btnEdit_Value</a>&nbsp;&nbsp;    
                        <a href="#" onclick='DelePB("@betw.PBIntNo");'>@Global.btnDelete_Value</a>
                    </td>
                </tr>
                  }
                }
                <tr class="CartListHead">
                    <td colspan="6" align="right">
                        @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = int.Parse(ConfigurationManager.AppSettings["PageSize"]), RecordCount = Model.TotalCount, parameters = Model.URLPara }); }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="errorMsg" class="error_fontsize12  margin-top_15"></div>
        <div class="error_fontsize12  margin-top_15">
            <div class="error_fontsize12">@Html.ValidationMessageFor(m => m.PBGPSXCoord)</div>
            <div class="error_fontsize12">@Html.ValidationMessageFor(m => m.PBGPSYCoord)</div>
            <div class="error_fontsize12">@Html.ValidationMessageFor(m => m.PBStreet1)</div>
            <div class="error_fontsize12">@Html.ValidationMessageFor(m => m.PBStreet2)</div>
            <div class="error_fontsize12">@Html.ValidationMessageFor(m => m.PBStreet3)</div>
        </div>
        <table id="tblEditPB" cellspacing="0" cellpadding="4" border="0" style="display:none;" class="width_100pct margin-top_10 text-align_left">
            <tr>
                <td style="width:16%" class="NormalBold Wrap_No">@Global.lblSelectAuth_Text
                </td>
                <td style="width:27%">
                    @Html.EditorFor(m => m.AutIntNo)
                    @Html.ValidationMessageFor(m => m.AutIntNo)
                </td>
                <td style="width:16%"></td>
                <td></td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">@Global.lblSelectSuburb_Text</td>
                <td>
                    @Html.EditorFor(m => m.LoSuIntNo)
                    @Html.ValidationMessageFor(m => m.LoSuIntNo)
                </td>
                <td class="NormalBold Wrap_No">@Global.lblSelectCrt_Text</td>
                <td>
                    @Html.EditorFor(m => m.CrtIntNo)
                    @Html.ValidationMessageFor(m => m.CrtIntNo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @PlaceBetweenManage_cshtml.lblSt1Name_Text
                </td>
                <td>
                    @Html.EditorFor(m => m.PBStreet1)
                </td>
                <td class="NormalBold Wrap_No">@PlaceBetweenManage_cshtml.lblSt2Name_Text</td>
                <td>
                    @Html.EditorFor(m => m.PBStreet2)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @PlaceBetweenManage_cshtml.lblSt3Name_Text
                </td>
                <td>
                    @Html.EditorFor(m => m.PBStreet3)
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="NormalBold">
                    @PlaceBetweenManage_cshtml.lblXCoord_Text
                </td>
                <td>
                    @Html.TextBox("PBGPSXCoord", Model.PBGPSXCoord, new { @class = "input_width_217" })   
                </td>
                <td class="NormalBold">
                    @PlaceBetweenManage_cshtml.lblYCoord_Text
                </td>
                <td>
                    @Html.TextBox("PBGPSYCoord", Model.PBGPSYCoord, new { @class = "input_width_217" })
                </td>
            </tr>
            <tr>
                <td colspan="4"><input type="button" id="btnSavePB" name="btnSavePB" value='@Global.btnSave_Value' class="NormalButton" />
                <span id="StSelectTip" class="margin-left_15"></span>
                </td>
            </tr>
        </table>
        <input type="hidden" id="hidPBId" value="0" />
        <input type="hidden" id="hidAutId" value="0" />
        <input type="hidden" id="hidSubId" value="0" />
        <input type="hidden" id="hidCrtId" value="0" />
        <input type="hidden" id="hidSt1Id" value="0" />
        <input type="hidden" id="hidSt2Id" value="0" />
        <input type="hidden" id="hidSt3Id" value="0" />
    }
</div>