﻿@using System.Configuration;
@using SIL.AARTO.DAL.Entities;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.StreetCoding;
@model SIL.AARTO.BLL.StreetCoding.Model.PlaceAtFixedLocationModel
@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = PlaceAtFixedLocationManage_cshtml.lblPageTitle_Text;
}

@section HeaderContent{
    <script src='@Url.Content("~/Scripts/StreetCoding/PlaceAtFixedLocationManage.js")' type="text/javascript"></script>
}

<script type="text/javascript">    var paf_autId = 0;</script>
@if (Session["autIntNo"] != null)
{   <script type="text/javascript">paf_autId = @Session["autIntNo"];</script>  
}
<div id="contentMain" class="width_90pct margin_auto text-align">
    @using (Html.BeginForm())
    {
        
        <div class="ContentHead width_100pct text-align">@PlaceAtFixedLocationManage_cshtml.lblPageTitle_Text</div>
        
        <table id="Table1" class="width_100pct text-align_left" cellspacing="0" cellpadding="3" border="0">
            <tr>
                <td style="width:16%" class="NormalBold Wrap_No">@Global.lblSelectAuth_Text</td>
                <td>
                    @Html.EditorFor(m => m.SearchAutIntNo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">@Global.lblSelectSuburb_Text</td>
                <td>@Html.EditorFor(m => m.SearchLoSuIntNo)</td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @PlaceAtFixedLocationManage_cshtml.lblStName_Text
                </td>
                <td>@Html.EditorFor(m => m.SearchStreet)</td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @PlaceAtFixedLocationManage_cshtml.tblHeadLocName_Text
                </td>
                <td>
                    @Html.TextBox("SearchKey", Model.SearchKey, new { @class = "input_width_217" })

                    <input type="button" id="btnSearch" name="btnSearch" value=@Global.btnSearch_Value class="NormalButton margin-left_10 margin-right_5" />
                    <input type="button" id="btnAddFixLoc" name="btnAddFixLoc" value=@Global.btnAdd_Value class="NormalButton" />
                </td>
            </tr>
        </table>
        
        <table cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_100pct margin-top_15">
            <thead>
                <tr class="CartListHead">
                    <td style="width:20%">
                        @PlaceAtFixedLocationManage_cshtml.tblHeadAuthName_Text
                    </td>
                    <td style="width:20%">
                        @PlaceAtFixedLocationManage_cshtml.tblHeadSubName_Text
                    </td>
                    <td style="width:24%">
                        @PlaceAtFixedLocationManage_cshtml.lblStName_Text
                    </td>
                    <td style="width:24%">
                        @PlaceAtFixedLocationManage_cshtml.tblHeadLocName_Text
                    </td>
                    <td>
                        @Global.tblHeadEditName
                    </td>
                </tr>
            </thead>
            <tbody class="text-align_left">
                @{int locsNum = Model.FixedLocations == null ? 0 : Model.FixedLocations.Count();
                  string cssClass;
                  for (int i = 0; i < locsNum; i++)
                  {
                      SIL.AARTO.BLL.StreetCoding.Model.PlaceAtFixedLocationModel fixloc = Model.FixedLocations[i];
                      if (i % 2 == 0)
                      { cssClass = "CartListItem"; }
                      else
                      { cssClass = "CartListItemAlt"; }        
                <tr class='@cssClass'>
                    <td>
                        @Html.Encode(fixloc.AutName)
                    </td>
                    <td>
                        @Html.Encode(fixloc.LoSuDescr)
                    </td>
                    <td>
                        @Html.Encode(fixloc.PAFLStreet1Name)
                    </td>
                    <td>
                        @Html.Encode(fixloc.PAFLocation)
                    </td>
                    <td class="text-align">
                        <a href="#" onclick='EditFixLoc(@fixloc.PAFLIntNo);'>@Global.btnEdit_Value</a>&nbsp;&nbsp;    
                        <a href="#" onclick='DeleFixLoc("@fixloc.PAFLIntNo");'>@Global.btnDelete_Value</a>
                    </td>
                </tr>
                  }
                }
                <tr class="CartListHead">
                    <td colspan="5" align="right">
                        @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = int.Parse(ConfigurationManager.AppSettings["PageSize"]), RecordCount = Model.TotalCount, parameters = Model.URLPara }); }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="errorMsg" class="error_fontsize12  margin-top_15"></div>
        <div class="error_fontsize12  margin-top_15">
            @Html.ValidationMessageFor(m => m.PAFLocation)
            @Html.ValidationMessageFor(m => m.PAFLGPSXCoord)
            @Html.ValidationMessageFor(m => m.PAFLGPSYCoord)
        </div>
        <table id="tblEditFixLoc" cellspacing="0" cellpadding="4" border="0" style="display:none;" class="width_100pct margin-top_10 text-align_left">
            <tr>
                <td style="width:16%" class="NormalBold Wrap_No">@Global.lblSelectAuth_Text
                </td>
                <td style="width:27%">
                    @Html.EditorFor(m => m.AutIntNo)
                    @Html.ValidationMessageFor(m => m.AutIntNo)
                </td>
                <td style="width:16%"></td>
                <td></td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">@Global.lblSelectSuburb_Text</td>
                <td>
                    @Html.EditorFor(m => m.LoSuIntNo)
                    @Html.ValidationMessageFor(m => m.LoSuIntNo)
                </td>
                <td class="NormalBold Wrap_No">@Global.lblSelectCrt_Text</td>
                <td>
                    @Html.EditorFor(m => m.CrtIntNo)
                    @Html.ValidationMessageFor(m => m.CrtIntNo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @PlaceAtFixedLocationManage_cshtml.lblStName_Text
                </td>
                <td>
                    @Html.EditorFor(m => m.PAFLStreet1)
                    @Html.ValidationMessageFor(m => m.PAFLStreet1)
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">@PlaceAtFixedLocationManage_cshtml.tblHeadLocName_Text</td>
                <td>
                    @Html.TextBox("PAFLocation", Model.PAFLocation, new { @class = "input_width_217" })
                </td>
            </tr>
            <tr>
                <td class="NormalBold">
                    @PlaceAtFixedLocationManage_cshtml.lblXCoord_Text
                </td>
                <td>
                    @Html.TextBox("PAFLGPSXCoord", Model.PAFLGPSXCoord, new { @class = "input_width_217" })   
                </td>
                <td class="NormalBold">
                    @PlaceAtFixedLocationManage_cshtml.lblYCoord_Text
                </td>
                <td>
                    @Html.TextBox("PAFLGPSYCoord", Model.PAFLGPSYCoord, new { @class = "input_width_217" })
                </td>
            </tr>
            <tr>
                <td colspan="4"><input type="button" id="btnSaveFixLoc" name="btnSaveFixLoc" value='@Global.btnSave_Value' class="NormalButton" />
                <span id="FixLocSelectTip" class="margin-left_15"></span>
                </td>
            </tr>
        </table>
        <input type="hidden" id="hidFLId" value="0" />
        <input type="hidden" id="hidAutId" value="0" />
        <input type="hidden" id="hidSubId" value="0" />
        <input type="hidden" id="hidCrtId" value="0" />
        <input type="hidden" id="hidStId" value="0" />
        <input type="hidden" id="hidLocName" value="" />
  
    }
</div>