﻿@using System.Configuration;
@using SIL.AARTO.DAL.Entities;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.StreetCoding;
@model SIL.AARTO.BLL.StreetCoding.Model.StreetModel
@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = StreetManage_cshtml.lblPageTitle_Text;
}

@section HeaderContent{
    <script src='@Url.Content("~/Scripts/StreetCoding/StreetManage.js")' type="text/javascript"></script>
}

<script type="text/javascript">    var st_autId = 0;</script>
@if (Session["autIntNo"] != null)
{   <script type="text/javascript">st_autId = @Session["autIntNo"];</script>  
}
<div id="contentMain" class="width_90pct margin_auto text-align">
    @using (Html.BeginForm())
    {
        <div class="ContentHead width_100pct text-align">@StreetManage_cshtml.lblPageTitle_Text</div>
        
        <table id="Table1" class="width_100pct text-align_left" cellspacing="0" cellpadding="3" border="0">
            <tr>
                <td style="width:18%" class="NormalBold Wrap_No">@StreetManage_cshtml.lblSelectAuth_Text</td>
                <td>
                    @Html.EditorFor(m => m.SearchAutIntNo)
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">@StreetManage_cshtml.lblFiltBySuburb_Text</td>
                <td>
                    @Html.EditorFor(m => m.SearchSubIntNo)
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="NormalBold Wrap_No">
                    @StreetManage_cshtml.lblSearchStName_Text
                </td>
                <td>
                    @Html.TextBox("SearchKey", Model.SearchKey, new { @class = "input_width" })
                    <input type="button" id="btnSearch" name="btnSearch" value="@Global.btnSearch_Value" class="NormalButton margin-left_10 margin-right_5" />
                    <input type="button" id="btnAddSt" name="btnAddSt" value="@Global.btnAdd_Value" class="NormalButton" />
                </td>
                <td></td>
            </tr>
        </table>
            
        <table cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_100pct margin-top_15">
            <thead>
                <tr class="CartListHead">
                    <td style="width:29%">
                        @StreetManage_cshtml.lblHeadStName_Text
                    </td>
                    <td style="width:29%">
                        @StreetManage_cshtml.lblHeadSubName_Text
                    </td>
                    <td style="width:29%">@StreetManage_cshtml.lblTblHeadAutName</td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="text-align_left">
                @{int stNum = Model.Streets == null ? 0 : Model.Streets.Count();
                  string cssClass;
                  for (int i = 0; i < stNum; i++)
                  {
                      if (i % 2 == 0)
                      { cssClass = "CartListItem"; }
                      else
                      { cssClass = "CartListItemAlt"; }        
                <tr class='@cssClass'>
                    <td>
                        <a href="#" onclick='EditStreet(@Model.Streets[i].LoSuIntNo, @Model.Streets[i].StrIntNo);'>@Html.Encode(Model.Streets[i].StrName)</a>
                    </td>
                    <td>
                        @Html.Encode(Model.Streets[i].LoSuDescr)
                    </td>
                    <td>
                        @Html.Encode(Model.Streets[i].AutName)
                    </td>
                    <td class="text-align">
                        <a href="#" onclick='DeleSt(@Model.Streets[i].LoSuIntNo, @Model.Streets[i].StrIntNo);'>@Global.btnDelete_Value</a>
                    </td>
                </tr>
                  }
                }
                <tr class="CartListHead">
                    <td colspan="4" align="right">
                        @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = int.Parse(ConfigurationManager.AppSettings["PageSize"]), RecordCount = Model.TotalCount, parameters = Model.URLPara }); }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="errorMsg" class="error_fontsize12  margin-top_15"></div>
        <table id="tbStreetEdit" cellspacing="0" cellpadding="4" border="0" style="display:none;" class="width_100pct margin-top_10 text-align_left">
            <tr>
                <td style="width:18%" class="NormalBold Wrap_No">@StreetManage_cshtml.lblSelectAuth_Text</td>
                <td>
                    @Html.EditorFor(m => m.AutIntNo)
                    @Html.ValidationMessageFor(m => m.AutIntNo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold" style="width:18%">
                    @StreetManage_cshtml.lblSelectSuburb_Text
                </td>
                <td>
                    @Html.EditorFor(m => m.LoSuIntNo)
                    @Html.ValidationMessageFor(m => m.LoSuIntNo)
                </td>
            </tr>
            <tr>
                <td class="NormalBold">
                    @StreetManage_cshtml.lblStName_Text
                </td>
                <td>
                    @Html.TextBox("StrName", Model.StrName, new { @class = "input_width", id = "txtStName", style = "width:600px;padding:0" })
                    @Html.ValidationMessageFor(m => m.StrName)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                        <input type="button" id="btnSaveSt" name="btnSaveSt" value='@Global.btnSave_Value' class="NormalButton" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="hidUrl" value="@Request.RawUrl" />
        <input type="hidden" id="hidStId" value="0" />
        <input type="hidden" id="hidAutId" value="0" />
        <input type="hidden" id="hidSubId" value="0" />
    }
</div>