﻿@model SIL.AARTO.Web.ViewModels.MobileReport.NoticeReceivedFromMobileDeviceModel
@using SIL.AARTO.Web.Resource.MobileReport;
@using SIL.AARTO.Web.Helpers.Paginator;

@{
    ViewBag.Title = "MobileReportList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Scripts/Datepicker/css/ui.all.css")' rel="stylesheet" type="text/css" />
<link href='@Url.Content("~/Scripts/Datepicker/css/demos.css")' rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/Datepicker/js/ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Datepicker/js/ui.datepicker.js")" type="text/javascript"></script>

<script type="text/javascript">

    function setDateTextBox(txtId) {
        $('#' + txtId).datepicker({ showHms:false, changeMonth: true, changeYear: true, dateFormat: 'yy-mm-dd', defaultDate: ' ' });
    }

    $(function () {
        setDateTextBox('DateStart');
        setDateTextBox('DateEnd');

        $("#btnOptExport").click(function () {
            //Jerry 2015-01-29 add _ROOTPATH
            window.location.href = _ROOTPATH + "/MobileReport/ExportReport?startDate=" + $("#DateStart").val() + "&endDate=" + $("#DateEnd").val() + "&trafficeOfficerID=" + $("#TrafficeOfficerID").val() +
                "&documentTypeID=" + $("#DocumentTypeID").val() + "&documentStatusID=" + $("#DocumentStatusID").val();

        });
    });


</script>

<style type="text/css">
    .listTable
    {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 1150px;
        border: 1px solid black;
        text-align: left;      
    }
    .footerStyle
    {
        text-align: right;
        height: 18px;
    }
    thead th
    {
        text-align: left;
    }
</style>

<div>
    <table width="100%" height="10%" cellspacing="0" cellpadding="0" border="0" id="Table5">
        <tbody>
            <tr>
                <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color: #fff">
                </td>
            </tr>
        </tbody>
    </table>
    <table height="85%" cellspacing="0" cellpadding="0" border="0" id="Table6">
        <tbody>
            <tr>
                <td valign="top" align="center" style="width: 182px">
                    <div id="pnlMainMenu">
                    </div>
                    <div style="width: 50px; id="pnlSubMenu">
                        <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <input type="button" style="width:50px; visibility:hidden"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="21" align="center">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td width="100%" valign="top" align="left" colspan="1">
                    <table width="568" border="0" id="Table7" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" height="47">
                                    <p align="center">
                                        <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@MobileReportList.PageName</span></p>
                                    <p>
                                        </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @using (Html.BeginForm("MobileReportList", "MobileReport", FormMethod.Post, new { id = "MobileReportForm" }))
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 259px;" class="NormalBold">@MobileReportList.DateStart</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("DateStart", Model.DateStart, new { id = "DateStart", name="DateStart", @readonly = "true" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 259px;" class="NormalBold">@MobileReportList.DateEnd</span>
                                                </td>
                                                <td>
                                                    @Html.TextBox("DateEnd", Model.DateEnd, new { id = "DateEnd", name="DateEnd", @readonly = "true" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 259px;" class="NormalBold">@MobileReportList.TrafficOfficer</span>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("TrafficeOfficerID", Model.TrafficeOfficerList, new { style = "width:217px;", Class = "Normal" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 259px;" class="NormalBold">@MobileReportList.DocumentType</span>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("DocumentTypeID", Model.DocumentTypeList, new { style = "width:217px;", Class = "Normal" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="display: inline-block; width: 259px;" class="NormalBold">@MobileReportList.DocumentStatus</span>
                                                </td>
                                                <td>
                                                    @Html.DropDownList("DocumentStatusID", Model.DocumentStatusList, new { style = "width:217px;", Class = "Normal" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    <input type ="submit" value="@MobileReportList.Search" id ="btnSubmit" class="NormalButton"  style="width:135px;"/> &nbsp;&nbsp; <input type="button" style="width:135px;" class="NormalButton" id="btnOptExport" value="@MobileReportList.ExportExcel" name="btnOptExport" />
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <span class="NormalRed" id="lblError">@Model.Msg</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <div id="pnlMobileReportList">
                                        @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "pageIndex", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "startDate=" + Model.DateStart + "&endDate=" + Model.DateEnd + "&trafficeOfficerID=" + Model.TrafficeOfficerID + "&documentTypeID=" + Model.DocumentTypeID + "&documentStatusID=" + Model.DocumentStatusID });}
                                        @{WebGrid grid = new WebGrid(Model.PageReportList, canPage: false);}
                                        @(Model.PageReportList.Count > 0 ? grid.Table(
                                            headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                                            footerStyle: "CartListHead footerStyle",
                                            footer: footer => Html.Raw(strPage),
                                            columns: grid.Columns(
                                                        grid.Column("MoDeIMEI", MobileReportList.MoDeIMEI, canSort: false, style: "CartListItem"),
                                                        grid.Column("OfficerCode", MobileReportList.OfficerCode, canSort: false, style: "CartListItem"),
                                                        grid.Column("OfficerName", MobileReportList.OfficerName, canSort: false, style: "CartListItem"),
                                                        grid.Column("OffenceDate", MobileReportList.OffenceDate, canSort: false, style: "CartListItem"),
                                                        grid.Column("OffenceTime", MobileReportList.OffenceTime, canSort: false, style: "CartListItem"),
                                                        grid.Column("NoticeNumber", MobileReportList.NoticeNumber, canSort: false, style: "CartListItem"),
                                                        grid.Column("GPS", MobileReportList.GPS, canSort: false, style: "CartListItem"),
                                                        grid.Column("TransactionUploadDate", MobileReportList.TransactionUploadDate, canSort: false, style: "CartListItem"),
                                                        grid.Column("DSDescription", MobileReportList.DocumentStatusCode, canSort: false, style: "CartListItem"),
                                                        grid.Column("DTDescription", MobileReportList.DocumentTypeCode, canSort: false, style: "CartListItem"),
                                                        grid.Column("IsComplete", MobileReportList.IsComplete, canSort: false, style: "CartListItem"),
                                                        grid.Column("IsPrinted", MobileReportList.IsPrinted, canSort: false, style: "CartListItem")
                                                        )
                                                , htmlAttributes: new { cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
                                            : null)
                                    </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>


