﻿@model SIL.AARTO.Web.ViewModels.ChangeOfOwner.AuthorisationModel
@using SIL.AARTO.Web.Resource.ChangeOfOwner;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@{
    ViewBag.Title = "Authorisation";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $("#dialog").hide();
        if ("@Model.ShowAffidavit" == "1" && "@Model.SearchCCPIntNo" != "0") {
            Init();
        }

        $("#SearchCCIIntNo").change(function () {
            var CCIIntNo = $("#SearchCCIIntNo option:selected").val();
            $("#SearchCCPIntNo option").remove();
            if (CCIIntNo != "") {
                $.ajax({
                    url: "@Url.Action("GetProxyByQuery", "ChangeOfOwner")",
                    type: "POST",
                    dataType: "json",
                    data: { CCIIntNo: CCIIntNo },
                    success: function (data) {
                        if (data.result == -2) {
                            window.location = "@Url.Action("login", "Account")";
                        }
                        else {
                            $.each(data.data, function (i, data) {
                                $("<option value=" + data.Value + ">" + data.Text + "</option>").appendTo($("#SearchCCPIntNo"));
                            });
                        }
                    }
                });
            }
        });
    });
    function Init() {
        $("#lblError").html('');
        $("#dialog").show();
        $("#dialog").dialog({
            modal: true,
            resizable: false,
            autoOpen: true,
            width: 770,
            buttons: [
                {
                    text: "@AuthorisationManager.Accept",
                    id: "btnImageAccept",
                    click: function () {
                        $.post(_ROOTPATH + "/ChangeOfOwner/AffidavitAccept",
                        {
                            CCIIntNo: "@Model.SearchCCIIntNo",
                            CCPIntNo: "@Model.SearchCCPIntNo"
                        },
                    function (message) {
                        if (message.Status) {
                            location.href = _ROOTPATH + "/ChangeOfOwner/Authorisation?SearchCCIIntNo=" + "@Model.SearchCCIIntNo" + "&SearchCCPIntNo=" + "@Model.SearchCCPIntNo" + "&ShowAffidavit=0";
                        } else {
                            $("#dialog").dialog("close");
                            $("#lblError").html(message.Text);
                        }
                    }, "json");
                    }
                },
                {
                    text: "@AuthorisationManager.Reject",
                    id: "btnImageReject",
                    click: function () {
                        $.post(_ROOTPATH + "/ChangeOfOwner/AffidavitReject",
                        {
                            CCIIntNo: "@Model.SearchCCIIntNo",
                            CCPIntNo: "@Model.SearchCCPIntNo"
                        },
                        function (message) {
                            if (message.Status) {
                                location.href = _ROOTPATH + "/ChangeOfOwner/Authorisation?SearchCCIIntNo=" + "@Model.SearchCCIIntNo" + "&SearchCCPIntNo=" + "@Model.SearchCCPIntNo" + "&ShowAffidavit=0";
                            } else {
                                $("#dialog").dialog("close");
                                $("#lblError").html(message.Text);
                            }
                        }, "json");
                    }
                },
                {
                    text: "@AuthorisationManager.Cancel",
                    click: function () {
                        $("#dialog").dialog('close');
                    }
                }
            ],
            open: function () {
                if ($("#ISAccepted").val() == "0") {
                    $('#btnImageAccept').attr('disabled', 'disabled');
                    $('#btnImageAccept').addClass('ui-state-disabled');
                    $('#btnImageReject').attr('disabled', 'disabled');
                    $('#btnImageReject').addClass('ui-state-disabled');
                }
            }
        });
    }
    function SetShowAffidavit() {
        $("#ShowAffidavit").val("1");
    }
    function DisplayAffidavit() {
        Init();
    }
    function Accept(CFCAIntNo) {
        if (confirm("@AuthorisationManager.ConfigMessage1")) {
            $("#lblError").html('');
            $.post(_ROOTPATH + "/ChangeOfOwner/Accept",
            {
                CFCAIntNo: CFCAIntNo
            },
            function (message) {
                if (message.Status) {
                    location.href = _ROOTPATH + "/ChangeOfOwner/Authorisation?SearchCCIIntNo=" + "@Model.SearchCCIIntNo" + "&SearchCCPIntNo=" + "@Model.SearchCCPIntNo" + "&ShowAffidavit=0";
                } else {
                    $("#lblError").html(message.Text);
                }
            }, "json");
        }
    }
    function Reject(CFCAIntNo) {
        if (confirm("@AuthorisationManager.ConfigMessage2")) {
            $("#lblError").html('');
            $.post(_ROOTPATH + "/ChangeOfOwner/Reject",
            {
                CFCAIntNo: CFCAIntNo
            },
            function (message) {
                if (message.Status) {
                    location.href = _ROOTPATH + "/ChangeOfOwner/Authorisation?SearchCCIIntNo=" + "@Model.SearchCCIIntNo" + "&SearchCCPIntNo=" + "@Model.SearchCCPIntNo" + "&ShowAffidavit=0";
                } else {
                    $("#lblError").html(message.Text);
                }
            }, "json");
        }
    }

    function ProcessSelected() {
        if (confirm("@AuthorisationManager.ConfigMessage5")) {
            $("#lblError").html('');
            $.post(_ROOTPATH + "/ChangeOfOwner/ProcessSelected",
            {
                CCIIntNo: "@Model.SearchCCIIntNo",
                CCPIntNo: "@Model.SearchCCPIntNo"
            },
            function (message) {
                if (message.Status) {
                    location.href = _ROOTPATH + "/ChangeOfOwner/Authorisation?SearchCCIIntNo=" + "@Model.SearchCCIIntNo" + "&SearchCCPIntNo=" + "@Model.SearchCCPIntNo" + "&ShowAffidavit=0";
                } else {
                    $("#lblError").html(message.Text);
                }
            }, "json");
        }
    }

    function AcceptAll() {
        if (confirm("@AuthorisationManager.ConfigMessage3")) {
            $("#lblError").html('');
            $.post(_ROOTPATH + "/ChangeOfOwner/AcceptAll",
            {
                CCIIntNo: "@Model.SearchCCIIntNo",
                CCPIntNo: "@Model.SearchCCPIntNo"
            },
            function (message) {
                if (message.Status) {
                    location.href = _ROOTPATH + "/ChangeOfOwner/Authorisation?SearchCCIIntNo=" + "@Model.SearchCCIIntNo" + "&SearchCCPIntNo=" + "@Model.SearchCCPIntNo" + "&ShowAffidavit=0";
                } else {
                    $("#lblError").html(message.Text);
                }
            }, "json");
        }
    }

    function RejectAll() {
        if (confirm("@AuthorisationManager.ConfigMessage4")) {
            $("#lblError").html('');
            $.post(_ROOTPATH + "/ChangeOfOwner/RejectAll",
            {
                CCIIntNo: "@Model.SearchCCIIntNo",
                CCPIntNo: "@Model.SearchCCPIntNo"
            },
            function (message) {
                if (message.Status) {
                    location.href = _ROOTPATH + "/ChangeOfOwner/Authorisation?SearchCCIIntNo=" + "@Model.SearchCCIIntNo" + "&SearchCCPIntNo=" + "@Model.SearchCCPIntNo" + "&ShowAffidavit=0";
                } else {
                    $("#lblError").html(message.Text);
                }
            }, "json");
        }
    }
</script>
<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 100%;
        border: 1px solid black;
    }

    .footer {
        text-align: right;
    }

    .header {
        text-align: left;
    }
</style>
<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@AuthorisationManager.LblPageName</span>
            </p>
            <p align="center">
                <span class="NormalRed" id="lblError" name="lblError">@Model.ErrorMsg</span>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            @Html.HiddenFor(m => m.ISAccepted)
            @using (Html.BeginForm("Authorisation", "ChangeOfOwner"))
            {
                <table>
                    <tr align="left">
                        <td>
                            <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">@AuthorisationManager.Company:</span>
                        </td>
                        <td colspan="2">
                            @Html.DropDownListFor(m => m.SearchCCIIntNo, Model.SearchCompanyList, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("SearchCCIIntNo")
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <span style="display: inline; width: 259px; height: auto; line-height: normal;" class="NormalBold">@AuthorisationManager.ProxyNumber:</span>
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.SearchCCPIntNo, Model.SearchProxyList, new { @class = "Normal", style = "width:200px;" })
                            @Html.ValidationMessage("SearchCCPIntNo")
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.ShowAffidavit, 1)
                            <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@AuthorisationManager.Search" name="btnSearch" onclick="SetShowAffidavit()"/>
                            @if (Model.IsExistAffidavit == 1)
                            {
                                <input type="button" class="NormalButton" id="btnAffidavit"  value="@AuthorisationManager.Affidavit" name="btnAffidavit" onclick="DisplayAffidavit()"/>
                            }
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td valign="top">
            @if (Model.AuthorisationDetail.Count > 0)
            {
                <table cellspacing="0" cellpadding="4" border="0" style="border-collapse: collapse;"
                    class="width_100pct margin-top_5 listTable">
                    <thead>
                        <tr class="CartListHead">
                            <td rowspan="2" align="left">
                                @AuthorisationManager.TicketNo
                            </td>
                            <td rowspan="2" align="left">
                                @AuthorisationManager.RegNo
                            </td>
                            <td rowspan="2" align="left">
                                @AuthorisationManager.OffenceDate
                            </td>
                            @*<td rowspan="2" align="left">
                                @AuthorisationManager.Company
                            </td>*@
                            <td colspan="6" align="center">
                                @AuthorisationManager.NewDriver
                            </td>
                        </tr>
                        <tr class="CartListHead">
                            <td align="left">
                                @AuthorisationManager.OffenderID
                            </td>
                            <td align="left">
                                @AuthorisationManager.Offender
                            </td>
                            <td align="left">
                                @AuthorisationManager.Address
                            </td>
                            <td align="left">
                                @AuthorisationManager.Action
                            </td>
                            <td align="left">
                                @AuthorisationManager.Accept
                            </td>
                            <td align="left">
                                @AuthorisationManager.Reject
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @{string cssClass;
                          for (int i = 0; i < Model.AuthorisationDetail.Count; i++)
                          {
                              var item = Model.AuthorisationDetail[i];
                              if (i % 2 == 0)
                              { cssClass = "CartListItem"; }
                              else
                              { cssClass = "CartListItemAlt"; }
                            <tr class="@cssClass">
                                <td align="left">@item.NotTicketNo
                                </td>
                                <td align="left">@item.NotRegNo
                                </td>
                                <td align="left">@item.NotOffenceDate
                                </td>
                                @*<td align="left">@item.CompanyName
                                </td>*@
                                <td align="left">@item.DrvIDNumber
                                </td>
                                <td align="left">@item.DrvForenames
                                </td>
                                <td align="left">@item.PhysicalAddress1
                                </td>
                                <td align="left">@item.CACDescription
                                </td>
                                <td align="left">
                                    <a href="javascript:Accept(@item.CFCAIntNo)">@AuthorisationManager.Accept</a>
                                </td>
                                <td align="left">
                                    <a href="javascript:Reject(@item.CFCAIntNo)">@AuthorisationManager.Reject</a>
                                </td>
                            </tr>
                          }
                        }
                        <tr class="CartListHead">
                            <td colspan="9" align="right">
                                @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "SearchCCIIntNo=" + Model.SearchCCIIntNo + "&SearchCCPIntNo=" + Model.SearchCCPIntNo + "&ShowAffidavit=0" }); }
                                @Html.Raw(strPage)
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td>
            @if (Model.AuthorisationDetail.Count > 0)
            {
                <input type="button" class="NormalButton" id="btnProcessSelected "  value="@AuthorisationManager.ProcessSelected" name="btnProcessSelected"  onclick="ProcessSelected()"/>
                <input type="button" class="NormalButton" id="btnAcceptAll"  value="@AuthorisationManager.AcceptAll" name="btnAcceptAll"  onclick="AcceptAll()"/>
                <input type="button"  class="NormalButton" id="btnRejectAll"  value="@AuthorisationManager.RejectAll" name="btnRejectAll" onclick="RejectAll()" />
            }
        </td>
    </tr>
</table>
<div id="dialog" title="@AuthorisationManager.Affidavit">
    <input type="hidden" value="@Model.IsExistAffidavit" id="IsExistAffidavit" name="IsExistAffidavit" />
    @Html.Image(Url.Action("ShowStructureGraph", "ChangeOfOwner", new { CCPIntNo = Model.SearchCCPIntNo }), new { width = 750 })
</div>
