﻿@using SIL.AARTO.Web.Resource.CameraManagement;
@model SIL.AARTO.Web.ViewModels.CameraManagement.AdjudicateFrameModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CameraManagement/ShowOwnerDetails.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var hideField = @Html.Raw(ViewBag.HidParams);

    //Jerry 2012-04-22 add IsParentFrame
    var IsParentFrame = '@Model.IsParentFrame';
    var FilmNo = '@Model.FilmNo';
    var FrameNo = '@Model.FrameNo';
    var processName = '@(Model.IsInvestigation ? "InvestigateFrame" : "AdjudicateFrame")';
    var allowSecondaryOffence = '@Model.AllowSecondaryOffence';

    $(function () {
//        $("#Rejection").change(function () {
//            doChange();
//        });

        @Html.Raw(ViewBag.ShowInvestigationReason ? "" : "$('#selectReason').dialog(initSelect);")

        $("#btnAccept").click(function () {
            //Jerry 2013-10-30 remove popup for 5104 task
			//var valStatus = '@(Model.IsInvestigation ? "InvestigateFrame" : "AdjudicateFrame")';
            //if (checkNatisCapVT(this.name, valStatus)) {
            //    return;
            //}
            //Jerry 2013-04-26 add
            var btnAcceptNameValue = $("#btnAccept").attr("name");
            var sValue = $("#RejectReason option:selected").text();
            //alert(sValue);
            //sValue = sValue.substr(sValue.indexOf('|') + 1, sValue.length);
            var chkSecondaryOffenceValue = $("#txt_SecondaryOffenceCodes").val();
            if(IsParentFrame == 'True' && chkSecondaryOffenceValue != "" && (btnAcceptNameValue != "Prosecute" || sValue.toLowerCase() != 'none')){
                $("#PanelForRejectPopup").dialog("open");
            }
            else{
                Action('@(Model.IsInvestigation ? "InvestigateFrame" : "AdjudicateFrame")', this.name, '@Url.Action("UpdateFrame", "CameraManagement")', 'No');
            }
        });

        $("#btnChange").click(function () {
            AllowChange();
        });

        $("#investigate").click(function(){
            document.getElementById("InvestigateReason").disabled = false;
            $('#selectReason').dialog("open");
        });

        $("#btnResendNATIS").click(function () {
            Action('ReturnToNatisAdj', this.name, '@Url.Action("UpdateFrame", "CameraManagement")', 'No');
        });        

        $("#btnSaveSettingsForImage").click(function(){
            var contrast = $("#contrast").val();
            var brightness = $("#brightness").val();
            $.ajax({
                url: "@Url.Action("SaveImageSettings", "CameraManagement")",
                data: { Contrast: contrast, Brightness: brightness},
                success: function(result){
                    if (result.result == -2) {
                        window.location = "@Url.Action("Login", "Account")";
                    }
                    else
                    {
                        if (result.data.returnNo > 0) {
                            $("#lblError").text("@Html.Raw(AdjudicateFrame.lblError_Text1)");
                        }
                        else
                        {
                            $("#lblError").text("@Html.Raw(AdjudicateFrame.lblError_Text2)");
                        }
                    }
                }
            });
        });

        $("#SaveImageSettings").click(function(){
            var contrast = $("#contrast").val();
            var brightness = $("#brightness").val();
            if (this.checked) {
                $.ajax({
                    url: "@Url.Action("SaveImageSettingsToSession", "CameraManagement")",
                    data: { Contrast: contrast, Brightness: brightness},
                    success: function(result){
                        if (result.result == -2) {
                            window.location = "@Url.Action("Login", "Account")";
                        }
                        else
                        {
                            if (result.data.returnNo) {
                                CheckedSaveImageSettings(true);
                            }
                            else
                            {
                                $("#lblError").text("@Html.Raw(AdjudicateFrame.lblError_Text2)");
                            }
                        }
                    }
                });
            }
            else
            {
                CheckedSaveImageSettings(false);
                $.ajax({
                    url: "@Url.Action("ClearSaveImageSettingsSession", "CameraManagement")",
                    data: { Contrast: contrast, Brightness: brightness},
                    success: function(result){
                        if (result.result == -2) {
                            window.location = "@Url.Action("Login", "Account")";
                        }
                    }
                });
            }
        });


        $("#btnShowOwner").click(function(){
                $("#LabelMessageInfo").text('');
                $.ajax({
                    url: "@Url.Action("GetFrameDetail", "CameraManagement")",
                    dataType: "json",
                    data:{frameIntNo:@ViewBag.FrameIntNo},
                    success: function (result) { 
                        showDialog(result);
                    }
                });
                
            });
    });


    var initSelect = {
            autoOpen: false, 
            //bgiframe: true, 
            position: "center",
            resizable: false,
            modal: true, 
            width:400,
            buttons: {
                "@VerifyFrame.BtnOk_Text":function(){
                    if($("#reasonForm").valid())
                    {
                        $.ajax({
                            url: "@Url.Action("PostFrameToInvestigation", "CameraManagement")",
                            dataType: "json",
                            type:"post",
                            data:{inReIntNo:$("#InvestigateReason").val(),isVerify:false},
                            success: function (result) { 
                                if (result.result == -2) {
                                    window.location = "@Url.Action("login","Account")";
                                }
                                else if(result.result == 0)
                                {
                                    alert("@Html.Raw(VerifyFrame.PostToInvestigationSuccess)");
                                    $('#selectReason').dialog("close");
                                }
                            }
                        });
                    }
                },
                "@VerifyFrame.BtnCancel_Text": function () {
                    $(this).dialog("close");
                }
            }
        };

        function showDialog(result){
            if (result.HasProxy) {
                $('#addressPanel').dialog('option', 'width', 820);
                $(".proxy").css("display","");
                prepareProxy(result);
            }
            else
            {
                $('#addressPanel').dialog('option', 'width', 570);
                $(".proxy").css("display","none");
            }
            prepareOwner(result);
            prepareDriver(result);

            var buttons = {};
            buttons[result.BtnUpdateOwner] = function () { updateFrameDetail(); }
            buttons["@VerifyFrame.Cancel"] = function () { $(this).dialog("close"); }

            if (result.BtnUpdateOwnerEnable) {
                $('#addressPanel').dialog('option', 'buttons', buttons);
            }
            $('#addressPanel').dialog('open');
        }

        function prepareOwner(result){
            preDocElement("OwnerID", result);
            preDocElement("OwnerName", result);
            preDocElement("OwnerIntNo", result);
            preDocElement("OwnerInitials", result);
            preDocElement("OwnerPostalAdd1", result);
            preDocElement("OwnerPostalAdd2", result);
            preDocElement("OwnerPostalAdd3", result);
            preDocElement("OwnerPostalAdd4", result);
            preDocElement("OwnerPostalAdd5", result);
            preDocElement("OwnerStreetAdd1", result);
            preDocElement("OwnerStreetAdd2", result);
            preDocElement("OwnerStreetAdd3", result);
            preDocElement("OwnerStreetAdd4", result);
            preDocElement("OwnerPostalCode", result);
        }

        function prepareDriver(result){
            preDocElement("DriverID", result);
            preDocElement("DriverName", result);
            preDocElement("DriverIntNo", result);
            preDocElement("DriverInitials", result);
            preDocElement("DriverPostalAdd1", result);
            preDocElement("DriverPostalAdd2", result);
            preDocElement("DriverPostalAdd3", result);
            preDocElement("DriverPostalAdd4", result);
            preDocElement("DriverPostalAdd5", result);
            preDocElement("DriverStreetAdd1", result);
            preDocElement("DriverStreetAdd2", result);
            preDocElement("DriverStreetAdd3", result);
            preDocElement("DriverStreetAdd4", result);
            preDocElement("DriverPostalCode", result);
        }

        function prepareProxy(result)
        {
            preDocElement("ProxyID", result);
            preDocElement("ProxyName", result);
            preDocElement("ProxyIntNo", result);
            preDocElement("ProxyInitials", result);
            preDocElement("ProxyPostalAdd1", result);
            preDocElement("ProxyPostalAdd2", result);
            preDocElement("ProxyPostalAdd3", result);
            preDocElement("ProxyPostalAdd4", result);
            preDocElement("ProxyStreetAdd1", result);
            preDocElement("ProxyStreetAdd2", result);
            preDocElement("ProxyStreetAdd3", result);
            preDocElement("ProxyStreetAdd4", result);
            preDocElement("ProxyPostalCode", result);
        }

        function preDocElement(id, result){
            if (result[id] != null) {
                if (result[id + "CssClass"] && result[id+"IsReadonly"] != null) {
                    $("#"+id).val(result[id]).attr("class",result[id + "CssClass"]).attr("readonly", result[id+"IsReadonly"]);
                }
                $("#"+id).val(result[id]);
            }
            else{
                if (result[id + "CssClass"] && result[id+"IsReadonly"] != null) {
                    $("#"+id).attr("class",result[id + "CssClass"]).attr("readonly", result[id+"IsReadonly"]);
                }
            }
        }
</script>
}
<div id="udpFrame">
    <table border="0" style="width:100%">
        <tr>
            <td valign="top" style="width:100%;" align="center">
            <div id="pnlNavigation" style="width:100%">
                <table border="0" style="width: 100%; border: solid 1px black;" class="Normal">
                    <tr>
                        <td style="width: 10%; text-align: left">
                            @Html.ActionLink(AdjudicateFrame.linkPre_Text, Model.IsInvestigation ? "InvestigateFrame" : "AdjudicateFrame", new { isPre = true, isFishpond = Model.IsFishpond }, new { @class = "MenuItem", id = "lnkPrevious" })
                        </td>
                        <td style="width: 80%; text-align: center;">
                            <span id="lblNavigation" style="font-weight:bold">
                                @Model.Navigation
                            </span>
                            </td>
                        <td style="width: 10%; text-align: right">
                            @Html.ActionLink(AdjudicateFrame.linkNext_Text, Model.IsInvestigation ? "InvestigateFrame" : "AdjudicateFrame", new { isPre = false, isFishpond = Model.IsFishpond }, new { @class = "MenuItem", id = "lnkNext" })
                        </td>
                    </tr>
                </table>
            </div>
                <table style="width:100%;">
                    <tr>
                        <td style="text-align: left;">
                            &nbsp;<span id="lblFilmNo" class="NormalBold" style="width: 107px;">@AdjudicateFrame.FilmNo_Text
                                &nbsp; @Model.FilmNo</span> &nbsp; <span class="NormalBold" style="width: 107px;">@AdjudicateFrame.FrameNoSeq_Text</span>
                            &nbsp;
                            @Html.TextBox("FrameNo",null, new {Class="Normal", Readonly="readonly", style="width:71px;"})
                            &nbsp;
                            @Html.TextBox("Sequence", null, new { Class = "Normal", Readonly = "readonly", style = "width:29px;" })
                        </td>
                        <td align="center">
                            <span @(Model.SaveImageSettingsVisible ? "" : "style=display:none")>@Html.CheckBox("SaveImageSettings")<label
                                id="labelForSISet" for="SaveImageSettings" class="NormalBold">@AdjudicateFrame.labelForSISet_Text</label></span>
                            <span id="lblPageName" class="ContentHead" style="width: 345px; display:inline-block;">@Model.PageName</span>
                        </td>
                        <td align="right" width="35%">
                            <span id="lblMessage" class="NormalRed"></span>&nbsp; <span id="lblError" class="NormalRed"
                                style="display: inline-block; color: Red;">@Model.ErrorMessage</span> <span style="display:@ViewBag.AllowContinueDisplay">@Html.CheckBox("AllowContinue")<label
                                    for="AllowContinue" class="NormalBold">@AdjudicateFrame.lblRegistration_Text</label></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div id="pnlNatisData" style="border: 3px solid blue; display:@(Model.PnlNatisDataVisible ? "block" : "none");">
                    <table>
                        <tr>
                            <td style="width:100%;">
                                <table border="0" style="width: 100%;" class="Normal">
                                    <tr>
                                        <td style="width: 10%; text-align: center;">
                                            <span id="labNatis" style=" text-decoration:underline;">@AdjudicateFrame.Natis_Text</span>
                                        </td>
                                        <td style="width: 30%; text-align: left;">
                                            <span id="labNatisVehicleMake" style="width:250px;">@Model.LblNatisVehicleMakerText</span>
                                        </td>
                                        <td style="width: 30%; text-align: left;">
                                            <span id="labNatisVehicleType" style="width:250px;">@Model.LblNatisVehicleTypeText</span>
                                        </td>
                                        <td style="width: 30%; text-align: left;">
                                            <span id="labRegistrationNo" style="width:250px;">@Model.LblRegistrationNo</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: center;">
                                            <span id="labRejectionReason" style="font-size:medium" class="NormalBold"></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input id="btnResendNATIS"  class="NormalButton" style="width: 150px;
                                    height: 28px;" type="button" value="@AdjudicateFrame.btnResendNATIS_Text" name="Resend NATIS" />&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width:100%;">
                <table style="width:100%;">
                    <tr>
                        <td width="100%" style="width:100%;" align="center">
                            <table  style="width:100%;">
                                <tr>
                                    <td align="center" valign="top">
                                        <table style="width:100%;" class="NormalBold">
                                            <tr>
                                                <td valign="top">
                                                    <span class="NormalBold" style="display:inline-block; width:94px;">@AdjudicateFrame.Speed_Text</span>
                                                    </td>
                                                <td valign="top" style="width: 180px">
                                                    <span class="NormalBold" style="display:inline-block; width:161px;">@AdjudicateFrame.OffienceDate_Text</span>
                                                </td>
                                                <td valign="top">
                                                    <span class="NormalBold" style="display:inline-block; width:137px;">@AdjudicateFrame.VehicleMake_Text</span>
                                                </td>
                                                <td valign="top">
                                                    <span class="NormalBold" style="display:inline-block; width:138px;">@AdjudicateFrame.VehicleType_Text</span>
                                                </td>
                                                <td valign="top">
                                                    <span class="NormalBold" style="display:inline-block; width:137px;">@AdjudicateFrame.RegistrationNo_Text</span>
                                                </td>
                                                <td valign="top" align="left">
                                                <span id="lblRejection" class="NormalBold" style="display:@Model.LblRejectionDisplay; width:137px;">@AdjudicateFrame.ReasonRej_Text</span>
                                                </td>
                                                <td align="right" valign="top">
                                                    <input id="btnAccept"  class="NormalButton" style="width:150px; background-color:Red;" type="button" name="@Html.Raw(Model.BtnAcceptName)" value="@Html.Raw(Model.BtnAcceptValue)" />
                                                </td>
                                            </tr>
                                            <tr>
                                                    <td valign="top">
                                                        @Html.TextBox("FirstSpeed", null, new{Class="NormalMand", style="width:36px;", @readonly = "readonly"})
                                                        &nbsp;
                                                        @Html.TextBox("SecondSpeed", null, new { Class = "NormalMand", style = "width:36px;", @readonly = "readonly" })
                                                    </td>
                                                    <td valign="top">
                                                        @Html.TextBox("OffenceTime", null, new { Class = "NormalMand", style = "width:59px;", @readonly = "readonly" })
                                                        &nbsp;
                                                        @Html.TextBox("OffenceDate", null, new { Class = "NormalMand", style = "width:80px;", @readonly = "readonly" })
                                                    </td>
                                                    <td valign="top">
                                                        @Html.DropDownList("VehicleMaker", Model.VehicleMakers, new { style = "width:169px;", Class = "Normal", disabled = "disabled" })
                                                    </td>
                                                    <td valign="top">
                                                        @Html.DropDownList("VehicleType", Model.VehicleTypes, new { style = "width:169px;", Class = "Normal", disabled = "disabled" })
                                                        @Html.Hidden("NatisVehicleType", null, new { natisVtIntNo = Model.NatisVtIntNo })
                                                    </td>
                                                    <td valign="top">
                                                        @Html.TextBox("RegNo", Model.RegNo, new { style = "width:134px;", @readonly = "readonly", @class="NormalMand"})
                                                    </td>
                                                    <td valign="top" align="left">
                                                        @Html.DropDownList("RejectReason", Model.RejectReasons, new { style = "width:247px;display:" + Model.DdlRejectionDisplay, Class = "Normal", disabled = "disabled", onchange = "doChange(this);" })
                                                    </td>
                                                    <td align="right" valign="top">
                                                        <input id="btnChange" class="NormalButton" style="width: 150px; background-color: #0000FF;" type="button" onclick="AllowChange()"
                                                            value="@AdjudicateFrame.btnChange_Text"  />
                                                </td>
                                                </tr>
                                            <tr>
                                                <td valign="top" style="height: 13px">
                                                    <span>@AdjudicateFrame.Zone_Text</span> <span id="lblSpeedZone" style="width: 67px;
                                                        display: inline-block">@Model.SpeedZone</span>
                                                </td>
                                                <td valign="top" colspan="2" style="height: 13px">
                                                    <span>@AdjudicateFrame.Location_Text</span> <span id="lblLocationDescr">@Model.LocationDescr</span>
                                                </td>
                                                <td style="height: 13px" valign="top" colspan="2">
                                                    <span>@AdjudicateFrame.Officer_Text &nbsp;</span> <span id="lblOfficerDetails">@Model.OfficerDetails</span>
                                                </td>
                                                <td align="left" valign="top" style="height: 13px">
                                                </td>
                                                <td align="right" valign="top" style="height: 13px">
                                                    <input type="button" id="btnSaveSettingsForImage" class="NormalButton" 
                                                    style="width:150px;background-color: #00FFFF; color: #000000; display:@(Model.SaveSettingsForImageVisible ? "" : "none");" 
                                                    value="@AdjudicateFrame.btnSaveSettingsForImage_Text" />
                                                </td>
                                            </tr>
                                            <tr>
                                              <td valign="top" colspan="6" style="height:13px;"></td>
                                              <td valign="top" align="right" style="height:13px;">
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 10px;">
                                                        <tr style="display:@(ViewBag.ShowInvestigationReason ? "" : "none")">
                                                            <td colspan="2">
                                                                <div id="selectReason">
                                                                    <table width="100%">
                                                                        <tr>
                                                                            <td style="text-align:left;" class="@(ViewBag.ShowInvestigationReason ? "NormalRed" : "")">
                                                                                <span class="NormalBold">@AdjudicateFrame.IvestigateReason</span>
                                                                            </td>
                                                                            <td style="text-align: right;">
                                                                                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "reasonForm" }))
                                                                                {
                                                                                    @Html.DropDownList("InvestigateReason", Model.InvestigateReasons, VerifyFrame.PleaseSelect, new { style = "width:209px;margin-right:7px;", @class = ViewBag.ShowInvestigationReason ? "NormalRed" : "", disabled = "disabled" })
                                                                                    @Html.ValidationMessage("InvestigateReason")
                                                                                 }
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        @if (ViewBag.ShowInvestigation)
                                                        {
                                                            <tr>
                                                                <td>
                                                                </td>
                                                                <td align="right">
                                                                    <input type="button" id="investigate" value="@VerifyFrame.Investigate" class="NormalButton" style="width: 150px;" />
                                                                </td>
                                                            </tr>
                                                         }
                                                    </table>
                                              </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            @{Html.RenderAction("FrameDetail", new { frameIntNo = ViewBag.FrameIntNo });}
                            <table width="100%"  id="tableASD" style="display:@(ViewBag.TableASDVisible ? "" : "none")">
                                <tr>
                                    <td colspan="10" align="center">
                                        <label style="color: White; background-color: Blue; font-size: large">
                                           @(Model.IsBusLane ?AdjudicateFrame.BusLane_Text:AdjudicateFrame.OverSpeed_Text)</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right" class="SubContentHead">
                                        @AdjudicateFrame.SectionStart_Text
                                    </td>
                                    <td style="width: 10%; text-align: right" class="NormalBold">
                                        @AdjudicateFrame.GpsDateTime_Text
                                    </td>
                                    <td style="width: 10%">
                                        <input type="text" id="ASDGPSDateTime1" name="ASDGPSDateTime1" value="@Model.ASDGPSDateTime1" class="NormalBold" readonly="readonly" style="width:150px;color:gray;" />
                                    </td>
                                    <td style="width: 8%; text-align: right" class="NormalBold">
                                        @AdjudicateFrame.LaneNo_Text
                                    </td>
                                    <td>
                                        @Html.TextBox("ASDLane1", null, new { @class = "NormalBold", @readonly = "readonly", style = "width:67px;" })
                                    </td>
                                    <td style="text-align: right" class="SubContentHead">
                                        @AdjudicateFrame.SectionEnd_Text
                                    </td>
                                    <td style="width: 10%; text-align: right" class="NormalBold">
                                        @AdjudicateFrame.GpsDateTime_Text
                                    </td>
                                    <td style="width: 10%">
                                        <input type="text" id="ASDGPSDateTime2" name="ASDGPSDateTime2" value="@Model.ASDGPSDateTime2" class="NormalBold" readonly="readonly" style="width:150px;color:gray;" />
                                    </td>
                                    <td style="width: 8%; text-align: right" class="NormalBold">
                                        @AdjudicateFrame.LaneNo_Text
                                    </td>
                                    <td>
                                        @Html.TextBox("ASDLane2", null, new {@class="NormalBold", @readonly="readonly", style="width:67px;"})
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%">@*20130114 added by Nancy for show owner details*@
            <tr>
                <td align="left" valign="middle">
                    <input type="button" id="btnShowOwner" class="NormalButton" value="@VerifyFrame.BtnShowOwner_Text" 
                    style="width:200px; display:inline-block;" />
                    <span id="LabelMessageInfo" style="font-weight:bold;color:Red;font-size: 19px;"></span>
                </td>
                <td align="right">&nbsp;&nbsp;</td>
            </tr>
    </table>
</div>
    <table width="100%">
        <tr>
            <td width="70%">
@{
    Html.RenderAction("ImagePartialView", new{showPreView = true});
}
            </td>
            <td valign="top" align="center">
                <table width="100%">
                    <tr style="display:@(Model.IsInvestigation && !ViewBag.ShowInvestigationReason ? "" : "none")">
                    <td style="text-align:left;">
                        <span class="NormalBold">@AdjudicateFrame.VeBiComment_Txt</span>
                    </td>
                    <td  style="text-align:right;">
                        @Html.TextArea("VeBiComment", new {@class="NormalMand", style="width:209px;margin-right:5px;", @readonly="readonly", rows="3"})
                    </td>
                    </tr>
                </table>
                @*<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-bottom:10px;">
                    <tr style="display:@(ViewBag.ShowInvestigationReason ? "" : "none")">
                        <td colspan="2">
                        <div id="selectReason">
                            <table width="100%">
                            <tr>
                                <td style="text-align:left;" class="@(ViewBag.ShowInvestigationReason ? "NormalRed" : "")">
                                    <span class="NormalBold">@AdjudicateFrame.IvestigateReason</span>
                                </td>
                                <td  style="text-align:right;">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { id="reasonForm"}))
                                {
                                    @Html.DropDownList("InvestigateReason", Model.InvestigateReasons, VerifyFrame.PleaseSelect, new { style = "width:209px;margin-right:7px;", @class = ViewBag.ShowInvestigationReason ? "NormalRed" : "", disabled = "disabled" })
                                    @Html.ValidationMessage("InvestigateReason")
                                }
                                </td>                        
                            </tr>
                            </table>
                        </div>
                        </td>
                    </tr>
                    @if (ViewBag.ShowInvestigation)
                    {
                    <tr>
                        <td></td>
                        <td align="right">
                            <input type="button" id="investigate" value="@VerifyFrame.Investigate" class="NormalButton" style="width: 150px; margin-right: 9px;" />
                        </td>
                    </tr>
                    }
                </table>*@
                <div id="updateSpeedMsg">
                    <div id="speedMessagePanel" style="border:3px solid black; width:80%; display:@(Model.OverSpeedLimit40 ? "block" : "none");">
                        <table style="width: 100%;">
                            <tr>
                            <td align="center" style="color: Red; font-size: large; line-height: 30px; height: 60px;
                                vertical-align: bottom;">
                                    @AdjudicateFrame.SpeedOnly_Text
                                </td>
                            </tr>
                            <tr>
                            <td valign="middle" align="center" style="color: Red; font-size: large; height: 60px;
                                line-height: 30px; vertical-align: top;">
                                <span id="lblSpeedInfo1">@Model.LowerSpeed</span> <span>km/h</span>
                                    @Html.Raw(Model.OverSpeedLimit40 ? "" :"<embed src='images/Exclamation.wav' autostart='true' width='0' height='0' loop='false'></embed>")
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="speedMessagePane2" style="border:3px solid black; width:50%; display:@(Model.OverSpeedLimit40 ? "none" : "block");">
                            <table style="width: 100%;">
                                <tr>
                            <td align="center" style="color: Blue; font-size: medium; height: 40px; line-height: 20px;
                                vertical-align: bottom">
                                         @AdjudicateFrame.SpeedOnly_Text
                                    </td>
                                </tr>
                                <tr>
                            <td align="center" style="color: Blue; font-size: medium; height: 40px; line-height: 20px;
                                vertical-align: top">
                                <span id="lblSpeedInfo2">@Model.LowerSpeed</span> <span>km/h</span>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            <div>
                @{Html.RenderPartial("SecondaryOffencePartialView");}
            </div>
            </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
        <td class="SubContentHeadSmall" valign="top" style="width: 100%; display: none;"
            align="center">
            </td>
        </tr>
        <tr>
            <td align="right">
                <input id="btnClose" class="NormalButtonRed" type="button" value="@AdjudicateFrame.btnClose_Text" onclick="window.close();" />&nbsp;&nbsp;
            </td>
        </tr>
    </table>
@*<div>
    @{Html.RenderPartial("NatisPopupPartialView", new { ErrorNatisVTNull = Model.ErrorNatisVTNull, NatisVTString = Model.NatisVTString });}
</div>*@
    <script language="javascript" type="text/javascript">
    <!--
        setTimeout(enableButtons, 3000);
        rejectionReasonChange();

        function rejectionReasonChange() {

            var labRejectionReason = document.getElementById("labRejectionReason");

            if (labRejectionReason != null) {
                var selectedReason = $("#RejectReason>option:selected").text();
                document.getElementById("labRejectionReason").innerHTML = selectedReason;
                //document.getElementById("labRejectionReasonWarning").innerHTML = selectedReason;
                if ($("#RejectReason").val() != @Model.RejNoneValue) {
                    document.getElementById("pnlNatisData").style.backgroundColor = "#FF0000";
                    document.getElementById("labRejectionReason").style.display = "";
                }
                else {
                    document.getElementById("pnlNatisData").style.backgroundColor = "#FFFFFF";
                    document.getElementById("labRejectionReason").style.display = "none";
                }

                //if (document.getElementById("labRejectionReason").innerHTML == "@Html.Raw(AdjudicateFrame.labRejectionReason_Text1)") {
                if($("#RejectReason").val() == @Model.RejExpiredValue){
                    $("#btnAccept").val("@Html.Raw(AdjudicateFrame.btnAccept_Text1)");
                    $("#btnChange").attr("disabled", "disabled");
                    $("#btnResendNATIS").attr("disabled", "disabled");
                    $("#ddlRejection").attr("disabled", "disabled");
                }
                else {
                    $("#btnChange").removeAttr("disabled");
                    $("#btnResendNATIS").removeAttr("disabled");
                }
            }
        }

        function enableButtons() {
            // updated by LMZ 03-01-2007
            if (document.getElementById("btnAccept") != null) {
                document.getElementById("btnAccept").disabled = false;
            }

            if (document.getElementById("btnChange") != null && '@ViewBag.ISASD' != 'True') {
                document.getElementById("btnChange").disabled = false;
            }
        }

        function AllowChange() {
            document.getElementById("RegNo").readOnly = false;
            document.getElementById("RejectReason").disabled = false;
            document.getElementById("RejectReason").style.display = "";
            document.getElementById("lblRejection").style.display = "";
            document.getElementById("VehicleMaker").disabled = false;
            document.getElementById("VehicleType").disabled = false;
        }

        function window_onload() {
            //document.getElementById("mp").play();
            document.getElementById("lblMessage").style.display = "none";
        }


        function doChange(obj) {
            //var sValue = $("#RejctReason").val();
            var sValue = obj.value;
            //sValue = sValue.substr(sValue.indexOf('|') + 1, sValue.length)
            var nRegNo = 0;

            if (sValue == @Model.RejNoneValue) {
                $("#btnAccept").val("@Html.Raw(AdjudicateFrame.btnAccept_Text2)");
                $("#btnAccept").attr("name", "Prosecute")
                nRegNo = parseInt($("#RegNo").val());
                if (nRegNo == 0) {
                    if (document.getElementById("lblMessage").firstChild == null) {
                        document.getElementById("lblMessage").appendChild(document.createTextNode("@AdjudicateFrame.lblMessage_Text1"));
                    }
                    else {
                        document.getElementById("lblMessage").firstChild.nodeValue = "@AdjudicateFrame.lblMessage_Text1";
                    }
                    return;
                }
            }
            else {
                $("#btnAccept").val("@Html.Raw(AdjudicateFrame.btnAccept_Text1)");
                $("#btnAccept").attr("name", "Don't prosecute")
            }
            if (!$("#RegNo").val()) {
                document.getElementById("lblMessage").appendChild(document.createTextNode("@AdjudicateFrame.lblMessage_Text2"));
                return;
            }
            rejectionReasonChange();
        }
-->  
    </script>