﻿@using SIL.AARTO.Web.Resource.CameraManagement;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            var buttons = {};
            buttons["@Final.BtnContinue_Text"] = function () { window.location = '@Url.Action("PrepareVerifyFilm","CameraManagement")'; }
            buttons["@Final.BtnReturnMenu_Text"] = function () { window.close(); }
            $('#pnlContinue').dialog({
                autoOpen: false,
                //bgiframe: true,
                position: "center",
                resizable: false,
                width:430,
                modal: true,
                buttons: buttons
            });

            $("#btnAccept").click(function () {
                //if (confirm('Are you sure you want to finalise the verification for this film?')) {
                    $.ajax({
                        url: "@Url.Action("AcceptFinal", "CameraManagement")",
                        type:"POST",
                        success: function (data) { 
                            if (data.result == -2) {
                                window.location = "@Url.Action("login","Account")";
                            }
                            else
                            {
                                $("#lblError").text(data.message);
                            }
                        }
                    });
                    $("#pnlContinue").dialog("open");
                //}
            });
        });
    </script>
}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="height: 610px">
            &nbsp;&nbsp;
        </td>
        <td valign="top" align="left" colspan="1" style="height: 610px">
            <table border="0" width="100%">
                <tr>
                    <td valign="top" height="47">
                        <p align="center">
                            <span id="lblPageName" style="width:379px;display:inline-block;" class="ContentHead">@Final.lblPageName_Text</span></p>
                        <p align="center">
                            &nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" align="center" width="100%">
                        <table width="100%">
                            <tr>
                                <td style="height: 502px;" align="center" width="50%">
                                    <div id="pnlAdjudicate" style="">
                                        <table style="width: 257px">
                                            <tr>
                                                <td style="height: 92px">
                                                    <table style="width: 389px">
                                                        <tr>
                                                            <td style="width: 339px;text-align:left;">
                                                                <span id="lblSelAuthority" class="SubContentHead" style="width:235px;display:inline-block; ">@Final.lblSelAuthority_Text</span><br />
                                                            </td>
                                                            <td style="width: 3px">
                                                                <span id="lblAuthority" class="NormalBold" style="width:136px;display:inline-block;">@ViewBag.Authority</span><br />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 339px;text-align:left;">
                                                                <span id="Label8" class="SubContentHead" style="width:235px;display:inline-block;">@Final.Film_Text</span>
                                                            </td>
                                                            <td style="width: 3px; height: 20px">
                                                                <span id="lblFilmNo" class="NormalBold" style="width:136px;display:inline-block;">@ViewBag.FilmIntNo</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 139px; height: 21px;">
                                                            </td>
                                                            <td style="width: 3px; height: 21px;">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="height: 26px">
                                                    <input type="button" id="btnAccept" value="@Final.btnAccept_Text" class="NormalButton" style="width:296px;" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="pnlContinue" style="width:125px;height:50px;">
                                        <table style="width: 397px">
                                            <tr>
                                                <td align="center" style="height: 21px">
                                                    <span id="lblError" class="NormalRed"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="height: 21px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table style="width: 391px">
                                                        <tr>
                                                            <td align="center" style="width: 183px">
                                                                <input type="button" id="btnContinue" value="@Final.BtnContinue_Text" style="height:24px;width:191px;display:none;" class="NormalButton" />
                                                            </td>
                                                            <td align="center">
                                                                <input type="button" id="btnReturn" value="@Final.BtnReturnMenu_Text" class="NormalButton" style="height:24px;width:191px;display:none" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" style="display:none;" width="100%" border="0" height="5%">
                <tr>
                    <td class="SubContentHeadSmall" valign="top" width="100%">
                    </td>
                </tr>
            </table>
            </td>
    </tr>
</table>