﻿@using SIL.AARTO.Web.Resource.CameraManagement;
@model SIL.AARTO.Web.ViewModels.CameraManagement.FrameDetailModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section header{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<style type="text/css">
#tblOwnerDetails span{width:100px;display:inline-block;}
#tblOwnerDetails input{width:150px;height:22px;}
</style>
<script type="text/javascript">
    
    $(function () {
        $('#addressPanel').dialog({
            autoOpen: false, 
            position: [200,50],
            resizable: false,
            modal: true, 
            buttons: {
                "@FrameDetail.BtnOk_Text": function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    function updateFrameDetail() {
        var frameDetail = {
            ProxyID : getValueById("ProxyID"),
            ProxyName : getValueById("ProxyName"),
            ProxyIntNo : getValueById("ProxyIntNo"),
            ProxyInitials : getValueById("ProxyInitials"),
            ProxyPostalAdd1 : getValueById("ProxyPostalAdd1"),
            ProxyPostalAdd2 : getValueById("ProxyPostalAdd2"),
            ProxyPostalAdd3 : getValueById("ProxyPostalAdd3"),
            ProxyPostalAdd4 : getValueById("ProxyPostalAdd4"),
            ProxyStreetAdd1 : getValueById("ProxyStreetAdd1"),
            ProxyStreetAdd2 : getValueById("ProxyStreetAdd2"),
            ProxyStreetAdd3 : getValueById("ProxyStreetAdd3"),
            ProxyStreetAdd4 : getValueById("ProxyStreetAdd4"),
            ProxyPostalCode : getValueById("ProxyPostalCode"),

            OwnerID : getValueById("OwnerID"),
            OwnerName : getValueById("OwnerName"),
            OwnerIntNo : getValueById("OwnerIntNo"),
            OwnerInitials : getValueById("OwnerInitials"),
            OwnerPostalAdd1 : getValueById("OwnerPostalAdd1"),
            OwnerPostalAdd2 : getValueById("OwnerPostalAdd2"),
            OwnerPostalAdd3 : getValueById("OwnerPostalAdd3"),
            OwnerPostalAdd4 : getValueById("OwnerPostalAdd4"),
            OwnerPostalAdd5 : getValueById("OwnerPostalAdd5"),
            OwnerStreetAdd1 : getValueById("OwnerStreetAdd1"),
            OwnerStreetAdd2 : getValueById("OwnerStreetAdd2"),
            OwnerStreetAdd3 : getValueById("OwnerStreetAdd3"),
            OwnerStreetAdd4 : getValueById("OwnerStreetAdd4"),
            OwnerPostalCode : getValueById("OwnerPostalCode"),

            DriverID : getValueById("DriverID"),
            DriverName : getValueById("DriverName"),
            DriverIntNo : getValueById("DriverIntNo"),
            DriverInitials : getValueById("DriverInitials"),
            DriverPostalAdd1 : getValueById("DriverPostalAdd1"),
            DriverPostalAdd2 : getValueById("DriverPostalAdd2"),
            DriverPostalAdd3 : getValueById("DriverPostalAdd3"),
            DriverPostalAdd4 : getValueById("DriverPostalAdd4"),
            DriverPostalAdd5 : getValueById("DriverPostalAdd5"),
            DriverStreetAdd1 : getValueById("DriverStreetAdd1"),
            DriverStreetAdd2 : getValueById("DriverStreetAdd2"),
            DriverStreetAdd3 : getValueById("DriverStreetAdd3"),
            DriverStreetAdd4 : getValueById("DriverStreetAdd4"),
            DriverPostalCode : getValueById("DriverPostalCode")
        }

        $.ajax({
            url: "@Url.Action("UpdateFrameDetail", "CameraManagement")",
            type:"POST",
            dataType: "json",
            data:frameDetail,
            success: function (data) { 
                if (data.result == -2) {
                    window.location = "@Url.Action("login","Account")";
                }
                else if(data.result == -1)
                {
                    if (data.data.focus) {
                        $("#" + data.data.focus).focus();
                    }
                    $("#LabelMessage").text(data.data.errorMessage);
                }
                else
                {
                    $("#LabelMessageInfo").text(data.data.message);
                    $('#addressPanel').dialog('close');
                }
            }
        });
    }

    function getValueById(id)
    {
        var str = $("#" + id).val();
        if (str) {
            return str
        }
        else
        {
            return "";
        }
    }

</script>
}
<div id="addressPanel" style="display:none;" class="modalPopup">
    <div>
        <table id="tblOwnerDetails">
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.OwnerDetails_Text</span>
            </td>
            <td >
                &nbsp;</td>
            <td>
                <span class="NormalBold">@FrameDetail.DriverDetails_Text</span>
            </td>
            <td>
                &nbsp;</td>
            <td colspan="2" class="proxy">
                <span class="NormalBold" id="lblProxy" style="width:202px;">@FrameDetail.ProxyDetails_Text</span>
            </td>
        </tr>
        <tr>
            <td >
                <span id="lblOwnerIntNo" class="NormalBold" style="display:none;">@FrameDetail.OwnerIntNo_Text</span>
            </td>
            <td >
                @Html.Hidden("OwnerIntNo", null)
            </td>
            <td >
                <span id="lblDriverIntNo" class="NormalBold" style="display:none;">@FrameDetail.DriverIntNo_Text</span>
            </td>
            <td >
                @Html.Hidden("DriverIntNo", null)
            </td>
            <td  class="proxy">
                <span id="lblProxyIntNo" class="NormalBold" style="display:none;">@FrameDetail.ProxyIntNo_Text</span>
            </td>
            <td  class="proxy">
                @Html.Hidden("ProxyIntNo", null)
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.Name_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerName", null)
                @Html.ValidationMessage("OwnerName")
            </td>
            <td >
                <span class="NormalBold">@FrameDetail.Name_Text</span>
            </td>
            <td >
                @Html.TextBox("DriverName", null)
                @Html.ValidationMessage("DriverName")

            </td>
            <td  class="proxy">
                <span id="lblProxyName" class="NormalBold">@FrameDetail.Name_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyName", null)
                @Html.ValidationMessage("ProxyName")
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.Initials_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerInitials", null)
                @Html.ValidationMessage("OwnerInitials")
            </td>
            <td>
                <span class="NormalBold">@FrameDetail.Initials_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverInitials", null)
                @Html.ValidationMessage("DriverInitials")
            </td>
            <td  class="proxy">
                <span id="lblProxtinitials" class="NormalBold">@FrameDetail.Initials_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyInitials", null)
                @Html.ValidationMessage("ProxyInitials")
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.Id_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerID", null)
                @Html.ValidationMessage("OwnerID")
            </td>
            <td style="height: 27px">
                <span class="NormalBold" >@FrameDetail.Id_Text</span>
            </td>
            <td style="height: 27px">
                @Html.TextBox("DriverID", null)
                @Html.ValidationMessage("DriverID")
            </td>
            <td style="height: 27px"  class="proxy">
                <span id="lblProxyID" class="NormalBold">@FrameDetail.Id_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyID", null)
                @Html.ValidationMessage("ProxyID")
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.PostalAddress1_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerPostalAdd1", null)
                @Html.ValidationMessage("OwnerPostalAdd1")
            </td>
            <td>
                <span class="NormalBold">@FrameDetail.PostalAddress1_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverPostalAdd1", null)
                @Html.ValidationMessage("DriverPostalAdd1")
            </td>
            <td  class="proxy">
                <span id="lblProxyPostAddr" class="NormalBold">@FrameDetail.PostalAddress1_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyPostalAdd1", null)
                @Html.ValidationMessage("ProxyPostalAdd1")
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.PostalAddress2_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerPostalAdd2", null)
                @Html.ValidationMessage("OwnerPostalAdd2")
            </td>
            <td>
                <span class="NormalBold">@FrameDetail.PostalAddress2_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverPostalAdd2", null)
                @Html.ValidationMessage("DriverPostalAdd2")
            </td>
            <td  class="proxy">
                <span id="lblProxyPostAddr2" class="NormalBold">@FrameDetail.PostalAddress2_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyPostalAdd2", null)
                @Html.ValidationMessage("ProxyPostalAdd2")
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.PostalAddress3_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerPostalAdd3", null)
                @Html.ValidationMessage("OwnerPostalAdd3")
            </td>
            <td>
                <span class="NormalBold">@FrameDetail.PostalAddress3_Text </span>
            </td>
            <td>
                @Html.TextBox("DriverPostalAdd3", null)
                @Html.ValidationMessage("DriverPostalAdd3")
            </td>
            <td  class="proxy">
                <span id="lblProxyPostAddr3" class="NormalBold">@FrameDetail.PostalAddress3_Text </span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyPostalAdd3", null)
                @Html.ValidationMessage("ProxyPostalAdd3")
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.PostalAddress4_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerPostalAdd4", null)
                @Html.ValidationMessage("OwnerPostalAdd4")
            </td>
            <td>
                <span class="NormalBold">@FrameDetail.PostalAddress4_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverPostalAdd4", null)
                @Html.ValidationMessage("DriverPostalAdd4")
            </td>
            <td class="proxy">
                <span id="lblProxyPostAddr4" class="NormalBold">@FrameDetail.PostalAddress4_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyPostalAdd4", null)
                @Html.ValidationMessage("ProxyPostalAdd4")
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.PostalAddress5_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerPostalAdd5", null)
                @Html.ValidationMessage("OwnerPostalAdd5")
            </td>
            <td>
                <span id="lblDriverPostAddr5" class="NormalBold">@FrameDetail.PostalAddress5_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverPostalAdd5", null)
                @Html.ValidationMessage("DriverPostalAdd5")
            </td>
            <td>
                &nbsp;</td>
            <td >
                                                                          
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.StreetAddress1_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerStreetAdd1", null)
            </td>
            <td>
                <span class="NormalBold">@FrameDetail.StreetAddress1_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverStreetAdd1", null)
            </td>
            <td  class="proxy">
                <span id="lblProxyStrAddr" class="NormalBold">@FrameDetail.StreetAddress1_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyStreetAdd1", null)
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.StreetAddress2_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerStreetAdd2", null)
            </td>
            <td>
                <span class="NormalBold" >@FrameDetail.StreetAddress2_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverStreetAdd2", null)
            </td>
            <td  class="proxy">
                <span id="lblProxyStrAddr2" class="NormalBold" >@FrameDetail.StreetAddress2_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyStreetAdd2", null)
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.StreetAddress3_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerStreetAdd3", null)
            </td>
            <td>
                <span class="NormalBold" >@FrameDetail.StreetAddress3_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverStreetAdd3", null)
            </td>
            <td  class="proxy">
                <span id="lblProxyStrAddr3" class="NormalBold" >@FrameDetail.StreetAddress3_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyStreetAdd3", null)
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.StreetAddress4_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerStreetAdd4", null)
            </td>
            <td>
                <span class="NormalBold" >@FrameDetail.StreetAddress4_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverStreetAdd4", null)
            </td>
            <td  class="proxy">
                <span id="lblProxyStrAddr4" class="NormalBold" >@FrameDetail.StreetAddress4_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyStreetAdd4", null)
            </td>
        </tr>
        <tr>
            <td >
                <span class="NormalBold">@FrameDetail.PostalCode_Text</span>
            </td>
            <td >
                @Html.TextBox("OwnerPostalCode", null)
            </td>
            <td>
                <span class="NormalBold">@FrameDetail.PostalCode_Text</span>
            </td>
            <td>
                @Html.TextBox("DriverPostalCode", null)
            </td>
            <td  class="proxy">
                <span class="NormalBold">@FrameDetail.PostalCode_Text</span>
            </td>
            <td  class="proxy">
                @Html.TextBox("ProxyPostalCode", null)
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <span id="LabelMessage" style="font-weight:bold;width:auto;color:Red;"></span>
            </td>
        </tr>
        </table> 
    </div>                                                              
</div>

