﻿@using SIL.AARTO.Web.Resource.CameraManagement;

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.rightClick.js")"></script>
<script src="@Url.Content("~/Scripts/WebService.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.mouse.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui/jquery.ui.slider.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Css/SlideBar.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
//Mulity language strings
//Zoom.js
var lblError = "@Html.Raw(ImagePartialView.lblError_Text)";
var lblFeedback1 = "@Html.Raw(ImagePartialView.lblFeedback_Text1)";
var lblFeedback2 = "@Html.Raw(ImagePartialView.lblFeedback_Text2)";
var lblFeedback3 = "@Html.Raw(ImagePartialView.lblFeedback_Text3)";
var lblFeedback4 = "@Html.Raw(ImagePartialView.lblFeedback_Text4)";
var alert1 = "@Html.Raw(ImagePartialView.alert_Text)";

//WebService.js
var msg_Text1 = "@Html.Raw(ImagePartialView.msg_Text1)";
var msg_Text2 = "@Html.Raw(ImagePartialView.msg_Text2)";
var lblMessage = "@Html.Raw(ImagePartialView.lblMessage_Text)";

    var mainImageID = "mainImage";
    function InitSliderB(val) {
        var sliderB = $("#brightness");
        var sliderBright = $("#sliderBright").slider({
            min: -100,
            max: 100,
            range: "min",
            value: val * 10,
            slide: function (event, ui) {
                sliderB.val((ui.value / 10).toFixed(1));
            }
        });
        sliderB.blur(function () {
            sliderBright.slider("value", parseFloat(this.value) * 10);
        });
        sliderB.val(val);
    }

    function InitSliderC(val) {
        var sliderC = $("#contrast");
        var sliderContrust = $("#sliderContrust").slider({
            min: 1,
            max: 100,
            range: "min",
            value: val * 10,
            slide: function (event, ui) {
                sliderC.val((ui.value / 10).toFixed(1));
            }
        });
        sliderC.blur(function () {
            sliderContrust.slider("value", parseFloat(this.value) * 10);
        });
        sliderC.val(val);
    }

    var params = @Html.Raw(ViewBag.Parameters);
    $(function(){
        InitSliderB($("#brightness").val());
        InitSliderC($("#contrast").val());
        initParms(params.ImageUrls, '@Url.Action("Image","CameraManagement")');
        LoadImage(params); 
    });

    function initParms(params, baseurl){
        var urls = params;
        for (var i = 0; i < urls.length; i++) {
            urls[i] = baseurl + urls[i];
        }
    }
</script>
<style type="text/css">
.sideImageSpan{font-family: Tahoma;font-size: xx-small;}
</style>

<table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td align="center" valign="middle">
                                <table cellpadding="0" cellspacing="0" style="font-family:Verdana; font-size:xx-small;">
                                    <tr>
                                        <td style="border: solid 1px black; font-weight:700;">
                                            <span id="mainImageTitle">@ImagePartialView.MainViewer_Text</span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <input id="lblImageSettingsSaved" type="text" value="(@ImagePartialView.lblImageSettingsSaved_Text)" style='color:Red; width:500px; font-weight:700;' />&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black; ">
                                             <div id="mainImageDiv" style="width:657px; height:420px; line-height:420px; overflow:hidden; position:relative; ">
                                                <div id="rect" class="Rect" style="opacity: 0.5;">
                                                </div>
                                              </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <span id="lblFeedback" runat="server" style="border-right: black 1px solid; border-top: black 1px solid;
                                    border-left: black 1px solid; width: 657px; border-bottom: black 1px solid;"
                                    class="NormalRed">&nbsp;@ImagePartialView.lblFeedback_Text</span>
                                <table border="0" cellpadding="0" cellspacing="1" width="100%">
                                    <tr>
                                        <td align="center" valign="bottom" style="height: 24px">
                                            <div style="padding-left:5px;">
                                                <input id="btnZoom" class="NormalButton" type="button" value="@ImagePartialView.BtnZoom_Text" style="width: 150px" />&nbsp;
                                                <input id="btnCrossHairs" class="NormalButton" type="button" onclick="CrossHairs();" visible="false" value="@ImagePartialView.BtnShowCroxx_Text" style="width: 150px"/>&nbsp;
                                                
                                                <input id="btnCenter" class="NormalButton" type="button"  value="@ImagePartialView.BtnCenter_Text" style="width: 150px" />&nbsp;
                                                <input id="btnZoomOriginalImage" class="NormalButton" type="button" onclick="OriginalImage();" value="@ImagePartialView.BtnOriginal_Text" style="width:150px"/>
                                                <br />
                                                <input id="btnRbZoom" class="NormalButton" type="button" value="@ImagePartialView.BtnRubberBand_Text" style="width: 150px;" />&nbsp;

                                                <input id="btnCrossHairsHide" class="NormalButton" type="button" onclick="HideCrossHairs();" visible="false" value="@ImagePartialView.BtnHideCross_Text" style="width: 150px"/>&nbsp;
                                                <input id="btnInvert" class="NormalButton" type="button" onclick="Invert();" value="@ImagePartialView.BtnInvert_Text" style="width:150px"/>&nbsp;
                                                <input id="btnZoomReset" class="NormalButton" type="button" onclick="Reset();" value="@ImagePartialView.BtnReset_Text" style="width:150px"/>
                                            </div>
                                            <table style="width:100%; height: 28px;">
                                                <tr><td valign="middle" style="width:50%; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black;">
                                                <div style="padding-left:2px;">
                                                    <div style="width: 120px; float:left; ">
                                                    <table><tr><td>
                                                        <div id="sliderContrust" style="width:150px;"></div>
                                                    </td>
                                                    <td>
                                                    <input type="text" id="contrast" value="1.0" style="width:30px;" />
                                                    </td></tr></table>
                                                    </div>
                                                    <div style="float:right; width: 120px;">
                                                    <input id="btnContrast" class="NormalButton" type="button" onclick="btnContrast_Click();" value="@ImagePartialView.btnContrast_Text" style="width:120"/></div>
                                                </div></td>
                                                <td valign="middle" style="border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black;">
                                                <div style="padding-left:2px; ">
                                            <div style="width: 120px; float:left; ">
                                             <table><tr><td>
                                                <div id="sliderBright" style="width:150px;"></div>
                                             </td>
                                            <td><input type="text" id="brightness" value="0.0" style="width:30px;" /></td></tr></table>
                                            </div>
                                            <div style="float:right; width: 120;">
                                            <input id="btnBrightness" class="NormalButton" type="button" onclick="btnBrightness_Click();" value="@ImagePartialView.btnBrightness_Text" style="width:120px"/>
                                                </div>
                                            </div>
                                            </td></tr></table>
                                        </td>
                                    </tr>
                                </table>
                                <input type="button" class="NormalButton" id="btnFirst" onclick="btnFirst_Click();" value="|<" class="NormalButton" />&nbsp;
                                <input type="button" class="NormalButton" id="btnPrevious" onclick="btnPrevious_Click();" value="<<" class="NormalButton" />&nbsp;
                                <select id="ddlScan" onchange="ddlScan_SelectedIndexChanged();" style="width:297px"></select>&nbsp;
                                <input type="button" class="NormalButton" id="btnNext" onclick="btnNext_Click();" value=">>" class="NormalButton" />&nbsp;
                                <input type="button" class="NormalButton" id="btnLast" onclick="btnLast_Click();"  value=">|" class="NormalButton" />&nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" align="center">
                    <table>
                        <tr>
                            <td align="center" valign="middle">
                                <div id="regDiv">
                                <div id="regArea">
                                    <table cellpadding="0" cellspacing="0" style="font-family:Tahoma; font-size:xx-small;">
                                        <tr>
                                            <td style="border: solid 1px black;">
                                                <span id="regImageTitle" class="sideImageSpan">@ImagePartialView.Registration_Text</span>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black; ">
                                                 <div id="regImageDiv" style="width:160px; height:100px; line-height:100px;">
                                                    <img id="regImage" src="" width="160px" height="100px"/>
                                                </div>
                                            </td>
                                        </tr>                                    
                                    </table>
                                </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle" style="width:160px;">
                            <div id="pre1Div">
                            <div style="border-style: none; border-color: inherit; border-width: 1; background-color:#6977B0; width:100%; font:white" >
                            <input  type="radio"  id="rdoPreviewA" onclick="rdoPreviewA_CheckedChanged();" name="rdoPreview"  checked="checked"/>
                            <label>@ImagePartialView.lbl1stImage_Text</label></div>
                                <div id="pre1Area">
                                    <table cellpadding="0" cellspacing="0" style="font-family:Tahoma; font-size:xx-small;">
                                        <tr>
                                            <td style="border: solid 1px black;">
                                                <span id="pre1ImageTitle" class="sideImageSpan">@ImagePartialView.PreView1stImage_Text</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black; ">
                                                 <div id="pre1ImageDiv" style="width:160px; height:100px; line-height:100px; overflow:hidden; position:relative; ">
                                                    <img id="pre1Image" src="" width="160px" height="100px"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr  id="pre1ImageCaptionRow" runat="server" style=" display:none;">
                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black; ">
                                                <span id="pre1ImageCaption">@ImagePartialView.DragPostion_Text</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle">
                            <div id="pre2Div">
                            <div style="border-style: none; border-color: inherit; border-width: 1; background-color:#6977B0; width:100%; font:white" >
                             <input  type="radio" id="rdoPreviewB" onclick="rdoPreviewB_CheckedChanged();" name="rdoPreview"  value="2"/>
                                    <label>@ImagePartialView.lbl2stImage_Text</label></div>
                                <div id="pre2Area">
                                    <table cellpadding="0" cellspacing="0" style="font-family:Tahoma; font-size:xx-small;">
                                        <tr>
                                            <td style="border: solid 1px black;">
                                                <span id="pre2ImageTitle">@ImagePartialView.PreView2stImage_Text</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black; ">
                                                 <div id="pre2ImageDiv" style="width:160px; height:100px; line-height:100px; overflow:hidden; position:relative; ">
                                                    <img id="pre2Image" src="" width="160px" height="100px"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr  id="pre2ImageCaptionRow" style="display:none;">
                                            <td style="border-top: none none none; border-right: solid 1px black; border-bottom: solid 1px black; border-left: solid 1px black; ">
                                                <span id="pre2ImageCaption">@ImagePartialView.DragPostion_Text</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

<script type="text/javascript" src="@Url.Content("~/Scripts/Zoom.js")"></script>


