﻿@using SIL.AARTO.Web.Resource.CameraManagement;
<script type="text/javascript">
        var ValidationStatus;
        $(function () {
            $("#popupVTDiff").dialog({
                autoOpen: false,
                //bgiframe: true, 
                position: [300, 200],
                resizable: false,
                modal: true,
                width: 800
            });

            $("#btnSelNatisVT").button().click(function () {
                var natisVtIntNo = $("#NatisVehicleType").attr("natisVtIntNo");
                $("#VehicleType").val(natisVtIntNo);
                document.getElementById("VehicleType").disabled = false;
                if (ValidationStatus) {
                    Action(ValidationStatus, $("#btnAccept").attr("name"), "@Url.Action("UpdateFrame", "CameraManagement")");
                }
                $("#popupVTDiff").dialog("close");
            });

            $("#btnSelCapVT").button().click(function () {
                //$("#popupConfirm").dialog("open");
                //$("#btnCapCancel").focus();

                if (ValidationStatus) {
                    Action(ValidationStatus, $("#btnAccept").attr("name"), "@Url.Action("UpdateFrame", "CameraManagement")");
                }
                $("#popupVTDiff").dialog("close");
            });

            //$("#popupConfirm").dialog({
            //    autoOpen: false,
            //    //bgiframe: true, 
            //    position: "center",
            //    resizable: false,
            //    modal: true,
            //    width: 400
            //});

            @*$("#btnCapOk").button().click(function () {
                if (ValidationStatus) {
                    Action(ValidationStatus, $("#btnAccept").attr("name"), "@Url.Action("UpdateFrame", "CameraManagement")");
                }
                $("#popupVTDiff").dialog("close");
                $("#popupConfirm").dialog("close");
            });*@

            //$("#btnCapCancel").button().click(function () {
            //    $("#popupVTDiff").dialog("close");
            //    $("#popupConfirm").dialog("close");
            //});
        });

        function checkNatisCapVT(proName, valStatus) {
            if (proName == "Accept" || proName == "Prosecute") {
                var natisVtIntNo = $("#NatisVehicleType").attr("natisVtIntNo");
                var vtIntNo = $("#VehicleType").val();
                $("#spanSelNatisVT").text("@NatisPopupPartialView.NatisVTStr @Model.NatisVTString");
                $("#spanSelNatisVT").removeAttr("style");
                $("#btnSelNatisVT").button("option", "disabled", false);
                if (natisVtIntNo == 0) {
                    $("#spanSelNatisVT").text("@Html.Raw(Model.ErrorNatisVTNull)").attr("style","color:red;");
                    $("#btnSelNatisVT").button("option", "disabled", true);
                }
                if (natisVtIntNo != vtIntNo) {
                    $.ajax({
                        url: "@Url.Action("GetVehicleTypeStr", "CameraManagement")",
                        dataType: "json",
                        type: "post",
                        data: { vtIntNo: $("#VehicleType").val() },
                        success: function (result) {
                            if (result.result == -2) {
                                window.location = "@Url.Action("login", "Account")";
                            } else if (result.result == 0) {
                                $("#spanCapVTStr").text(result.capVtStr);
                                ValidationStatus = valStatus;
                                $("#popupVTDiff").dialog("open");
                                if (natisVtIntNo == 0) $("#btnSelCapVT").focus();
                                else $("#btnSelNatisVT").focus();
                            }
                        }
                    });
                    return true;
                }
            }
            return false;
        }
    </script>
<div id="popupVTDiff">
    <table align="center" width="100%" style="text-align:center;margin-bottom:10px;">
        <tr><td colspan="2" style="font-size:14px;line-height:40px;">
            <span>@NatisPopupPartialView.NatisVTDiffCapVT</span>
        </td></tr>
        <tr style="line-height:20px;"><td>
            <span id="spanSelNatisVT"></span>
        </td><td>
            <span>@NatisPopupPartialView.CapVTStr <span id="spanCapVTStr"></span></span>
        </td></tr>
        <tr style="line-height:40px;"><td>
            <span><input id="btnSelNatisVT" type="button" value="Select NATIS Vehicle Type" /></span>
        </td><td>
            <span><input id="btnSelCapVT" type="button" value="Select Captured Vehicle Type" /></span>
        </td></tr>
    </table>
</div>
@*<div id="popupConfirm">
    <table align="center" width="100%" style="text-align:center;margin-bottom:10px;">
        <tr><td colspan="2"" style="font-size:14px;line-height:40px;">
            <span>@NatisPopupPartialView.ConfirmOverNatis</span>
        </td></tr>
        <tr style="line-height:60px;"><td>
            <span><input id="btnCapOk" type="button" value="OK" /></span>
        </td><td>
            <span><input id="btnCapCancel" type="button" value="@NatisPopupPartialView.Cancel" /></span>
        </td></tr>
    </table>
</div>*@