﻿<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src='@Url.Content("~/RootPathHandler.ashx")' type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CameraManagement/SecondaryOffence.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
<br />
<br />
<div id="secondaryOffenceMessagePanel" style="border: 3px solid black; width: 80%;
    display: none;">
    <table style="width: 100%;">
        <tr>
            <td align="center" style="color: Red; font-size: large; line-height: 30px; height: 60px;
                vertical-align: bottom;">
                Secondary Offence
            </td>
        </tr>
        <tr>
            <td valign="middle" align="center" style="color: Red; font-size: large; height: 60px;
                line-height: 30px; vertical-align: top;">
                <span id="lblScondaryOffenceValue"></span>
            </td>
        </tr>
    </table>
</div>
<div id="secondaryOffenceButtonPanel" style="border: 0; width: 80%; display: none;">
    <table style="width: 100%;">
        <tr id="tr_SecondaryOffenceCodes">
            <td>
                <label class="fieldLable" for="txt_SecondaryOffenceCodes">
                    Secondary Offence Codes:
                </label>
            </td>
            <td>
                <input id="txt_SecondaryOffenceCodes" class="TextBoxReadOnly" name="SecondaryOffenceCodes"
                    readonly="readonly" />
            </td>
        </tr>
        <tr id="tr_SecondaryOffence">
            <td>
            </td>
            <td>
                <input style="width: 160px" id="btn_SecondaryOffence" class="NormalButton" name="SecondaryOffence"
                    value="Add Secondary Offence" type="button" />
            </td>
        </tr>
    </table>
</div>
<!----Jerry 2013-04-16  popup for Secondary Offence---->
<div id="PanelForSecondaryOffencePopup" style="display:none;">
    <div>
        <div id="divMsgSecondaryOffence" class="officerErrorWrapper">
        </div>
        <div>
            Please choose one or more of the following secondary offences!
        </div>
        <div id="divSecondaryOffenceGroup" style="padding-top: 25px;">
        </div>
        <div style="padding-top: 25px;">
            <div style="text-align: center;">
                <input id="btnOk" type="button" value=" OK " class="NormalButton" />&nbsp;&nbsp;<input
                    id="btnCancel" type="button" value=" Cancel " class="NormalButton" />
            </div>
        </div>
    </div>
</div>
<!-------end popup for Secondary Offence-------------->

<!----Jerry 2013-04-26  popup for reject reason confirm---->
<div id="PanelForRejectPopup" style="display:none;">
    <div>
        <div id="divMsgReject" class="officerErrorWrapper">
        </div>
        <div>
            This frame has a linked secondary offence. Do you wish to reject the secondary offence(s)
            as well?
        </div>
        <div id="div3" style="padding-top: 25px;">
        </div>
        <div style="padding-top: 25px;">
            <div style="text-align: center;">
                <input id="btnRejectYes" type="button" value=" Yes " class="NormalButton" />&nbsp;&nbsp;&nbsp;&nbsp;<input
                    id="btnRejectNo" type="button" value="   No  " class="NormalButton" />
            </div>
        </div>
    </div>
</div>
<!-------end popup for reject reason confirm-------------->
