﻿@model SIL.AARTO.Web.ViewModels.CameraManagement.InvestigateReasonModel
@using SIL.AARTO.Web.Resource.CameraManagement;
@using SIL.AARTO.Web.Helpers.Paginator;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#btnOptAdd").click(function () {
            initForm();
        });
    });

    function showForm(obj) {
        var row = $(obj).parent().parent().children();
        $("#InReIntNo").val($(obj).attr("intId"));
        $.ajax({ 
            url: "@Url.Action("GetInReLangList", "CameraManagement")",
            type:"POST",
            dataType: "json",
            data:{ inReIntNo : $(obj).attr("intId")},
            success: function (data) { 
                if (data.result == -2) {
                    window.location = "@Url.Action("login","Account")";
                }
                else
                {
                    initForm(data.data, row);
                }
            }
        });
    }

    function initForm(obj, row) {
        if (obj) {
            if (obj.LanguageList.length == 0) {
                $("#LanguageLookupTb input").val("");
                $("#mul_en-US").val($(row[0]).text());
            }
            else
            {
                for (var i = 0; i < obj.LanguageList.length; i++) {
                    $("#mul_" + obj.LanguageList[i].LsCode).val(obj.LanguageList[i].LookupValue);
                }
            }
            $("#InReIntNo").val(obj.InReIntNo);
            $("#formTable").show();
            $("#btnAddInReason").val("@ShowInReList.btnAddInReason_Update");
        }
        else {
            $("#InReIntNo").val("0");
            $("#LanguageLookupTb input").val("");
            $("#formTable").show();
            $("#btnAddInReason").val("@ShowInReList.btnAddInReason_Add");
        }
    }
</script>
<style type="text/css">
.listTable
{
    border-collapse: collapse;
    border-color: Black;
    font-size: 8pt;
    width: 695px;
    border: 1px solid black;
}
.footerStyle
{
    text-align:right;
    height:18px;
}
</style>
<div>
<table width="100%" height="10%" cellspacing="0" cellpadding="0" border="0" id="Table5">
    <tbody><tr>
        <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color:#fff">
        </td>
    </tr>
</tbody>
</table>
<table height="85%" cellspacing="0" cellpadding="0" border="0" id="Table6">
            <tbody><tr>
                <td valign="top" align="center" style="width: 182px">
        <div id="pnlMainMenu">
        </div>
    <div style="border-color:Black;border-width:1px;border-style:Solid;width:146px;margin:20px;" id="pnlSubMenu">
    <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
		<tbody>
            <tr>
			<td align="center">
                <span style="display:inline-block;width:118px;" class="ProductListHead" id="Label1">@ShowInReList.Options</span></td>
		    </tr>
		    <tr>
			    <td align="center">
                    <input type="button" style="width:135px;" class="NormalButton" id="btnOptAdd" value="@ShowInReList.Add" name="btnOptAdd" />
                </td>
		    </tr>
		    <tr>
			    <td align="center">
                </td>
		    </tr>
		    <tr>
			    <td height="21" align="center"></td>
		    </tr>
	    </tbody>
    </table>
	
                    
</div>
                </td>
                <td width="100%" valign="top" align="left" colspan="1">
                    <table width="568"border="0" id="Table7" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                            <td valign="top" height="47">
                                <p align="center">
                                    <span style="display:inline-block;width:379px;" class="ContentHead" id="lblPageName">@ShowInReList.InReasons</span></p>
                                <p>
                                    <span class="NormalRed" id="lblError">@Model.ErrorMsg</span></p>
                            </td>
                        </tr>

        <tr>
        <td>
        @using (Html.BeginForm("InvestigateReasonList", "CameraManagement"))
        {
        <table>
            <tr>
                <td >
                    <span style="display:inline-block;width:200px;" class="NormalBold" id="lblSelection">@ShowInReList.EnterParReas</span>
                </td>
                <td >
                    @Html.TextBox("SearchStr",null,new {@class="Normal", style="width:307px;"})
                    @Html.ValidationMessage("SearchStr")
                </td>
                <td >
                    <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@ShowInReList.Search" name="btnSearch" />
                </td>
            </tr>
        </table>
        }
        </td>
        </tr>
                        <tr>
                            <td valign="top">
<div id="Panel1">
@{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "searchStr=" + Model.SearchStr});}
@{WebGrid grid = new WebGrid(Model.PageInvestigateReasons,canPage:false);}
@(Model.PageInvestigateReasons.Count > 0 ? grid.Table(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
footerStyle: "CartListHead footerStyle",
footer: footer => Html.Raw(strPage),
columns: grid.Columns(
    grid.Column("InReason", ShowInReList.InReason, canSort: false, style: "CartListItem"),
    grid.Column(
                format: item => Html.ActionLink(ShowInReList.Edit, "Edit", null, new { onclick = string.Format("showForm(this)"), intId = item.InReIntNo, href = "JavaScript:void(0)" })
                , style: "CartListItem"
    ),
    grid.Column(format: (item) => Html.ActionLink(ShowInReList.Delete, "DeleteInvestigateReason", new { inReIntNo = item.InReIntNo }), style: "CartListItem"))
    , htmlAttributes: new { cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;" })
: null)
</div>
</td>
</tr>
<tr>
<td>
    <div style="height:127px;" id="pnlAddVehicleMake">
    @using (Html.BeginForm("SaveInvestigateReason", "CameraManagement"))
    {
    <table width="568" cellspacing="1" cellpadding="1" border="0" id="formTable" style="display:none;">
        <tbody><tr>
            <td width="157" height="2">
                <span class="ProductListHead" id="lblAddVehicleMake">@ShowInReList.AddNewInRe</span></td>
            <td width="248" height="2">
            </td>
            <td height="2">
            </td>
        </tr>
            <tr>
                <td colspan="2">
                    <table width="568" cellspacing="1" cellpadding="0" border="0" bgcolor="#000000" align="center">
                    <tbody>
<tr bgcolor="#FFFFFF">
    <td height="100"> 
        <span style="display:inline-block;width:235px;" class="NormalBold" id="lblTranslation">@ShowInReList.InReason:</span>
    </td>
    <td height="100">
@{
        Html.RenderPartial("MulityLangPartView", Model.LookupModel);
}
    </td>
</tr>
                    </tbody></table>
                </td>
                <td height="2">
                <input type="hidden" value="0" id="InReIntNo" name="InReIntNo" />
                </td>
            </tr>
        <tr>
            <td width="157">
            </td>
            <td width="248">
                <input type="submit" class="NormalButton" id="btnAddInReason" value="" name="btnAddInReason" />
            </td>
            <td>
            </td>
        </tr>
    </tbody>
    </table>
    }
</div>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
</div>
