﻿@using SIL.AARTO.Web.Resource.CameraManagement;
@using SIL.AARTO.Web.Helpers.Paginator;
@model SIL.AARTO.Web.ViewModels.CameraManagement.PreFilmModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
.footer{text-align:right;height: 18px;}
</style>
        <table cellspacing="0" cellpadding="0" border="0" height="85%">
            <tr>
                <td align="center" valign="top" style="width:167px;">
                </td>
                <td valign="top" align="center" width="100%" colspan="1">
                    <table border="0" width="100%" height="482">
                        <tr>
                            <td valign="top" align="center" width="100%">
                                &nbsp;&nbsp;
                                <table border="0" align="center" width="100%">
                                    <tr>
                                        <td valign="top" width="100%">
@using (Html.BeginForm((string)ViewBag.Action, "CameraManagement", FormMethod.Post))
{
                                           <table width="100%">
                                                <tr>
                                                    <td align="center" width="100%">
                                                        <span class="ContentHead" style="display: inline-block;width: 100%;">@Model.AuthorityText</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                               <div id="grid">
@{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "page", PageSize = Model.PageSize, RecordCount = Model.Films.Count, PageStart = 1 });}
@{var grid = new WebGrid(source: Model.Films, canPage: true, rowsPerPage: Model.PageSize);
  var films = (from film in Model.Films where !string.IsNullOrEmpty(film.FilmLockUser) select film);
  var film1 = films.Count() > 0 ? films.First() : null;
  grid.SelectedIndex = film1 == null ? -1 : (Model.Films.IndexOf(film1) / Model.PageSize) == grid.PageIndex ?
      Model.Films.IndexOf(film1) % Model.PageSize : -1;
  }
@(Model.Films.Count > 0 ? grid.Table(
        tableStyle: "Normal",
        headerStyle: "CartListHead",
        selectedRowStyle:"CartListItemAlt",
        footerStyle: "CartListHead footer",
        footer: footer => Html.Raw(strPage),
    columns: grid.Columns(
            grid.Column("FilmNo", ShowFilm.grid_Column_FilmNo, canSort:false),
            grid.Column("ToVerify", ShowFilm.grid_Column_ToVerify, canSort: false),
            grid.Column("NoFrames", ShowFilm.grid_Column_NoFrames, canSort: false),
            grid.Column("FirstOffence", ShowFilm.grid_Column_FirstOffence, entity => string.Format("{0:yyyy-MM-dd}", entity.FirstOffence), canSort: false),//20130110 updated by Nancy from '{0:yyyy-MM-dd HH:mm}' to '{0:yyyy-MM-dd}'
            grid.Column("LastOffence", ShowFilm.grid_Column_LastOffence, entity => string.Format("{0:yyyy-MM-dd}", entity.LastOffence), canSort: false),//20130110 updated by Nancy from '{0:yyyy-MM-dd HH:mm}' to '{0:yyyy-MM-dd}'
            grid.Column("SinceFirstOffence", ShowFilm.grid_Column_SinceFirstOffence, canSort: false),
            grid.Column("FilmLockUser", ShowFilm.grid_Column_FilmLockUser, canSort: false)
            ),
    htmlAttributes: new { cellspacing = "0", border = "1", cellpadding = "3", style = "border-collapse:collapse;", rules = "rows" }
) : null)
</div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="height: 26px">
                                                        <table align="center" width="100%" style="display:@(ViewBag.ShowOfficerMsg ? "" : "none")">
                                                            <tr>
                                                                <td align="center">
                                                                <span>@ShowFilm.Adjudicate_officer_mark</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                <input type="text" value="@Model.OfficerNo" disabled="disabled" style="width:113px;" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                <span>@Model.OfficerName</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
@if (Model.Films.Count > 0 && ViewBag.ShowBtnBookOut)
{
    <span>&nbsp;</span><input class="NormalButton" type="submit" value="@ShowFilm.Btn_BookOut" /><span>&nbsp;</span>
}
    <input id="btnClose" class="NormalButtonRed" type="button" value="@ShowFilm.Btn_Close" onclick="return window.close();" /><span>&nbsp;&nbsp;</span>

                                                   </td>
                                                                
                                                </tr>
                                                <tr>
                                                    <td align="center" style="height: 21px">
                                                        <span class="NormalRed">@Model.ErrorMessage</span>
                                                        @Html.Hidden("ErrorMessage",Model.ErrorMessage,new {id = "hidden"})
                                                        </td>
                                                </tr>
                                            </table>
}
                                            </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%" border="0" height="5%">
            <tr>
                <td class="SubContentHeadSmall" style="display:none;" valign="top" width="100%">
                </td>
            </tr>
        </table>


 