﻿@model SIL.AARTO.Web.ViewModels.CameraManagement.VerificationBinModel
@using SIL.AARTO.Web.Resource.CameraManagement;
@using SIL.AARTO.Web.Helpers.Paginator;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#btnOptAdd").click(function () {
            initForm();
        });

        $("#btnAddVerBin").click(function () {

        });
    });

    function showForm(obj){
        initForm(obj);
    }

    function initForm(obj) {
        if (obj) {
            var row = $(obj).parent().parent().children();
            $("#RegNo").val($(row[0]).text());
            $("#Comment").val($(row[1]).text());
            $("#UserInsert").val($(row[2]).text());
            $("#VeBiIntNo").val($(obj).attr("intId"));
            $("#formTable").show();
            $("#btnAddVerBin").val("@ShowVeBiList.UpdateRegNo");
        }
        else {
            $("#RegNo").val("");
            $("#Comment").val("");
            $("#UInsertDate").val("");
            $("#VeBiIntNo").val("0");
            $("#formTable").show();
            $("#btnAddVerBin").val("@ShowVeBiList.AddRegNo");
        }
    }
</script>
<style type="text/css">
.listTable
{
    border-collapse: collapse;
    border-color: Black;
    font-size: 8pt;
    width: 695px;
    border: 1px solid black;
}
</style>
<div>
<table width="100%" height="10%" cellspacing="0" cellpadding="0" border="0" id="Table5">
            <tbody><tr>
                <td width="100%" valign="middle" align="center" colspan="2" class="HomeHead" style="background-color:#fff">
                </td>
            </tr>
</tbody>
</table>
<table height="85%" cellspacing="0" cellpadding="0" border="0" id="Table6">
            <tbody><tr>
                <td valign="top" align="center" style="width: 182px">
        <div id="pnlMainMenu">
        </div>
    <div style="border-color:Black;border-width:1px;border-style:Solid;width:146px;margin:20px;" id="pnlSubMenu">
	
    <table cellspacing="1" cellpadding="1" border="0" id="tblMenu">
		<tbody>
            <tr>
			<td align="center">
                <span style="display:inline-block;width:118px;" class="ProductListHead" id="Label1">@ShowVeBiList.Options</span></td>
		    </tr>
		    <tr>
			    <td align="center">
                    <input type="button" style="width:135px;" class="NormalButton" id="btnOptAdd" value="@ShowVeBiList.Add" name="btnOptAdd" />
                </td>
		    </tr>
		    <tr>
			    <td align="center">
                </td>
		    </tr>
		    <tr>
			    <td height="21" align="center"></td>
		    </tr>
	    </tbody>
    </table>
</div>
                </td>
                <td width="100%" valign="top" align="left" colspan="1">
                    <table width="568" height="482" border="0" id="Table7">
                        <tbody><tr>
                            <td valign="top" height="47">
                                <p align="center">
                                    <span class="ContentHead" id="lblPageName">@ShowVeBiList.VerificationBin</span></p>
                                <p>
                                    <span class="NormalRed" id="lblError">@ViewBag.ErrorMsg</span></p>
                            </td>
                        </tr>
        <tr>
        <td>
        @using (Html.BeginForm("VerificationBinList", "CameraManagement"))
        {
         <table>
            <tr>
                <td width="7">
                    <span style="display:inline-block;width:290px;height:25px;" class="NormalBold" id="lblSelection">@ShowVeBiList.EnterRegNo</span>
                </td>
                <td width="7">
                    @Html.TextBox("SearchStr", null, new { style="width:307px;", @class="Normal" })
                    @Html.ValidationMessage("SearchStr")
                </td>
                <td width="7">
                    <input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@ShowVeBiList.Search" name="btnSearch" />
                </td>
            </tr>
        </table>   
        }    
        </td>
        </tr>
                        <tr>
                            <td valign="top">
<div id="Panel1">
@{WebGrid grid = new WebGrid(Model.PageVerificationBins, canPage: false);}
@(grid.GetHtml(
headerStyle: "CartListHead", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
columns: grid.Columns(
    grid.Column("VeBiRegNo", ShowVeBiList.RegistrationNo, canSort: false, style: "CartListItem"),
    grid.Column("VeBiComment", ShowVeBiList.Comment, canSort: false, style: "CartListItem"),
    grid.Column("VeBiUserInserted", ShowVeBiList.UserInsert, canSort: false, style: "CartListItem"),
                grid.Column("VeBiDateInserted", ShowVeBiList.InsertDate, format: entity => string.Format("{0:yyyy-MM-dd HH:mm}", entity.VeBiDateInserted), canSort: false, style: "CartListItem"),
    grid.Column(
        format: item => Html.ActionLink(ShowVeBiList.Edit, "Edit", null, new { onclick = string.Format("showForm(this)"), intId = item.VeBiIntNo, href = "JavaScript:void(0)" })
                , style: "CartListItem"
    ),
    grid.Column(format: (item) => Html.ActionLink(ShowVeBiList.Delete, "DeleteVerficationBin", new { VeBiIntNo = item.VeBiIntNo }), style: "CartListItem")))
)
</div>
<div>
<table class="listTable">
<tr>
<td align="right" class="CartListHead listTable" style="border-top:0px;">
@{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = "searchStr=" + Model.SearchStr});}
@Html.Raw(strPage)
</td>
</tr>
</table>
</div>
    <div style="height:127px;" id="pnlAddVehicleMake">
    @using (Html.BeginForm("SaveVerficationBin", "CameraManagement"))
    {
    <table width="654" cellspacing="1" cellpadding="1" border="0" id="formTable" style="display:none;">
        <tbody>
        <tr>
            <td width="157" height="2" colspan="2">
                @*<span class="ProductListHead" id="lblAddVehicleMake">@ShowVeBiList.AddRegNoIntoVerBin</span>*@</td>
            <td width="248" height="2">
            <input type="hidden" id="VeBiIntNo" name="VeBiIntNo" value="0"/>
            </td>
        </tr>
<tr>
    <td> 
        <span style="display:inline-block" class="NormalBold" id="lblVerBinRegNo">@ShowVeBiList.RegistrationNo:</span>
    </td>
    <td>
        @Html.TextBox("RegNo", null, new { style = "height:21px;width:260px;" })
        @Html.ValidationMessage("RegNo")
    </td>
</tr>
<tr>
    <td> 
        <span style="display:inline-block;" class="NormalBold" id="lblVerBinRegComment">@ShowVeBiList.Comment:</span>
    </td>
    <td>
        @Html.TextArea("Comment", new { rows = "4", style = "overflow-x:hidden;overflow-y:hidden; width:260px;" })
        @Html.ValidationMessage("Comment")
    </td>
</tr>
<tr>
</tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" class="NormalButton" id="btnAddVerBin" onclick="" value="@ShowVeBiList.AddRegNo" name="btnAddVerBin" />
            </td>
        </tr>
    </tbody>
    </table>
    }

</div>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
</div>