﻿@using SIL.AARTO.Web.Resource.CameraManagement;
@model SIL.AARTO.Web.ViewModels.CameraManagement.FilmModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
<style type="text/css">
.LongDropDownList{width:333px;height:16px;font-size:11px;}
.ShotDropDownList{width:169px;height:16px;font-size:11px;}
.ShotTextBox{width:169px;height:12px;font-size:11px;}
</style>
<script type="text/javascript">
    function SetChange() {
        $("#Location").removeAttr("disabled");
        $("#Camera").removeAttr("disabled");
//        $("#tbSectionName").removeAttr("disabled");
//        $("#tbSectionCode").removeAttr("disabled");
//        $("#tbDistance").removeAttr("disabled");
//        $("#TrafficOfficer").removeAttr("disabled");
//        $("#RoadType").removeAttr("disabled");
//        $("#Court").removeAttr("disabled");
//        $("#SpeedZone").removeAttr("disabled");
    }

    $(function () {
        $("#accept").click(function () {
            if (confirm('@VerifyFilm.click_BtnAccept_PopShow')) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateAllFrames", "CameraManagement")",
                    dataType: "json",
                    data:{ 
                        proceed : "N",
                        locIntNo : $("#Location").val(),
                        camIntNo : $("#Camera").val()
                        },
                    success: function (msg) { 
                        if (msg.result == 0) {
                            populateResult(msg.data);
                        }
                    }
                });
            }
        });

        $("#btnNo").click(function () {
            $("#lblError").text("");
            $("#btnContinue").hide();
            $("#btnNo").hide();
            $("#accept").removeAttr("disabled");
            $("#change").removeAttr("disabled");
        });

        $("#btnContinue").click(function(){
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateAllFrames", "CameraManagement")",
                dataType: "json",
                data:{ 
                    proceed : "Y",
                    locIntNo : $("#Location").val(),
                    camIntNo : $("#Camera").val()
                    },
                success: function (msg) { 
                    if (msg.result == 0) {
                        populateResult(msg.data);
                    }
                }
            });
        });

        $("#reject").click(function(){
            $.ajax({
                type: "POST",
                url: "@Url.Action("RejectFilm", "CameraManagement")",
                dataType: "json",
                success: function (msg) { 
                    if (msg.result == 0) {
                        if (msg.data.error == "RejectError") {
                            $("#lblError").text(msg.data.errorMessage);
                            $("#btnContinue").hide();
                            $("#btnNo").hide();
                        } else {
                            window.location = "@Url.Action("PrepareVerifyFilm", "CameraManagement")";
                        }
                    }
                }
            });  
        });

    });

    function populateResult(data) {
        if (data.logout) {
            window.location = "@Url.Action("login", "account")";
        } else if (data.error == "NoUpdate") {
            $("#lblError").text(data.errorMessage);
            $("#btnContinue").show();
            $("#btnNo").show();
            $("#accept").attr("disabled", "disabled");
            $("#change").attr("disabled", "disabled");
        } else if (data.error == "UpdateFailed"){
            $("#lblError").text(data.errorMessage);
            $("#btnContinue").hide();
            $("#btnNo").hide();
        } else if (data.NoFrames){
            window.location = "@Url.Action("PrepareVerifyFilm", "CameraManagement")";
        } else if (data.IsNaTISLast) {
            window.location = "@Url.Action("AdjudicateFrame", "CameraManagement")";
        }else if(data.error == "BusCheckFailed"){
            $("#lblError").text(data.errorMessage);
        }
        else {
            window.location = "@Url.Action("VerifyFrame", "CameraManagement")";
        }
    }
</script>
}
<table cellspacing="0" cellpadding="0" width="100%" border="0">
    <tr>
        <td class="" align="center" width="100%" colspan="2" valign="middle" >
        </td>
    </tr>
</table>
       
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" >
        </td>
        <td valign="top" align="left" colspan="1" width="100%">
            <table border="0" width="100%">
                <tr>
                    <td valign="top" align="center">
                    <span style="display:inline-block;width:592px;" class="ContentHead" id="lblPageName">@VerifyFilm.lblPageName_Text</span>    
                    </td>
                </tr>
                <tr>
                    <td valign="top" align="center" width="100%" style="height: 316px">
                        <table width="100%">
                            <tr>
                                <td align="center" width="50%">
                                <div id="updFrame">
                                    <span id="lblError" class="NormalRed"></span>
                                    <input id="btnContinue" class="NormalButton" type="submit" style="display:none;" value="@VerifyFilm.btnContinue_Text" name="btnContinue" />
                                    <input id="btnNo" class="NormalButton" type="submit" style=" display: none;" value="@VerifyFilm.btnNo_Text" name="btnNo" />
                                    <div><span style="color:Red">@ViewBag.BusErrorMessage</span></div>
                                    <div id="pnlFilm">
                                    @using (Html.BeginForm("VerifyFilm", "CameraManagement", FormMethod.Post))
                                    {
                                        <table id="valTable" style="text-align:left;" >
                                                <tr style="display:@Model.ISASD">
                                                <td align="left" valign="middle">
                                                    <span id="lbVIOLATIONTYPE"  class="NormalBold">@VerifyFilm.lbVIOLATIONTYPE_Text</span>
                                                </td>
                                                <td colspan="2" align="left" valign="middle">
                                                    <span id="lbASD" class="SubContentHead">@VerifyFilm.lbASD_Text</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:150px;">
                                                    <span id="lblSelAuthority" class="NormalBold" >@VerifyFilm.lblSelAuthority_Text</span>
                                                <br />
                                                </td>
                                                <td colspan="2">
                                                    <span id="lblAuthority" class="SubContentHead">@Model.LocalAuthority</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:150px;">
                                                    <span class="NormalBold">@VerifyFilm.lblFilm_Text</span>
                                                </td>
                                                <td colspan="2" >
                                                    <span id="lblFilmNo" class="NormalBold">@Model.FilmNo</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <span class="NormalBold">@VerifyFilm.lblLocation_Text</span>
                                                    </td>
                                                <td colspan="2" >
                                                    @Html.DropDownList("Location", Model.Locations, new { disabled = "disabled", Class = "LongDropDownList" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <span class="NormalBold">@VerifyFilm.lblCamera_Text</span>
                                                </td>
                                                <td colspan="2" >
                                                    @Html.DropDownList("Camera", Model.Cameras, new { disabled = "disabled", Class = "ShotDropDownList" }) 
                                                </td>
                                            </tr>
                                            <tr style="display:@Model.ISASD">
                                                <td>
                                                    <span id="lbCamera2" class="NormalBold">@VerifyFilm.lbCamera2_Text</span>
                                                </td>
                                                <td colspan="2">
                                                    @Html.DropDownList("SecondCamera", Model.SecondCameras ?? new SelectList(new List<string> { }), new { disabled = "disabled", Class = "ShotDropDownList" })
                                                </td>
                                            </tr>
                                            <tr style="display:@Model.ISASD">
                                                <td>
                                                    <span id="lbSectionName" class="NormalBold">@VerifyFilm.lbSectionName_Text</span>
                                                </td>
                                                <td colspan="2">
                                                    <input type="text" id="tbSectionName" class="ShotTextBox" style="width:169px;" disabled="disabled" value="@Model.SectionName"/>
                                                </td>
                                            </tr>
                                            <tr style="display:@Model.ISASD">
                                                <td>
                                                    <span id="lbSectionCode" class="NormalBold">@VerifyFilm.lbSectionCode_Text</span>
                                                </td>
                                                <td colspan="2">
                                                    <input type="text" id="tbSectionCode" class="ShotTextBox" style="width:169px;" disabled="disabled" value="@Model.SectionCode" />
                                                </td>
                                            </tr>
                                            <tr style="display:@Model.ISASD">
                                                <td>
                                                    <span id="lbDistance"  class="NormalBold">@VerifyFilm.lbDistance_Text</span>
                                                </td>
                                                <td colspan="2">
                                                    <input type="text" id="tbDistance" class="ShotTextBox" style="width:169px;" disabled="disabled" value="@Model.SectionDistance" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <span style="display:inline-block; width:94px" class="NormalBold">@VerifyFilm.lblTrafficOfficer_Text</span>
                                                </td>
                                                <td colspan="2" >
                                                    @Html.DropDownList("TrafficOfficer", Model.TrafficOfficers, new { disabled = "disabled", Class = "LongDropDownList" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <span style="display:inline-block; width:94px;" class="NormalBold">@VerifyFilm.lblRoadType_Text</span>
                                                </td>
                                                <td colspan="2" >
                                                    @Html.DropDownList("RoadType", Model.RoadTypes, new { disabled = "disabled", Class = "ShotDropDownList" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <span style="display:inline-block; width:94px;" class="NormalBold">@VerifyFilm.lblCourt_Text</span>
                                                </td>
                                                <td colspan="2" >
                                                    @Html.DropDownList("Court", Model.Courts, new { disabled = "disabled", Class = "LongDropDownList" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <span style="display:inline-block; width:94px;" class="NormalBold">@VerifyFilm.lblSpeedZone_Text</span>
                                                </td>
                                                <td colspan="2" >
                                                    @Html.DropDownList("SpeedZone", Model.SpeedZones, new { disabled = "disabled", Class = "ShotDropDownList" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    &nbsp;</td>
                                                <td>
                                                    <input type="button" id="accept" title="@ViewBag.ToolTip" @(ViewBag.BtnAcceptEn ? "" : "disabled='disabled'") class="NormalButton" value="@VerifyFilm.btnAccept_Text" />
                                                </td>
                                                <td>
                                                    <input type="button" style="display:@(ViewBag.BtnChangeVis ? "" : "none")" class="NormalButton" id="change" value="@VerifyFilm.btnChange_Text" onclick="SetChange()" />
                                                    <input type="button" id="reject" class="NormalButton" id="btnReject" value="@VerifyFilm.btnReject_Text" />
                                                </td>
                                        <td>  <input id="btnClose" class="NormalButtonRed" type="button" value="@VerifyFilm.btnClose_Text" onclick="window.close();" />
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    </div>
                                </div>


                    <div style="display:none;" id="udp">
                        <p class="NormalBold" style="text-align: center">
                            <img alt="@VerifyFilm.loding_Text" src="@Url.Content("~/Content/image/ig_progressIndicator.gif")" />@VerifyFilm.loding_Text
                        </p>
                    </div>
                    </td>
                    <td align="center" width="50%">
@{
    Html.RenderAction("ImagePartialView", new{showPreView = false});
}
                    </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" width="100%" border="0" height="5%">
    <tr>
        <td class="SubContentHeadSmall" style=" display:none;" valign="top" width="100%" align="center">
            &nbsp;</td>
    </tr>
</table>

