﻿@model SIL.AARTO.Web.ViewModels.SummonsManagement.StagnantSummonsModel
@using SIL.AARTO.Web.Resource.SummonsMangement;
@{
    ViewBag.Title = "StganantSummons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .div
    {
        margin: 0 auto;
        width: 500px;
        border: 1px solid #808080;
        text-align: center;
        margin-top: 20px;
        display: none;
    }

    .num
    {
        color: red;
        padding-right: 4px;
    }

    table
    {
        margin: 0 auto;
        width: 580px;
    }

    .right
    {
        text-align: right;
        vertical-align: middle;
        padding-right: 10px;
    }

    .msg
    {
        color: red;
        font-size: 12px;
        font-weight: bold;
    }

    .info
    {
        font-size: 12px;
        font-weight: bold;
    }
</style>

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.blockUI.2.66.0.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        //2015-04-13Michael asked to disable this function.
        blockUI("5236 - Function disabled per Serge / Kennet request.");

        $("#StartDate").datepicker({ dateFormat: 'yy-mm-dd', dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
        $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd', dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });


        $("#btnSearch").click(function () {
            clearMsg();
            var validated = validate();
            if (validated == false) {
                return;
            }
            blockUI("@StagnantSummons.msg_Loading");
            $.post("@Url.Action("Search", "SummonsManagement")", {
                notTicketNo: $("#NotTicketNo").val(),
                summonsNo: $("#SummonsNo").val(),
                crtIntNo: $("#CrtIntNo").val(),
                crtRIntNo: $("#CrtRIntNo").val(),
                startDate: $("#StartDate").val(),
                endDate: $("#EndDate").val()
            }, function (result) {
                showResult(result);
                $.unblockUI();
            }, 'json');
        });

        $("#CrtIntNo").change(function () {

            $.post(_ROOTPATH + "/WOAManagement/GetCourtRoomByCourt", { crtIntNo: $(this).val() },
                function (items) {
                    $("#CrtRIntNo option[value!=0]").remove();
                    $.each(items, function (index, item) {
                        $("<option value='" + item.CrtRIntNo + "'>" + item.CrtRoomName + "</option>").appendTo($("#CrtRIntNo"));
                    });
                }, "json");
        });

        $("#btnContinue").click(function () {
            blockUI("@StagnantSummons.msg_Processing");

            $.post("@Url.Action("WithdrawnStagnantSummonsForReIssue", "SummonsManagement")", {
                notTicketNo: $("#NotTicketNo").val(),
                summonsNo: $("#SummonsNo").val(),
                crtIntNo: $("#CrtIntNo").val(),
                crtRIntNo: $("#CrtRIntNo").val(),
                startDate: $("#StartDate").val(),
                endDate: $("#EndDate").val(),
                maxProcessNumber: $("#ProcessNumber").val()
            }, function (result) {
                if (result.IsSuccessful) {
                    showMsg(result.Message);
                } else {
                    var msg = "";
                    if (result.HasMessage) {
                        msg = result.Message;
                    }
                    if (result.HasError) {
                        msg += "<br/>" + result.ErrorMessage;
                    }
                    showMsg(msg);
                }
                $("#divResult").hide();
                $.unblockUI();
            }, 'json');
        });

        $("#btnCancel").click(function () {
            initialControl();
        });
    })

    function initialControl() {
        $("#NotTicketNo").val('');
        $("#SummonsNo").val('');
        $("#CrtIntNo").val('0');
        $("#CrtRIntNo").val('0');
        $("#StartDate").val('');
        $("#EndDate").val('');
        $("#divResult").hide();
    }

    function blockUI(message) {
        $.blockUI({
            message: '<h2><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")" />' + message + '</h2>'
        });
    }


    function showResult(result) {
        if (result.IsSuccessful) {
            $("#spRecordNum").html(result.Body)
            $("#divResult").show();
        } else if (result.HasError) {
            showMsg(result.ErrorMessage);
        }
    }
    function clearMsg() {
        $("#spMsg").html('');
    }
    function showMsg(msg) {
        $("#spMsg").html(msg);
    }

    function validate() {
        if ($("#NotTicketNo").val() != '' || $("#SummonsNo").val() != '') {
            return true;
        }
        if ($("#CrtIntNo").val() == "0" || $("#CrtIntNo").val() == "") {
            showMsg("@StagnantSummons.msg_CourtIsRequired");
            return false;
        @*} else if ($("#CrtRIntNo").val() == "0" || $("#CrtRIntNo").val() == "") {
            showMsg("@StagnantSummons.msg_CourtRoomIsRequired");
            return false;*@
        } else if ($("#StartDate").val() == "" || $("#EndDate").val() == "") {
            showMsg("@StagnantSummons.msg_CourtDateRangeIsRequired");
                return false;
            }

    var reg = /^[1-9]\d*$/;
    if (reg.test($("#ProcessNumber").val()) == false) {
        showMsg("@StagnantSummons.msg_InvalidNumber");
            return false;
        }

        return true;
    }

</script>

<p style="text-align: center;">
    <span id="lblPageName" class="ContentHead">@StagnantSummons.PageTitle</span>
</p>

<p style="text-align: center"><span id="spMsg" class="msg"></span></p>

<table>
    <tr>
        <td class="NormalBold right">@StagnantSummons.lblNotTicketNo</td>
        <td>@Html.TextBoxFor(m => m.NotTicketNo)</td>
    </tr>
    <tr>
        <td class="NormalBold right">@StagnantSummons.lblSummonsNo</td>
        <td>@Html.TextBoxFor(m => m.SummonsNo)</td>
    </tr>
    <tr>
        <td class="NormalBold right">@StagnantSummons.lblCourt</td>
        <td>@Html.DropDownListFor(m => m.CrtIntNo, Model.Courts)</td>
    </tr>
    <tr>
        <td class="NormalBold right">@StagnantSummons.lblCourtRoom</td>
        <td>@Html.DropDownListFor(m => m.CrtRIntNo, Model.CourtRooms)</td>
    </tr>
    <tr>
        <td class="NormalBold right">@StagnantSummons.lblCourtDateRange</td>
        <td>@Html.TextBoxFor(m => m.StartDate, new { style = "width:80px;", @readonly = "readonly" }) - @Html.TextBoxFor(m => m.EndDate, new { style = "width:80px;", @readonly = "readonly" })</td>
    </tr>
    <tr>
        <td class="NormalBold right">@StagnantSummons.lblMaxNumber</td>
        <td>@Html.TextBoxFor(m => m.ProcessNumber, new { style = "width:80px;" }) <span style="padding-left: 2px;">@StagnantSummons.msg_Label</span></td>
    </tr>
    <tr>
        <td class="NormalBold right"></td>
        <td>
            <!--2015-04-13Michael asked to disable this function. -->
           <!-- <input type="button" value="@StagnantSummons.btnSearch" id="btnSearch" class="NormalButton" /> --></td>
    </tr>
</table>



<div id="divResult" class="div">
    <p class="info"><span id="spRecordNum" class="num">0</span>@StagnantSummons.msg_Info1</p>
    <p>
        <input type="button" value="@StagnantSummons.btnContinue" id="btnContinue" class="NormalButton" />
        &nbsp;<input type="button" value="@StagnantSummons.btnCancel" id="btnCancel" class="NormalButton" />
    </p>
</div>
