﻿@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.TraceAndTrack;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator
@using System.Configuration;

@model SIL.AARTO.BLL.TraceAndTrack.Model.TraceAndTrackInfoModel

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = TraceAndTrackInfo_cshtml.lblPageTitle_Text;
}

@section HeaderContent{

    <script src='@Url.Content("~/Scripts/TraceAndTrack/TraceAndTrackInfo.js?a="+@DateTime.Now)' type="text/javascript"></script>
    <link href='@Url.Content("~/Content/Css/TraceAndTrack.css")' rel="stylesheet" type="text/css" />
}

<div id="contentMain" class="width_90pct margin_auto text-align">
    @using (Html.BeginForm())
    {
        <div class="ContentHead width_100pct text-align">@TraceAndTrackInfo_cshtml.lblPageTitle_Text</div>
        <div class="width_100pct text-align_left">
        @TraceAndTrackInfo_cshtml.lblRegistrationNumber_Text
        @Html.TextBoxFor(m => m.SearchRegistrationNumber)
        <input type="button" id="btnSearch" name="btnSearch" value="@Global.btnSearch_Value" class="NormalButton margin-left_10 margin-right_5" />
        <input type="button" id="btnAddSt" name="btnAddSt" value="@Global.btnAdd_Value" class="NormalButton" />
        </div>
        <div class="width_100pct text-align_left">
         <table cellspacing="0" cellpadding="4" border="1" style="border-color:Black;border-collapse: collapse;" class="width_100pct margin-top_15">
             <thead>
                <tr class="CartListHead">
                    <td style="width:18%">
                        @TraceAndTrackInfo_cshtml.lblRegistrationNumber_Text
                    </td>
                    <td style="width:18%">
                        @TraceAndTrackInfo_cshtml.lblOwnerResponsiblePerson_Text
                    </td>
                    <td style="width:18%">@TraceAndTrackInfo_cshtml.lblForeNames_Text</td>
                    <td style="width:18%">@TraceAndTrackInfo_cshtml.lblIdentityNumber_Text</td>
                    <td style="width:18%">@TraceAndTrackInfo_cshtml.lblMobileNumber_Text</td>
                    <td></td>
                    @*<td>
                        @TraceAndTrackInfo_cshtml.lblTblHeadEditName
                    </td>*@
                </tr>
            </thead>
            <tbody class="text-align_left">
                @{int count = (Model.TraceAndTrackInfos==null?0:Model.TraceAndTrackInfos.Count);
                  string cssClass;
                  if (count > 0)
                  {
                      for (int i = 0; i < count; i++)
                      {
                          if (i % 2 == 0)
                          { cssClass = "CartListItem"; }
                          else
                          { cssClass = "CartListItemAlt"; }
                      <tr class='@cssClass'>
                        <td>
                        <a href="#" onclick="EditInfo('@Model.TraceAndTrackInfos[i].RegistrationNumber')">@Html.Raw(Model.TraceAndTrackInfos[i].RegistrationNumber)</a>
                        </td>
                        <td>
                            @Html.Raw(Model.TraceAndTrackInfos[i].OwnerResponsiblePerson)
                        </td>
                         <td>
                            @Html.Raw(Model.TraceAndTrackInfos[i].ForeNames)
                        </td>
                         <td>
                            @Html.Raw(Model.TraceAndTrackInfos[i].IdentityNumber)
                        </td>
                         <td>
                            @Html.Raw(Model.TraceAndTrackInfos[i].MobileNumber)
                        </td>
                        <td class="text-align">
                            <a href="#" onclick='DeleInfo(this,"@Model.TraceAndTrackInfos[i].RegistrationNumber");'>@Global.btnDelete_Value</a>
                        </td>
                    </tr>
                      }
                  }
                 }
                  <tr class="CartListHead">
                    <td colspan="6" align="right">
                        @{ string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize =Model.PageSize, RecordCount = Model.TotalCount, parameters = Model.URLPara }); }
                        @Html.Raw(strPage)
                    </td>
                </tr>
            </tbody>
         </table>
        </div>
        <div id="mainEdit" class="width_100pct text-align" style="display:none">
            <table class="traceWidth_100pct" style="text-align:left; margin-top:0px;" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblRegistrationNumber_Text</td>
                    <td>
                        @Html.TextBoxFor(m => m.RegistrationNumber)</td>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTypeofOwner_Text</td>
                    <td>
                        @Html.DropDownListFor(m => m.TypeofOwner, (IEnumerable<SelectListItem>)ViewData["TypeOfOwnerList"], "Please Choose", new { style = "width:250px;" })</td>
                </tr>
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblOwnerResponsiblePerson_Text</td>
                     <td>
                        @Html.TextBoxFor(m => m.OwnerResponsiblePerson)</td>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblIdentityNumber_Text</td>
                    <td>
                        @Html.TextBoxFor(m => m.IdentityNumber)</td>
                </tr>
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblForeNames_Text</td>
                    <td>
                        @Html.TextBoxFor(m => m.ForeNames)</td>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblInitials_Text</td>
                     <td>
                        @Html.TextBoxFor(m => m.Initials)</td>
                </tr>
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblCompanyName_Text</td>
                    <td>
                        @Html.TextBoxFor(m => m.CompanyName)</td>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTelephoneNumber_Text</td>
                     <td>
                        @Html.TextBoxFor(m => m.TelephoneNumber)</td>
                </tr>
                 <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblMobileNumber_Text</td>
                     <td>
                        @Html.TextBoxFor(m => m.MobileNumber)</td>
                     <td>
                        @TraceAndTrackInfo_cshtml.lblEmailAddress_Text</td>
                    <td>
                        @Html.TextBoxFor(m=>m.EmailAddress)</td>
               </tr>
               <tr>
                   <td>@TraceAndTrackInfo_cshtml.cbCopyAddress_Text</td>
                   <td colspan="3">@Html.CheckBox("cbCopyAddress")</td>
               </tr>
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTStAdd1_Text</td>
                    <td colspan="3">
                        @Html.TextBox("TTStAdd1", "", new { style="width:585px;"})</td>
                </tr>
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTStAdd2_Text</td>
                     <td colspan="3">
                        @Html.TextBox("TTStAdd2", "", new { style = "width:585px;" })</td>
                </tr>
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTStAdd3_Text</td>
                     <td colspan="3">
                        @Html.TextBox("TTStAdd3", "", new { style = "width:585px;" })</td>
               </tr>
               <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTStAdd4_Text</td>
                     <td colspan="3">
                        @Html.TextBox("TTStAdd4", "", new { style = "width:585px;" })</td>
                </tr>
                <tr>
                     <td>
                        @TraceAndTrackInfo_cshtml.lblTTStCode_Text</td>
                     <td colspan="3">
                        @Html.TextBoxFor(m => m.TTStCode)</td>
                </tr>               
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTPoAdd1_Text</td>
                     <td colspan="3">
                        @Html.TextBox("TTPoAdd1", "", new { style="width:585px;"})</td>
               </tr>
               <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTPoAdd2_Text</td>
                    <td colspan="3">
                        @Html.TextBox("TTPoAdd2", "", new { style = "width:585px;" })</td>
                </tr>
                <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTPoAdd3_Text</td>
                    <td colspan="3">
                        @Html.TextBox("TTPoAdd3", "", new { style = "width:585px;" })</td>
               </tr>
               <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTPoAdd4_Text</td>
                     <td colspan="3">
                        @Html.TextBox("TTPoAdd4", "", new { style = "width:585px;" })</td>
                </tr>
                  <tr>
                    <td>
                        @TraceAndTrackInfo_cshtml.lblTTPoCode_Text</td>
                    <td colspan="3">
                        @Html.TextBoxFor(m=>m.TTPoCode)</td>
               </tr>
               <tr>
               <td colspan="4" class="text-align">
               <input type="button" id="btnSaveForCheck" onclick="IsExitsTheData()" name="btnSaveSt" value='@Global.btnSave_Value' class="NormalButton" style="width:42px" /></td>
               <td colspan="4" class="text-align" style="display:none">
               <input type="submit" id="btnSaveSt" name="btnSaveSt" value='@Global.btnSave_Value' class="NormalButton" style="width:42px" /></td></tr>
            </table>
            <div class="width_100pct text-align_left">
                <p>@Html.ValidationMessage("RegistrationNumber")</p>
                <p>@Html.ValidationMessage("TypeofOwner")</p>
                <p>@Html.ValidationMessage("OwnerResponsiblePerson")</p>
                <p>@Html.ValidationMessage("IdentityNumber")</p>
                <p>@Html.ValidationMessage("ForeNames")</p>
                <p>@Html.ValidationMessage("Initials")</p>
                <p>@Html.ValidationMessage("CompanyName")</p>
                <p>@Html.ValidationMessage("TelephoneNumber")</p>
                <p>@Html.ValidationMessage("MobileNumber")</p>
                <p>@Html.ValidationMessage("EmailAddress")</p>
                <p>@Html.ValidationMessage("TTStAdd1")</p>
                <p>@Html.ValidationMessage("TTStAdd2")</p>
                <p>@Html.ValidationMessage("TTStAdd3")</p>
                <p>@Html.ValidationMessage("TTStAdd4")</p>
                <p>@Html.ValidationMessage("TTPoAdd1")</p>
                <p>@Html.ValidationMessage("TTPoAdd2")</p>
                <p>@Html.ValidationMessage("TTPoAdd3")</p>
                <p>@Html.ValidationMessage("TTPoAdd4")</p>
                <p>@Html.ValidationMessage("TTPoCode")</p>
                <p>@Html.ValidationMessage("TTStCode")</p>
            <div id="errorMsg" style="display:none" class="error_fontsize12  margin-top_15"></div>
            </div>
        <div style="display:none">
            @Html.TextBoxFor(m => m.LastUser)
            @Html.TextBoxFor(m=>m.actionMode)
        </div>
        </div>
    }
</div>