﻿@model SIL.AARTO.Web.ViewModels.ActDateMaintenance.PrintSummonsModel
@using SIL.AARTO.Web.Resource.ActDateMaintenance;
@using SIL.AARTO.Web.Helpers;
@using SIL.AARTO.Web.Helpers.Paginator;
@{
    ViewBag.Title = "PrintSummons";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<style>
    input
    {
        width: 80px;
    }

    .DataRow
    {
        height: 22px;
    }

    .EditRow
    {
        width: 70px;
    }
</style>
@*<script src="~/Scripts/jquery-1.4.4-vsdoc.js"></script>*@
<script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //$("#CourtDateFrom").datepicker(
        //            { changeMonth: true, changeYear: true, dateFormat: 'yy/mm/dd', defaultDate: ' ' }
        //                );
        //$("#CourtDateTo").datepicker(
        //            { changeMonth: true, changeYear: true, dateFormat: 'yy/mm/dd', defaultDate: ' ' }
        //                );

        $(":text").datepicker(
	                { changeMonth: true, changeYear: true, dateFormat: 'yy/mm/dd', defaultDate: ' ' }
                        );

        //$("input[name='actdate']").datepicker(
        //            { changeMonth: true, changeYear: true, dateFormat: 'yy/mm/dd', defaultDate: ' ' }
        //                );
    })
    var oldActDate;

    function setActionDate(obj) {
        var td = $(obj).parent().prev();
        //hiden span control
        $(td).children().eq(0).hide();
        //show textbox control to let user select a date
        $(td).children().eq(1).show();
        oldActDate = $(td).children().eq(1).val();
        //hiden Edit linkbutton and show Save linkbutton
        $(obj).hide();
        $(obj).siblings().show();
    }

    function cancelOp(obj) {
        $(obj).siblings().first().show();
        $(obj).siblings().eq(1).hide();
        $(obj).hide();

        var dataTd = $(obj).parent().prev();

        $(dataTd).children().first().show();
        $(dataTd).children().last().hide();
        //$(obj).parent().prev().last().hide();
    }

    function saveActionDate(id, obj) {
        var tdParent = $(obj).parent().prev().children()
        var actDate = $(tdParent).eq(1).val();

        if (actDate == '' || actDate == undefined) {
            alert("@PrintSummons.selectActDate");
            return;
        }

        $.post("@Url.Action("SetActionDate", "ActDateMaintenance")",
            {
                pfnIntNo: id,
                actDate: actDate
            },
            function (item) {
                if (item.Status == true) {
                    $(tdParent).eq(0).html(actDate);
                    $(tdParent).eq(1).hide();
                    $(tdParent).eq(0).show();

                    //show Edit linkbutton and hiden Save linkbutton after save action date success
                    $(obj).hide();
                    $(obj).siblings().first().show();
                    $(obj).siblings().last().hide();

                } else {
                    alert(item.Message);
                    $(tdParent).eq(1).val(oldActDate);
                }
            }, "json");
    }
</script>

@using (Html.BeginForm())
{
    <p align="center" class="ContentHead">@PrintSummons.Title</p>
    <table cellspacing="0" cellpadding="4" align="center">

        <tr>
            <td class="NormalBold">@PrintSummons.lblCourt_Text
            </td>
            <td>
                @Html.EditorFor(m => m.CrtIntNo)
            </td>
        </tr>
        <tr>
            <td class="NormalBold">@PrintSummons.lblCourtDateRange_Text
            </td>
            <td>
                @Html.TextBoxFor(m => m.CourtDateFrom, new { Value = Model.CourtDateFrom.HasValue ? Model.CourtDateFrom.Value.ToString("yyyy/MM/dd") : "" }) - @Html.TextBoxFor(m => m.CourtDateTo, new { Value = Model.CourtDateTo.HasValue ? Model.CourtDateTo.Value.ToString("yyyy/MM/dd") : "" })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                <input type="submit" value="@PrintSummons.btnSearch_Value" class="NormalButton" /></td>
        </tr>
    </table>

   
    if (Model.Result != null && Model.Result.Count > 0)
    {
    <table style="width: 100%">
        <tr>
            <td align="center">
                @{string strPage = Html.GridPager(new SIL.AARTO.Web.Helpers.Paginator.GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount, parameters = Model.URLPara });}
                @{WebGrid web = new WebGrid(Model.Result, canPage: false);}
                @(Model.Result != null && Model.Result.Count > 0 ? web.Table(
                            headerStyle: "CartListHead"
                            , alternatingRowStyle: "CartListItemAlt DataRow"
                            , tableStyle: "listTable tb "
                            , rowStyle: "CartListItem DataRow"
                            , footerStyle: "CartListHead footerStyle"
                            , footer: footer => Html.Raw(strPage)
                    , columns: web.Columns(
                                web.Column("PrintFileName", PrintSummons.headPrintFileName_Text, canSort: false, style: "CartListItem"),
                                web.Column("ActDate", PrintSummons.headActionDate_Text, format: (item) =>
                                {
                                    string html = string.Empty;

                                    html = Model.GenerateHtml(item.ActDate);
                                    return Html.Raw(html);
                                }, canSort: false, style: "CartListItem"),
                                web.Column("Edit", "Edit", format: (item) =>
                                {
                                    if (item.NoQueueItemFound)
                                    {
                                        return "";
                                    }
                                    else
                                    {
                                        string link = "<a href='#' onclick=\"setActionDate(this);\">Edit</a>&nbsp;<a href='#' onclick=\"saveActionDate(" + item.PFNIntNo + ", this)\" style=\"display:none;\">Save</a>&nbsp;<a href='#' onclick=\"cancelOp(this);\" style=\"display:none;\">Cancel</a>";
                                        return Html.Raw(link);
                                    }
                                }, canSort: false, style: "CartListItem EditRow")))
                : null)

            </td>
        </tr>
    </table>
    }
    else
    {
        if (Model.FirstLoad == false)
        {
    <p style="text-align: center; color: red;">@PrintSummons.noDataFound</p>
        }
    }
}
