.footer
{
	font-size: 8pt;
	color: #666666;
	font-family: Verdana, helvetica, tahoma;
}
.tdHeader
{
	font-size: 8pt;
	color: #333333;
	font-family: Verdana, Helvetica, Tahoma;
}

.border
{
	border-right: 1px solid;
	border-top: 1px solid;
	font-size: 8pt;
	border-left: 1px solid;
	color: white;
	border-bottom: 1px solid;
	font-family: Verdana;
	background-color: #396799;
}
TD
{
	font-size: 8pt;
	font-family: Verdana, helvetica, Tahoma;
}
BODY
{
	font-size: 8pt;
	font-family: Verdana, Helvetica, Tahoma;
/*
	background-image: url(images/body_grayBottom_bg.jpg);
	background-repeat: repeat-x;
	background-position: bottom left;
*/
	background-color: #FFFFFF;
	margin: 16px;
	padding: 0px;
}

.header
{
	font-size: 8pt;
	color: #333333;
	font-weight:bold;
}

.labelStyle
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 8pt;
	font-family: Verdana;
	height: 20px;
}

.columnListbox
{
	border-right: #666666 1px solid;
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	border-bottom: #666666 1px solid;
}

.error
{
	font-weight: normal;
	font-size: 8pt;
	color: #cc0000;
	font-family: verdana;
	text-decoration: none;
}
/* Moved this out to ApplicatoinStyling (StyleSetName="SamplesBrowser")
.descriptionPanel 
{
	FONT-SIZE: x-small;
	font-weight:normal;
	BACKGROUND-COLOR: #FAFAFA;
	width:100%;
	padding:16px;
	color: black;
	cursor:default;
}
.descriptionPanelContent
{
	border: solid 1px #636363;
	BACKGROUND-COLOR: #FDFDFD;
	background-image:url(images/panel_bg.jpg);
	background-repeat:repeat-x;
	text-align:left;
	line-height:18px;
}
.descriptionPanelContent DIV
{
    overflow:auto !important;
    height:200px !important;
}
.descriptionPanelHeader 
{ 
	padding:2px 0px 1px 3px;
	border-left: #636363 1px solid; 
	border-right: #636363 1px solid; 
	height:28px;
    font-weight: bold;
    font-size: 9pt; 
    width: 100%; 
    color: white;
    background-repeat: repeat-x; 
    font-family: Lucida Sans;
    background-image:url(images/onyxBar.gif);
}
*/
.content
{
	/*background-color:F9F9F9; */
	margin: 0px;
	padding: 0px;
	border: 1px solid #FF0000;
}

.chartGalleryPanel
{
	float:left;	
}
.QuickTip{
    position:absolute;
    width:300px;
    height:175px;
    background-color:#F1F1F1;
    padding:10px;
    padding-top:20px;
    border:solid 1px #DEDEDE;
    font-family: calibri, verdana, arial;
    font-size:11pt;
    left:50%;
    top:100px; 
    margin-left:-150px;
    z-index:1001;
}
.QuickTip:hover
{
    border:solid 1px silver;
}
.QuickTipCloser{
    position:absolute;
    top:10px;
    right:10px;
    font-size: 8pt;
    text-transform:uppercase;
    text-decoration:none;
    color:#AEAEAE;
}
.QuickTip:hover A, .QuickTipCloser:hover{
    font-weight:bold;
    text-decoration:underline;
    color:#000000;
}
.QuickTipFilter
{
    filter:alpha(opacity=0);
    opacity=0;
    z-index:1000;
    background-color:#555555;
}
