﻿@model SIL.AARTO.COOAutomation.Web.Models.ChangeInfoModel
@{
    ViewBag.Title = "Change Information";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<span class="ContentHead">Change Information</span>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Information change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.EmailAddress)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.EmailAddress)
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <p>
                <input type="submit" value="Change" class="NormalButton" />
            </p>
        </fieldset>
    </div>
}
