﻿@model SIL.AARTO.COOAutomation.Web.Models.ProxyLogOnModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src='@Url.Content("~/Scripts/Account/Login.js")' type="text/javascript"></script>
<span class="ContentHead">Login</span>
<div>
    <fieldset>
        <legend>Account Information</legend>
        <div class="editor-label">
            <span id="lblError" name="lblError" class="error"></span>
        </div>
        <div class="editor-label">
            Company
        </div>
        <div class="editor-field">
            @Html.DropDownList("CompanyCode", Model.CompanyList, new { style = "width:257px;" })
        </div>
        <div class="editor-label">
            Number
        </div>
        <div class="editor-label">
            @Html.TextBoxFor(m => m.Number, new { style = "width:250px;" })
        </div>
        <div class="editor-label">
            Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password, new { style = "width:250px;" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <p>
            <input type="button" value="Log On" id="btnLogin" name="btnLogin" class="NormalButton" />
        </p>
    </fieldset>
</div>
