﻿@model List<SIL.AARTO.Web.ViewModels.ScannedDigitaldocument.NoticeModel>
@using SIL.AARTO.Web.Helpers.Paginator;
@using SIL.AARTO.Web.Helpers.TicketNumberSearch
@using SIL.AARTO.Web.Resource;
@using SIL.AARTO.Web.Resource.ScannedDigitaldocument;
@using SIL.AARTO.Web.ViewModels.ScannedDigitaldocument;
@{
    ViewBag.Title = ScannedDigitaldocumentManage.Title;
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.idTabs.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/ST_Odyssey.css")" rel="stylesheet"   type="text/css"/>
<link href="@Url.Content("~/Scripts/Upload/webuploader-0.1.4/dist/webuploader.css")" rel="stylesheet"   type="text/css"/>
<script src="@Url.Content("~/Scripts/Jquery/jquery-1.11.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Upload/webuploader-0.1.4/dist/webuploader.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Upload/webuploader-0.1.4/dist/webuploader.custom.js")" type="text/javascript"></script>

<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 695px;
        text-align: left;
        border: 1px solid black;
    }

    body {
        text-align: center;
    }

    table {
        margin: 0px auto;
    }
</style>

<script type="text/javascript">
    var uploader = undefined;
    var notIntNo = 0, queueCount = 0, successCount = 0, failureCount = 0;
  
    function edit(notIntNo) {
        this.notIntNo = notIntNo;
        $("#table_error tr:not(:first)").remove();
        $("#table_error").hide();
        ShowProcessingDiv();
        var timestamp = Date.parse(new Date()); //2015-02-15 Heidi added for fixing it can not load latest data issue.(bontq1854)
        $.ajax({
            url: "@Url.Action("GetNoticeAndDocument")?time=" + timestamp,
            data: { "notIntNo": notIntNo },
            dataType: "json",
            cache:false,
            success: function (result) {
                $("#txt_ticketNo").val(result.NotTicketNo);
                $("#txt_noticeRegNo").val(result.NotRegNo);
                $("#txt_offenceType").val(result.NotOffenceType);
                //$("#table_detail tr[data-flag=att]").remove();

                $("#table_detail tr:not(:first,:last)").remove();
                var attRow = $("#table_detail tr:last");
                if (result.Attachment.length < 1) { attRow.css("display", "none"); }
                for (var i = 0; i < result.Attachment.length; i++) {
                    if (i > 0) {
                        $("#table_detail").append("<tr>" + attRow.html() + "</tr>");
                    } else { attRow.removeAttr("style"); }
                    var newRow = $("#table_detail tr:last td");
                    newRow.eq(0).html("<a href='@Url.Action("GetFile")?fileId=" + result.Attachment[i].documentIntNo + "' >" + result.Attachment[i].documentName + "</a>");
                    newRow.eq(1).html(result.Attachment[i].docUserName);
                    newRow.eq(2).html(new Date(parseInt(result.Attachment[i].docUploadDate.replace("/Date(", "").replace(")/", ""), 10)).toLocaleDateString());
                    newRow.eq(3).html("@ScannedDigitaldocumentManage.UploadSuccessful");
                    newRow.eq(4).find("select").each(function () { $(this).attr("disabled","disabled")});
                    newRow.eq(4).find("select option").each(function () {$(this).attr("selected", $(this).val() == result.Attachment[i].documentType) });
                    newRow.eq(5).html("<a href='javascript:void(0)' onclick='deleteDocument(" + result.Attachment[i].documentIntNo + ")'>Delete</a>");
                    //$("#table_detail tr:last td").each(function (obj) {
                    //    $(this).html("<a href='" + result.Attachment[i].value + "'>" + result.Attachment[i].text + "</a>&nbsp;&nbsp;<a href='javascript:void(0)' onclick='' style='color:red'>Delete</a>")

                    //});
                }
                $("#div_detail").show();
                HideProcessingDiv();
            },
            error: function (mgs) {
                HideProcessingDiv();
            }
        });
    }


    $(function () {
        SetAutIntNo(@ViewData["authId"]);
        initialUpload();
       
    });

    function deleteFromQueue(fileId) {
        if (uploader) {
            uploader.removeFile(fileId);
            $("#tr_" + fileId).remove();
        }
    }

    function deleteDocument(imgIntNO) {
        if (!confirm("@ScannedDigitaldocumentManage.DeleteConfirm"))
        {
            return false;
        }
        ShowProcessingDiv();
        $.ajax({
            url: "@Url.Action("DeleteDocument")",
            type: "post",
            data: { "imgIntNO":imgIntNO},
            dataType: "json",
            success: function (result) {
                HideProcessingDiv();
                edit(notIntNo);
            },
            error: function (mgs) {
                HideProcessingDiv();
            }
        });
    }

    function save() {
        $("#table_error tr:not(:first)").remove();
        $("#table_error").hide();
        if (uploader) {
            uploader.upload();
        }

    }

    function initialUpload() {
        var $ = jQuery,
       $list = $('#thelist'),
       $btn = $('#ctlBtn'),
       state = 'pending';
        if (uploader) {
            uploader.reset();
            return;
        }
        uploader = WebUploader.create({
            swf: "@Url.Content("~/Scripts/Upload/webuploader-0.1.4/dist/Uploader.swf")",
            server: '@Url.Action("SaveNoticeAndDocument")',
            pick: '#filePicker',
            resize: false,
            fileSingleSizeLimit: "@System.Web.Configuration.WebConfigurationManager.AppSettings["AllowUploadFileSize"]",
            accept:[
                {
                    title: 'Image File',
                    extensions: 'gif,jpg,jpeg,png',
                    mimeTypes: 'image/jpeg,image/gif,image/png'
                },
                {
                    title: 'PDF File',
                    extensions: 'pdf',
                    mimeTypes: 'application/pdf'
                }
            ]
           
        });

        uploader.on('fileQueued', function (file) {

            $("#table_detail").append("<tr id='tr_" + file.id + "'>" + $("#table_detail tr:last").html() + "</tr>");
            var newRow = $("#table_detail tr:last td");
            newRow.eq(0).html("<a href='javascript:void(0)' id='" + file.id + "_url'>" + file.name + "</a>");
            newRow.eq(1).html("@TempData["userName"]");
            newRow.eq(2).html(new Date().toLocaleDateString());
            newRow.eq(3).html("<span id='" + file.id + "_state' >" + "@ScannedDigitaldocumentManage.WaiteUpload" + "</span>");
            newRow.eq(4).find("select").eq(0).attr("id", "slt_" + file.id).removeAttr("disabled");
            newRow.eq(5).html("<a href='javascript:void(0)' id='del_"+file.id+"' onclick='deleteFromQueue(\"" + file.id + "\")'>Delete</a>");

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            ////var thumbnailWidth = 100, thumbnailHeight = 100;
            ////uploader.makeThumb(file, function (error, src) {
            ////    if (error) {
            ////        $img.replaceWith('<span>不能预览</span>');
            ////        return;
            ////    }

            ////    $img.attr('src', src);
            ////}, thumbnailWidth, thumbnailHeight);
        });

        uploader.on("beforeFileQueued", function (file) {
            if (!notIntNo || notIntNo == 0)
            {
                alert("@ScannedDigitaldocumentManage.NotEnterNotice");
                return false;
            }
            if (uploader && uploader.getStats().queueNum < 1)
            {
                uploader.reset();
            }
        });

        uploader.on('uploadProgress', function (file, percentage) {
            var state = uploader.getStats();
            var result = (percentage * ((state.successNum + state.uploadFailNum-successCount-failureCount) / queueCount)) * 100;
            if (result > 100) {result=100 }
            $("#div_progress").css("width", result + "%");
            $("#div_progress").html(parseInt(result) + "%");
            if ($("#div_progress").is(":hidden")) {
                $("#div_progress").show();
            }
        });

        uploader.on('uploadFinished', function () {
            $("#div_progress").css("width", "0%");
            $("#div_progress").hide();
            var state = uploader.getStats();
        });

        uploader.on('uploadSuccess', function (file, result) {
            $("#" + file.id + "_state").html("@ScannedDigitaldocumentManage.UploadSuccessful");
            $("#del_" + file.id).attr("onclick", "deleteDocument(" + result.imageIntNoList + ")");
            $("#" + file.id + "_url").attr("href", "@Url.Action("GetFile")?fileId=" + result.imageIntNoList);
            $("#" + file.id + "_url").attr("target", "_block");
            $("#slt_" + file.id).attr("disabled", "disabled");
        });

        uploader.on('uploadError', function (file, result) {
            $("#" + file.id + "_state").html("@ScannedDigitaldocumentManage.UploadError");
            $("#slt_" + file.id).attr("disabled", "disabled");
        });

        uploader.on("error", function (result, file) {
            if (result == "Q_TYPE_DENIED")
            {
                alert("@ScannedDigitaldocumentManage.NotBeAllowFileType");
            }
        });

        uploader.on("uploadAccept", function (obj, result) {
            if (result.state == "false") {
                $("#table_error").show();
                $("#table_error").append("<tr><td></td><td></td></tr>");
                var newRow = $("#table_error tr:last td");
                newRow.eq(0).html(obj.file.name);
                newRow.eq(1).html(result.result);
            }
        });

        uploader.on('uploadComplete', function (file) {
           
        });

        uploader.on('uploadStart', function (file) {
      
            queueCount = uploader.getStats().queueNum + uploader.getStats().progressNum;
            uploader.options.formData = { "notIntNo": notIntNo, "imageType": $("#slt_"+file.id+" option:selected").val() };
            $("#" + file.id + "_state").html("@ScannedDigitaldocumentManage.Uploading");
            $("#div_progress").show();
        });

    }


    function GetTicketNo(ticketNo) {
        ShowProcessingDiv();
        var timestamp = Date.parse(new Date()); //2015-02-15 Heidi added for fixing it can not load latest data issue.(bontq1854)
      $.ajax({
          url: "@Url.Action("GetNotice")?time=" + timestamp,
            data: { "ticketNo": ticketNo },
            dataType: "json",
            cache: false,
            success: function (result)
            {
                HideProcessingDiv();
                edit(result.NotIntNo);
                if (result.NotTicketNo) {
                    $("#txt_ticketNo").val(result.NotTicketNo);
                }
                if (result.NotRegNo) {
                    $("#txt_noticeRegNo").val(result.NotRegNo);
                }
                if (result.NotOffenceType) {
                    $("#txt_offenceType").val(result.NotOffenceType);
                }
            },
            error: function (mgs) 
            {
                HideProcessingDiv();
            }
        });
        
    }
    //2015-02-15 Heidi added(bontq1854)
    function ShowProcessingDiv() {
        $("#div_processing").show();
    }
    function HideProcessingDiv() {
        $("#div_processing").hide();
    }
   

</script>
<div>
    <div style="width: 300px; margin: 0px auto">
        <p align="center">
            <span id="lblPageName" class="ContentHead">@ScannedDigitaldocumentManage.Title</span>
        </p>
    </div>
    <div>

       @* @using (Html.BeginForm("ScannedDigitaldocumentManage", "ScannedDigitaldocumen", FormMethod.Get))
        {
            *@<table>
                <tr>
                    <td>
                        <span style="display: inline-block; width: 160px; height: 25px;" class="NormalBold" id="lblSelection">@ScannedDigitaldocumentManage.SearchLabel</span>
                    </td>
                    <td>
                         @Html.TicketNumberSearch(Url, "SetAutIntNo", "GetTicketNo")
                       @* @Html.TextBox("SearchStr", TempData["SearchStr"], new { style = "width:307px;", @class = "Normal" })
                        @Html.ValidationMessage("SearchStr")*@
                    </td>
                    <td>
                        @*<input type="submit" style="width:80px;" class="NormalButton" id="btnSearch"  value="@ScannedDigitaldocumentManage.SearchButtonText" name="btnSearch" />*@
                    </td>
                </tr>
            </table>@*   
        }*@

    </div>

  @*  <div style="width: 70%; margin: 0px auto">
        <table class="listTable">
            <thead>
                <tr class="CartListHead">
                    <th>@ScannedDigitaldocumentManage.TicketNo</th>
                    <th>@ScannedDigitaldocumentManage.NoticeRegNo</th>
                    <th>@ScannedDigitaldocumentManage.OffenceType</th>
                    <th>@ScannedDigitaldocumentManage.NoticeDesc</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    string cssName = string.Empty;
                    for (int i = 0; i < Model.Count; i++)
                    {
                        cssName = i % 2 == 0 ? "CartListItem" : "CartListItemAlt";
                    <tr class="@cssName" >
                        <td>@Html.DisplayFor(c => c[i].NotTicketNo)</td>
                        <td>@Html.DisplayFor(c => c[i].NotRegNo)</td>
                        <td>@Html.DisplayFor(c => c[i].NotOffenceType)</td>
                        <td>@Html.DisplayFor(c => c[i].NotLocDescr)</td>
                        <td><a href="javascript:void(0)" onclick="edit(@Model[i].NotIntNo)">Edit</a></td>
                    </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="CartListHead listTable" style="text-align: right">@{string pageHtml = Html.GridPager(new GridPagerProperties { RecordCount = (int)(TempData["RecordCount"] ?? 0), PageKey = "page", PageSize = (int)(TempData["PageSize"] ?? 0) }); }
                        @Html.Raw(pageHtml)
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>*@
    <div style="width: 70%; margin: 0px auto;" id="div_detail">
        <div>
            <table style="margin-top: 20px;">

                <tr>
                    <td style="text-align: right">
                        <span class="NormalBold" style="text-align: right">@ScannedDigitaldocumentManage.TicketNo</span>
                    </td>
                    <td style="text-align: left">
                        @Html.TextBox("txt_ticketNo", null, new { disabled = "disabled", style = "width:200px;" })
                    </td>
                    <td style="text-align: right">
                        <span class="NormalBold">@ScannedDigitaldocumentManage.NoticeRegNo</span>
                    </td>
                    <td style="text-align: left">
                        @Html.TextBox("txt_noticeRegNo", null, new { disabled = "disabled", style = "width:200px;" })

                    </td>
                </tr>
               @* <tr>
                    <td style="text-align: right">
                        <span class="NormalBold">@ScannedDigitaldocumentManage.OffenceType</span>
                    </td>
                    <td style="text-align: left" colspan="3">
                        @Html.TextBox("txt_offenceType", null, new { disabled = "disabled", style = "width:200px;" })
                    </td>
                </tr>*@
            </table>
        </div>
        <div>
            <table class="listTable" id="table_detail">
                <tr class="CartListHead">
                    <td>@ScannedDigitaldocumentManage.AttachName</td>
                    <td>@ScannedDigitaldocumentManage.AttachUserName</td>
                    <td>@ScannedDigitaldocumentManage.AttachDate</td>
                    <td>@ScannedDigitaldocumentManage.AttachState</td>
                    <td>@ScannedDigitaldocumentManage.AttachType</td>
                    <td></td>
                </tr>
                <tr style="display:none">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@Html.DropDownList("ddl_documentType",((TempData["documentType"]) as SelectList))</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div style="margin-top:10px;">
            <table class="listTable" id="table_error" style="display:none; color:red">
                <tr class="CartListHead">
                    <td>@ScannedDigitaldocumentManage.AttachName</td>
                    <td>@ScannedDigitaldocumentManage.AttacchErrorDesc</td>
                </tr>
            </table>
        </div>
        <div  style="overflow-x:hidden; width:695px; margin:0px auto; padding-top:10px">
            <div id="div_progress" class="progress progress-bar" style="display: block"></div>
        </div>
        <div style="width: 70%; margin: 10px auto">
            <table>
                <tr>
                   <td>
                       <div id="div_processing" style="text-align:center; vertical-align:middle;display:none"><h3><img src="@Url.Content("~/Content/Image/ig_progressIndicator.gif")"/>&nbsp;Processing...</h3></div>
                   </td>
               </tr> 
                <tr>
                    <td>
                        <div id="filePicker">@ScannedDigitaldocumentManage.AttaAddButtonText</div>
                    </td>
                    <td>
                        <input type="button" value="@ScannedDigitaldocumentManage.SaveButtonText" class="NormalButton" onclick="save()" /></td>
                </tr>
            </table>
        </div>

    </div>


</div>
