﻿@model List<SIL.AARTO.Web.ViewModels.ScannedDigitaldocument.AartoDocumentImageModel>
@using SIL.AARTO.Web.Resource.ScannedDigitaldocument
@{
    ViewBag.Title = "ScannedDigitalDocumentViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 700px; margin-left: auto; margin-right: auto; border: solid 1px #ccc">
    <table width="100%">
        <tr style="">
            <td style="width: 700px; border-bottom: solid 1px #ccc; padding-bottom: 4px;">
                <p style="text-align: center">
                    <span class="ContentHead" style="width: 552px">
                        <input class="NormalButtonRed" style="float:right" type="button" value="@ScannedDigitaldocumentManage.btnClose"
                     onclick="javascript: window.close();" />
                    </span>
                </p>
            </td>
        </tr>
    </table>
    @foreach (var m in Model)
    {
        <div>
            @{
        if (m.IsImage)
        {
                <img src="@Url.Action("GetFile")?fileId=@m.AaDocImgID" />
        }
        else
        {
            <a href="@Url.Action("GetFile")?fileId=@m.AaDocImgID">@Path.GetFileName(m.AaDocImgPath)</a>
        }
        <hr />
            
            }

        </div> 
    }
</div>
