﻿@using System.Configuration
@using SIL.AARTO.Web.Helpers.Paginator
@using SIL.AARTO.Web.Resource.NonTrafficChargeMaintenance;
@model SIL.AARTO.Web.ViewModels.NonTrafficChargeMaintenance.NonTrafficChargeMaintenanceModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<style type="text/css">
    .listTable {
        border-collapse: collapse;
        border-color: Black;
        font-size: 8pt;
        width: 895px;
        border: 1px solid black;
        text-align: left;
    }

    .footer {
        text-align: right;
    }

    .header {
        text-align: left;
    }

     .lblFontBold
    {
      font-weight:bold;
    }

    .itemLeft
    {
        text-align:left;
    }

    .itemRight
    {
        text-align:right;
    }
</style>
<script type="text/javascript">

    
    $(document).ready(function () {
       

        $("#InfoTable").hide();

        $("#btnAdd").click(function () {
            $("#InfoTable").show();

            $("#NTCIntNo").val("");
            $("#ddlUnitOfMeasure").val("");
            $("#txtNTCCode").val("");
            $("#txtNTCDescr").val("");
            $("#txtNTCComment").val("");
            $("#txtNTCStandardAmount").val("");

        });


        String.prototype.getQuery = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = this.substr(this.indexOf("/?") + 1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var strHref = location.href;

        //var curpage = strHref.getQuery("page");
        //curpage = curpage == null ? 0 : curpage;
        //alert(strHref);

        var searchNTCCode = strHref.getQuery("SearchNTCCode");
        var searchUOMIntNo = strHref.getQuery("SearchUOMIntNo");
        var searchNTCDescr = strHref.getQuery("SearchNTCDescr");

        searchNTCCode = searchNTCCode == null ? "" : unescape(searchNTCCode);
        searchNTCDescr = searchNTCDescr == null ? "" : unescape(searchNTCDescr);
        searchUOMIntNo = searchUOMIntNo == null ? "" : searchUOMIntNo;

        if (searchNTCCode != "") {
            $("#txtSearchNTCCode").val(searchNTCCode);
        }

        if (searchNTCDescr != "") {
            $("#txtSearchNTCDescr").val(searchNTCDescr);
        }

        if (searchUOMIntNo != "") {
            $("#ddlSearchUOMIntNo").val(searchUOMIntNo);
        }

        $(".CartListHead th").each(function () {
            if ($.trim($(this).html())== "@NonTrafficChargeMaintenanceResx.lblStandardAmount")
            {
                $(this).addClass("itemRight");
            }
            if ($.trim($(this).html()) == "@NonTrafficChargeMaintenanceResx.lblCode"
                || $.trim($(this).html()) == "@NonTrafficChargeMaintenanceResx.lblDescr"
                || $.trim($(this).html()) == "@NonTrafficChargeMaintenanceResx.lblMeasureUnitDescr") {
                $(this).addClass("itemLeft");
            }

        });


    });

    function OpenSearch() {
       
    var params = $.param({
        page: 0,
        SearchNTCCode: escape($("#txtSearchNTCCode").val()),
        SearchNTCDescr: escape($("#txtSearchNTCDescr").val()),
        SearchUOMIntNo: $("#ddlSearchUOMIntNo").val()
    });
    window.location = "@Url.Action("NonTrafficChargeList")?" + params;

        
   }
   
    function OperSave() {

        var isValid = true;
        
        var ntcIntNo = $.trim($("#NTCIntNo").val());
        var ntcCode = $.trim($("#txtNTCCode").val());
        var ntcDescr = $.trim($("#txtNTCDescr").val());
        var ntcComment = $.trim($("#txtNTCComment").val());
        var ntcStandardAmount = $.trim($("#txtNTCStandardAmount").val());
        var uomIntNo = $("#ddlUnitOfMeasure").val();

        

        if ($.trim($("#txtNTCCode").val()) == "")
        {
            $("#txtNTCCode").next().show();
            isValid = false;
        }
        else
        {
            $("#txtNTCCode").next().hide();
        }

        if ($.trim($("#txtNTCDescr").val()) == "") {
            $("#txtNTCDescr").next().show();
            isValid = false;
        }
        else {
            $("#txtNTCDescr").next().hide();
        }

        if ($.trim($("#txtNTCStandardAmount").val()) == "") {
            $("#txtNTCStandardAmount").next().show();
            isValid = false;
        }
        else {
            $("#txtNTCStandardAmount").next().hide();
        }

        if ($.trim($("#ddlUnitOfMeasure").val()) == "") {
            $("#ddlUnitOfMeasure").next().show();
            isValid = false;
        }
        else {
            $("#ddlUnitOfMeasure").next().hide();
        }

        if (!isValid)
        {
            return false;
        }


        $.ajax({
            url: "@Url.Action("SaveNonTrafficCharge")",
            data: { NTCIntNo: ntcIntNo, NTCCode: ntcCode, NTCDescr: escape(ntcDescr), NTCComment: escape(ntcComment), NTCStandardAmount: ntcStandardAmount, UOMIntNo: uomIntNo },
            type: "POST",
            success: function (data) {
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login", "Account")";
                } else if (data.result <=-3) {
                    $("#lblError").html(data.errorlist.errorTip);
                }
                else if (data.result == 1) {
                    if (ntcIntNo != "")
                    {
                        //var params = $.param({
                        //    page: $("#curpage").val(),
                        //    SearchNTCCode: escape($("#txtSearchNTCCode").val()),
                        //    SearchUOMIntNo: $("#ddlSearchUOMIntNo").val()                           
                        //});
                        window.location = window.location;// "@Url.Action("NonTrafficChargeList")?" + params;

                    }
                    else
                    {
                        window.location = "@Url.Action("NonTrafficChargeList")";
                    }
                }
                else if (data.result == -1) {
                    $("#lblError").html(data.errorlist.errorTip);
                }
            }
        });

        
    }

    function GetNonTrafficCharge(ntcIntNo) {
        $("#InfoTable").show();
        $.post(_ROOTPATH + "/NonTrafficChargeMaintenance/GetNonTrafficCharge", { NTCIntNo: ntcIntNo }, function (data) {
            $("#NTCIntNo").val(data.NTCIntNo);
            $("#ddlUnitOfMeasure").val(data.UOMIntNo);
            $("#txtNTCCode").val(data.NTCCode);
            $("#txtNTCDescr").val(data.NTCDescr);
            $("#txtNTCComment").val(data.NTCComment);
            $("#txtNTCStandardAmount").val(data.NTCStandardAmount);
        }, "json");
    }

    function NonTrafficChargeDelete(ntcIntNo) {

        //$.post(_ROOTPATH + "/NonTrafficChargeMaintenance/NonTrafficChargeDelete", { NTCIntNo: ntcIntNo }, function (data) {
        //    location.href = _ROOTPATH + "/NonTrafficChargeMaintenance/NonTrafficChargeList";
        //}, "json");


        $.ajax({
            url: "@Url.Action("NonTrafficChargeDelete")",
            data: { NTCIntNo: ntcIntNo },
            type: "POST",
            success: function (data) {
                if (data.result == -2) {
                    window.top.location = "@Url.Action("login", "Account")";
                } 
                else if (data.result == 1) {
                  window.location = "@Url.Action("NonTrafficChargeList")";
                }
                else if (data.result == -1) {
                    $("#lblError").html(data.errorlist.errorTip);
                }
            }
        });
    }
</script>

<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" height="47">
            <p align="center">
                <span style="display: inline-block; width: 379px;" class="ContentHead" id="lblPageName">@NonTrafficChargeMaintenanceResx.lblPageName</span>
            </p>
        </td>
    </tr>
    
    <tr>
        <td align="center">

            <table width="850" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td>
                        <p align="left">
                            <span class="NormalRed" id="lblError" name="lblError">@Model.ErrorMsg</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                       <span class="lblFontBold">@NonTrafficChargeMaintenanceResx.lblNonTrafficChargeCode</span>
                        &nbsp;@Html.TextBox("txtSearchNTCCode",null,new { @class = "Normal", style = "width:100px;"})
                       &nbsp;&nbsp; <span class="lblFontBold">@NonTrafficChargeMaintenanceResx.lblNonTrafficChargeDescr</span>
                        &nbsp;@Html.TextBox("txtSearchNTCDescr",null,new { @class = "Normal", style = "width:150px;"})
                        &nbsp;&nbsp;<span class="lblFontBold">@NonTrafficChargeMaintenanceResx.lblUnitOfMeasure</span> &nbsp; @Html.DropDownList("ddlSearchUOMIntNo", Model.UnitOfMeasureList, new {style = "width: 180px;" })
                        &nbsp;&nbsp;<input type="button"  onclick="OpenSearch()" id="btnSearch" style="width:80px;" value="@NonTrafficChargeMaintenanceResx.btnSearch" class="NormalButton" />
                       &nbsp;&nbsp; <input type="button" id="btnAdd" style="width:80px;" value="@NonTrafficChargeMaintenanceResx.btnAdd" class="NormalButton" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @{WebGrid grid = new WebGrid(Model.NonTrafficChargeList, canPage: false);}
                        @{string strPage = Html.GridPager(new GridPagerProperties { PageKey = "Page", PageSize = Model.PageSize, RecordCount = Model.TotalCount });}
                        @(Model.NonTrafficChargeList.Count > 0 ? grid.Table(
                                headerStyle: "CartListHead header", alternatingRowStyle: "CartListItemAlt", tableStyle: "listTable", rowStyle: "CartListItem",
                                footerStyle: "CartListHead footer",
                                footer: footer => Html.Raw(strPage),
                                columns: grid.Columns(
                                    grid.Column("NTCCode", NonTrafficChargeMaintenanceResx.lblCode, canSort: false, style: "CartListItem"),
                                    grid.Column("NTCDescr", NonTrafficChargeMaintenanceResx.lblDescr, canSort: false, style: "CartListItem"),
                                    grid.Column("NTCStandardAmount", NonTrafficChargeMaintenanceResx.lblStandardAmount, canSort: false, style: "CartListItem itemRight"),
                                    grid.Column("UOMDescr", NonTrafficChargeMaintenanceResx.lblMeasureUnitDescr, canSort: false, style: "CartListItem"),
                                    grid.Column(
                                        format: item => Html.ActionLink(NonTrafficChargeMaintenanceResx.lblEdit, "Edit", null, new { onclick = string.Format("GetNonTrafficCharge({0})", item.NTCIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_50"
                                    ),
                                    grid.Column(
                                        format: item => Html.ActionLink(NonTrafficChargeMaintenanceResx.lblDelete, "Delete", null, new { onclick = string.Format("if(confirm('{0}')) NonTrafficChargeDelete({1})", NonTrafficChargeMaintenanceResx.DeleteConfirm, item.NTCIntNo), href = "JavaScript:void(0)" }),
                                        style: "CartListItem width_50")), htmlAttributes: new { cellpadding = 3, style = "margin-top:10px;" }
                                    )
                                : null)
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td align="center">
            
                <table width="895" cellspacing="1" cellpadding="1" border="0" id="InfoTable">
                    <tr>
                        <td width="150" height="15"></td>
                        <td height="15"></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@NonTrafficChargeMaintenanceResx.lblEditCode</span>
                        </td>
                        <td>
                            @Html.TextBox("txtNTCCode", null, new { @class = "Normal", style = "width:200px;" })
                            <span title='Required Field' style='color:red;padding-left:4px;display:none' >*</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@NonTrafficChargeMaintenanceResx.lblEditDescr</span>
                        </td>
                        <td>
                            @Html.TextBox("txtNTCDescr", null, new { @class = "Normal", style = "width:200px;" })
                            <span title='Required Field' style='color:red;padding-left:4px;display:none' >*</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@NonTrafficChargeMaintenanceResx.lblEditComment</span>
                        </td>
                        <td>
                            @Html.TextArea("txtNTCComment", null, new { @class = "Normal", style = "width:200px;" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@NonTrafficChargeMaintenanceResx.lblEditStandardAmount</span>
                        </td>
                        <td>
                            @Html.TextBox("txtNTCStandardAmount", null, new { @class = "Normal", style = "width:200px;" })
                             <span title='Required Field' style='color:red;padding-left:4px;display:none' >*</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="NormalBold">@NonTrafficChargeMaintenanceResx.lblEditMeasureUnit</span>
                        </td>
                        <td>
                            @Html.DropDownList("ddlUnitOfMeasure", Model.UnitOfMeasureList, new { @class = "Normal", style = "width:200px;" })
                             <span title='Required Field' style='color:red;padding-left:4px;display:none' >*</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left">
                            @Html.Hidden("NTCIntNo")
                            <input type="button" class="NormalButton" onclick="OperSave()" id="btnSave" value="@NonTrafficChargeMaintenanceResx.btnSave" name="btnSave" />
                        </td>
                    </tr>
                </table>
           
        </td>
    </tr>
      
</table>
