﻿html,body {margin: 0px;padding:0px;font-size:11px;font-family:Arial,新宋体;height:100%;min-height:100%}
div {margin:0px; padding:0px;}

.clear { clear:both;}
.float_left {float:left;}
.float_right { float:right;}
.bold { font-weight:bold;}

/* */
.bg { background-color:#000;}
.bg1{ background-color:#E8F6FF; }
.bg2 { background-color:#77A1C5;}
.bg3 { background-color:#DAE8FD;}
.bg4 { background-color:#fff;}
.search_bg { background-color:#DAE8FD;}
.edit_mail_tem_bg { background-color:#F9D313;}
/* */

/* */
.margin { margin-right:25px;}
.margin_0 {margin:0px;}
.margin_auto { margin:0 auto; }
.margin-right_3 { margin-right:5px;}
.margin-right_5 { margin-right:5px;}
.margin-right_10 { margin-right:10px;}
.margin-right_15 { margin-right:15px;}

.margin-left_3 { margin-left:5px;}
.margin-left_5 { margin-left:5px;}
.margin-left_10 { margin-left:10px;}
.margin-left_15 { margin-left:15px;}

.margin-top_3 { margin-top:5px;}
.margin-top_5 { margin-top:5px;}
.margin-top_10 { margin-top:10px;}
.margin-top_15 { margin-top:15px;}

.text-align { text-align:center;}
.text-align_right { text-align:right;}
.text-align_left  {text-align:left;}
.valign_top {vertical-align:text-top;}

.height_30
{
    height:30px;
    line-height:28px;
}
.Wrap_No
{
    white-space:nowrap;
}

.radiobutton,.checkbox { width:13px; height:13px; border:none;}
input { font-size:11px; border:solid 1px #ABADB3;}
.input_width{ width:215px;}
.input_width_217{ width:217px;}
.disabled {border: 1px solid #ABADB3; color:#A0A0A0; background-color:#FFFFFF;}
select { font-size:11px; width:220px; border:solid 1px #ABADB3;}
textarea { font-size:11px; font-family:Arial;}
textbox { font-size:11px;}
.button { height:18px; background-color:#4A6C93; border:solid 1px #1F3E6D; color:#fff; font-weight:bold; font-family:Arial;}

.width_100pct
{
    width:100%;
}
.height_100pct
{
    height:100%;
}
.width_90pct
{
    width:90%;
}
