﻿@using SIL.AARTO.COOAutomation.Web.Models
@{
    var session = new SiteSessionManager();
    if (session.Current.IsLogOn)
    {
    <text>@*Welcome <strong>
        @if (session.Current.Proxy != null)
        {
            @session.Current.Proxy.ProxyID
        }
    </strong>!*@ @Html.ActionLink("Proxy Enquiry", "Index", "ProxyEnquiry") @Html.ActionLink("Driver Input", "Index", "DriverInput")
    @Html.ActionLink("Result Enquiry", "Index", "ResultEnquiry") @Html.ActionLink("Profile", "ChangeInfo", "Account")
    @Html.ActionLink("Change Password", "ChangePassword", "Account") @Html.ActionLink("Log Off", "LogOff", "Account")
    </text>
    }
}
